Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

using a more subtle color for the punctuations
  runtime/themes/wolf-alabaster-dark-mono-custom.toml
Labels: A-theme

setting the statusline as transparent
  runtime/themes/wolf-alabaster-dark-mono-custom.toml
Labels: A-theme

docs: document desktop integration setup
  book/src/install.md
Labels: none

fix: continue comment with injected `comment` syntax (#15940)
  helix-term/src/commands.rs
  helix-term/tests/test/commands/insert.rs
Labels: A-helix-term

use the correct comment tokens for svelte (#15967)
  languages.toml
Labels: none

Add/Update CODE_OF_CONDUCT.md to improve repository standards
  CODE_OF_CONDUCT.md
Labels: none

Add/Update SECURITY.md to improve repository standards
  SECURITY.md
Labels: none

Add/Update .editorconfig to improve repository standards
  .editorconfig
Labels: none

Update SlightLisp grammar
  languages.toml
  runtime/queries/slisp/highlights.scm
Labels: A-tree-sitter

Fix Svelte `<script>` and `<style>` injections (#15846)
  languages.toml
  runtime/queries/svelte/injections.scm
Labels: A-tree-sitter

Detect Terraform state files as json
  languages.toml
Labels: none

Detect Terraform state files as json (#15974)
  languages.toml
Labels: none

build(windows): gracefully handle missing Windows SDK under GNU toolchain
  helix-term/build.rs
Labels: A-helix-term

fix(lsp): query all active LSPs for workspace symbol search
  helix-term/src/commands.rs
  helix-term/src/commands/lsp.rs
Labels: A-helix-term

fix(dap): support configurationDone empty map response body
  helix-dap-types/src/lib.rs
  helix-dap/src/client.rs
Labels: A-debug-adapter

build(windows): gracefully handle missing Windows SDK under GNU toolchain
  helix-term/build.rs
Labels: A-helix-term

fix(keymap): add default C-W and W keybindings for rotate_view_reverse
  helix-term/src/keymap/default.rs
Labels: A-helix-term, A-keymap

build(windows): gracefully handle missing Windows SDK under GNU toolchain
  helix-term/build.rs
Labels: A-helix-term

fix: LSP diagnostics recheck, auto-pairs whitespace, transaction panic
  helix-core/src/auto_pairs.rs
  helix-core/src/transaction.rs
  helix-term/src/events.rs
  helix-term/src/handlers/diagnostics.rs
  helix-view/src/events.rs
  helix-view/src/handlers/lsp.rs
Labels: A-core, A-helix-term

fix(clipboard): prefer Wayland/X11 over termcode in WezTerm
  helix-view/src/clipboard.rs
Labels: none

Highlight object destructuring defaults in TypeScript parameters.
  runtime/queries/_typescript/highlights.scm
Labels: A-tree-sitter

update: add rainbow brackets to kinda_nvim theme (#15942)
  runtime/themes/kinda_nvim.toml
  runtime/themes/kinda_nvim_light.toml
Labels: A-theme

highlight string interpolations in onedark (#15625)
  runtime/themes/onedark.toml
Labels: A-theme

add radian profile to R's file types (#15707)
  languages.toml
Labels: none

Add Millet language server for SML (#15699)
  book/src/generated/lang-support.md
  languages.toml
Labels: none

feat(templ): improve the queries (#15668)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/templ/highlights.scm
  runtime/queries/templ/injections.scm
  runtime/queries/templ/rainbows.scm
  runtime/queries/templ/tags.scm
  runtime/queries/templ/textobjects.scm
Labels: A-tree-sitter

deploy: 5a3edd585e00b3080c25a4d214726feb12132047
  master/404.html
  master/building-from-source.html
  master/command-line.html
  master/commands.html
  master/configuration.html
  master/ecosystem.html
  master/editor.html
  master/from-vim.html
  master/guides/adding_languages.html
  master/guides/highlights.html
  master/guides/indent.html
  master/guides/index.html
  master/guides/injection.html
  master/guides/locals.html
  master/guides/rainbow_bracket_queries.html
  master/guides/tags.html
  master/guides/textobject.html
  master/index.html
  master/install.html
  master/jumplist.html
  master/keymap.html
  master/lang-support.html
  master/languages.html
  master/lsp.html
  master/other-software.html
  master/package-managers.html
  master/pickers.html
  master/print.html
  master/registers.html
  master/remapping.html
  master/searcher-09f2665d.js
  master/searchindex-2746d8ca.js
  master/searchindex-b55beadb.js
  master/surround.html
  master/syntax-aware-motions.html
  master/textobjects.html
  master/themes.html
  master/title-page.html
  master/usage.html
  master/workspace-trust.html
Labels: none

Add tex-fmt formatter for latex
  languages.toml
Labels: none

Add clang-format formatter for cpp
  languages.toml
Labels: none

Add netcat-based language server for gdscript
  book/src/generated/lang-support.md
  languages.toml
Labels: none

deploy: 45c2b3ccbcc8ef5574f9645bb5a876140ec96a7f
  master/404.html
  master/building-from-source.html
  master/command-line.html
  master/commands.html
  master/configuration.html
  master/ecosystem.html
  master/editor.html
  master/from-vim.html
  master/guides/adding_languages.html
  master/guides/highlights.html
  master/guides/indent.html
  master/guides/index.html
  master/guides/injection.html
  master/guides/locals.html
  master/guides/rainbow_bracket_queries.html
  master/guides/tags.html
  master/guides/textobject.html
  master/index.html
  master/install.html
  master/jumplist.html
  master/keymap.html
  master/lang-support.html
  master/languages.html
  master/lsp.html
  master/other-software.html
  master/package-managers.html
  master/pickers.html
  master/print.html
  master/registers.html
  master/remapping.html
  master/searcher-09f2665d.js
  master/searchindex-2746d8ca.js
  master/searchindex-7f7f9162.js
  master/surround.html
  master/syntax-aware-motions.html
  master/textobjects.html
  master/themes.html
  master/title-page.html
  master/usage.html
  master/workspace-trust.html
Labels: none

Add `just --fmt` formatter for Justfiles
  languages.toml
Labels: none

Add Puppet language support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/puppet/highlights.scm
  runtime/queries/puppet/indents.scm
  runtime/queries/puppet/injections.scm
  runtime/queries/puppet/locals.scm
Labels: A-tree-sitter

Add P formal modeling language support
  languages.toml
  runtime/queries/p/highlights.scm
Labels: A-tree-sitter

Add XWiki language support
  languages.toml
  runtime/queries/xwiki/highlights.scm
  runtime/queries/xwiki/injections.scm
Labels: A-tree-sitter

deploy: c34c901b30320b5a1e151ae701a3861654a896ed
  master/404.html
  master/building-from-source.html
  master/command-line.html
  master/commands.html
  master/configuration.html
  master/ecosystem.html
  master/editor.html
  master/from-vim.html
  master/guides/adding_languages.html
  master/guides/highlights.html
  master/guides/indent.html
  master/guides/index.html
  master/guides/injection.html
  master/guides/locals.html
  master/guides/rainbow_bracket_queries.html
  master/guides/tags.html
  master/guides/textobject.html
  master/index.html
  master/install.html
  master/jumplist.html
  master/keymap.html
  master/lang-support.html
  master/languages.html
  master/lsp.html
  master/other-software.html
  master/package-managers.html
  master/pickers.html
  master/print.html
  master/registers.html
  master/remapping.html
  master/searcher-09f2665d.js
  master/searchindex-7f7f9162.js
  master/searchindex-d540bbfb.js
  master/surround.html
  master/syntax-aware-motions.html
  master/textobjects.html
  master/themes.html
  master/title-page.html
  master/usage.html
  master/workspace-trust.html
Labels: none

Run 'cargo xtask docgen'
  book/src/generated/lang-support.md
Labels: none

deploy: 863d3b5a3ebd522aa614867783f8f8a06ebbc0fe
  master/404.html
  master/building-from-source.html
  master/command-line.html
  master/commands.html
  master/configuration.html
  master/ecosystem.html
  master/editor.html
  master/from-vim.html
  master/guides/adding_languages.html
  master/guides/highlights.html
  master/guides/indent.html
  master/guides/index.html
  master/guides/injection.html
  master/guides/locals.html
  master/guides/rainbow_bracket_queries.html
  master/guides/tags.html
  master/guides/textobject.html
  master/index.html
  master/install.html
  master/jumplist.html
  master/keymap.html
  master/lang-support.html
  master/languages.html
  master/lsp.html
  master/other-software.html
  master/package-managers.html
  master/pickers.html
  master/print.html
  master/registers.html
  master/remapping.html
  master/searcher-09f2665d.js
  master/searchindex-d540bbfb.js
  master/searchindex-f6740313.js
  master/surround.html
  master/syntax-aware-motions.html
  master/textobjects.html
  master/themes.html
  master/title-page.html
  master/usage.html
  master/workspace-trust.html
Labels: none

lang: Add .simplecov to ruby file-types (#15831)
  languages.toml
Labels: none

lang: add .bundle/config to yaml file-type (#15833)
  languages.toml
Labels: none

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
