Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

Order XML file types ascending
  languages.toml
Labels: none

Improve metadata copying + cleanup
  helix-stdx/src/faccess.rs
  helix-view/src/document.rs
Labels: none

Add more XML file types
  languages.toml
Labels: none

Add more XML file types (#14625)
  languages.toml
Labels: none

Fix Windows
  helix-view/src/document.rs
Labels: none

Add integration tests to reproduce multi-command key binding bug
  helix-term/tests/test/commands.rs
  helix-term/tests/test/commands/typed.rs
Labels: A-helix-term

Defer mutation of editor config to the application
  helix-term/src/application.rs
  helix-term/src/commands/typed.rs
  helix-view/src/editor.rs
Labels: A-helix-term

add option to disable local configuration
  helix-core/src/config.rs
  helix-loader/src/config.rs
  helix-loader/src/grammar.rs
  helix-loader/src/main.rs
  helix-term/build.rs
  helix-term/src/application.rs
  helix-term/src/config.rs
  helix-term/src/health.rs
  helix-term/src/main.rs
Labels: A-core, A-helix-term

fix needing editor config to use local config
  helix-term/src/config.rs
Labels: A-helix-term

update docs
  book/src/configuration.md
  book/src/languages.md
Labels: none

Downgrade ripgrep crates to avoid edition 2024
  Cargo.lock
  Cargo.toml
  helix-core/Cargo.toml
  helix-lsp/Cargo.toml
  helix-term/Cargo.toml
Labels: A-core, A-helix-term, A-language-server

added foundation for navigation mode to picker
  helix-term/src/ui/mod.rs
  helix-term/src/ui/picker.rs
  helix-view/src/editor.rs
Labels: A-helix-term

navigation mode now takes count into consideration
  helix-term/src/ui/picker.rs
Labels: A-helix-term

fixed errors with exiting picker and [ NAV ] render
  helix-term/src/ui/picker.rs
Labels: A-helix-term

feat: add select_regex_first, select_regex_last
  book/src/generated/static-cmd.md
  helix-core/src/selection.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

Implement flash command
  helix-term/src/commands.rs
Labels: A-helix-term

don't set the row position to the empty last line with the `+` cli arg (#14590)
  helix-core/src/position.rs
Labels: A-core

queries(scheme): move `@function.builtin` next to `@function` (#14618)
  runtime/queries/scheme/highlights.scm
Labels: A-tree-sitter

Add hie.yaml as root Haskell file (#14617)
  languages.toml
Labels: none

fix(helix-term): correct health status for non-existent grammar paths (#14619)
  helix-term/src/health.rs
Labels: A-helix-term

editor.md: Change "Set to `true`" to "Whether"
  book/src/editor.md
Labels: none

editor.md: Consistently use double quotes when describing default values
  book/src/editor.md
Labels: none

languages: bump tree-sitter-c
  languages.toml
Labels: none

build(deps): bump `unicode-width` from `=0.1.12` to `=0.1.14`
  Cargo.lock
  helix-core/Cargo.toml
  helix-core/src/graphemes.rs
Labels: A-core

Reimplement flash with no prompt
  helix-term/src/commands.rs
Labels: A-helix-term

Borrow checker 1
  helix-term/src/commands.rs
Labels: A-helix-term

Fix range slicing
  helix-term/src/commands.rs
Labels: A-helix-term

Add keymapping
  helix-term/src/keymap/default.rs
Labels: A-helix-term, A-keymap

Cleanup code
  helix-term/src/commands.rs
Labels: A-helix-term

Fix behaviour
  helix-term/src/commands.rs
Labels: A-helix-term

Change logging level from warn to debug
  helix-term/src/commands.rs
Labels: A-helix-term

Remove debugging statements
  helix-term/src/commands.rs
Labels: A-helix-term

Implement removing last character
  helix-term/src/commands.rs
Labels: A-helix-term

use ::default() instead of hardcoding the default
  helix-term/src/config.rs
Labels: A-helix-term

commands: add no-code-actions flag to write and write-all
  helix-term/src/commands/typed.rs
  helix-term/src/handlers/auto_save.rs
  helix-term/src/ui/editor.rs
Labels: A-helix-term

allow textDocument/didChange notification to be synchronous
  helix-lsp/src/client.rs
  helix-term/src/handlers/diagnostics.rs
  helix-term/src/handlers/document_colors.rs
  helix-term/src/handlers/signature_help.rs
  helix-term/src/ui/completion.rs
  helix-term/src/ui/editor.rs
  helix-view/src/document.rs
  helix-view/src/events.rs
  helix-view/src/handlers/lsp.rs
  helix-view/src/handlers/word_index.rs
Labels: A-helix-term, A-language-server

Add code actions on save
  .cargo/config.toml
  .github/workflows/build.yml
  book/src/languages.md
  docs/CONTRIBUTING.md
  helix-core/src/syntax/config.rs
  helix-term/Cargo.toml
  helix-term/src/commands/lsp.rs
  helix-term/src/commands/typed.rs
  helix-term/tests/integration-lsp.rs
  helix-term/tests/test/lsp/code_actions_on_save.rs
  helix-term/tests/test/lsp/mod.rs
Labels: A-core, A-helix-term

fix: clean up matching
  helix-lsp/src/client.rs
Labels: A-language-server

fix: only use active LSPs for doc
  helix-view/src/editor.rs
Labels: none

add support for reloading the whole engine, should work now
  helix-term/src/application.rs
  helix-term/src/commands/engine.rs
  helix-term/src/commands/engine/steel/components.rs
  helix-term/src/commands/engine/steel/mod.rs
Labels: A-helix-term

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
