Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

chore: sync cargo lock
  Cargo.lock
Labels: none

feat: hidapi to listen keyboard events
  Cargo.lock
  helix-term/Cargo.toml
  helix-term/build.rs
  helix-view/Cargo.toml
  helix-view/build.rs
  helix-view/src/scancode.rs
Labels: A-helix-term

map keyboard scancode to KeyCode
  Cargo.lock
  helix-term/Cargo.toml
  helix-term/src/commands.rs
  helix-term/src/ui/editor.rs
  helix-view/Cargo.toml
  helix-view/src/editor.rs
  helix-view/src/input.rs
  helix-view/src/lib.rs
  helix-view/src/scancode.rs
Labels: A-helix-term

fix: rename var
  helix-view/src/scancode.rs
Labels: none

Update Cargo.lock
  Cargo.lock
Labels: none

feat: moving multiple files/directories
  book/src/generated/typable-cmd.md
  helix-term/src/commands/typed.rs
  helix-view/src/editor.rs
Labels: A-helix-term

Use separate glyphs for hint/info/warning/error diagnostic indicators
  helix-core/src/diagnostic.rs
  helix-term/src/ui/statusline.rs
  helix-view/src/gutter.rs
Labels: A-core, A-helix-term

fix: Make code-action popup auto close like other popups (#13832)
  helix-term/src/commands/lsp.rs
Labels: A-helix-term

chore: fmt
  helix-term/src/compositor.rs
Labels: A-helix-term

helix-term: expose cursor and primary selection position to shell commands
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-term/src/lib.rs
  helix-term/src/shell_context.rs
Labels: A-helix-term

helix-view: expand primary selection line range in shell commands
  book/src/command-line.md
  helix-view/src/expansion.rs
Labels: none

add `anchored` movement commands
  helix-core/src/movement.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

add `same_line` movement commands (#768)
  helix-core/src/movement.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

fix command `append_mode_same_line`
  helix-term/src/commands.rs
Labels: A-helix-term

first commit
  runtime/themes/night_rider.toml
Labels: A-theme

languages: detect `~/.gem/credentials` as yaml
  languages.toml
Labels: none

languages: detect `~/.gem/credentials` as yaml (#13843)
  languages.toml
Labels: none

queries: inject all lines in a newline escaped RUN instruction as bash
  runtime/queries/dockerfile/injections.scm
Labels: A-tree-sitter

queries: inject all lines in a newline escaped RUN Dockerfile instruction as bash (#13845)
  runtime/queries/dockerfile/injections.scm
Labels: A-tree-sitter

Change tree-sitter parser for Git commit message files
  languages.toml
  runtime/queries/git-commit/highlights.scm
  runtime/queries/git-commit/injections.scm
Labels: A-tree-sitter

finish theme
  runtime/themes/night_rider.toml
Labels: A-theme

feat: `--execute` flag which runs the passed commands before launch
  helix-term/src/args.rs
  helix-term/src/main.rs
Labels: A-helix-term

chore: add shell completions for `--execute`
  contrib/completion/hx.bash
  contrib/completion/hx.elv
  contrib/completion/hx.nu
  contrib/completion/hx.zsh
Labels: none

contrib(completions/nushell): switch from deprecated `filter` to `where`
  contrib/completion/hx.nu
Labels: none

docs: Add jumplist documentation to the book
  book/src/SUMMARY.md
  book/src/jumplist.md
Labels: none

feat: recognize mimeapps.list as INI
  languages.toml
Labels: none

queries: inject nix into `lib.literalExression` string contents
  runtime/queries/nix/injections.scm
Labels: A-tree-sitter

queries/dockerfile: injections for heredocs
  runtime/queries/dockerfile/injections.scm
Labels: A-tree-sitter

feat: recognize mimeapps.list as INI (#13850)
  languages.toml
Labels: none

queries/dockerfile: injections for heredocs (#13852)
  runtime/queries/dockerfile/injections.scm
Labels: A-tree-sitter

queries: inject nix into `lib.literalExression` string contents (#13851)
  runtime/queries/nix/injections.scm
Labels: A-tree-sitter

Add "Dark Synthwave" theme
  runtime/themes/dark-synthwave.toml
  runtime/themes/licenses/dark-synthwave.license
Labels: A-theme

queries: add textobjects for qml
  book/src/generated/lang-support.md
  runtime/queries/qml/textobjects.scm
Labels: A-tree-sitter

languages: add Caddyfile support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/caddyfile/highlights.scm
  runtime/queries/caddyfile/indents.scm
  runtime/queries/caddyfile/injections.scm
  runtime/queries/caddyfile/locals.scm
  runtime/queries/caddyfile/textobjects.scm
Labels: A-tree-sitter

fix: spelling
  helix-tui/src/text.rs
Labels: none

fix: empty editor.jump-label-alphabet doesn't lead to a crash anymore
  helix-term/src/commands.rs
Labels: A-helix-term

Add feature set position to EOF when no line number is specified after + argument
  helix-term/src/args.rs
Labels: A-helix-term

Reuse soft-wrap infrastructure in :reflow.
  Cargo.lock
  helix-core/Cargo.toml
  helix-core/src/doc_formatter.rs
  helix-core/src/doc_formatter/test.rs
  helix-core/src/lib.rs
  helix-core/src/wrap.rs
  helix-term/src/commands/typed.rs
  helix-term/tests/test/commands.rs
  helix-view/src/annotations/diagnostics.rs
  helix-view/src/document.rs
Labels: A-core, A-helix-term

Remove unnecessary fields
  helix-core/src/doc_formatter.rs
  helix-core/src/doc_formatter/test.rs
  helix-term/src/commands/typed.rs
  helix-view/src/annotations/diagnostics.rs
  helix-view/src/document.rs
Labels: A-core, A-helix-term

Only insert hard-wraps at whitespace.
  helix-core/src/doc_formatter.rs
  helix-core/src/doc_formatter/test.rs
  helix-term/src/commands/typed.rs
  helix-term/tests/test/commands.rs
  helix-view/src/annotations/diagnostics.rs
  helix-view/src/document.rs
Labels: A-core, A-helix-term

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
