Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

flake: Include --cfg tokio_unstable in Rust flags
  flake.nix
Labels: none

Bump flake dependencies
  flake.lock
  flake.nix
Labels: none

refactor: injection query
  runtime/queries/cylc/injections.scm
Labels: A-tree-sitter

improve code format
  helix-core/src/comment.rs
Labels: A-core

Update dependencies
  Cargo.lock
  Cargo.toml
  helix-core/Cargo.toml
  helix-core/src/indent.rs
  helix-core/src/movement.rs
  helix-core/src/syntax.rs
  helix-core/src/textobject.rs
  rust-toolchain.toml
Labels: A-core

continue-comments: Fix panic case and add test
  helix-core/src/comment.rs
Labels: A-core

continue-comments: adding test
  helix-core/src/comment.rs
Labels: A-core

Revert change of unicode-width dependency
  helix-core/Cargo.toml
Labels: A-core

Updated write.rs integrationtest to comply with new definition of :x
  helix-term/tests/test/commands/write.rs
Labels: A-helix-term

chore: update perl + pod parsers
  languages.toml
Labels: none

improve code structure
  helix-core/src/comment.rs
Labels: A-core

chore: bump perl again b/c fixes
  languages.toml
Labels: none

Created tests for 4 cases of the xit operation
  helix-term/tests/test/commands/write.rs
Labels: A-helix-term

feat: support newer features in highlights
  runtime/queries/perl/highlights.scm
Labels: A-tree-sitter

Bump tree-sitter-tablegen
  languages.toml
  runtime/queries/tablegen/highlights.scm
Labels: A-tree-sitter

Bump tree-sitter-llvm-mir
  languages.toml
  runtime/queries/llvm-mir/highlights.scm
Labels: A-tree-sitter

Bump tree-sitter-llvm
  languages.toml
  runtime/queries/llvm/highlights.scm
Labels: A-tree-sitter

typo
  book/src/remapping.md
Labels: none

Format files
  helix-view/src/clipboard.rs
  helix-view/src/register.rs
Labels: none

fix: capture for path
  runtime/queries/cylc/highlights.scm
Labels: A-tree-sitter

fix: fix typo in capture
  runtime/queries/cylc/highlights.scm
Labels: A-tree-sitter

style: format queries with neovim script
  runtime/queries/cylc/highlights.scm
  runtime/queries/cylc/indents.scm
  runtime/queries/cylc/injections.scm
  runtime/queries/cylc/textobjects.scm
Labels: A-tree-sitter

feat: snakemake language
  languages.toml
Labels: none

feat: snakemake syntax highlighting
  runtime/queries/snakemake/LICENSE
  runtime/queries/snakemake/folds.scm
  runtime/queries/snakemake/highlights.scm
  runtime/queries/snakemake/indents.scm
  runtime/queries/snakemake/injections.scm
  runtime/queries/snakemake/locals.scm
Labels: A-tree-sitter

Bump `jjdescription` grammar revision
  languages.toml
Labels: none

doc: xtask docgen - snakemake
  book/src/generated/lang-support.md
Labels: none

goto_file: try multiple relative paths to find existing files
  helix-term/src/commands.rs
Labels: A-helix-term

Fix system clipboard with mosh + tmux
  helix-view/src/clipboard.rs
Labels: none

Use GNU screen copy buffer as the system clipboard.
  helix-view/src/clipboard.rs
Labels: none

Addressed feedback: removed redundant grammar
  languages.toml
Labels: none

Add increment String logic
  helix-core/src/increment/bool.rs
  helix-core/src/increment/mod.rs
  helix-core/src/increment/string.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

Increment String: manage amount
  helix-core/src/increment/string.rs
Labels: A-core

Increment String: remove bool.rs
  helix-core/src/increment/bool.rs
Labels: A-core

Adds two themes
  runtime/themes/black_and_white.toml
  runtime/themes/white_and_black.toml
Labels: A-theme

ignore .ds_store
  .gitignore
Labels: none

remove gray keyword and make cursor more noticable
  runtime/themes/black_and_white.toml
  runtime/themes/white_and_black.toml
Labels: A-theme

fixed indentation
  runtime/queries/snakemake/indents.scm
Labels: A-tree-sitter

Update repology URL after change from helix to helix-editor
  book/src/package-managers.md
Labels: none

Update book/src/package-managers.md
  book/src/package-managers.md
Labels: none

Fix repology links pt 2
  master/package-managers.html
  print.html
Labels: none
