Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

Add whole word selection commands
  helix-core/src/selection.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

Remove parens
  helix-core/src/selection.rs
Labels: A-core

cargo fmt
  helix-core/src/selection.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

Extend max tab-width to 64
  helix-core/src/indent.rs
  helix-core/src/syntax.rs
Labels: A-core

keep the change consistent with other themes from base16 family
  base16_theme.toml
  runtime/themes/base16_default_dark.toml
  runtime/themes/base16_default_light.toml
  runtime/themes/base16_terminal.toml
Labels: A-theme

Merge unnecessary/deprecated diagnostic highlights separately
  helix-term/src/ui/editor.rs
Labels: A-helix-term

Truncate statusline widgets if left side too large
  helix-term/src/ui/statusline.rs
Labels: A-helix-term

Provide file-picker navigation
  book/src/keymap.md
  helix-term/src/application.rs
  helix-term/src/commands.rs
  helix-term/src/commands/dap.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/commands/typed.rs
  helix-term/src/ui/completion.rs
  helix-term/src/ui/menu.rs
  helix-term/src/ui/mod.rs
  helix-term/src/ui/picker.rs
  helix-view/src/editor.rs
Labels: A-helix-term

update jump-labels color to blue and make them bold
  base16_theme.toml
  runtime/themes/base16_default_dark.toml
  runtime/themes/base16_default_light.toml
  runtime/themes/base16_terminal.toml
  runtime/themes/base16_transparent.toml
Labels: A-theme

handle dap edits in margins
  helix-term/src/ui/editor.rs
Labels: A-helix-term

Add jump-label styling for base16 themes (#10076)
  base16_theme.toml
  runtime/themes/base16_default_dark.toml
  runtime/themes/base16_default_light.toml
  runtime/themes/base16_terminal.toml
  runtime/themes/base16_transparent.toml
Labels: A-theme

Amp-like jump: remove not relevant overlays after keypress
  helix-term/src/commands.rs
Labels: A-helix-term

Use any-of instead of match in yaml injections
  runtime/queries/yaml/injections.scm
Labels: A-tree-sitter

move selection on breakpoint line
  helix-term/src/ui/editor.rs
Labels: A-helix-term

yaml/injections: Add injection for Buildkite
  runtime/queries/yaml/injections.scm
Labels: A-tree-sitter

refactor(languages)!: `lldb-vscode` -> `lldb-dap`
  languages.toml
Labels: none

[kanagawa] Change selection color
  runtime/themes/kanagawa.toml
Labels: A-theme

[kanagawa] Use less brigh selection color
  runtime/themes/kanagawa.toml
Labels: A-theme

Dim primary selection in kanagawa (#10094)
  runtime/themes/kanagawa.toml
Labels: A-theme

add error logs
  helix-term/src/ui/editor.rs
  helix-view/src/editor.rs
Labels: A-helix-term

Add Buildkite command/commands support to yaml injections (#10090)
  runtime/queries/yaml/injections.scm
Labels: A-tree-sitter

uswd lldb-dab instead of lldb-dap in the default dap configuration (#10091)
  languages.toml
Labels: none

Add partial word support
  helix-core/src/chars.rs
  helix-core/src/movement.rs
  helix-core/src/textobject.rs
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
Labels: A-core, A-helix-term, A-keymap

Remove default remaps
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
Labels: A-helix-term, A-keymap

Theme: PaperColor: Tune jump-label
  runtime/themes/papercolor-light.toml
Labels: A-theme

add support for jump labels in tokyonight themes
  runtime/themes/tokyonight.toml
Labels: A-theme

add support for jump labels in tokyonight themes (#10106)
  runtime/themes/tokyonight.toml
Labels: A-theme

fix(completion): don't send fake Enter command to completion menu
  helix-term/src/ui/editor.rs
Labels: A-helix-term

docs: mention `<space>g` changed file picker
  book/src/keymap.md
Labels: none

Theme: PaperColor: Tune jump-label (#10104)
  runtime/themes/papercolor-light.toml
Labels: A-theme

picker(jumplist): show jumps in order from latest to oldest
  helix-term/src/commands.rs
  helix-view/src/view.rs
Labels: A-helix-term

show newest options in jumplist picker first, fix docs (#10095)
  book/src/keymap.md
  helix-term/src/commands.rs
  helix-view/src/view.rs
Labels: A-helix-term

deploy: cc8290f39364d213128a5064ed54c8830111f0b6
  master/keymap.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

Add fsharp block comment tokens to languages.toml
  languages.toml
Labels: none

reconfigure tree properly after closing view (#10004)
  helix-view/src/tree.rs
Labels: none

keep (cursor) position when exactly replacing text
  helix-core/src/selection.rs
  helix-core/src/transaction.rs
Labels: A-core

add earthfile language configuration
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/earthfile/highlights.scm
  runtime/queries/earthfile/indents.scm
  runtime/queries/earthfile/injections.scm
  runtime/queries/earthfile/textobjects.scm
Labels: A-tree-sitter

languages: update templ
  languages.toml
  runtime/queries/templ/highlights.scm
Labels: A-tree-sitter

adding jumpline support for amberwood
  runtime/themes/amberwood.toml
Labels: A-theme

updating curzon to include the jump labels
  runtime/themes/curzon.toml
Labels: A-theme
