Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

Expand tilde for selected paths in goto_file
  helix-term/src/commands.rs
Labels: A-helix-term

add ability to override helix config & cache path
  helix-loader/src/lib.rs
Labels: none

Downgrade unicode-width to 0.1.12 (#10963)
  Cargo.lock
Labels: none

Sync latest Catppuccin themes changes (#10954)
  runtime/themes/catppuccin_frappe.toml
  runtime/themes/catppuccin_latte.toml
  runtime/themes/catppuccin_macchiato.toml
  runtime/themes/catppuccin_mocha.toml
Labels: A-theme

DAP: Deserialize number IDs (#10943)
  helix-dap/src/types.rs
Labels: A-debug-adapter

Fix jump_backwards behaviour when jumplist is at capacity
  helix-view/src/view.rs
Labels: none

Decrement self.current while popping from front
  helix-view/src/view.rs
Labels: none

Fix issue with conflicting updates to self.current
  helix-view/src/view.rs
Labels: none

Realised that truncate is intentional
  helix-view/src/view.rs
Labels: none

Use saturating_sub when decrementing current
  helix-view/src/view.rs
Labels: none

Fix naming of previous jump, and remove unneeded comment change
  helix-view/src/view.rs
Labels: none

Remove unnecessary changes in push
  helix-view/src/view.rs
Labels: none

Return num elements removed from front, and use in backward method
  helix-view/src/view.rs
Labels: none

Created DocumentOpenError Sum Type to switch on in Application
  helix-term/src/application.rs
  helix-term/src/commands.rs
  helix-term/src/ui/mod.rs
  helix-view/Cargo.toml
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-helix-term

Forgot cargo fmt
  helix-term/src/application.rs
  helix-term/src/ui/mod.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-helix-term

add ruler at 101 and text-width at 100 to lean in languages.toml
  languages.toml
Labels: none

Hide num_removed from public interface and tidy up jump location check
  helix-view/src/view.rs
Labels: none

Add curly single and double quotes to BRACKETS
  helix-core/src/match_brackets.rs
Labels: A-core

Update tree-sitter-rust
  languages.toml
Labels: none

tree-sitter: Update parent links on reused injection layers
  helix-core/src/syntax.rs
Labels: A-core

set separator by section
  book/src/editor.md
  helix-term/src/ui/statusline.rs
  helix-view/src/editor.rs
Labels: A-helix-term

Update helix-term/src/application.rs
  helix-term/src/application.rs
Labels: A-helix-term

Moved thiserror version configuration to the workspace instead of the individual packages.
  Cargo.toml
  helix-dap/Cargo.toml
  helix-lsp/Cargo.toml
  helix-view/Cargo.toml
Labels: A-debug-adapter, A-language-server

perf(commands): swap `as_ref` + `clone` with `take`
  helix-term/src/commands.rs
Labels: A-helix-term

Make prompt use cursor set for Insert mode (#10945)
  helix-term/src/ui/prompt.rs
Labels: A-helix-term

improve jump colors for github_dark themes (#10946)
  runtime/themes/github_dark.toml
Labels: A-theme

Add curly single and double quotes to BRACKETS (#10971)
  helix-core/src/match_brackets.rs
Labels: A-core

Fix jump_backwards behaviour when jumplist is at capacity (#10968)
  helix-view/src/view.rs
Labels: none

Fix multiple broken links in the documentation (#10953)
  book/src/keymap.md
  book/src/syntax-aware-motions.md
  book/src/textobjects.md
Labels: none

deploy: d70f58da10194131bacf596b09b7a057bf7e9425
  master/keymap.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
  master/textobjects.html
Labels: none

Replace unicode-general-category with icu-properties
  Cargo.lock
  helix-core/Cargo.toml
  helix-core/src/chars.rs
  helix-core/src/lib.rs
Labels: A-core

Prevent improper files (like /dev/random) from being used as file arguments (#10733)
  Cargo.lock
  Cargo.toml
  helix-dap/Cargo.toml
  helix-lsp/Cargo.toml
  helix-term/src/application.rs
  helix-term/src/commands.rs
  helix-term/src/ui/mod.rs
  helix-view/Cargo.toml
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-debug-adapter, A-helix-term, A-language-server

Update tree-sitter-rust (#10973)
  languages.toml
Labels: none

Replace unicode-general-category with icu-properties (#10989)
  Cargo.lock
  helix-core/Cargo.toml
  helix-core/src/chars.rs
  helix-core/src/lib.rs
Labels: A-core

Add Transaction::change_by_and_with_selection
  helix-core/src/auto_pairs.rs
  helix-core/src/transaction.rs
Labels: A-core

insert double whitespace inside pair
  helix-core/src/auto_pairs.rs
  helix-term/tests/test/auto_pairs.rs
Labels: A-core, A-helix-term

add delete_by_and_with_selection
  helix-core/src/auto_pairs.rs
  helix-core/src/transaction.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

Change auto pair hook to operate on single changes
  helix-core/src/auto_pairs.rs
  helix-core/src/transaction.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

backfill auto pair delete tests
  helix-term/tests/test/auto_pairs.rs
Labels: A-helix-term

Delete pairs with multi-char-range selections
  helix-core/src/auto_pairs.rs
  helix-core/src/transaction.rs
  helix-term/src/commands.rs
  helix-term/tests/test/auto_pairs.rs
Labels: A-core, A-helix-term

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
