Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

remove the corresponding capture group when removing a selection
  helix-core/src/selection.rs
  helix-term/src/commands.rs
  helix-view/src/register.rs
Labels: A-core, A-helix-term

update capture groups when doing additional searches
  helix-term/src/commands.rs
  helix-view/src/register.rs
Labels: A-helix-term

write to search registers when selecting by regex
  helix-core/src/selection.rs
  helix-term/src/commands.rs
  helix-view/src/register.rs
Labels: A-core, A-helix-term

Linkify
  CHANGELOG.md
Labels: none

Bump the version to 25.01.1
  Cargo.lock
  Cargo.toml
  contrib/Helix.appdata.xml
Labels: none

Replace current file when loading in background from picker
  helix-term/src/ui/picker.rs
Labels: A-helix-term

Use separate color for primary selection
  runtime/themes/jetbrains_dark.toml
Labels: A-theme

Show the primary selection index on statusline
  book/src/editor.md
  helix-term/src/ui/statusline.rs
Labels: A-helix-term

Add changelog notes for 25.01.1 (#12560)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  contrib/Helix.appdata.xml
Labels: none

deploy: e7ac2fcdecfdbf43a4f772e7f7c163b43b3d0b9b
  404.html
  book.js
  building-from-source.html
  commands.html
  configuration.html
  css/chrome.css
  css/general.css
  css/print.css
  css/variables.css
  custom.css
  editor.html
  favicon.png
  favicon.svg
  guides/adding_languages.html
  guides/indent.html
  guides/index.html
  guides/injection.html
  guides/textobject.html
  highlight.css
  highlight.js
  index.html
  install.html
  keymap.html
  lang-support.html
  languages.html
  package-managers.html
  pickers.html
  print.html
  registers.html
  remapping.html
  searchindex.js
  searchindex.json
  surround.html
  syntax-aware-motions.html
  textobjects.html
  themes.html
  title-page.html
  toc.html
  toc.js
  usage.html
Labels: none

Update `tree-sitter-rust`
  languages.toml
Labels: none

Add fish-lsp and bump tree-sitter-fish
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/fish/highlights.scm
Labels: A-tree-sitter

Add ghostty/config and hgrc file types
  languages.toml
Labels: none

Add beancount-language-server
  book/src/generated/lang-support.md
  languages.toml
Labels: none

fix: panic when pressing `*` at the end of the file
  helix-term/src/commands.rs
Labels: A-helix-term

docs: add info comment
  helix-term/src/commands.rs
Labels: A-helix-term

test: add new syntax to add a selection at the final character
  helix-core/src/test.rs
Labels: A-core

test: `*` panics when after the last char
  helix-core/src/test.rs
  helix-term/tests/test/commands/insert.rs
Labels: A-core, A-helix-term

test: move into a more appopriate module
  helix-term/tests/test/commands.rs
  helix-term/tests/test/commands/insert.rs
Labels: A-helix-term

test: fix failing
  helix-core/src/test.rs
Labels: A-core

test: account for Windows test suite
  helix-core/src/test.rs
Labels: A-core

test: choose a different strategy for custom syntax
  helix-core/src/test.rs
  helix-term/tests/test/commands.rs
Labels: A-core, A-helix-term

test: do not modify the syntax
  helix-core/src/test.rs
  helix-term/tests/test/commands.rs
Labels: A-core, A-helix-term

style: remove newline
  helix-core/src/test.rs
Labels: A-core

Update languages.toml to fix cl-lsp
  languages.toml
Labels: none

start working on language configuration
  helix-core/src/syntax.rs
  helix-term/src/application.rs
  helix-term/src/commands/engine.rs
  helix-term/src/commands/engine/steel.rs
  helix-view/src/editor.rs
Labels: A-core, A-helix-term

fix: panic when pressing `*` after the end of the file (#12611)
  helix-term/src/commands.rs
  helix-term/tests/test/commands.rs
Labels: A-helix-term

Canonicalize indent unit of git-rebase config
  languages.toml
Labels: none

Add an option to disable .gitignore when completing paths in the prompt
  book/src/editor.md
  helix-term/src/ui/mod.rs
  helix-view/src/editor.rs
Labels: A-helix-term

Add support for clicking on the bufferline to select a buffer
  helix-term/src/ui/editor.rs
Labels: A-helix-term

minor: Rename '*' at eof integration test to be more specific
  helix-term/tests/test/commands.rs
Labels: A-helix-term

Fix indent unit of git-rebase config (#12617)
  languages.toml
Labels: none

Fix type move in gix status iter Item
  helix-vcs/src/git.rs
Labels: A-vcs

feat: `:lsp-restart` custom servers
  helix-lsp/src/lib.rs
  helix-term/src/commands/typed.rs
Labels: A-helix-term, A-language-server

docs: update for `:lsp-restart`
  book/src/generated/typable-cmd.md
Labels: none

refactor: extract into a separate method
  helix-lsp/src/lib.rs
  helix-term/src/commands/typed.rs
Labels: A-helix-term, A-language-server

docs: Fix broken link
  book/src/languages.md
Labels: none

Use filename completer for all shell commands
  helix-term/src/commands/typed.rs
Labels: A-helix-term

book: Document language.rulers config option
  book/src/languages.md
Labels: none

Added zoom mode & max width
  book/src/editor.md
  book/src/generated/static-cmd.md
  book/src/generated/typable-cmd.md
  book/src/keymap.md
  book/src/remapping.md
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-term/src/keymap/default.rs
  helix-term/src/ui/editor.rs
  helix-term/src/ui/statusline.rs
  helix-view/src/editor.rs
  helix-view/src/tree.rs
Labels: A-helix-term, A-keymap
