Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

Use an AsyncHook for picker preview highlighting
  helix-term/src/ui/picker.rs
Labels: A-helix-term

configable
  helix-term/src/ui/editor.rs
  helix-view/src/editor.rs
Labels: A-helix-term

Update to fall back to existing values for option fields
  helix-view/src/handlers/dap.rs
Labels: none

Remove unwrap on line option, preventing DAP crash (#9632)
  helix-view/src/handlers/dap.rs
Labels: none

yank diagnostic command
  helix-term/src/commands.rs
Labels: A-helix-term

Improve textobjects for parameter/argument for Dart
  runtime/queries/dart/textobjects.scm
Labels: A-tree-sitter

clearer names
  helix-term/src/ui/editor.rs
  helix-view/src/editor.rs
Labels: A-helix-term

removed field_declaration_listt from textobjects.scm
  runtime/queries/rust/textobjects.scm
Labels: A-tree-sitter

fix quirky file persistence behaviour
  helix-term/src/application.rs
  helix-term/src/commands/typed.rs
  helix-view/src/editor.rs
Labels: A-helix-term

Make sonokai palette perfectfully faithful
  runtime/themes/sonokai.toml
Labels: A-theme

Amend theme to better match original sonokai
  runtime/themes/sonokai.toml
Labels: A-theme

Make Sonokai special punctuation yellow
  runtime/themes/sonokai.toml
Labels: A-theme

Fix crash on lsp text edits with invalid ranges
  helix-lsp/src/lib.rs
Labels: A-language-server

Fix Sonokai theme to better match original (#5379)
  runtime/themes/sonokai.toml
Labels: A-theme

Add Rust fields as argument textobject (#9637)
  runtime/queries/rust/textobjects.scm
Labels: A-tree-sitter

Improve textobjects for parameter/argument for Dart (#9644)
  runtime/queries/dart/textobjects.scm
Labels: A-tree-sitter

Add conf as a bash file type
  languages.toml
Labels: none

Use tmux.conf glob instead of simply conf for tmux
  languages.toml
Labels: none

Add textobject queries for Nix
  runtime/queries/nix/textobjects.scm
Labels: A-tree-sitter

Add textobject queries for HCL
  runtime/queries/hcl/textobjects.scm
Labels: A-tree-sitter

Add to lang-support.md
  book/src/generated/lang-support.md
Labels: none

Add to lang-support.md
  book/src/generated/lang-support.md
Labels: none

Add tmux.conf as a bash file type (#9653)
  languages.toml
Labels: none

languages: add docker-compose language
  languages.toml
  runtime/queries/docker-compose/highlights.scm
  runtime/queries/docker-compose/indents.scm
  runtime/queries/docker-compose/injections.scm
Labels: A-tree-sitter

languages: add luajit as a shebang of lua
  languages.toml
Labels: none

improve success message
  helix-term/src/commands.rs
Labels: A-helix-term

book(update): run cargo xtask docgen
  book/src/generated/lang-support.md
Labels: none

since #8006 full filenames uses glob
  languages.toml
Labels: none

themes: add monokai soda
  runtime/themes/monokai_soda.toml
Labels: A-theme

Scroll cursor and page together (neovim-like scrolling) (#8015)
  book/src/keymap.md
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
  helix-term/src/ui/editor.rs
Labels: A-helix-term, A-keymap

deploy: 9ab3f9d01a8ea4967f5a7e64a3f6c8f350674c18
  master/keymap.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

add monokai soda theme (#9651)
  runtime/themes/monokai_soda.toml
Labels: A-theme

Add docker-compose language (#9661)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/docker-compose/highlights.scm
  runtime/queries/docker-compose/indents.scm
  runtime/queries/docker-compose/injections.scm
Labels: A-tree-sitter

deploy: c72426cc874c70bfb5660b2866e634927e5fb4fd
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

Add textobject queries for Nix (#9659)
  book/src/generated/lang-support.md
  runtime/queries/nix/textobjects.scm
Labels: A-tree-sitter

deploy: 2dc9ce68ec84fd26e1489e3bac76fc5114d0023e
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

Add textobject queries for HCL (#9658)
  book/src/generated/lang-support.md
  runtime/queries/hcl/textobjects.scm
Labels: A-tree-sitter

deploy: ebf155d6351a84dec010447af88b8246103537da
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

Enable backtraces by default if RUST_BACKTRACE is not set
  helix-term/src/main.rs
Labels: A-helix-term

fix LSP ComplitionTriggerKind value for `TriggerKind::Auto`
  helix-term/src/handlers/completion.rs
Labels: A-helix-term

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
