Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

Update tree-sitter-julia (#10031)
  languages.toml
  runtime/queries/julia/folds.scm
  runtime/queries/julia/highlights.scm
  runtime/queries/julia/indents.scm
  runtime/queries/julia/injections.scm
  runtime/queries/julia/locals.scm
Labels: A-tree-sitter

Add `py` as valid python injection regex
  languages.toml
Labels: none

Add `hs` and `rs` for `haskell` and `rust`
  languages.toml
Labels: none

Remove special-casing of line ending characters in selection replacement
  helix-term/src/commands.rs
  helix-term/tests/test/commands.rs
Labels: A-helix-term

removed unnecessary lines
  runtime/themes/gruvbox.toml
Labels: A-theme

set purple1 for operators
  runtime/themes/gruvbox.toml
Labels: A-theme

ensure that all pending writes are flushed on :write and :write-all (#10765)
  helix-term/src/commands/typed.rs
Labels: A-helix-term

changed diagnostics colors
  runtime/themes/gruvbox.toml
Labels: A-theme

Fix `#match?` predicates in julia queries
  runtime/queries/julia/highlights.scm
Labels: A-tree-sitter

Added goto minor-mode binding for 'goto_line_end_newline'.
  helix-term/src/keymap/default.rs
Labels: A-helix-term, A-keymap

Fix `#match?` predicates in julia queries (#10793)
  runtime/queries/julia/highlights.scm
Labels: A-tree-sitter

Add options `editor.indent.{tab-width,unit}`.
  helix-core/src/syntax.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
  languages.toml
Labels: A-core

Set `required = true` for Nim.
  languages.toml
Labels: none

Add default value for `Config::indent`.
  helix-core/src/syntax.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-core

Set `required = true` for Make.
  languages.toml
Labels: none

Prevent double indentation check for real files.
  helix-view/src/document.rs
Labels: none

removed some unnecessary lines
  runtime/themes/gruvbox.toml
Labels: A-theme

set diff.delta color to yellow
  runtime/themes/gruvbox.toml
Labels: A-theme

queries: Update vhs
  runtime/queries/vhs/highlights.scm
Labels: A-tree-sitter

queries: Reorder scheme
  runtime/queries/scheme/highlights.scm
Labels: A-tree-sitter

queries: Tweak capnp
  runtime/queries/capnp/highlights.scm
Labels: A-tree-sitter

queries: Update ld, strace
  runtime/queries/ld/highlights.scm
  runtime/queries/strace/highlights.scm
Labels: A-tree-sitter

queries: Reverse go queries
  runtime/queries/go/highlights.scm
Labels: A-tree-sitter

queries: Update janet
  runtime/queries/janet/highlights.scm
Labels: A-tree-sitter

queries: Update cel
  runtime/queries/cel/highlights.scm
Labels: A-tree-sitter

queries: Update docker, dot
  runtime/queries/dockerfile/highlights.scm
  runtime/queries/dot/highlights.scm
Labels: A-tree-sitter

queries: Update ron
  runtime/queries/ron/highlights.scm
Labels: A-tree-sitter

queries: Update cue
  runtime/queries/cue/highlights.scm
Labels: A-tree-sitter

Reset all changes overlapped by selections in ':reset-diff-change' (#10178)
  helix-core/src/selection.rs
  helix-term/src/commands/typed.rs
  helix-vcs/src/diff.rs
Labels: A-core, A-helix-term, A-vcs

deploy: ff6aca12b73b6f20e99668ea11f604771b6875bf
  master/css/chrome.css
  master/css/general.css
  master/highlight.js
Labels: none

Update helix-stdx/src/env.rs
  helix-stdx/src/env.rs
Labels: none

correctly handle opening helix inside symlinked directory (#10728)
  helix-stdx/src/env.rs
Labels: none

flush saves before suspending
  helix-term/src/commands.rs
Labels: A-helix-term

Handle relative symlinks on write
  helix-term/tests/test/commands/write.rs
  helix-view/src/document.rs
Labels: A-helix-term

queries: bash, devicetree, yaml
  runtime/queries/bash/highlights.scm
  runtime/queries/devicetree/highlights.scm
  runtime/queries/yaml/highlights.scm
Labels: A-tree-sitter

tui: Port https://github.com/ratatui-org/ratatui/pull/1036
  helix-tui/src/buffer.rs
Labels: none

review suggestion
  helix-term/src/commands.rs
Labels: A-helix-term

tui: Constify functions, shrink Margin representation
  helix-term/src/ui/completion.rs
  helix-term/src/ui/info.rs
  helix-term/src/ui/lsp.rs
  helix-term/src/ui/markdown.rs
  helix-term/src/ui/picker.rs
  helix-term/src/ui/popup.rs
  helix-term/src/ui/prompt.rs
  helix-tui/src/layout.rs
  helix-tui/src/widgets/block.rs
  helix-tui/src/widgets/list.rs
  helix-tui/src/widgets/paragraph.rs
  helix-tui/tests/widgets_paragraph.rs
  helix-tui/tests/widgets_table.rs
  helix-view/src/graphics.rs
Labels: A-helix-term

Handle relative symlinks on write (#10790)
  helix-term/tests/test/commands/write.rs
  helix-view/src/document.rs
Labels: A-helix-term

update swift grammar to 0.5.0; add queries
  languages.toml
  runtime/queries/swift/highlights.scm
  runtime/queries/swift/injections.scm
  runtime/queries/swift/locals.scm
  runtime/queries/swift/textobjects.scm
Labels: A-tree-sitter
