Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

working mvp
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
Labels: A-helix-term

config
  book/src/editor.md
  helix-term/src/commands.rs
  helix-view/src/editor.rs
Labels: A-helix-term

pod: highlight E<> escapes via escape_sequence node
  languages.toml
  runtime/queries/pod/highlights.scm
Labels: A-tree-sitter

pod: highlight E<> escapes via escape_sequence node (#15829)
  languages.toml
  runtime/queries/pod/highlights.scm
Labels: A-tree-sitter

adding dawnfox and dayfox themes
  runtime/themes/dawnfox.toml
  runtime/themes/dayfox.toml
Labels: A-theme

chore: cargo xtask docgen (#15828)
  Cargo.lock
Labels: none

filter code actions at request
  book/src/editor.md
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-view/src/editor.rs
Labels: A-helix-term

cleanup
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
Labels: A-helix-term

lang: Add .simplecov to ruby file-types
  languages.toml
Labels: none

lang: Add batch language
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/batch/highlights.scm
  runtime/queries/batch/indents.scm
  runtime/queries/batch/injections.scm
  runtime/queries/batch/rainbows.scm
  runtime/queries/batch/tags.scm
  runtime/queries/batch/textobjects.scm
Labels: A-tree-sitter

lang: add .bundle/config to yaml file-type
  languages.toml
Labels: none

deps: Bump tree-house-bindings to v0.3.2
  Cargo.lock
Labels: none

add my expansions back
  helix-view/src/expansion.rs
Labels: none

languages: point tree-sitter-nix to numtide's more active fork
  languages.toml
Labels: none

Add `undo_selection` and `redo_selection`
  book/src/generated/static-cmd.md
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
  helix-term/tests/test/commands.rs
  helix-view/src/document.rs
Labels: A-helix-term, A-keymap

languages: update nix queries to match upstream
  runtime/queries/nix/folds.scm
  runtime/queries/nix/highlights.scm
  runtime/queries/nix/indents.scm
  runtime/queries/nix/injections.scm
  runtime/queries/nix/locals.scm
  runtime/queries/nix/tags.scm
Labels: A-tree-sitter

add missing relative filename for completion
  helix-view/src/expansion.rs
Labels: none

remove unnecessary expansions, add true WorkspacePath expansion
  helix-view/src/expansion.rs
Labels: none

add documentation for the added expansions
  book/src/command-line.md
Labels: none

Remove returns to make clippy happy and keep things consistent
  helix-view/src/expansion.rs
Labels: none

fix: auto format after applying code actions
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
Labels: A-helix-term

Labels for macro commands
  helix-term/src/config.rs
  helix-term/src/keymap.rs
Labels: A-helix-term, A-keymap

feat: labels for sequences
  helix-term/src/config.rs
  helix-term/src/keymap.rs
Labels: A-helix-term, A-keymap

Add support for labels in custom menu keymaps
  book/src/remapping.md
  helix-term/src/config.rs
  helix-term/src/keymap.rs
Labels: A-helix-term, A-keymap

syntax: add tests for the shebang interpreter detection
  helix-core/src/syntax.rs
Labels: A-core

syntax: support `nix-shell -i` interpreters for the shebang detector
  helix-core/src/syntax.rs
Labels: A-core

lang: update gas
  languages.toml
Labels: none

Fix stray separator when incrementing negative numbers across a digit boundary
  helix-core/src/increment/integer.rs
Labels: A-core

tui: short-circuit set_string for single-grapheme writes
  helix-term/src/ui/document.rs
  helix-tui/src/buffer.rs
Labels: A-helix-term

tui: store Cell::symbol as ArrayString instead of String
  Cargo.lock
  Cargo.toml
  helix-tui/Cargo.toml
  helix-tui/src/buffer.rs
Labels: none

tui: cache cell width to avoid per-frame width recomputes
  helix-tui/src/buffer.rs
Labels: none

tui: simplify set_string / set_stringn
  helix-term/src/ui/document.rs
  helix-term/src/ui/editor.rs
  helix-term/src/ui/prompt.rs
  helix-tui/src/buffer.rs
Labels: A-helix-term

term, view: cheap per-frame render wins
  helix-term/src/ui/editor.rs
  helix-view/src/theme.rs
Labels: A-helix-term

cargo fmt
  helix-tui/src/buffer.rs
Labels: none

Update nix tree-sitter grammar and queries (#15834)
  languages.toml
  runtime/queries/nix/folds.scm
  runtime/queries/nix/highlights.scm
  runtime/queries/nix/indents.scm
  runtime/queries/nix/injections.scm
  runtime/queries/nix/locals.scm
  runtime/queries/nix/tags.scm
Labels: A-tree-sitter

cargo xtask docgen
  book/src/generated/lang-support.md
Labels: none

deploy: f478de92b7df605afbcbf5923774439ec775bfb1
  master/404.html
  master/building-from-source.html
  master/command-line.html
  master/commands.html
  master/configuration.html
  master/ecosystem.html
  master/editor.html
  master/from-vim.html
  master/guides/adding_languages.html
  master/guides/indent.html
  master/guides/index.html
  master/guides/injection.html
  master/guides/locals.html
  master/guides/rainbow_bracket_queries.html
  master/guides/tags.html
  master/guides/textobject.html
  master/index.html
  master/install.html
  master/jumplist.html
  master/keymap.html
  master/lang-support.html
  master/languages.html
  master/other-software.html
  master/package-managers.html
  master/pickers.html
  master/print.html
  master/registers.html
  master/remapping.html
  master/searcher-c2a407aa.js
  master/searchindex-20a9d6bd.js
  master/searchindex-663199a9.js
  master/surround.html
  master/syntax-aware-motions.html
  master/textobjects.html
  master/themes.html
  master/title-page.html
  master/usage.html
  master/workspace-trust.html
Labels: none

perf: reorder `Buffer::diff` short circuit logic
  helix-tui/src/buffer.rs
Labels: none

feat(contrib): add completions for `--strict`
  contrib/completion/hx.bash
  contrib/completion/hx.elv
  contrib/completion/hx.fish
  contrib/completion/hx.nu
  contrib/completion/hx.zsh
Labels: none

injection(nix): support optional attrs in writers
  runtime/queries/nix/injections.scm
Labels: A-tree-sitter
