Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

fix: remove uneeded style/space edits
  helix-core/src/shellwords.rs
  helix-term/src/commands/dap.rs
  helix-term/src/commands/typed.rs
Labels: A-core, A-helix-term

chore(solidity): add keyword highlight
  runtime/queries/solidity/highlights.scm
Labels: A-tree-sitter

chore(solidity): add transient keyword
  runtime/queries/solidity/highlights.scm
Labels: A-tree-sitter

chore(languages): update to latest solidity grammar
  languages.toml
Labels: none

fix(lints): clippy 1.84
  helix-core/src/comment.rs
  helix-core/src/doc_formatter.rs
  helix-core/src/indent.rs
  helix-loader/src/grammar.rs
  helix-lsp/src/client.rs
  helix-stdx/src/rope.rs
  helix-term/src/commands.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/lib.rs
  helix-term/src/ui/completion.rs
  helix-term/src/ui/mod.rs
  helix-view/src/annotations/diagnostics.rs
  helix-view/src/document.rs
  helix-view/src/handlers/lsp.rs
  helix-view/src/theme.rs
Labels: A-core, A-helix-term, A-language-server

fix: typos
  helix-core/src/doc_formatter.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

fix: docs + add keybinds for file_explorer
  book/src/generated/static-cmd.md
  helix-term/src/keymap/default.rs
Labels: A-helix-term, A-keymap

pin to `ubuntu-22.04` for releases
  .github/workflows/release.yml
Labels: none

fix #12448 and add tests for `open_{below, above}` with multiple cursors
  helix-term/src/commands.rs
  helix-term/tests/test/commands/insert.rs
Labels: A-helix-term

add codeql tree-sitter, textobjects and highlighting
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/codeql/highlights.scm
  runtime/queries/codeql/textobjects.scm
Labels: A-tree-sitter

add codeql language-server
  book/src/generated/lang-support.md
  languages.toml
Labels: none

refactor: use enum instead of typestate for `ArgsParser`
  helix-core/src/args.rs
  helix-term/src/commands/typed.rs
Labels: A-core, A-helix-term

Treat punctuation as part of a word for softwrap.
  helix-core/src/doc_formatter/test.rs
  helix-core/src/graphemes.rs
Labels: A-core

fix: completer showing previous argument after space
  helix-core/src/args.rs
  helix-core/src/shellwords.rs
  helix-term/src/commands/typed.rs
Labels: A-core, A-helix-term

fix: add special case if last char is `\`
  helix-core/src/args.rs
  helix-core/src/shellwords.rs
Labels: A-core

feat: add final remaining two ParserMode variants
  helix-core/src/args.rs
  helix-core/src/shellwords.rs
  helix-term/src/commands/typed.rs
Labels: A-core, A-helix-term

reafactor: address more nits
  helix-term/src/commands/typed.rs
Labels: A-helix-term

Add Build Deb step to github workflows
  .github/workflows/release.yml
  helix-term/Cargo.toml
Labels: A-helix-term

Remove / from tag names
  .github/workflows/release.yml
Labels: none

Open languages.toml action
  helix-term/src/commands/typed.rs
Labels: A-helix-term

Naming more conistent
  helix-term/src/commands/typed.rs
Labels: A-helix-term

language support: CodeQL (#12470)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/codeql/highlights.scm
  runtime/queries/codeql/textobjects.scm
Labels: A-tree-sitter

deploy: 9721144e03a6c4e221c86408d34ce929972a36a5
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

Use the first char in a grapheme for classification.
  helix-core/src/doc_formatter/test.rs
  helix-core/src/graphemes.rs
Labels: A-core

add require_git option
  helix-term/src/commands.rs
  helix-term/src/ui/mod.rs
  helix-view/src/editor.rs
Labels: A-helix-term

refactor: change default `ParseMode` to `Raw`
  helix-core/src/args.rs
  helix-core/src/shellwords.rs
  helix-term/src/commands/typed.rs
Labels: A-core, A-helix-term

fix: highlight type never (`!`) as a type
  runtime/queries/rust/highlights.scm
Labels: A-tree-sitter

fix: recognize `?` as an operator in rust
  runtime/queries/rust/highlights.scm
Labels: A-tree-sitter

feat: highlight built-in rust functions
  runtime/queries/rust/highlights.scm
Labels: A-tree-sitter

feat: add more built-in functions in ecma
  runtime/queries/ecma/highlights.scm
Labels: A-tree-sitter

fix: check for end quote in ends_with_whitespace
  helix-core/src/shellwords.rs
Labels: A-core

fix: separate filepath parsing mode between unix and windows
  helix-core/src/args.rs
  helix-term/src/commands/typed.rs
Labels: A-core, A-helix-term

feat: add default functions for haskell
  runtime/queries/haskell/highlights.scm
Labels: A-tree-sitter

fix: all built-in haskell functions
  runtime/queries/haskell/highlights.scm
Labels: A-tree-sitter

Add comment tokens for JSONC
  languages.toml
Labels: none

Update .github/workflows/release.yml
  .github/workflows/release.yml
Labels: none

Update .github/workflows/release.yml
  .github/workflows/release.yml
Labels: none

feat: jump to matching single pair if on "ambiguous" pair
  helix-core/src/surround.rs
  helix-core/src/textobject.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

refactor: use single expression
  helix-core/src/surround.rs
Labels: A-core

fix: add back unnecesserily removed content
  helix-term/src/commands.rs
Labels: A-helix-term

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
