Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

fix: multiple selections having incorrect range and not properly accounting for comment tokens
  helix-core/src/comment.rs
  helix-term/src/commands.rs
  helix-term/tests/test/commands.rs
  lol.html
Labels: A-core, A-helix-term

fix: incorrect order of index additions
  helix-core/src/comment.rs
  helix-term/tests/test/commands.rs
  lol.html
Labels: A-core, A-helix-term

chore: move all comment integration tests into a separate module
  helix-term/tests/integration.rs
  helix-term/tests/test/commands.rs
  helix-term/tests/test/comments.rs
Labels: A-helix-term

fix: call geter instead of trying to access private field
  helix-term/src/commands/typed.rs
Labels: A-helix-term

feat: continue comment uses injected comment tokens
  helix-core/src/comment.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

feat: fix merge conflicts
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  xtask/src/main.rs
Labels: A-helix-term

feat: add typable command to get injection layer for current range
  helix-core/src/comment.rs
  helix-core/src/syntax.rs
  helix-term/src/commands/typed.rs
Labels: A-core, A-helix-term

feat: gain access to injection-specific line and block comment tokens
  helix-core/src/comment.rs
  helix-core/src/syntax.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

test: uncomment previosly skipped tests
  helix-core/src/comment.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

refactor: extract a separate toggle_comment_impl function
  helix-core/src/comment.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

refactor: collapse 2 `map` intoa a single `map`
  helix-core/src/comment.rs
Labels: A-core

chore: add brainstorm thoughts
  helix-term/src/commands.rs
Labels: A-helix-term

refactor: do not use pointless assertion
  helix-core/src/comment.rs
Labels: A-core

fix: crash when using block comment if no block comment but yes line comment
  helix-term/src/commands.rs
Labels: A-helix-term

fix: `:left` does not take an argument
  book/src/generated/typable-cmd.md
  helix-term/src/commands/typed.rs
Labels: A-helix-term

refactor: use macro to create functional versions of case converters
  helix-core/src/case_conversion.rs
Labels: A-core

fix: use `to_{uppercase,lowercase}` instead of `to_ascii*`variants
  helix-core/src/case_conversion.rs
Labels: A-core

refactor: remove unused function
  helix-core/src/case_conversion.rs
Labels: A-core

feat: `switch_to_sentence_case` (`` `S ``)
  book/src/generated/static-cmd.md
  book/src/keymap.md
  helix-core/src/case_conversion.rs
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
Labels: A-core, A-helix-term, A-keymap

test: improved test syntax
  helix-core/src/case_conversion.rs
Labels: A-core

docs: add documentation comments
  helix-core/src/case_conversion.rs
Labels: A-core

style: fmt
  helix-core/src/case_conversion.rs
Labels: A-core

feat: split `inline-blame.behaviour` into two options
  book/src/editor.md
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-term/src/handlers/blame.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-helix-term

perf: use `Vec<T>` instead of `HashMap<usize, T>`
  helix-term/src/ui/editor.rs
  helix-term/src/ui/text_decorations/blame.rs
Labels: A-helix-term

fix: funny boolean inversion
  helix-term/src/ui/text_decorations/blame.rs
Labels: A-helix-term

refactor: render inline blame in a separate Editor function
  helix-term/src/ui/editor.rs
Labels: A-helix-term

refactor: `match` over `if`
  helix-term/src/ui/editor.rs
Labels: A-helix-term

style: fmt
  helix-term/src/ui/editor.rs
Labels: A-helix-term

refactor: pass the `Style` instead of `Theme`
  helix-term/src/ui/editor.rs
  helix-term/src/ui/text_decorations/blame.rs
Labels: A-helix-term

refactor: move expression
  helix-term/src/ui/editor.rs
  helix-term/src/ui/text_decorations/blame.rs
Labels: A-helix-term

feat: Welcome Screen
  book/src/editor.md
  helix-term/src/application.rs
  helix-term/src/ui/editor.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-helix-term

remove old document open/close events
  helix-term/src/commands/engine/steel.rs
  helix-term/src/events.rs
  helix-view/src/editor.rs
  helix-view/src/events.rs
Labels: A-helix-term

refactor: lack of `:` prefix now has semantic meaning
  helix-term/src/config.rs
Labels: A-helix-term

use new mutex guard
  helix-term/src/commands/engine/steel.rs
Labels: A-helix-term

perf: remove string allocation from macro `name`
  helix-term/src/commands/typed.rs
Labels: A-helix-term

feat: update dashboard
  helix-term/src/ui/editor.rs
Labels: A-helix-term

feat: shift the type to the left
  helix-term/src/ui/editor.rs
Labels: A-helix-term

fix: 2 panics
  helix-term/src/ui/editor.rs
Labels: A-helix-term

goto_file: try multiple relative paths to find existing files
  helix-term/src/commands.rs
Labels: A-helix-term

feat: change text of :theme in welcome message
  helix-term/src/ui/editor.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-helix-term

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
