Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

deploy: a5a7cff311e909ecab41f840742a5309634aeec3
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

changelog checkpoint 2024-12-22
  CHANGELOG.md
Labels: none

changelog checkpoint 2024-12-27
  CHANGELOG.md
Labels: none

Uses unwrap_or when setting formatting process directory
  helix-view/src/document.rs
Labels: none

languages: add block comment tokens for jinja and nunjucks
  languages.toml
Labels: none

Pull diagnostics
  helix-core/src/syntax.rs
  helix-lsp/src/client.rs
  helix-lsp/src/lib.rs
  helix-term/src/application.rs
  helix-term/src/commands.rs
  helix-term/src/events.rs
  helix-term/src/handlers.rs
  helix-term/src/handlers/diagnostics.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
  helix-view/src/events.rs
  helix-view/src/handlers.rs
  helix-view/src/handlers/lsp.rs
Labels: A-core, A-helix-term, A-language-server

refactor: `map_or(true|false, ...)` -> `is_some|ok_and(...)`
  helix-core/src/comment.rs
  helix-core/src/doc_formatter.rs
  helix-core/src/indent.rs
  helix-loader/src/grammar.rs
  helix-lsp/src/client.rs
  helix-stdx/src/rope.rs
  helix-term/src/commands.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/lib.rs
  helix-term/src/ui/completion.rs
  helix-term/src/ui/mod.rs
  helix-view/src/annotations/diagnostics.rs
  helix-view/src/document.rs
  helix-view/src/handlers/lsp.rs
  helix-view/src/theme.rs
Labels: A-core, A-helix-term, A-language-server

fix: string literals with format args not in `format!`
  helix-term/src/commands/dap.rs
Labels: A-helix-term

fix: string literals with format args not in `format!` (#12354)
  helix-term/src/commands/dap.rs
Labels: A-helix-term

languages: add block comment tokens for jinja and nunjucks (#12348)
  languages.toml
Labels: none

docs: Fix dead links to tree-sitter docs
  book/src/guides/adding_languages.md
  book/src/guides/injection.md
  book/src/guides/textobject.md
  book/src/languages.md
  book/src/themes.md
  runtime/queries/ada/highlights.scm
  runtime/queries/ada/locals.scm
  runtime/queries/awk/highlights.scm
  runtime/queries/tact/locals.scm
Labels: A-tree-sitter

deploy: 127567df8e88cfa71feb66619a6016988d984256
  master/guides/adding_languages.html
  master/guides/injection.html
  master/guides/textobject.html
  master/languages.html
  master/print.html
  master/themes.html
Labels: none

fix (hx --health): Don't print headers in white
  helix-term/src/health.rs
Labels: A-helix-term

add `uv` shebang for python
  languages.toml
Labels: none

minor: Setup default keymap directly in xtask docgen
  helix-term/src/ui/editor.rs
  xtask/src/docgen.rs
Labels: A-helix-term

add `uv` shebang for python (#12360)
  languages.toml
Labels: none

Detect and respond to terminal theme mode (light/dark) updates
  Cargo.lock
  Cargo.toml
  helix-term/src/application.rs
  helix-term/src/config.rs
  helix-term/src/ui/editor.rs
  helix-tui/src/backend/crossterm.rs
  helix-tui/src/backend/mod.rs
  helix-tui/src/backend/test.rs
  helix-view/src/input.rs
  helix-view/src/theme.rs
Labels: A-helix-term

Fix CI formatting check
  helix-term/src/health.rs
Labels: A-helix-term

fix (hx --health): Don't print headers in white (#12355)
  helix-term/src/health.rs
Labels: A-helix-term

Config option to hide diagnostics in insert mode
  helix-term/src/ui/editor.rs
  helix-term/src/ui/text_decorations/diagnostics.rs
  helix-view/src/annotations/diagnostics.rs
  helix-view/src/editor.rs
  helix-view/src/gutter.rs
  helix-view/src/view.rs
Labels: A-helix-term

bump vento grammar revision
  languages.toml
Labels: none

fix: Bump `vento` grammar revision (#12368)
  languages.toml
Labels: none

fix copy_xattr
  helix-stdx/src/faccess.rs
Labels: none

Sunset theme: text.directory
  runtime/themes/sunset.toml
Labels: A-theme

try uid test again
  helix-stdx/src/faccess.rs
  helix-term/tests/test/commands/write.rs
Labels: A-helix-term

feat: add diagnostic marker
  helix-term/src/ui/text_decorations/diagnostics.rs
  helix-view/src/annotations/diagnostics.rs
Labels: A-helix-term

enhance: avoid extra allocation of the whole EOL diagnostic for the prefix
  helix-term/src/ui/document.rs
  helix-term/src/ui/text_decorations/diagnostics.rs
  helix-tui/src/buffer.rs
Labels: A-helix-term

accept floats with zero fractional part as a jsonrpc id
  helix-lsp/src/jsonrpc.rs
Labels: A-language-server

Sunset theme: add ui.text.directory (#12372)
  runtime/themes/sunset.toml
Labels: A-theme

feat: Vim-like tab-accounting cursor position
  helix-term/src/ui/statusline.rs
Labels: A-helix-term

style: check floats for is_sign_positive and a zero fractional part
  helix-lsp/src/jsonrpc.rs
Labels: A-language-server

LSP Client: Accept floats with trailing zeros as valid JSONRPC IDs (#12376)
  helix-lsp/src/jsonrpc.rs
Labels: A-language-server

Apply #12339 to new highlight queries
  runtime/queries/protobuf/highlights.scm
Labels: A-tree-sitter

rename 'proto' language back to 'protobuf'
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/protobuf/highlights.scm
  runtime/queries/protobuf/indents.scm
  runtime/queries/protobuf/injections.scm
  runtime/queries/protobuf/textobjects.scm
Labels: A-tree-sitter

Migrate to an improved proto grammar (#12225)
  languages.toml
  runtime/queries/protobuf/highlights.scm
  runtime/queries/protobuf/indents.scm
  runtime/queries/protobuf/textobjects.scm
Labels: A-tree-sitter

update hyprland file-types glob
  languages.toml
Labels: none

perf: cache `Document`s relative path
  helix-view/src/document.rs
Labels: none

perf: add `#[inline]` to `stdx::path` functions
  helix-stdx/src/path.rs
Labels: none

undo-picker-preview-ratio-change
  helix-term/src/ui/picker.rs
Labels: A-helix-term

undo-fullscreen-without-status-line-and-bring-back-old-code
  helix-term/src/ui/overlay.rs
Labels: A-helix-term
