Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

feat(markdown, typst): added harper-ls as configured LSP for checking
  languages.toml
Labels: none

Point OpenSCAD grammar to official repo
  languages.toml
Labels: none

feat: remove sourcepawn's indents.scm
  runtime/queries/sourcepawn/indents.scm
Labels: A-tree-sitter

docs: run cargo xtask docgen
  book/src/generated/lang-support.md
Labels: none

feat: add `harper-ls` LSP configuration (#13029)
  languages.toml
Labels: none

LSP: Fix offset encoding test case
  helix-lsp/src/lib.rs
Labels: A-language-server

feat: basic implementation for tree-sitter-tree
  helix-term/src/commands/typed.rs
  helix-view/src/editor.rs
Labels: A-helix-term

feat: enable syntax highlighting
  helix-term/src/commands/typed.rs
Labels: A-helix-term

feat: basic MVP for tree-sitter-tree
  helix-term/src/commands/typed.rs
Labels: A-helix-term

docs: add information on tree-sitter-tree command
  book/src/generated/typable-cmd.md
  helix-term/src/commands/typed.rs
Labels: A-helix-term

chore: remove unused comment
  helix-term/src/commands/typed.rs
Labels: A-helix-term

refactor: do not use unnecessary pattern matching
  helix-term/src/commands/typed.rs
Labels: A-helix-term

feat: replace existing tree sitter document instead of creating new one
  helix-term/src/commands/typed.rs
  helix-view/src/editor.rs
  helix-view/src/lib.rs
Labels: A-helix-term

docs: remove wrongly documented command
  book/src/generated/static-cmd.md
Labels: none

docs: document `hover_dump` static command
  book/src/generated/static-cmd.md
Labels: none

refactor: use doc! macro
  helix-term/src/commands/typed.rs
Labels: A-helix-term

feat: replace existing tree_sitter_tree document if it exists
  helix-term/src/commands/typed.rs
  helix-view/src/editor.rs
Labels: A-helix-term

revert: using a custom ID to reference document
  helix-term/src/commands/typed.rs
  helix-view/src/editor.rs
  helix-view/src/lib.rs
Labels: A-helix-term

feat: implement counter for node searching
  helix-core/src/syntax.rs
  helix-term/src/commands/typed.rs
  lol.js
Labels: A-core, A-helix-term

refactor: make condition simpler
  helix-core/src/syntax.rs
Labels: A-core

feat: return lower and upper bounds
  helix-core/src/syntax.rs
Labels: A-core

feat: update tree sitter tree on save
  helix-term/src/commands/typed.rs
  helix-term/src/events.rs
  helix-view/src/editor.rs
  helix-view/src/events.rs
  lol.js
Labels: A-helix-term

feat: implement automatic highlight of some tree sitter node types
  helix-core/src/syntax.rs
  helix-term/src/commands/typed.rs
  lol.js
Labels: A-core, A-helix-term

fix: show highlights when cursor moved
  helix-core/src/syntax.rs
  helix-term/src/commands/typed.rs
  helix-view/src/document.rs
  helix-view/src/view.rs
Labels: A-core, A-helix-term

feat: rough implementation of mapping source code to tree sitter coordinates
  helix-core/src/syntax.rs
  helix-term/src/commands/typed.rs
  lol.js
Labels: A-core, A-helix-term

fix: add support for anonymous nodes
  helix-core/src/syntax.rs
  lol.js
Labels: A-core

refactor: do not duplicate function definition
  helix-term/src/commands/typed.rs
Labels: A-helix-term

fix: do not create extra documents than necessary
  helix-term/src/commands/typed.rs
  helix-view/src/editor.rs
Labels: A-helix-term

feat: remove pointless file
  lol.js
Labels: none

fix: return None if didn't find node
  helix-core/src/syntax.rs
Labels: A-core

refactor: instant live updates on each command
  helix-term/src/commands/typed.rs
  helix-term/src/events.rs
  helix-view/src/editor.rs
  helix-view/src/events.rs
Labels: A-helix-term

chore: remove TODO comments
  helix-term/src/commands/typed.rs
Labels: A-helix-term

fix: clear tree sitter tree if its gone
  helix-view/src/editor.rs
Labels: none

refactor: rename variable
  helix-core/src/syntax.rs
Labels: A-core

docs: add information on the Document ID
  helix-view/src/editor.rs
Labels: none

fix: running `:tree-sitter-tree` again closes it
  helix-term/src/commands/typed.rs
Labels: A-helix-term

feat: use a new data structure for hooks
  helix-event/src/lib.rs
  helix-event/src/registry.rs
  helix-event/src/test.rs
  helix-term/src/commands/typed.rs
Labels: A-helix-term

refactor: clean up the code
  helix-core/src/syntax.rs
  helix-event/src/lib.rs
  helix-event/src/test.rs
  helix-term/src/commands/typed.rs
  helix-term/src/handlers/auto_save.rs
  helix-term/src/handlers/diagnostics.rs
  helix-term/src/handlers/signature_help.rs
  helix-term/src/handlers/snippet.rs
  lol.js
  video.cast
Labels: A-core, A-helix-term

feat: add function to remove registered hook
  helix-event/src/lib.rs
  helix-event/src/registry.rs
  helix-term/src/commands/typed.rs
  lol.js
Labels: A-helix-term

fix: do not disable insert mode when using tree-sitter-tree
  helix-term/src/commands/typed.rs
Labels: A-helix-term

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
