Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

Add cursor position persistence across sessions
  book/src/editor.md
  helix-core/src/lib.rs
  helix-core/src/time.rs
  helix-term/src/application.rs
  helix-term/src/commands/typed.rs
  helix-term/tests/integration.rs
  helix-term/tests/test/session.rs
  helix-view/src/editor.rs
  helix-view/src/lib.rs
  helix-view/src/session.rs
Labels: A-core, A-helix-term

Adjust kconfig file types to uppercase K
  languages.toml
Labels: none

update steel
  Cargo.lock
Labels: none

fix: freeze in markdown when matching brackets
  helix-core/src/match_brackets.rs
Labels: A-core

refresh terminal config after changing mouse configuration
  helix-term/src/commands/engine/steel/configuration.scm
  helix-term/src/commands/engine/steel/mod.rs
  helix-tui/src/backend/termina.rs
Labels: A-helix-term

Remove execution bit on eldritch.toml
  runtime/themes/eldritch.toml
Labels: A-theme

Remove execution bit on eldritch.toml (#15353)
  runtime/themes/eldritch.toml
Labels: A-theme

cleanup treesitter bindings, add document changed hook (#100)
  helix-core/src/extensions.rs
  helix-term/src/commands/engine/steel/editor.scm
  helix-term/src/commands/engine/steel/mod.rs
  helix-term/src/commands/engine/steel/treesitter.scm
Labels: A-core, A-helix-term

refactor: use nucleo's native fuzzy matching for global search
  helix-term/src/commands.rs
Labels: A-helix-term

Adds `wbca` and `wbca!` to the commands API - Solves #15355
  book/src/generated/typable-cmd.md
  helix-term/src/commands/typed.rs
Labels: A-helix-term

book: update to mdbook 0.5.2
  .github/workflows/gh-pages.yml
  book/src/generated/static-cmd.md
  book/theme/index.hbs
  helix-term/src/commands.rs
Labels: A-helix-term

fix: use Pattern::parse for consistent fuzzy pre-filtering
  helix-term/src/commands.rs
Labels: A-helix-term

chore: add "ui.virtual.jump-label" to pop-dark theme
  runtime/themes/pop-dark.toml
Labels: A-theme

chore: add "ui.virtual.jump-label" to pop-dark theme (#15358)
  runtime/themes/pop-dark.toml
Labels: A-theme

fix: alignment when indenting with spaces (#13498)
  helix-term/src/commands.rs
  helix-term/tests/test/commands/insert.rs
  helix-term/tests/test/commands/movement.rs
Labels: A-helix-term

feat(config): add auto-pairs.toml for language-specific defaults
  auto-pairs.toml
  helix-core/src/config.rs
  helix-loader/src/config.rs
Labels: A-core

Remove previous auto-pairs implementation
  helix-core/src/auto_pairs.rs
  helix-core/src/syntax.rs
  helix-core/src/syntax/config.rs
  helix-term/src/commands.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-core, A-helix-term

feat(auto-pairs): add multi-character pairs support
  helix-core/src/auto_pairs.rs
  helix-core/src/syntax/config.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-core

feat(auto-pairs): add context-aware pairing with tree-sitter
  helix-core/src/auto_pairs.rs
  helix-core/src/syntax.rs
Labels: A-core

Simplify model by remove the notion of a trigger
  book/src/editor.md
  helix-core/src/auto_pairs.rs
  helix-core/src/syntax/config.rs
Labels: A-core

feat(commands): integrate multi-char auto-pairs with editor
  auto-pairs.toml
  book/src/editor.md
  helix-core/src/auto_pairs.rs
  helix-term/src/commands.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-core, A-helix-term

docs: document multi-character auto-pairs configuration
  book/src/configuration.md
  book/src/editor.md
Labels: none

Correct formatting
  helix-core/src/auto_pairs.rs
  helix-loader/src/config.rs
Labels: A-core

refactor: migrate all auto-pairs from languages.toml to auto-pairs.toml
  auto-pairs.toml
  helix-core/src/auto_pairs.rs
  helix-core/src/config.rs
  helix-loader/src/config.rs
  languages.toml
Labels: A-core

fix(auto-pairs): pass correct len_inserted to get_next_range for selection adjustment
  helix-core/src/auto_pairs.rs
Labels: A-core

fix(auto-pairs): correctly find prefix pairs and position cursor for multi-char triggers
  helix-core/src/auto_pairs.rs
Labels: A-core

Fix: Revert pair selection behaviour for nested pairs
  helix-view/src/document.rs
Labels: none

Add Markdown code span (```) to auto-pairs
  auto-pairs.toml
Labels: none

Fix(auto-pairs): Use cursor position for injection layer detection
  auto-pairs.toml
  helix-core/src/auto_pairs.rs
  helix-core/src/syntax.rs
  helix-term/src/commands.rs
  helix-view/src/document.rs
Labels: A-core, A-helix-term

Fix(auto-pairs): Position cursor correctly when replacing prefix close
  helix-core/src/auto_pairs.rs
Labels: A-core

fix: enable multi-line global search
  helix-term/src/commands.rs
Labels: A-helix-term

fix(theme:omicron): set `linenr*`
  runtime/themes/omicron_dark.toml
  runtime/themes/omicron_light.toml
Labels: A-theme

fix(theme:omicron): `code_bg_unsafe` "oranger"
  runtime/themes/omicron_light.toml
Labels: A-theme

Added git revision for drools grammar, added placeholder drools language server
  languages.toml
Labels: none

Updated lang-support
  book/src/generated/lang-support.md
Labels: none

Added drools-fmt to configuration
  languages.toml
Labels: none

Added initial drools config
  languages.toml
Labels: none

add enum as possible tag kind
  helix-term/src/commands/syntax.rs
Labels: A-helix-term

tags(rust, c): mark enums as `@definition.enum`
  runtime/queries/c/tags.scm
  runtime/queries/rust/tags.scm
Labels: A-tree-sitter

document the `definition.enum` capture in the tags guide
  book/src/guides/tags.md
Labels: none
