Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

Add signature help position config option
  helix-view/src/editor.rs
Labels: none

Construct Open from RelativePosition for signature help popup
  helix-term/src/commands.rs
  helix-term/src/handlers/signature_help.rs
Labels: A-helix-term

languages.toml: set `clang-format` as formatter and enable auto-formatting
  languages.toml
Labels: none

Update site tagline to be more humble and accurate
  website/index.html
Labels: none

Use numbered list in roadmap for easier reference
  docs/roadmap.md
Labels: none

update steel
  Cargo.lock
Labels: none

Add support for changing every ui elements color based on mode
  helix-term/src/commands.rs
  helix-term/src/commands/dap.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/ui/completion.rs
  helix-term/src/ui/document.rs
  helix-term/src/ui/editor.rs
  helix-term/src/ui/info.rs
  helix-term/src/ui/lsp/hover.rs
  helix-term/src/ui/lsp/signature_help.rs
  helix-term/src/ui/markdown.rs
  helix-term/src/ui/menu.rs
  helix-term/src/ui/mod.rs
  helix-term/src/ui/picker.rs
  helix-term/src/ui/popup.rs
  helix-term/src/ui/prompt.rs
  helix-term/src/ui/select.rs
  helix-term/src/ui/statusline.rs
  helix-term/src/ui/text_decorations/diagnostics.rs
  helix-view/src/gutter.rs
  helix-view/src/theme.rs
Labels: A-helix-term

Maintain full functionality of the color_modes option
  helix-term/src/commands.rs
  helix-term/src/commands/dap.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/ui/completion.rs
  helix-term/src/ui/document.rs
  helix-term/src/ui/editor.rs
  helix-term/src/ui/info.rs
  helix-term/src/ui/lsp/hover.rs
  helix-term/src/ui/lsp/signature_help.rs
  helix-term/src/ui/markdown.rs
  helix-term/src/ui/menu.rs
  helix-term/src/ui/mod.rs
  helix-term/src/ui/picker.rs
  helix-term/src/ui/popup.rs
  helix-term/src/ui/prompt.rs
  helix-term/src/ui/select.rs
  helix-term/src/ui/statusline.rs
  helix-term/src/ui/text_decorations/diagnostics.rs
  helix-view/src/editor.rs
  helix-view/src/gutter.rs
  helix-view/src/theme.rs
Labels: A-helix-term

Add terminal panel status bar mode indicator and resizable panel
  silicon-term/src/application.rs
  silicon-term/src/commands/typed.rs
  silicon-term/src/job.rs
  silicon-term/src/ui/statusline.rs
  silicon-terminal/src/panel.rs
  silicon-view/src/editor.rs
Labels: none

Intercept ':' in terminal panel to enter editor command mode
  silicon-term/src/application.rs
  silicon-term/src/commands/typed.rs
  silicon-term/src/job.rs
  silicon-view/src/editor.rs
Labels: none

Tone down mouse ripple and glow effect on website
  website/index.html
Labels: none

Split commands.rs into movement, selection, editing, and insert submodules
  silicon-term/src/commands.rs
  silicon-term/src/commands/editing.rs
  silicon-term/src/commands/insert.rs
  silicon-term/src/commands/movement.rs
  silicon-term/src/commands/selection.rs
  silicon-term/src/commands/typed.rs
Labels: none

Mark commands.rs split as completed in roadmap
  docs/roadmap.md
Labels: none

Optimize autocomplete latency across the completion pipeline
  silicon-term/src/handlers/completion.rs
  silicon-term/src/handlers/completion/request.rs
  silicon-term/src/handlers/completion/resolve.rs
  silicon-view/src/editor.rs
  silicon-view/src/handlers/completion.rs
Labels: none

Detect `.git/modules/*/config` as language `git-config` (#15295)
  languages.toml
Labels: none

tweak(languages): add additional *.Brewfile glob (#15303)
  languages.toml
Labels: none

update jjconfig globs for secure-config (#15293)
  languages.toml
Labels: none

Add completion frecency scoring and persist across sessions
  silicon-term/src/application.rs
  silicon-term/src/handlers/completion.rs
  silicon-term/src/handlers/completion/frecency.rs
  silicon-term/src/handlers/completion/item.rs
  silicon-term/src/ui/completion.rs
  silicon-term/src/ui/menu.rs
Labels: none

add buffer-close-then-quit-if-last and buffer-close-then-quit-if-last! commands
  helix-term/src/commands/typed.rs
Labels: A-helix-term

chore: run cargo rail unify
  .config/rail.toml
  Cargo.toml
  helix-core/Cargo.toml
  helix-dap-types/Cargo.toml
  helix-dap/Cargo.toml
  helix-event/Cargo.toml
  helix-loader/Cargo.toml
  helix-lsp-types/Cargo.toml
  helix-lsp/Cargo.toml
  helix-stdx/Cargo.toml
  helix-term/Cargo.toml
  helix-tui/Cargo.toml
  helix-vcs/Cargo.toml
  helix-view/Cargo.toml
  xtask/Cargo.toml
Labels: A-core, A-debug-adapter, A-helix-term, A-language-server, A-vcs

chore: set unify exclude
  .config/rail.toml
Labels: none

docs: add cargo-rail change-detection config
  .config/cargo-rail-planning-intergation.md
  .config/rail.toml
Labels: none

fix(python): indent after except and finally
  runtime/queries/python/indents.scm
Labels: A-tree-sitter

Add mouse click to switch terminal tabs
  silicon-term/src/application.rs
  silicon-terminal/src/panel.rs
Labels: none

Add plugin API vision and architecture docs
  docs/plugin-api-architecture.md
  docs/plugin-api.md
Labels: none

fix(tui): ensure correct cursor shape restoration on exit
  helix-tui/src/backend/crossterm.rs
  helix-tui/src/backend/termina.rs
Labels: none

fix(tui): ensure correct cursor shape restoration on exit (#15320)
  helix-tui/src/backend/crossterm.rs
  helix-tui/src/backend/termina.rs
Labels: none

fix(python): indent after except and finally (#15315)
  runtime/queries/python/indents.scm
Labels: A-tree-sitter

doc(install): add more info on brew install (linux, HEAD)
  book/src/install.md
  book/src/package-managers.md
Labels: none

fix(queries:properties): proper numeric values (#15281)
  runtime/queries/properties/highlights.scm
Labels: A-tree-sitter

consistently highlight null literals as `@constant.builtin` (#15264)
  runtime/queries/amber/highlights.scm
  runtime/queries/c/highlights.scm
  runtime/queries/crystal/highlights.scm
  runtime/queries/gdscript/highlights.scm
  runtime/queries/kotlin/highlights.scm
  runtime/queries/opencl/highlights.scm
  runtime/queries/prisma/highlights.scm
  runtime/queries/r/highlights.scm
  runtime/queries/v/highlights.scm
Labels: A-tree-sitter

Add roslyn-language-server (#15259)
  book/src/generated/lang-support.md
  languages.toml
Labels: none

deploy: 96bd5c37bc5d2a24b9e1c79805a3d6359f163c00
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

ack(pr-comment): remove flashy homebrew sentence from general install.md
  book/src/install.md
Labels: none

move syntax to first arg
  helix-core/src/surround.rs
  helix-core/src/textobject.rs
Labels: A-core

doc(install): add more info on brew install (linux, HEAD) (#15324)
  book/src/package-managers.md
Labels: none

deploy: d6a7fff344a09a38d7369d87e53e082a10aba987
  master/package-managers.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

Move arc-swap to workspace dependencies
  Cargo.toml
  helix-term/Cargo.toml
  helix-vcs/Cargo.toml
  helix-view/Cargo.toml
Labels: A-helix-term, A-vcs

Move arc-swap to workspace dependencies
  Cargo.toml
  helix-term/Cargo.toml
  helix-vcs/Cargo.toml
  helix-view/Cargo.toml
Labels: A-helix-term, A-vcs

mark more things as `@definition.section`, add them to tags guide (#15282)
  book/src/generated/lang-support.md
  book/src/guides/tags.md
  runtime/queries/git-config/tags.scm
  runtime/queries/hyprlang/tags.scm
  runtime/queries/ini/tags.scm
  runtime/queries/systemd/tags.scm
Labels: A-tree-sitter

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
