Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

update nushell parser and queries
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/nu/folds.scm
  runtime/queries/nu/highlights.scm
  runtime/queries/nu/indents.scm
  runtime/queries/nu/injections.scm
  runtime/queries/nu/textobjects.scm
Labels: A-tree-sitter

@number -> @constant.numeric
  runtime/queries/nu/highlights.scm
Labels: A-tree-sitter

revert changing @number
  runtime/queries/nu/highlights.scm
Labels: A-tree-sitter

Fix Lean LSP module imports
  languages.toml
Labels: none

fish injection query for nu, on `nu -c` (#14376)
  runtime/queries/fish/injections.scm
Labels: A-tree-sitter

feat(ruby): detect `.irbrc` file as ruby
  languages.toml
Labels: none

feat: detect `.wslconfig` as ini filetype
  languages.toml
Labels: none

updated ui.popup.info bg
  runtime/themes/doom-one.toml
Labels: A-theme

feat: add `runhaskell` and `stack` as haskell shebangs
  languages.toml
Labels: none

added `ui.virtual.jump-label`
  runtime/themes/doom-one.toml
Labels: A-theme

feat: Redone preview scrolling from helix-editor#4189
  helix-term/src/ui/picker.rs
Labels: A-helix-term

feat: add literal (non-regex) search commands
  helix-term/src/commands.rs
  helix-term/src/ui/mod.rs
Labels: A-helix-term

add docgen docs
  book/src/generated/static-cmd.md
Labels: none

mark arguments of case-lambda as variable, mark case-lambda as keyword
  runtime/queries/scheme/highlights.scm
Labels: A-tree-sitter

feat(ruby): detect `.irbrc` file as ruby (#14382)
  languages.toml
Labels: none

feat: detect `.wslconfig` as ini filetype (#14383)
  languages.toml
Labels: none

feat: add `runhaskell` and `stack` as haskell shebangs (#14385)
  languages.toml
Labels: none

mark arguments of case-lambda as variable, mark case-lambda as keyword (#14386)
  runtime/queries/scheme/highlights.scm
Labels: A-tree-sitter

queries(scheme): more consistently indent with two spaces
  runtime/queries/scheme/highlights.scm
Labels: A-tree-sitter

queries(scheme): convert a #match? to a #any-of?
  runtime/queries/scheme/highlights.scm
Labels: A-tree-sitter

queries(scheme): mark the variables of do as `@variable`
  runtime/queries/scheme/highlights.scm
Labels: A-tree-sitter

feat: add `docker-bake` language
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/docker-bake/folds.scm
  runtime/queries/docker-bake/highlights.scm
  runtime/queries/docker-bake/indents.scm
  runtime/queries/docker-bake/injections.scm
  runtime/queries/docker-bake/rainbows.scm
  runtime/queries/docker-bake/tags.scm
  runtime/queries/docker-bake/textobjects.scm
Labels: A-tree-sitter

feat: add `docker-language-server`
  book/src/generated/lang-support.md
  languages.toml
Labels: none

Add command yank-hunk-before
  book/src/generated/typable-cmd.md
  helix-term/src/commands/typed.rs
Labels: A-helix-term

Run 'cargo xtask docgen'
  book/src/generated/lang-support.md
Labels: none

Add Expert LSP support for Elixir and Heex languages (#14395)
  book/src/generated/lang-support.md
  languages.toml
Labels: none

deploy: b3911857169732798512c60b3ab0d90e03645e41
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

feat: add `docker-bake` language
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/docker-bake/folds.scm
  runtime/queries/docker-bake/highlights.scm
  runtime/queries/docker-bake/indents.scm
  runtime/queries/docker-bake/injections.scm
  runtime/queries/docker-bake/rainbows.scm
  runtime/queries/docker-bake/tags.scm
  runtime/queries/docker-bake/textobjects.scm
Labels: A-tree-sitter

feat: add `docker-language-server`
  book/src/generated/lang-support.md
  languages.toml
Labels: none

deploy: 8058fefef0c78486487df790b7119b38154c152e
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

queries(scheme): more consistently indent with two spaces
  runtime/queries/scheme/highlights.scm
Labels: A-tree-sitter

queries(scheme): mark the variables of do as `@variable`
  runtime/queries/scheme/highlights.scm
Labels: A-tree-sitter

queries(scheme): convert a #match? to a #any-of?
  runtime/queries/scheme/highlights.scm
Labels: A-tree-sitter

feat(languages): add `gitlab-ci` language specialized from `yaml`
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/gitlab-ci/highlights.scm
  runtime/queries/gitlab-ci/indents.scm
  runtime/queries/gitlab-ci/injections.scm
  runtime/queries/gitlab-ci/rainbows.scm
  runtime/queries/gitlab-ci/tags.scm
  runtime/queries/gitlab-ci/textobjects.scm
  runtime/queries/yaml/injections.scm
Labels: A-tree-sitter

feat(bash): add init scripts for `xinit` and `startx` to bash file-types
  languages.toml
Labels: none

feat(helix-tui): add configuration to manually enable/disable KKP support
  helix-tui/src/backend/termina.rs
  helix-tui/src/terminal.rs
  helix-view/src/editor.rs
Labels: none

fix(queries/svelte): use helix compatible scopes
  runtime/queries/svelte/highlights.scm
Labels: A-tree-sitter

fix(queries/svelte): add injection language for style tag without lang attribute
  runtime/queries/svelte/injections.scm
Labels: A-tree-sitter

fix(queries/svelte): use helix compatible scopes
  runtime/queries/svelte/indents.scm
Labels: A-tree-sitter

feat(languages): switch svelte tree-sitter to tree-sitter-grammars/tree-sitter-svelte
  languages.toml
Labels: none

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
