Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

Updated Godot support (#11235)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/gdscript/highlights.scm
  runtime/queries/gdscript/indents.scm
  runtime/queries/gdscript/textobjects.scm
  runtime/queries/godot-resource/injections.scm
  runtime/queries/godot-resource/textobjects.scm
Labels: A-tree-sitter

deploy: b19551b11bc00ecd7386f6d9c420f373bfe3f377
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

fix faccess and save_impl
  helix-stdx/src/faccess.rs
  helix-view/src/document.rs
Labels: none

clippy
  helix-stdx/src/faccess.rs
  helix-view/src/document.rs
Labels: none

fix CI
  helix-stdx/src/faccess.rs
Labels: none

remove old copy_metadata call
  helix-view/src/document.rs
Labels: none

fix ci
  helix-stdx/src/faccess.rs
Labels: none

fix copy_metadata
  helix-stdx/src/faccess.rs
Labels: none

Add rust formatter
  languages.toml
Labels: none

fix move panic
  helix-lsp/src/client.rs
Labels: A-language-server

add verilog comment textobjects
  runtime/queries/verilog/textobjects.scm
Labels: A-tree-sitter

Update runtime/queries/rescript/locals.scm
  runtime/queries/rescript/locals.scm
Labels: A-tree-sitter

chore: clean up clippy lints
  helix-core/src/auto_pairs.rs
  helix-core/src/indent.rs
  helix-core/src/syntax.rs
  helix-stdx/src/faccess.rs
  helix-term/build.rs
  helix-term/src/application.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/commands/typed.rs
  helix-term/src/main.rs
  helix-tui/src/text.rs
  helix-view/src/document.rs
  helix-view/src/handlers/dap.rs
  helix-view/src/handlers/lsp.rs
Labels: A-core, A-helix-term

refactor(commands): switch to `from_utf8_lossy`
  helix-term/src/commands.rs
Labels: A-helix-term

refactor: no longer log stderr output on failure
  helix-term/src/commands.rs
Labels: A-helix-term

change location of is initialized check
  helix-lsp/src/client.rs
  helix-view/src/editor.rs
Labels: A-language-server

Add gherkin syntax highlighting
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/gherkin/highlights.scm
Labels: A-tree-sitter

chore: clean up clippy lints (#11377)
  helix-core/src/auto_pairs.rs
  helix-core/src/indent.rs
  helix-core/src/syntax.rs
  helix-stdx/src/faccess.rs
  helix-term/build.rs
  helix-term/src/application.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/commands/typed.rs
  helix-term/src/main.rs
  helix-tui/src/text.rs
  helix-view/src/document.rs
  helix-view/src/handlers/dap.rs
  helix-view/src/handlers/lsp.rs
Labels: A-core, A-helix-term

fix :move panic when starting a new language server (#11387)
  helix-view/src/editor.rs
Labels: none

output `stderr` in `:sh` popup if shell commands fail (#11239)
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
Labels: A-helix-term

fix(commands): typos in code comments
  helix-term/src/commands.rs
Labels: A-helix-term

refactor(shellwords): change arg handling strategy
  helix-core/src/shellwords.rs
  helix-term/src/commands/typed.rs
Labels: A-core, A-helix-term

refactor(commands): propogate `Args` changes
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
Labels: A-helix-term

refactor(commands): use `Args::raw` over `fold`ing
  helix-term/src/commands/typed.rs
Labels: A-helix-term

refactor(commands): change `MappableCommand` `args` from `Vec<String>` to String
  helix-term/src/commands.rs
  helix-term/src/keymap.rs
Labels: A-helix-term, A-keymap

ignore build reports
  .gitignore
Labels: none

Update fsharp tree sitter repo reference
  languages.toml
  runtime/queries/fsharp/highlights.scm
  runtime/queries/fsharp/injections.scm
  runtime/queries/fsharp/locals.scm
Labels: A-tree-sitter

Apply suggestions from code review
  helix-term/src/commands.rs
Labels: A-helix-term

show error on select_regex with no match
  helix-term/src/commands.rs
Labels: A-helix-term

Update HTML highlights
  runtime/queries/html/highlights.scm
Labels: A-tree-sitter

Add statusline errors when nothing is selected with `s`, `K`, `A-K` (#11370)
  helix-term/src/commands.rs
Labels: A-helix-term

fchown on unix
  helix-stdx/src/faccess.rs
Labels: none

feat(statusline): support display `relative path`
  helix-term/src/ui/picker.rs
  helix-term/src/ui/statusline.rs
  helix-vcs/src/git.rs
  helix-vcs/src/lib.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-helix-term, A-vcs

feat: add thrift hightlight
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/thrift/folds.scm
  runtime/queries/thrift/highlights.scm
  runtime/queries/thrift/injections.scm
  runtime/queries/thrift/locals.scm
Labels: A-tree-sitter

Add TypeSpec support
  languages.toml
  runtime/queries/typespec/highlights.scm
  runtime/queries/typespec/indents.scm
  runtime/queries/typespec/injections.scm
  runtime/queries/typespec/textobjects.scm
Labels: A-tree-sitter

Resolve PR comments
  book/src/generated/lang-support.md
  runtime/queries/typespec/highlights.scm
Labels: A-tree-sitter

Update after review comments
  runtime/queries/html/highlights.scm
Labels: A-tree-sitter

fix(picker): no longer `trim` search pattern
  helix-term/src/ui/picker/query.rs
Labels: A-helix-term

Add support for configuring clipboard used for mouse yank
  book/src/editor.md
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-term/src/ui/editor.rs
  helix-view/src/editor.rs
Labels: A-helix-term

dark_plus: add picker highlights, update underlined modifier syntax, and tweak a few settings
  runtime/themes/dark_plus.toml
Labels: A-theme
