Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

shrink_selection without history selects first contained child
  helix-core/src/object.rs
  helix-core/src/selection.rs
  helix-term/tests/test/commands/movement.rs
Labels: A-core, A-helix-term

backfill expand/shrink tests
  helix-term/tests/test/commands/movement.rs
Labels: A-helix-term

backfill auto pair delete tests
  helix-term/tests/test/auto_pairs.rs
Labels: A-helix-term

account for overlapping deletes
  helix-core/src/auto_pairs.rs
  helix-core/src/transaction.rs
  helix-term/tests/test/auto_pairs.rs
Labels: A-core, A-helix-term

Delete pairs with multi-char-range selections
  helix-core/src/auto_pairs.rs
  helix-core/src/transaction.rs
  helix-term/src/commands.rs
  helix-term/tests/test/auto_pairs.rs
Labels: A-core, A-helix-term

insert double whitespace inside pair
  helix-core/src/auto_pairs.rs
  helix-term/tests/test/auto_pairs.rs
Labels: A-core, A-helix-term

Add Transaction::change_by_and_with_selection
  helix-core/src/auto_pairs.rs
  helix-core/src/transaction.rs
Labels: A-core

Change auto pair hook to operate on single changes
  helix-core/src/auto_pairs.rs
  helix-core/src/transaction.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

add delete_by_and_with_selection
  helix-core/src/auto_pairs.rs
  helix-core/src/transaction.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

fix as-is tests
  helix-term/tests/test/auto_pairs.rs
Labels: A-helix-term

fix: escaped negative pattern
  helix-core/src/syntax/config.rs
Labels: A-core

fix: typo negative root pattern builder
  helix-core/src/syntax/config.rs
  helix-lsp/src/lib.rs
Labels: A-core, A-language-server

feat: allow customizing diff gutter characters
  book/src/editor.md
  helix-view/src/editor.rs
  helix-view/src/gutter.rs
Labels: none

move integration test into insert module, use test_with_config
  helix-term/tests/integration.rs
  helix-term/tests/test/commands/insert.rs
  helix-term/tests/test/history.rs
Labels: A-helix-term

Append changes to history on jumps (#13619)
  helix-term/src/commands.rs
  helix-term/tests/test/commands/insert.rs
Labels: A-helix-term

feat: New command `:paste-join`
  book/src/generated/typable-cmd.md
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-term/tests/test/commands.rs
  helix-term/tests/test/commands/paste_join.rs
Labels: A-helix-term

feat: Add static commands for paste-join
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-term/src/keymap/default.rs
  helix-term/tests/test/commands/paste_join.rs
Labels: A-helix-term, A-keymap

fix: incorrect order of parameters
  helix-term/src/commands.rs
Labels: A-helix-term

feat: Add default keymap for `yank_joined`
  book/src/generated/static-cmd.md
  helix-term/src/keymap/default.rs
Labels: A-helix-term, A-keymap

feat: remove the default keybindings
  book/src/generated/static-cmd.md
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
Labels: A-helix-term, A-keymap

test: remove tests for removed default keybindings
  helix-term/tests/test/commands/paste_join.rs
Labels: A-helix-term

Calculate width according to the line composer
  helix-tui/src/widgets/paragraph.rs
Labels: none

Make signature_help more like hover, fix overflow and lack of scrolling in signature_help (#13566)
  helix-term/src/ui/lsp/signature_help.rs
  helix-tui/src/widgets/paragraph.rs
Labels: A-helix-term

DAP now has a registry which operates very similar to the LSP registry.
  Cargo.lock
  Cargo.toml
  helix-dap/Cargo.toml
  helix-dap/src/client.rs
  helix-dap/src/debuger_service.rs
  helix-dap/src/lib.rs
  helix-dap/src/registry.rs
  helix-dap/src/transport.rs
  helix-lsp/Cargo.toml
  helix-term/src/commands/dap.rs
  helix-term/src/commands/typed.rs
  helix-view/src/editor.rs
  helix-view/src/handlers/dap.rs
Labels: A-debug-adapter, A-helix-term, A-language-server

Move connection type to types
  helix-dap/src/client.rs
  helix-dap/src/lib.rs
  helix-dap/src/types.rs
  helix-view/src/handlers/dap.rs
Labels: A-debug-adapter

change restart_art back to value and match based on presence plus boolean value within
  helix-dap/src/types.rs
  helix-view/src/handlers/dap.rs
Labels: A-debug-adapter

derive Deserialize for connectionType
  helix-dap/src/types.rs
Labels: A-debug-adapter

change back to not setting args
  languages.toml
Labels: none

revert thread_id name
  helix-dap/src/client.rs
  helix-term/src/commands/dap.rs
  helix-term/src/commands/typed.rs
  helix-view/src/handlers/dap.rs
Labels: A-debug-adapter, A-helix-term

Introduce DebuggerService to hold multiple debuggers
  helix-dap/src/client.rs
  helix-dap/src/debuger_service.rs
  helix-dap/src/lib.rs
  helix-dap/src/transport.rs
  helix-term/src/application.rs
  helix-term/src/commands/dap.rs
  helix-term/src/commands/typed.rs
  helix-view/src/editor.rs
  helix-view/src/handlers/dap.rs
Labels: A-debug-adapter, A-helix-term

add terminate functionality and set terminate to call that.
  helix-dap/src/client.rs
  helix-dap/src/types.rs
  helix-term/src/commands/dap.rs
  helix-view/src/handlers/dap.rs
Labels: A-debug-adapter, A-helix-term

remove duplicated title
  languages.toml
Labels: none

[Draft] - Implement support for the startDebugging request
  helix-dap/src/client.rs
  helix-dap/src/lib.rs
  helix-dap/src/types.rs
  helix-term/src/commands/dap.rs
  helix-view/src/handlers/dap.rs
Labels: A-debug-adapter, A-helix-term

use human-readable sizes for file size on save/write
  helix-term/src/application.rs
Labels: A-helix-term

use human-readable sizes pls
  helix-term/src/application.rs
Labels: A-helix-term

speed up the keymap api
  helix-term/src/commands/engine/steel.rs
Labels: A-helix-term

clean up
  helix-term/src/commands/engine/steel.rs
Labels: A-helix-term

update steel
  Cargo.lock
Labels: none

add missing bufferline option
  helix-term/src/commands/engine/steel.rs
Labels: A-helix-term

refactor: tokio::fs instead of std, idiomatic error handling
  helix-view/src/document.rs
Labels: none

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
