Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

runtime: add Clean language queries (highlights, injections, textobjects)
  runtime/queries/clean/highlights.scm
  runtime/queries/clean/injections.scm
  runtime/queries/clean/textobjects.scm
Labels: A-tree-sitter

Fix Python indent after definition header
  helix-core/src/indent.rs
  helix-core/tests/data/indent/languages.toml
  helix-core/tests/indent.rs
Labels: A-core

Support opentofu language server and custom file extension
  book/src/generated/lang-support.md
  languages.toml
Labels: none

Use glob pattern to detect multi component file extensions
  languages.toml
Labels: none

fix(dap): configuration done body is not required (#15993)
  helix-dap/src/client.rs
Labels: A-debug-adapter

fix(dap): type ack response bodies as optional structs
  helix-dap-types/src/lib.rs
  helix-dap/src/client.rs
Labels: A-debug-adapter

chore: fixups
  book/src/themes.md
  runtime/queries/go/highlights.scm
  tests/query/highlights/go/constructs.go
Labels: A-tree-sitter

feat(lsp): workspace diagnostics
  helix-lsp/src/client.rs
  helix-term/src/application.rs
  helix-term/src/handlers/diagnostics.rs
  helix-view/src/editor.rs
Labels: A-helix-term, A-language-server

fix(lsp): query all active language servers for workspace symbols
  helix-term/src/commands/lsp.rs
Labels: A-helix-term

feat(commands): restore_hunk
  book/src/generated/static-cmd.md
  helix-term/src/commands.rs
Labels: A-helix-term

Implement flash commands
  book/src/generated/static-cmd.md
  helix-term/src/commands.rs
Labels: A-helix-term

Fixed jump labels not clearing on Enter
  helix-term/src/commands.rs
Labels: A-helix-term

perf(helix-tui): stream terminal buffer diff
  helix-tui/src/backend/test.rs
  helix-tui/src/buffer.rs
  helix-tui/src/terminal.rs
Labels: none

refactor(compositor): use `TypeId` instead of `type_name`
  helix-term/src/application.rs
  helix-term/src/compositor.rs
  helix-term/src/ui/menu.rs
  helix-term/src/ui/popup.rs
Labels: A-helix-term

fix: Use helix capturing groups name
  runtime/queries/angular/folds.scm
  runtime/queries/angular/highlights.scm
  runtime/queries/angular/indents.scm
  runtime/queries/angular/rainbows.scm
Labels: A-tree-sitter

fix: Disable default Angular file type associations
  languages.toml
Labels: none

fix: variables in for loops were incorrectly being captured
  runtime/queries/angular/highlights.scm
Labels: A-tree-sitter

fix(ui/prompt): cache history suggestion to avoid repeated reads
  helix-term/src/ui/prompt.rs
Labels: A-helix-term

feat: fix multiple set-option commands in keybinding sequences
  helix-term/src/application.rs
  helix-term/src/commands/typed.rs
  helix-view/src/editor.rs
Labels: A-helix-term

test: add integration tests for multi set-option command sequences
  helix-term/src/application.rs
  helix-term/tests/integration.rs
  helix-term/tests/test/config.rs
Labels: A-helix-term

Add gitbase-picker feature
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-term/src/ui/statusline.rs
  helix-term/tests/test/commands.rs
  helix-vcs/src/git.rs
  helix-vcs/src/git/test.rs
  helix-vcs/src/lib.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
  port_missing_features.sh
Labels: A-helix-term, A-vcs

Port additional gitbase-picker enhancements from backup branch
  helix-term/src/commands/typed.rs
  helix-vcs/src/git.rs
  helix-vcs/src/git/test.rs
  helix-vcs/src/lib.rs
Labels: A-helix-term, A-vcs

Add git commit parser feature like HEAD~2
  Cargo.lock
  helix-term/src/commands/typed.rs
  helix-vcs/Cargo.toml
  helix-vcs/src/git.rs
Labels: A-helix-term, A-vcs

fix(lints): clippy 1.97.0
  helix-core/src/auto_pairs.rs
  helix-core/src/movement.rs
  helix-dap/src/transport.rs
  helix-loader/src/grammar.rs
  helix-lsp-types/src/semantic_tokens.rs
  helix-lsp/src/file_event.rs
  helix-lsp/src/transport.rs
  helix-term/src/commands.rs
  helix-term/src/keymap.rs
  helix-term/src/ui/prompt.rs
  helix-tui/src/backend/termina.rs
  helix-tui/src/buffer.rs
  helix-tui/src/widgets/reflow.rs
  helix-view/src/document.rs
  helix-view/src/theme.rs
Labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server

added kanata language entry
  languages.toml
Labels: none

added kanata queries
  runtime/queries/kanata/folds.scm
  runtime/queries/kanata/highlights.scm
  runtime/queries/kanata/indents.scm
  runtime/queries/kanata/injections.scm
  runtime/queries/kanata/textobjects.scm
Labels: A-tree-sitter

added kanata table entry
  book/src/generated/lang-support.md
Labels: none

fix: package_managers.dependabot.dependabot-missing-cooldown.dependabot-missing-cooldown security vulnerability
  .github/dependabot.yml
Labels: none

feat: statusline item, simplify URI conversion
  helix-term/src/handlers/diagnostics.rs
  helix-view/src/editor.rs
Labels: A-helix-term

Add the official Typescript Language Server and make it the default
  languages.toml
Labels: none

Run docgen
  book/src/generated/lang-support.md
Labels: none

updated to codeberg source
  languages.toml
  runtime/queries/kanata/folds.scm
  runtime/queries/kanata/highlights.scm
  runtime/queries/kanata/indents.scm
  runtime/queries/kanata/injections.scm
  runtime/queries/kanata/locals.scm
  runtime/queries/kanata/textobjects.scm
Labels: A-tree-sitter

Disable formatting
  languages.toml
Labels: none

Fix tutor exercise 8.1
  runtime/tutor
Labels: none

docs: fix themes link in adding-languages guide
  book/src/guides/adding_languages.md
Labels: none

doc: add SAFETY comment to tree-house::Grammar::new
  helix-loader/src/grammar.rs
Labels: none

Add Pyfun language support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/pyfun/highlights.scm
  runtime/queries/pyfun/injections.scm
Labels: A-tree-sitter

add linkerscript language
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/linkerscript/folds.scm
  runtime/queries/linkerscript/highlights.scm
  runtime/queries/linkerscript/indents.scm
  runtime/queries/linkerscript/injections.scm
  runtime/queries/linkerscript/locals.scm
  runtime/queries/linkerscript/rainbows.scm
Labels: A-tree-sitter

Avoid OSC11/111 within Ghostty
  helix-tui/src/backend/termina.rs
Labels: none

feat: add default keybindings for rotate_view_reverse
  book/src/generated/static-cmd.md
  book/src/keymap.md
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
  helix-term/tests/test/splits.rs
Labels: A-helix-term, A-keymap

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
