Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

Move property before function_call
  runtime/queries/lua/highlights.scm
Labels: A-tree-sitter

refactor: inherit kinda_nvim from the ligth theme
  runtime/themes/kinda_nvim.toml
  runtime/themes/kinda_nvim_light.toml
Labels: A-theme

sonokai: remove unused "boolean" key
  runtime/themes/sonokai.toml
Labels: A-theme

Add pug language
  languages.toml
Labels: none

Update svelte tree sitter commit
  languages.toml
Labels: none

start working on some docs
  helix-term/src/commands/engine/steel.rs
Labels: A-helix-term

update steel
  Cargo.lock
Labels: none

Update svelte tree sitter commit (#13423)
  languages.toml
Labels: none

feat(theme): add kinda_nvim theme (#13406)
  runtime/themes/kinda_nvim.toml
  runtime/themes/kinda_nvim_light.toml
  runtime/themes/licenses/kinda_nvim.LICENSE
Labels: A-theme

sonokai: fix constant.builtin highlights (#13410)
  runtime/themes/sonokai.toml
Labels: A-theme

Add highlighting for lua methods (#13401)
  runtime/queries/lua/highlights.scm
Labels: A-tree-sitter

fix(highlights/go): defer, go, goto are keywords
  runtime/queries/go/highlights.scm
Labels: A-tree-sitter

feat: add roots option to language-server config
  book/src/languages.md
  helix-core/src/syntax.rs
  helix-lsp/src/lib.rs
  languages.toml
Labels: A-core, A-language-server

setup embedding
  helix-term/src/commands/engine/steel.rs
Labels: A-helix-term

remove debug prints
  helix-term/src/commands/engine.rs
Labels: A-helix-term

fix(highlights/go): defer, go, goto are keywords (#13425)
  runtime/queries/go/highlights.scm
Labels: A-tree-sitter

edits
  helix-term/src/ui/mod.rs
Labels: A-helix-term

Improve auto completion for shell commands (#12883)
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-term/src/ui/mod.rs
Labels: A-helix-term

queries: Fix precedence for zero-arity erlang macros
  runtime/queries/erlang/highlights.scm
Labels: A-tree-sitter

Expand buffer_name variable in format command
  helix-view/src/document.rs
Labels: none

Substitute filename in format command arguments
  helix-view/src/document.rs
Labels: none

Stack picker and preview vertically if too narrow
  helix-term/src/ui/picker.rs
Labels: A-helix-term

clippy
  helix-view/src/input.rs
Labels: none

fix rebase
  helix-view/src/input.rs
Labels: none

fix: long pressed keys on hidapi
  helix-view/src/scancode.rs
Labels: none

style: format
  helix-term/build.rs
  helix-view/build.rs
Labels: A-helix-term

fix: listen events from ungrabbed keyboard evdev devices
  helix-view/Cargo.toml
  helix-view/src/scancode.rs
Labels: none

fix: rename var
  helix-view/src/scancode.rs
Labels: none

fix: dont use sancode on macros replaying
  helix-term/src/ui/editor.rs
Labels: A-helix-term

map keyboard scancode to KeyCode
  Cargo.lock
  helix-term/Cargo.toml
  helix-term/src/commands.rs
  helix-term/src/ui/editor.rs
  helix-view/Cargo.toml
  helix-view/src/editor.rs
  helix-view/src/input.rs
  helix-view/src/lib.rs
  helix-view/src/scancode.rs
Labels: A-helix-term

evdev to fetch keyboard events
  helix-term/Cargo.toml
  helix-term/build.rs
  helix-term/src/commands.rs
  helix-term/src/ui/editor.rs
  helix-view/Cargo.toml
  helix-view/build.rs
  helix-view/src/editor.rs
  helix-view/src/lib.rs
  helix-view/src/scancode.rs
Labels: A-helix-term

feat: hidapi to listen keyboard events
  Cargo.lock
  helix-term/Cargo.toml
  helix-term/build.rs
  helix-view/Cargo.toml
  helix-view/build.rs
  helix-view/src/scancode.rs
Labels: A-helix-term

chore: sync cargo lock
  Cargo.lock
Labels: none

Changed rust-analyzer configuration to use server-side file watching
  languages.toml
Labels: none

LSP: Fix `Client::supports_feature` check for 'colorProvider'
  helix-lsp/src/client.rs
Labels: A-language-server

docs: Use `<pre><code>..</pre></code>` tags for escaping markdown block
  helix-lsp-types/src/lib.rs
Labels: none

chore(msrv): bump from 1.76 to 1.82 (#13275)
  .github/workflows/build.yml
  Cargo.toml
  helix-event/src/test.rs
  helix-lsp-types/src/lib.rs
  helix-stdx/tests/path.rs
  rust-toolchain.toml
Labels: none

reduce indentation level
  helix-lsp/src/lib.rs
Labels: A-language-server

feat: add config for disable autostart LSP
  book/src/editor.md
  helix-lsp/src/lib.rs
  helix-view/src/editor.rs
Labels: A-language-server

Allow any kind of expansion
  helix-core/src/command_line.rs
  helix-term/src/commands/typed.rs
  helix-view/src/document.rs
Labels: A-core, A-helix-term

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
