Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

Don't panic in current_working_dir when the cwd is gone
  helix-stdx/src/env.rs
Labels: none

Replace range panic in update_positions with clamping (fixes #15785)
  helix-core/src/transaction.rs
Labels: A-core

Deduplicate goto locations from multiple language servers
  helix-core/src/uri.rs
  helix-lsp/src/lib.rs
  helix-term/src/commands/lsp.rs
Labels: A-core, A-helix-term, A-language-server

languages: add `vtsls` language server
  languages.toml
Labels: none

fix(lsp): dispatch workspace symbols on all initialized servers
  helix-term/src/commands.rs
  helix-term/src/commands/lsp.rs
Labels: A-helix-term

Save and restore prompt draft when navigating input history
  helix-term/src/ui/prompt.rs
Labels: A-helix-term

languages: add `oxfmt-language-server`
  languages.toml
Labels: none

fix(runtime/queries/go): regex string injections (#15996)
  runtime/queries/go/injections.scm
Labels: A-tree-sitter

feat(runtime/queries/go): public functions and methods (#15997)
  book/src/themes.md
  runtime/queries/go/highlights.scm
  tests/query/highlights/go/constructs.go
Labels: A-tree-sitter

deploy: f6f3eb1fe4a73933466f30175843059a4381a985
  master/404.html
  master/building-from-source.html
  master/command-line.html
  master/commands.html
  master/configuration.html
  master/ecosystem.html
  master/editor.html
  master/from-vim.html
  master/guides/adding_languages.html
  master/guides/highlights.html
  master/guides/indent.html
  master/guides/index.html
  master/guides/injection.html
  master/guides/locals.html
  master/guides/rainbow_bracket_queries.html
  master/guides/tags.html
  master/guides/textobject.html
  master/index.html
  master/install.html
  master/jumplist.html
  master/keymap.html
  master/lang-support.html
  master/languages.html
  master/lsp.html
  master/other-software.html
  master/package-managers.html
  master/pickers.html
  master/print.html
  master/registers.html
  master/remapping.html
  master/searcher-09f2665d.js
  master/searchindex-2fe1c435.js
  master/searchindex-d5644ee6.js
  master/surround.html
  master/syntax-aware-motions.html
  master/textobjects.html
  master/themes.html
  master/title-page.html
  master/usage.html
  master/workspace-trust.html
Labels: none

feat(queries:git-config): inject `bash` in some fields
  runtime/queries/git-config/injections.scm
Labels: A-tree-sitter

fix(queries:git-config): update as per review
  runtime/queries/git-config/injections.scm
Labels: A-tree-sitter

prompt: right arrow fills history hint for editing
  helix-term/src/ui/prompt.rs
  helix-term/tests/test/command_line.rs
Labels: A-helix-term

feat(theme): Add franky dark theme
  runtime/themes/franky.toml
Labels: A-theme

Add an overtype feature to the insert mode
  book/src/generated/static-cmd.md
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
  helix-term/src/ui/statusline.rs
  helix-view/src/editor.rs
Labels: A-helix-term, A-keymap

Add an overtype feature to the insert mode
  book/src/generated/static-cmd.md
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
  helix-term/src/ui/statusline.rs
  helix-view/src/editor.rs
Labels: A-helix-term, A-keymap

chore(nsis): bump tree-sitter-nsis to v0.4.0
  languages.toml
Labels: none

refactor(nsis): refine syntax scopes
  runtime/queries/nsis/highlights.scm
Labels: A-tree-sitter

typo: `request_document_diagnostics_for_language_se{,r}vers`
  helix-term/src/handlers/diagnostics.rs
Labels: A-helix-term

languages: uxntal: don't auto-pairs quotes
  languages.toml
Labels: none

grammars: update Just to support latest versions
  languages.toml
  runtime/queries/just/highlights.scm
  runtime/queries/just/injections.scm
  runtime/queries/just/locals.scm
  runtime/queries/just/tags.scm
  runtime/queries/just/textobjects.scm
Labels: A-tree-sitter

themes, grammars: uniformize on `comment.{line,block}.documentation`
  runtime/queries/haskell/highlights.scm
  runtime/queries/nix/highlights.scm
  runtime/queries/nu/highlights.scm
  runtime/themes/atlas-ragnarok.toml
  runtime/themes/doom-one.toml
  runtime/themes/eldritch.toml
  runtime/themes/flatwhite.toml
  runtime/themes/lapis_aquamarine.toml
  runtime/themes/nvchad_solarized_dark.toml
  runtime/themes/vim_dark_high_contrast.toml
Labels: A-theme, A-tree-sitter

Feedback.
  helix-stdx/src/env.rs
Labels: none

feat(lsp): add call hierarchy picker
  book/src/generated/static-cmd.md
  helix-term/src/commands.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/ui/mod.rs
  helix-term/src/ui/picker.rs
  helix-tui/src/widgets/mod.rs
  helix-tui/src/widgets/tree.rs
Labels: A-helix-term

fix: alignment whitespace should honor indent style
  helix-core/src/indent.rs
  helix-core/tests/indent.rs
Labels: A-core

update steel to fix thread spawning bug
  Cargo.lock
Labels: none

feat(helix-term): open from global search selects search term
  helix-term/src/commands.rs
Labels: A-helix-term

Detect aerc email client config files as language ini
  languages.toml
Labels: none

Inject regex into html input tag pattern attribute
  runtime/queries/html/injections.scm
Labels: A-tree-sitter

docs(commands): say copy selection onto next/prev line
  book/src/generated/static-cmd.md
  helix-term/src/commands.rs
Labels: A-helix-term

feat: Don't block the UI on prompt completions
  helix-core/src/command_line.rs
  helix-term/src/commands/typed.rs
  helix-term/src/ui/mod.rs
  helix-term/src/ui/prompt.rs
Labels: A-core, A-helix-term

fix(dap): Don't fetch expensive scopes
  helix-term/src/commands/dap.rs
Labels: A-helix-term

docs: new line on instructions for Helix tutor access
  book/src/usage.md
Labels: none

queries/nix: highlight function arguments in known higher-order calls
  runtime/queries/nix/highlights.scm
  tests/query/highlights/nix/calls.nix
Labels: A-tree-sitter

accessibility: Add an option to make the terminal cursor follow selected rows in pickers instead of staying in the prompt
  book/src/editor.md
  helix-term/src/ui/picker.rs
  helix-view/src/editor.rs
Labels: A-helix-term

docs(commands): fix selection-contents and prev-sibling wording
  book/src/generated/static-cmd.md
  helix-term/src/commands.rs
Labels: A-helix-term

Inject regex into html input tag pattern attribute (#16063)
  runtime/queries/html/injections.scm
Labels: A-tree-sitter

queries/nix: highlight function arguments in known higher-order calls (#16068)
  runtime/queries/nix/highlights.scm
  tests/query/highlights/nix/calls.nix
Labels: A-tree-sitter

typo: `request_document_diagnostics_for_language_se{,r}vers` (#16025)
  helix-term/src/handlers/diagnostics.rs
Labels: A-helix-term

themes, grammars: uniformize on `comment.{line,block}.documentation` (#16060)
  runtime/queries/haskell/highlights.scm
  runtime/queries/nix/highlights.scm
  runtime/queries/nu/highlights.scm
  runtime/themes/atlas-ragnarok.toml
  runtime/themes/doom-one.toml
  runtime/themes/eldritch.toml
  runtime/themes/flatwhite.toml
  runtime/themes/lapis_aquamarine.toml
  runtime/themes/nvchad_solarized_dark.toml
  runtime/themes/vim_dark_high_contrast.toml
Labels: A-theme, A-tree-sitter

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
