Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

Pull diagnostics
  helix-core/src/syntax.rs
  helix-lsp/src/client.rs
  helix-lsp/src/lib.rs
  helix-term/src/application.rs
  helix-term/src/handlers.rs
  helix-term/src/handlers/diagnostics.rs
  helix-view/src/document.rs
  helix-view/src/handlers.rs
  helix-view/src/handlers/lsp.rs
Labels: A-core, A-helix-term, A-language-server

Remove related documents changes
  helix-term/src/handlers/diagnostics.rs
Labels: A-helix-term

Update document by path
  helix-term/src/handlers/diagnostics.rs
Labels: A-helix-term

Cancel ongoing pull diagnostic events
  helix-lsp/src/client.rs
  helix-term/src/application.rs
  helix-term/src/handlers/diagnostics.rs
Labels: A-helix-term, A-language-server

Update tree-sitter-v, fix breaking changes
  languages.toml
  runtime/queries/v/highlights.scm
  runtime/queries/v/injections.scm
  runtime/queries/v/textobjects.scm
Labels: A-tree-sitter

Update tree-sitter-v (#13469)
  languages.toml
  runtime/queries/v/highlights.scm
  runtime/queries/v/injections.scm
  runtime/queries/v/textobjects.scm
Labels: A-tree-sitter

fix: soft-wrap eaten 2-width punctuations;
  helix-core/src/doc_formatter.rs
  helix-core/src/doc_formatter/test.rs
Labels: A-core

Add separate event for pulling visible documents diagnostics
  helix-term/src/handlers.rs
  helix-term/src/handlers/diagnostics.rs
  helix-view/src/handlers.rs
  helix-view/src/handlers/lsp.rs
Labels: A-helix-term

feat: add 'my-languages' option to hx --health
  helix-loader/src/grammar.rs
  helix-term/src/health.rs
  helix-term/src/main.rs
Labels: A-helix-term

feat: add wgsl built-in functions to `@function.builtin` (#13479)
  runtime/queries/wgsl/highlights.scm
Labels: A-tree-sitter

xtask: Allow passing languages and themes to check
  xtask/src/main.rs
Labels: none

Update Bash highlights (#13477)
  languages.toml
  runtime/queries/bash/highlights.scm
Labels: A-tree-sitter

feat(core): add `tree-sitter-breadcrumbs` command
  helix-core/src/indent.rs
  helix-term/src/commands/typed.rs
Labels: A-core, A-helix-term

verilog: add highlighting for the "var" keyword
  runtime/queries/verilog/highlights.scm
Labels: A-tree-sitter

Show the primary selection index on statusline
  book/src/editor.md
  helix-term/src/ui/statusline.rs
Labels: A-helix-term

default.nix: remove ellipsis in argument attrset
  default.nix
Labels: none

flake: checks: build the release package
  flake.nix
Labels: none

flake: drop flake-utils dependency
  flake.lock
  flake.nix
Labels: none

flake: drop flake-utils dependency
  flake.lock
  flake.nix
Labels: none

default.nix: remove ellipsis in argument attrset
  default.nix
Labels: none

flake: checks: build the release package
  flake.nix
Labels: none

fix: remove `<tab>` hint
  helix-term/src/ui/editor.rs
Labels: A-helix-term

fix: replace `<tab>` with `<space>`
  helix-term/src/ui/editor.rs
Labels: A-helix-term

Add option to disable sorting in file picker.
  book/src/editor.md
  helix-term/src/ui/mod.rs
  helix-view/src/editor.rs
Labels: A-helix-term

bump: tree-sitter-cpp
  languages.toml
Labels: none

refactor: rename to pad_selection_index_register
  book/src/editor.md
  helix-view/src/editor.rs
  helix-view/src/register.rs
Labels: none

refactor: rewrite if else
  helix-view/src/register.rs
Labels: none

feat(selection-indices): zero pad according to max number of digits.
  book/src/editor.md
  helix-view/src/editor.rs
  helix-view/src/register.rs
Labels: none

fix: typos
  docs/CONTRIBUTING.md
  flake.nix
  helix-core/src/indent.rs
  helix-core/src/position.rs
  helix-lsp-types/src/document_symbols.rs
  helix-term/src/ui/text_decorations.rs
  helix-term/src/ui/text_decorations/diagnostics.rs
  helix-view/src/annotations/diagnostics.rs
  helix-view/src/document.rs
  helix-view/src/view.rs
Labels: A-core, A-helix-term

fix: typo
  helix-view/src/document.rs
Labels: none

chore: clean up grammars.nix
  grammars.nix
Labels: none

fix: nullptr being a c23 keyword, it was moved next to NULL as a C constant
  runtime/queries/cpp/highlights.scm
Labels: A-tree-sitter

cleanup
  helix-term/src/commands/engine/steel.rs
Labels: A-helix-term

chore: clean up grammars.nix (#13506)
  grammars.nix
Labels: none

bump: tree-sitter-cpp (#13504)
  languages.toml
  runtime/queries/cpp/highlights.scm
Labels: A-tree-sitter

verilog: add highlighting for the "var" keyword (#13493)
  runtime/queries/verilog/highlights.scm
Labels: A-tree-sitter

revert changes
  helix-core/src/indent.rs
  helix-core/src/position.rs
  helix-lsp-types/src/document_symbols.rs
  helix-term/src/ui/text_decorations.rs
  helix-term/src/ui/text_decorations/diagnostics.rs
  helix-view/src/annotations/diagnostics.rs
  helix-view/src/document.rs
  helix-view/src/view.rs
Labels: A-core, A-helix-term

revert change
  helix-core/src/indent.rs
Labels: A-core

fix: typos (#13505)
  docs/CONTRIBUTING.md
  flake.nix
Labels: none

Changed rust-analyzer configuration to use server-side file watching (#13432)
  languages.toml
Labels: none

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
