Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

Allow textDocument/didChange notification to be synchronous
  helix-lsp/src/client.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/ui/completion.rs
  helix-term/src/ui/editor.rs
  helix-view/src/document.rs
  helix-view/src/handlers/lsp.rs
Labels: A-helix-term, A-language-server

Use FuturesOrdered; Fix from rebase conflict
  helix-term/src/commands/lsp.rs
Labels: A-helix-term

just: update tree-sitter-grammar to support 1.35.0
  languages.toml
Labels: none

feat: Diff source caching and autodetection
  Cargo.lock
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-vcs/Cargo.toml
  helix-vcs/src/git.rs
  helix-vcs/src/git/test.rs
  helix-vcs/src/lib.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-helix-term, A-vcs

feat: Add Jujutsu diff handling to Helix
  helix-term/Cargo.toml
  helix-vcs/Cargo.toml
  helix-vcs/src/jujutsu.rs
  helix-vcs/src/lib.rs
  helix-vcs/src/status.rs
Labels: A-helix-term, A-vcs

Add undocumented keybindings to book
  book/src/keymap.md
Labels: none

Make unnamed nodes visible in subtree view
  helix-core/src/syntax.rs
Labels: A-core

Refine command description
  helix-term/src/commands/typed.rs
Labels: A-helix-term

Add clipboard provider configuration (#8826)
  Cargo.lock
  book/src/editor.md
  helix-stdx/Cargo.toml
  helix-stdx/src/lib.rs
  helix-stdx/src/nonempty.rs
  helix-term/src/health.rs
  helix-view/src/clipboard.rs
  helix-view/src/editor.rs
  helix-view/src/register.rs
Labels: A-helix-term

Update README.md
  README.md
Labels: none

feat: add ocaml default formatter
  languages.toml
Labels: none

Fix typo
  runtime/tutor
Labels: none

perf: remove format! thats passed to Tendril::from
  helix-core/src/comment.rs
Labels: A-core

Update runtime/tutor
  runtime/tutor
Labels: none

Update runtime/tutor
  runtime/tutor
Labels: none

Update runtime/tutor
  runtime/tutor
Labels: none

Fix typos
  runtime/tutor
Labels: none

fix: use doc id instead of view id
  helix-term/src/ui/context.rs
Labels: A-helix-term

fix: some off calculations
  helix-term/src/ui/context.rs
  helix-term/src/ui/editor.rs
Labels: A-helix-term

feat: implement sticky-context
  book/src/editor.md
  book/src/guides/context.md
  helix-core/src/syntax.rs
  helix-term/src/health.rs
  helix-term/src/ui/context.rs
  helix-term/src/ui/editor.rs
  helix-term/src/ui/mod.rs
  helix-view/src/editor.rs
  runtime/queries/c-sharp/context.scm
  runtime/queries/c/context.scm
  runtime/queries/cpp/context.scm
  runtime/queries/ecma/context.scm
  runtime/queries/elixir/context.scm
  runtime/queries/go/context.scm
  runtime/queries/html/context.scm
  runtime/queries/javascript/context.scm
  runtime/queries/json/context.scm
  runtime/queries/jsx/context.scm
  runtime/queries/markdown/context.scm
  runtime/queries/nix/context.scm
  runtime/queries/python/context.scm
  runtime/queries/rust/context.scm
  runtime/queries/scala/context.scm
  runtime/queries/toml/context.scm
  runtime/queries/tsx/context.scm
  runtime/queries/typescript/context.scm
  runtime/queries/yaml/context.scm
  runtime/queries/zig/context.scm
  runtime/themes/tokyonight.toml
  xtask/src/querycheck.rs
Labels: A-core, A-helix-term, A-theme, A-tree-sitter

add circom tree-sitter and lsp support
  languages.toml
Labels: none

add circom syntax highlighting queries
  runtime/queries/circom/highlights.scm
  runtime/queries/circom/locals.scm
Labels: A-tree-sitter

Add eiffel theme
  runtime/themes/eiffel.toml
Labels: A-theme

feat: multi-lsp for hover
  helix-term/src/commands/lsp.rs
Labels: A-helix-term

feat: consult all LSPs for goto-definitions
  helix-term/src/commands/lsp.rs
Labels: A-helix-term

fix: panic when goto_impl has empty locations
  helix-term/src/commands/lsp.rs
Labels: A-helix-term

fix: Lean language server consuming excessive memory
  languages.toml
Labels: none

adding support for jujutsu VCS inside find_workspace
  helix-loader/src/lib.rs
Labels: none

Copy changes from the-mikedavis
  helix-term/src/commands.rs
  helix-term/src/keymap.rs
  helix-term/src/keymap/default.rs
  helix-term/src/keymap/macros.rs
  helix-term/src/ui/editor.rs
Labels: A-helix-term, A-keymap

Add fallback command to [ and ] to find in next pair
  helix-core/src/surround.rs
  helix-core/src/textobject.rs
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
Labels: A-core, A-helix-term, A-keymap

Add missing commands
  book/src/commands.md
  book/src/generated/static-cmd.md
  xtask/src/docgen.rs
  xtask/src/main.rs
Labels: none

add yo themes
  runtime/themes/yo.toml
  runtime/themes/yo_berry.toml
  runtime/themes/yo_light.toml
Labels: A-theme

fix: Lean language server consuming excessive memory (#11683)
  languages.toml
Labels: none

feat: render bufferline separator
  helix-term/src/ui/editor.rs
  helix-view/src/editor.rs
Labels: A-helix-term

small fix syntax highlighting in vue.js files
  runtime/queries/vue/highlights.scm
Labels: A-tree-sitter

Optionally load init.scm and helix.scm from .helix/
  helix-term/src/commands/engine/steel.rs
Labels: A-helix-term

Adding helix-cogs as a flake output
  flake.nix
  helix-term/src/commands/engine/steel.rs
Labels: A-helix-term

cargo xtask docgen
  book/src/generated/lang-support.md
Labels: none

Stylize horizon-dark picker v2 columns (#11649)
  runtime/themes/horizon-dark.toml
Labels: A-theme

Update picker headers styling in Darcula themes (#11620)
  runtime/themes/darcula.toml
Labels: A-theme
