Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

tags(rust): mark the whole definition and use the `@name` queries
  runtime/queries/rust/tags.scm
Labels: A-tree-sitter

[tmp] use my git branch for the tree-house dependency
  Cargo.lock
  Cargo.toml
Labels: none

tags(c): mark the whole definition and use `@name` queries
  runtime/queries/c/tags.scm
Labels: A-tree-sitter

add some docs for the new `@name` tags capture
  book/src/guides/tags.md
Labels: none

Add rudimentary workspace trust support
  Cargo.lock
  helix-loader/src/config.rs
  helix-loader/src/lib.rs
  helix-loader/src/workspace_trust.rs
  helix-term/Cargo.toml
  helix-term/src/commands/typed.rs
  helix-term/src/config.rs
  helix-term/src/handlers.rs
  helix-term/src/handlers/workspace_trust.rs
  helix-view/src/editor.rs
Labels: A-helix-term

add a new Section TagKind
  helix-term/src/commands/syntax.rs
Labels: A-helix-term

tags(typ, md): use `@definition.section`
  runtime/queries/markdown/tags.scm
  runtime/queries/typst/tags.scm
Labels: A-tree-sitter

tags(rst): use `@definition.section` in new tag queries
  book/src/generated/lang-support.md
  runtime/queries/rst/tags.scm
Labels: A-tree-sitter

Workspace trust: docs
  book/src/SUMMARY.md
  book/src/generated/typable-cmd.md
  book/src/workspace-trust.md
Labels: none

tags(typ, md): use `@definition.section`
  runtime/queries/markdown/tags.scm
  runtime/queries/typst/tags.scm
Labels: A-tree-sitter

add a new Section TagKind
  helix-term/src/commands/syntax.rs
Labels: A-helix-term

tags(rst): use `@definition.section` in new tag queries
  book/src/generated/lang-support.md
  runtime/queries/rst/tags.scm
Labels: A-tree-sitter

deploy: f9806bdfa4ccab47ef98eeacae945b5750603766
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

queries(rust): hightlight sql in sqlx functions and AssertSqlSafe (#15190)
  runtime/queries/rust/injections.scm
Labels: A-tree-sitter

chore: fix merge conflicts
  languages.toml
Labels: none

chore: fix merge conflicts
  languages.toml
Labels: none

chore(msrv): bump from 1.82 to 1.87
  .github/workflows/build.yml
  Cargo.lock
  Cargo.toml
  helix-core/src/test.rs
  helix-term/Cargo.toml
  rust-toolchain.toml
Labels: A-core, A-helix-term

Handle PageUp and PageDown in the completion and popups
  helix-term/src/ui/menu.rs
  helix-term/src/ui/popup.rs
Labels: A-helix-term

compile command
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-term/src/keymap/default.rs
  helix-view/src/editor.rs
Labels: A-helix-term, A-keymap

Update wolf-alabaster themes: bracket matching and cursorline
  runtime/themes/wolf-alabaster-dark.toml
  runtime/themes/wolf-alabaster-light.toml
Labels: A-theme

Update for the latest `gix 0.78`
  helix-vcs/src/git/blame.rs
Labels: A-vcs

Remove unnecessary macro
  helix-stdx/src/lib.rs
  helix-stdx/src/str.rs
  helix-stdx/src/time.rs
Labels: none

Add documentation for a few fields
  helix-term/src/handlers/blame.rs
Labels: A-helix-term

Run `cargo fmt`
  helix-core/src/test.rs
  helix-term/src/events.rs
Labels: A-core, A-helix-term

Use same `Cargo.lock` as on the `master` branch
  Cargo.lock
  helix-loader/Cargo.toml
  helix-stdx/Cargo.toml
  rust-toolchain.toml
Labels: none

Run `cargo fmt`
  helix-core/src/test.rs
Labels: A-core

Remove stray formatting changes
  helix-term/src/ui/editor.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-helix-term

Replace call to `with_capacity()` with `new()`
  helix-vcs/src/git/blame.rs
Labels: A-vcs

Remove stray formatting change
  helix-vcs/src/git.rs
Labels: A-vcs

goto_word does save_selection before making the jump
  helix-term/src/commands.rs
Labels: A-helix-term

languages(js): recognize .gs as js file
  languages.toml
Labels: none

paste_before_all, paste_after_all
  book/src/generated/static-cmd.md
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
Labels: A-helix-term

Update runtime/queries/picat/highlights.scm
  runtime/queries/picat/highlights.scm
Labels: A-tree-sitter

languages(js): recognize .gs as js file
  languages.toml
Labels: none

refactor(helix-core): move command_line module to helix-view
  helix-core/src/lib.rs
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-term/src/ui/mod.rs
  helix-view/src/command_line.rs
  helix-view/src/document.rs
  helix-view/src/expansion.rs
  helix-view/src/lib.rs
Labels: A-core, A-helix-term

refactor(helix-view): use CommandCompleter type for Flag's completer
  helix-term/src/commands/typed.rs
  helix-view/src/command_line.rs
  helix-view/src/completers.rs
Labels: A-helix-term

refactor(helix-term): move completers module to helix-view
  helix-term/src/commands.rs
  helix-term/src/commands/dap.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/commands/typed.rs
  helix-term/src/ui/mod.rs
  helix-term/src/ui/picker.rs
  helix-view/src/completers.rs
  helix-view/src/lib.rs
Labels: A-helix-term

refactor(helix-term): move CommandCompleter type to completers module in helix-view
  helix-term/src/commands/typed.rs
  helix-view/src/completers.rs
Labels: A-helix-term

refactor(helix-tui): move text module to helix-view
  Cargo.lock
  Cargo.toml
  helix-term/Cargo.toml
  helix-term/src/commands.rs
  helix-term/src/commands/dap.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/ui/completion.rs
  helix-term/src/ui/editor.rs
  helix-term/src/ui/info.rs
  helix-term/src/ui/lsp/signature_help.rs
  helix-term/src/ui/markdown.rs
  helix-term/src/ui/mod.rs
  helix-term/src/ui/picker.rs
  helix-term/src/ui/prompt.rs
  helix-term/src/ui/statusline.rs
  helix-term/src/ui/text.rs
  helix-tui/src/buffer.rs
  helix-tui/src/lib.rs
  helix-tui/src/widgets/block.rs
  helix-tui/src/widgets/paragraph.rs
  helix-tui/src/widgets/reflow.rs
  helix-tui/src/widgets/table.rs
  helix-tui/tests/text.rs
  helix-view/Cargo.toml
  helix-view/src/lib.rs
  helix-view/src/text.rs
Labels: A-helix-term

fix(import): new select component
  helix-term/src/ui/picker.rs
  helix-term/src/ui/select.rs
Labels: A-helix-term
