Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

FIxed missing helpbg in ashokai standard
  runtime/themes/ashokai.toml
  runtime/themes/ashokai_brahn.toml
  runtime/themes/ashokai_evermoor.toml
  runtime/themes/ashokai_urple.toml
Labels: A-theme

feat: update svelte runtime queries
  runtime/queries/svelte/folds.scm
  runtime/queries/svelte/highlights.scm
  runtime/queries/svelte/indents.scm
  runtime/queries/svelte/injections.scm
  runtime/queries/svelte/locals.scm
Labels: A-tree-sitter

fix(queries/svelte): use helix compatible scopes
  runtime/queries/svelte/indents.scm
Labels: A-tree-sitter

fix(queries/svelte): add injection language for style tag without lang attribute
  runtime/queries/svelte/injections.scm
Labels: A-tree-sitter

feat(languages): switch svelte tree-sitter to tree-sitter-grammars/tree-sitter-svelte
  languages.toml
Labels: none

fix(queries/svelte): use helix compatible scopes
  runtime/queries/svelte/highlights.scm
Labels: A-tree-sitter

feat(languages): add `latexmkrc` to `perl` file-types
  languages.toml
Labels: none

feat(languages): add `latexmkrc` to `perl` file-types (#14450)
  languages.toml
Labels: none

Commented out remaining unsupported meta stuff
  runtime/themes/ashokai.toml
  runtime/themes/ashokai_brahn.toml
  runtime/themes/ashokai_evermoor.toml
  runtime/themes/ashokai_urple.toml
Labels: A-theme

update steel
  Cargo.lock
  helix-term/src/commands/engine/steel/components.rs
Labels: A-helix-term

Extend DebugArgumentValue to support toml tables, ref #14282 (#14283)
  helix-core/src/syntax/config.rs
  helix-term/src/commands/dap.rs
Labels: A-core, A-helix-term

fix(auto-pairs): fix the matching of the closing-side of the pair from the cursor on. As a consequence, this fixes the indentation of a newline inserted between the '\(' and '\)' latex pair.
  helix-core/src/auto_pairs.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

Add support for the SlightLisp language
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/slisp/highlights.scm
  runtime/queries/slisp/tags.scm
Labels: A-tree-sitter

Resolve unused_variables lint
  helix-term/src/handlers/prompt.rs
Labels: A-helix-term

Close prompts when switching windows (#13620)
  helix-term/src/compositor.rs
  helix-term/src/handlers.rs
  helix-term/src/handlers/prompt.rs
Labels: A-helix-term

Add support for the SlightLisp language (#14236)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/slisp/highlights.scm
  runtime/queries/slisp/tags.scm
Labels: A-tree-sitter

deploy: 2dddace12efdb0e579d643c36401b3bdcb9afc51
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

Switch svelte treesitter and update queries (#14343)
  languages.toml
  runtime/queries/svelte/folds.scm
  runtime/queries/svelte/highlights.scm
  runtime/queries/svelte/indents.scm
  runtime/queries/svelte/injections.scm
  runtime/queries/svelte/locals.scm
Labels: A-tree-sitter

Added Ashokai theme family (#14446)
  runtime/themes/ashokai.toml
  runtime/themes/ashokai_brahn.toml
  runtime/themes/ashokai_evermoor.toml
  runtime/themes/ashokai_urple.toml
Labels: A-theme

fix: Make `Table` `Cell`s set the style of their text (#13776)
  helix-term/src/ui/picker.rs
  helix-tui/src/text.rs
  helix-tui/src/widgets/table.rs
  helix-tui/tests/text.rs
Labels: A-helix-term

fix(helix-view/clipboard): use serde generated name for Win32Yank
  book/src/editor.md
  helix-view/src/clipboard.rs
Labels: none

fix(helix-view/clipboard): use serde generated name for Win32Yank (#14455)
  book/src/editor.md
  helix-view/src/clipboard.rs
Labels: none

deploy: d015eff4aa0ca294d007cb61683b5fa815ce0640
  master/editor.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

add :lang-config-open
  helix-term/src/commands/typed.rs
Labels: A-helix-term

Update README.md
  README.md
Labels: none

Update README to clarify buffer-reopen feature
  README.md
Labels: none

feat(command): expand_selection_around
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
  helix-term/tests/test/commands/movement.rs
Labels: A-helix-term, A-keymap

backfill expand/shrink tests
  helix-term/tests/test/commands/movement.rs
Labels: A-helix-term

Add Selection::{overlaps,without} and fix contains
  helix-core/src/selection.rs
Labels: A-core

Generalize View::object_selections into map
  helix-term/src/commands.rs
  helix-view/src/document.rs
  helix-view/src/view.rs
Labels: A-helix-term

shrink_selection without history selects first contained child
  helix-core/src/object.rs
  helix-core/src/selection.rs
  helix-term/tests/test/commands/movement.rs
Labels: A-core, A-helix-term

backfill auto pair delete tests
  helix-term/tests/test/auto_pairs.rs
Labels: A-helix-term

fix as-is tests
  helix-term/tests/test/auto_pairs.rs
Labels: A-helix-term

Change auto pair hook to operate on single changes
  helix-core/src/auto_pairs.rs
  helix-core/src/transaction.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

insert double whitespace inside pair
  helix-core/src/auto_pairs.rs
  helix-term/tests/test/auto_pairs.rs
Labels: A-core, A-helix-term

add delete_by_and_with_selection
  helix-core/src/auto_pairs.rs
  helix-core/src/transaction.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

account for overlapping deletes
  helix-core/src/auto_pairs.rs
  helix-core/src/transaction.rs
  helix-term/tests/test/auto_pairs.rs
Labels: A-core, A-helix-term

Delete pairs with multi-char-range selections
  helix-core/src/auto_pairs.rs
  helix-core/src/transaction.rs
  helix-term/src/commands.rs
  helix-term/tests/test/auto_pairs.rs
Labels: A-core, A-helix-term

Add Transaction::change_by_and_with_selection
  helix-core/src/auto_pairs.rs
  helix-core/src/transaction.rs
Labels: A-core

fix: correct mode string width calculation for statusline
  helix-term/src/ui/statusline.rs
Labels: A-helix-term
