Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

fix(term): use diff.minus for deletion lines in diff viewer
  helix-term/src/ui/editor.rs
Labels: A-helix-term

test(term): add integration tests for diff-mode commands
  helix-term/tests/integration.rs
  helix-term/tests/test/diff_mode.rs
Labels: A-helix-term

fix(term): filter directory args and prefer diff.delta.text for highlights
  helix-term/src/application.rs
  helix-term/src/main.rs
  helix-term/src/ui/editor.rs
Labels: A-helix-term

fix(view): char-level tokenization and correct cfg attribute for Termcode
  helix-view/src/clipboard.rs
  helix-view/src/diff_session.rs
Labels: none

feat(view): sync horizontal scroll between paired diff views
  helix-view/src/editor.rs
Labels: none

feat(view): add map_line helper to DiffSession
  helix-view/src/diff_session.rs
Labels: none

fix(view): map through hunks when syncing diff scroll
  helix-view/src/editor.rs
Labels: none

feat(view): sync cursor between paired views on window switch
  helix-view/src/editor.rs
Labels: none

fix(view): accumulate fillers when multiple hunks share a trigger row
  helix-view/src/diff_session.rs
Labels: none

refactor(term): namespace diff viewer scopes under diff.*.view
  helix-term/src/ui/editor.rs
Labels: A-helix-term

fix(view): trim whitespace from intra-line diff spans
  helix-view/src/diff_session.rs
Labels: none

feat(view): make filler counts soft-wrap aware
  helix-term/src/ui/editor.rs
  helix-view/src/diff_session.rs
Labels: A-helix-term

feat(theme): add default palette for diff viewer .view scopes
  helix-view/src/theme.rs
  theme.toml
Labels: none

style: humanize doc comments on diff viewer changes
  helix-view/src/diff_session.rs
  helix-view/src/editor.rs
Labels: none

fix(view): skip current hunk when ]g/[g cursor is inside it
  helix-term/src/commands.rs
  helix-view/src/diff_session.rs
Labels: A-helix-term

fix(term): skip trailing decorations for the no-line-rendered sentinel
  helix-term/src/ui/document.rs
Labels: A-helix-term

address advisor feedback on diff viewer review pass
  helix-term/src/ui/editor.rs
  helix-view/src/diff_session.rs
  helix-view/src/editor.rs
Labels: A-helix-term

tests: fix nix highlight test assertions
  tests/query/highlights/nix/calls.nix
Labels: none

queries: highlight calling-side of pipe operators as functions
  runtime/queries/nix/highlights.scm
  tests/query/highlights/nix/calls.nix
Labels: A-tree-sitter

feat: fix multiple set-option commands in keybinding sequences
  helix-term/src/application.rs
  helix-term/src/commands/typed.rs
  helix-view/src/editor.rs
Labels: A-helix-term

test: add integration tests for multi set-option command sequences
  helix-term/src/application.rs
  helix-term/tests/integration.rs
  helix-term/tests/test/config.rs
Labels: A-helix-term

fix(ui/prompt): cache history suggestion to avoid repeated reads
  helix-term/src/ui/prompt.rs
Labels: A-helix-term

Add gitbase-picker feature
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-term/src/ui/statusline.rs
  helix-term/tests/test/commands.rs
  helix-vcs/src/git.rs
  helix-vcs/src/git/test.rs
  helix-vcs/src/lib.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
  port_missing_features.sh
Labels: A-helix-term, A-vcs

fix(jumplist): show line text when the selection preview is only whitespace
  helix-term/src/commands.rs
Labels: A-helix-term

Update caddyfile tree-sitter grammar
  languages.toml
Labels: none

Allow label fields in configuration
  helix-term/src/keymap.rs
Labels: A-helix-term, A-keymap

Update SlightLisp grammar
  languages.toml
  runtime/queries/slisp/highlights.scm
Labels: A-tree-sitter

feat(copilot): add GitHub Copilot inline completion support
  book/src/editor.md
  book/src/generated/static-cmd.md
  book/src/generated/typable-cmd.md
  helix-lsp/Cargo.toml
  helix-lsp/src/copilot.rs
  helix-lsp/src/lib.rs
  helix-lsp/tests/copilot.rs
  helix-term/src/commands.rs
  helix-term/src/commands/copilot.rs
  helix-term/src/commands/typed.rs
  helix-term/src/keymap/default.rs
  helix-view/src/copilot.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
  helix-view/src/lib.rs
  helix-view/src/view.rs
  theme.toml
Labels: A-helix-term, A-keymap, A-language-server

fix(indent): Python last-line-of-block indentation regression
  helix-core/src/indent.rs
  tests/indent/python.py
Labels: A-core

feat(copilot): render multi-line ghost text suggestions
  helix-term/src/commands/copilot.rs
  helix-term/src/ui/editor.rs
  helix-term/src/ui/text_decorations.rs
  helix-term/src/ui/text_decorations/copilot.rs
  helix-view/src/annotations.rs
  helix-view/src/annotations/copilot.rs
  helix-view/src/document.rs
  helix-view/src/view.rs
Labels: A-helix-term

Add git commit parser feature like HEAD~2
  Cargo.lock
  helix-term/src/commands/typed.rs
  helix-vcs/Cargo.toml
  helix-vcs/src/git.rs
Labels: A-helix-term, A-vcs

Port additional gitbase-picker enhancements from backup branch
  helix-term/src/commands/typed.rs
  helix-vcs/src/git.rs
  helix-vcs/src/git/test.rs
  helix-vcs/src/lib.rs
Labels: A-helix-term, A-vcs

adding custom wolf alabaster dark mono custom theme. Works really well with the adventure theme from Ghostty
  runtime/themes/wolf-alabaster-dark-mono-custom.toml
Labels: A-theme

fixing broken tests - i did not realize the custom theme broke the unit tests. Apologies for the same
  runtime/themes/wolf-alabaster-dark-mono-custom.toml
Labels: A-theme

putting fullscreen overlay behinda settings
  helix-term/src/application.rs
  helix-term/src/commands.rs
  helix-term/src/commands/dap.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/commands/syntax.rs
  helix-term/src/commands/typed.rs
  helix-term/src/ui/file_explorer.rs
  helix-term/src/ui/overlay.rs
  helix-view/src/editor.rs
Labels: A-helix-term

fix(indent): add missing JS block indents to QML query
  helix-core/tests/data/indent/indent.qml
  helix-core/tests/data/indent/languages.toml
  helix-core/tests/indent.rs
  runtime/queries/qml/indents.scm
Labels: A-core, A-tree-sitter

Change workspace-trust warning symbol [⚠] -> [!]
  book/src/editor.md
  book/src/workspace-trust.md
  helix-term/src/handlers/workspace_trust.rs
  helix-term/src/ui/editor.rs
  helix-view/src/editor.rs
Labels: A-helix-term

markdown-inline: Highlighting of inline math equations (#15922)
  runtime/queries/markdown.inline/injections.scm
Labels: A-tree-sitter

use the correct comment tokens for svelte
  languages.toml
Labels: none

feat: number of copied selections in statusline
  book/src/editor.md
  helix-term/src/ui/statusline.rs
  helix-view/src/editor.rs
Labels: A-helix-term
