Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

Update Cargo.lock
  Cargo.lock
Labels: none

update steel
  Cargo.lock
Labels: none

handle deserializing values better
  helix-term/src/commands/engine/steel/mod.rs
Labels: A-helix-term

trying to make sure that we are not showing the scrollback buffer
  helix-tui/src/backend/termina.rs
Labels: none

adding latest changes from uptream
  Cargo.lock
Labels: none

highlights: update tree-sitter-pest
  languages.toml
  runtime/queries/pest/highlights.scm
Labels: A-tree-sitter

queries(python): always mark kwarg names as `@variable.parameter`
  runtime/queries/python/highlights.scm
  runtime/queries/python/locals.scm
Labels: A-tree-sitter

feat(languages): add highlights for cangjie language
  languages.toml
  runtime/queries/cangjie/highlights.scm
  runtime/queries/cangjie/indents.scm
  runtime/queries/cangjie/tags.scm
  runtime/queries/cangjie/textobjects.scm
Labels: A-tree-sitter

fixing a crash
  helix-tui/src/buffer.rs
Labels: none

LSP also now uses the cmdline, if cmdline is enabled. For example - rename a variable
  helix-term/src/commands/lsp.rs
Labels: A-helix-term

update tree-sitter-javascript and tree-sitter-typescript
  languages.toml
  runtime/queries/_javascript/tags.scm
  runtime/queries/ecma/highlights.scm
  runtime/queries/ecma/locals.scm
  runtime/queries/ecma/textobjects.scm
Labels: A-tree-sitter

locals(ecma): add a whole bunch more `@local.scope`
  runtime/queries/ecma/locals.scm
Labels: A-tree-sitter

add dedicated glimmer-javascript and glimmer-typescript grammars
  languages.toml
Labels: none

feat: Clojure textobject queries
  runtime/queries/clojure/textobjects.scm
Labels: A-tree-sitter

feat: Clojure indent queries
  book/src/generated/lang-support.md
  runtime/queries/clojure/indents.scm
Labels: A-tree-sitter

Add feature set position to EOF when no line number is specified after + argument
  helix-term/src/args.rs
Labels: A-helix-term

address oustanding review comment
  helix-term/src/args.rs
Labels: A-helix-term

feat(themes): Added onedark_vibrant and onedarker_vibrant
  runtime/themes/onedark_vibrant.toml
  runtime/themes/onedarker_vibrant.toml
Labels: A-theme

move rust tool chain back down
  Cargo.lock
  rust-toolchain.toml
Labels: none

kdl: add slashdash comments highlight support
  runtime/queries/kdl/highlights.scm
Labels: A-tree-sitter

fix(lsp): deduplicate definitions' locations before rendering
  helix-core/src/uri.rs
  helix-lsp/src/lib.rs
  helix-term/src/commands/lsp.rs
Labels: A-core, A-helix-term, A-language-server

test(lsp): add a new test for deduplicate_locations
  helix-term/src/commands/lsp.rs
Labels: A-helix-term

feat(tree-sitter): update tree-sitter-cangjie version
  languages.toml
Labels: none

read make commands from config
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-term/src/make.rs
  helix-view/src/editor.rs
  helix-view/src/make.rs
Labels: A-helix-term

Create ttox_soft.toml
  runtime/themes/ttox_soft.toml
Labels: A-theme

Update ttox_soft.toml
  runtime/themes/ttox_soft.toml
Labels: A-theme

fix(tutor): correct minor typo in 9.4
  runtime/tutor
Labels: none

stop on error
  helix-view/src/scancode.rs
Labels: none

fix(tutor): re-introduce and clarify first two letters of gw target
  runtime/tutor
Labels: none

fix(tutor): clarify the character replacement and gw target in 9.4
  runtime/tutor
Labels: none

downgrade imbl
  Cargo.lock
Labels: none

downgrade archery version to get things behaving
  Cargo.lock
Labels: none

fix bad merge
  helix-view/src/input.rs
  helix-view/src/keyboard.rs
Labels: none

undoing more bad merge stuff from termina
  helix-view/src/graphics.rs
  helix-view/src/input.rs
  helix-view/src/keyboard.rs
Labels: none

one step closer to windows fix
  helix-term/src/application.rs
Labels: A-helix-term

attempt to fix windows
  helix-term/src/application.rs
  helix-term/src/commands/engine.rs
  helix-term/src/commands/engine/steel/mod.rs
Labels: A-helix-term

one more try
  helix-term/src/commands/engine.rs
  helix-term/src/commands/engine/steel/mod.rs
Labels: A-helix-term

okay for real
  helix-term/src/commands/engine.rs
Labels: A-helix-term

Created text folding primitives
  helix-core/src/lib.rs
  helix-core/src/text_folding.rs
  helix-core/src/text_folding/test.rs
  helix-core/src/text_folding/test_utils.rs
  helix-core/src/text_folding/test_utils/text-sample.txt
Labels: A-core

Created transaction for `FoldContainer`
  helix-core/src/text_folding.rs
  helix-core/src/text_folding/test.rs
  helix-core/src/text_folding/transaction.rs
  helix-core/src/transaction.rs
Labels: A-core

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
