Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

feat: update svelte runtime queries
  runtime/queries/svelte/folds.scm
  runtime/queries/svelte/highlights.scm
  runtime/queries/svelte/indents.scm
  runtime/queries/svelte/injections.scm
  runtime/queries/svelte/locals.scm
Labels: A-tree-sitter

remove `@spell` to make comment highlight work
  runtime/queries/nu/highlights.scm
Labels: A-tree-sitter

queries(kdl): basic tags.scm based on nodes that hold objects
  runtime/queries/kdl/tags.scm
Labels: A-tree-sitter

queries(kdl): injections for niri
  runtime/queries/kdl/injections.scm
Labels: A-tree-sitter

xtask
  book/src/generated/lang-support.md
Labels: none

Show path in file picker and explorer
  helix-term/src/ui/mod.rs
  helix-term/src/ui/picker.rs
Labels: A-helix-term

feat(highlights): add support for syntax features in `hurl` version 6.0.0
  languages.toml
  runtime/queries/hurl/highlights.scm
Labels: A-tree-sitter

remove all queries
  book/src/generated/lang-support.md
  runtime/queries/nu/folds.scm
  runtime/queries/nu/highlights.scm
  runtime/queries/nu/indents.scm
  runtime/queries/nu/injections.scm
  runtime/queries/nu/textobjects.scm
Labels: A-tree-sitter

bring back folds
  runtime/queries/nu/folds.scm
Labels: A-tree-sitter

bring back highlights
  book/src/generated/lang-support.md
  runtime/queries/nu/highlights.scm
Labels: A-tree-sitter

bring back indents
  book/src/generated/lang-support.md
  runtime/queries/nu/indents.scm
Labels: A-tree-sitter

bring back text objects
  book/src/generated/lang-support.md
  runtime/queries/nu/textobjects.scm
Labels: A-tree-sitter

bring back injections
  runtime/queries/nu/injections.scm
Labels: A-tree-sitter

Add new theme: Nvim-dark
  runtime/themes/nvim-dark.toml
Labels: A-theme

add missing `describe` function.builtin
  runtime/queries/nu/highlights.scm
Labels: A-tree-sitter

tui: Use Crossterm on Windows
  Cargo.lock
  helix-term/Cargo.toml
  helix-term/src/application.rs
  helix-term/tests/test/helpers.rs
  helix-tui/Cargo.toml
  helix-tui/src/backend/crossterm.rs
  helix-tui/src/backend/mod.rs
  helix-view/Cargo.toml
  helix-view/src/graphics.rs
  helix-view/src/input.rs
  helix-view/src/keyboard.rs
Labels: A-helix-term

feature: willSave + willSaveWaitUntil
  helix-lsp/src/client.rs
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-term/src/handlers/auto_save.rs
  helix-term/src/ui/editor.rs
  helix-view/src/editor.rs
Labels: A-helix-term, A-language-server

fix: better response handling
  helix-view/src/editor.rs
Labels: none

lang(scheme): add block comment token
  languages.toml
Labels: none

queries(scheme): add comment text objects
  runtime/queries/scheme/textobjects.scm
Labels: A-tree-sitter

stringed function names are still colored as `@function`
  runtime/queries/nu/highlights.scm
Labels: A-tree-sitter

chore: run cargo xtask docgen
  book/src/generated/lang-support.md
Labels: none

regenerate list of builtins
  runtime/queries/nu/highlights.scm
Labels: A-tree-sitter

fix: linting + identifier for new documents
  helix-lsp/src/client.rs
  helix-term/src/commands/typed.rs
  helix-view/src/editor.rs
Labels: A-helix-term, A-language-server

fix white/bright white mixup
  helix-view/src/graphics.rs
Labels: none

Add extra config options (#54)
  helix-term/src/commands/engine/steel/mod.rs
Labels: A-helix-term

Regex match on ropes (#57)
  helix-core/src/extensions.rs
Labels: A-core

fix some clippy warnings (#66)
  helix-core/src/extensions.rs
  helix-core/src/syntax/config.rs
  helix-lsp/src/client.rs
  helix-term/src/application.rs
  helix-term/src/commands.rs
  helix-term/src/commands/engine.rs
  helix-term/src/commands/engine/steel/components.rs
  helix-term/src/commands/engine/steel/mod.rs
  helix-term/src/keymap.rs
  helix-view/src/extension.rs
Labels: A-core, A-helix-term, A-keymap, A-language-server

update steel
  Cargo.lock
Labels: none

move cyan_light to jetbrains_cyan_light
  runtime/themes/cyan_light.toml
  runtime/themes/jetbrains_cyan_light.toml
  runtime/themes/licenses/jetbrains_cyan_light.LICENSE
Labels: A-theme

typo
  runtime/themes/cyan_light.toml
Labels: A-theme

languages/hdl: highlight BUILTIN, CLOCKED keywords
  languages.toml
  runtime/queries/hdl/highlights.scm
Labels: A-tree-sitter

add some functions to get lsp clients and info from them (#64)
  helix-term/src/commands/engine/steel/mod.rs
  helix-view/src/document.rs
Labels: A-helix-term

add a simple language server for hdl (nand2tetris)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/hdl/highlights.scm
Labels: A-tree-sitter

feat: add `fods` and `fodt` extensions to `xml` filetype
  languages.toml
Labels: none

fix: use transactions
  helix-view/src/editor.rs
Labels: none

feat(bash): add init scripts for `xinit` and `startx` to bash file-types (#14397)
  languages.toml
Labels: none

scheme: add block comment token, textobjects.scm (#14408)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/scheme/textobjects.scm
Labels: A-tree-sitter

deploy: 8f2af68b3033adc4321e98b0fcbef57051452a28
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

feat: add `fods` and `fodt` extensions to `xml` filetype (#14416)
  languages.toml
Labels: none

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
