Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

deploy: 98ad5dbf5654f6ca02e504ebc695e3fdc5623afe
  master/404.html
  master/building-from-source.html
  master/command-line.html
  master/commands.html
  master/configuration.html
  master/ecosystem.html
  master/editor.html
  master/from-vim.html
  master/guides/adding_languages.html
  master/guides/indent.html
  master/guides/index.html
  master/guides/injection.html
  master/guides/rainbow_bracket_queries.html
  master/guides/tags.html
  master/guides/textobject.html
  master/index.html
  master/install.html
  master/jumplist.html
  master/keymap.html
  master/lang-support.html
  master/languages.html
  master/other-software.html
  master/package-managers.html
  master/pickers.html
  master/print.html
  master/registers.html
  master/remapping.html
  master/searcher-c2a407aa.js
  master/searchindex-5eddd67c.js
  master/searchindex-d06ea6ed.js
  master/surround.html
  master/syntax-aware-motions.html
  master/textobjects.html
  master/themes.html
  master/title-page.html
  master/usage.html
  master/workspace-trust.html
Labels: none

feat: make grammar progress bar default behavior
  helix-loader/src/grammar.rs
  helix-loader/src/main.rs
  helix-term/build.rs
  helix-term/src/args.rs
  helix-term/src/main.rs
Labels: A-helix-term

to-do
  helix-loader/src/workspace_trust.rs
  helix-term/src/config.rs
  helix-view/src/editor.rs
Labels: A-helix-term

fix(workspace_trust): secure permissions on Unix
  helix-loader/src/workspace_trust.rs
  helix-stdx/src/faccess.rs
Labels: none

perf(loader:workspace_trust): clippy fix
  helix-loader/src/workspace_trust.rs
Labels: none

feat(config): add auto-pairs.toml for language-specific defaults
  auto-pairs.toml
  helix-core/src/config.rs
  helix-loader/src/config.rs
Labels: A-core

feat(auto-pairs): add multi-character pairs support
  helix-core/src/auto_pairs.rs
  helix-core/src/syntax/config.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-core

feat(auto-pairs): add context-aware pairing with tree-sitter
  helix-core/src/auto_pairs.rs
  helix-core/src/syntax.rs
Labels: A-core

docs: document multi-character auto-pairs configuration
  book/src/configuration.md
  book/src/editor.md
Labels: none

Fix: Revert pair selection behaviour for nested pairs
  helix-view/src/document.rs
Labels: none

Correct formatting
  helix-core/src/auto_pairs.rs
  helix-loader/src/config.rs
Labels: A-core

Fix(auto-pairs): Position cursor correctly when replacing prefix close
  helix-core/src/auto_pairs.rs
Labels: A-core

refactor: migrate all auto-pairs from languages.toml to auto-pairs.toml
  auto-pairs.toml
  helix-core/src/auto_pairs.rs
  helix-core/src/config.rs
  helix-loader/src/config.rs
  languages.toml
Labels: A-core

Add Markdown code span (```) to auto-pairs
  auto-pairs.toml
Labels: none

Simplify model by remove the notion of a trigger
  book/src/editor.md
  helix-core/src/auto_pairs.rs
  helix-core/src/syntax/config.rs
Labels: A-core

Fix(auto-pairs): Use cursor position for injection layer detection
  auto-pairs.toml
  helix-core/src/auto_pairs.rs
  helix-core/src/syntax.rs
  helix-term/src/commands.rs
  helix-view/src/document.rs
Labels: A-core, A-helix-term

fix(auto-pairs): correctly find prefix pairs and position cursor for multi-char triggers
  helix-core/src/auto_pairs.rs
Labels: A-core

feat(commands): integrate multi-char auto-pairs with editor
  auto-pairs.toml
  book/src/editor.md
  helix-core/src/auto_pairs.rs
  helix-term/src/commands.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-core, A-helix-term

Remove previous auto-pairs implementation
  helix-core/src/auto_pairs.rs
  helix-core/src/syntax.rs
  helix-core/src/syntax/config.rs
  helix-term/src/commands.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-core, A-helix-term

fix(auto-pairs): pass correct len_inserted to get_next_range for selection adjustment
  helix-core/src/auto_pairs.rs
Labels: A-core

fix(commands): restore auto-pair insert/delete flow
  helix-term/src/commands.rs
Labels: A-helix-term

fix(auto-pairs): preserve no-match and whitespace behavior
  helix-core/src/auto_pairs.rs
  helix-core/src/syntax.rs
Labels: A-core

Update `tree-sitter-julia` source commit
  languages.toml
Labels: none

Update `julia/injections.scm`
  runtime/queries/julia/injections.jl
  runtime/queries/julia/injections.scm
Labels: A-tree-sitter

fix(lsp): track pull diagnostic result ids per server (#15538)
  helix-term/src/handlers/diagnostics.rs
  helix-view/src/document.rs
Labels: A-helix-term

refactor(helix-loader): split out duplicated code
  helix-loader/src/workspace_trust.rs
Labels: none

refactor(helix-loader): use BufReader to read trust files
  helix-loader/src/workspace_trust.rs
Labels: none

Add more string macro packages
  runtime/queries/julia/injections.jl
  runtime/queries/julia/injections.scm
Labels: A-tree-sitter

fixup! refactor(helix-loader): use BufReader to read trust files
  helix-loader/src/workspace_trust.rs
Labels: none

fixup! fixup! refactor(helix-loader): use BufReader to read trust files
  helix-loader/src/workspace_trust.rs
Labels: none

refactor(helix-loader): cache workspace trust result
  helix-loader/src/workspace_trust.rs
Labels: none

Fixed issue with debugpy corrupting terminal
  Cargo.lock
  helix-dap/Cargo.toml
  helix-dap/src/client.rs
Labels: A-debug-adapter

Unify PROMPTED_WORKSPACES and WORKSPACE_TRUST_CACHE
  Cargo.lock
  helix-loader/Cargo.toml
  helix-loader/src/workspace_trust.rs
  helix-term/Cargo.toml
  helix-term/src/handlers/workspace_trust.rs
Labels: A-helix-term

add lua doc comments to comment-tokens list
  languages.toml
Labels: none

Highlight `Foo::Bar =>` in match arms as variants.
  runtime/queries/rust/highlights.scm
Labels: A-tree-sitter

style edits and allow Unsupported errors on all targets
  helix-view/src/document.rs
Labels: none

fix: Ignore unsupported errors when trying to flush saved files to disk (#13997)
  helix-view/src/document.rs
Labels: none

bumped termina crate version to 0.3.1
  Cargo.lock
  Cargo.toml
Labels: none

added mode 2027 toggle to extensions
  helix-tui/src/backend/termina.rs
Labels: none

refactor(workspace_trust): minor changes
  helix-loader/src/config.rs
  helix-loader/src/workspace_trust.rs
  helix-term/src/config.rs
  helix-view/src/editor.rs
Labels: A-helix-term

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
