Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

Rebase languages.toml on original
  languages.toml
Labels: none

Fix colors of tokyonight diagnostic undercurls (#9724)
  runtime/themes/tokyonight.toml
Labels: A-theme

slint: Update SHA of tree-sitter parser (#9698)
  languages.toml
Labels: none

Hide command docs if needed
  helix-term/src/commands/typed.rs
Labels: A-helix-term

cargo fmt
  helix-view/src/editor.rs
  helix-view/src/register.rs
Labels: none

Added option to hide Prompt completions
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-term/src/ui/mod.rs
  helix-term/src/ui/prompt.rs
  helix-view/src/editor.rs
Labels: A-helix-term

Added config options for hiding command popup
  helix-view/src/editor.rs
Labels: none

Removed From impl for clarity
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-term/src/ui/mod.rs
  helix-term/src/ui/prompt.rs
Labels: A-helix-term

Removed extra whitespace
  helix-view/src/editor.rs
Labels: none

update languages.toml: tree-sitter-lua grammar
  languages.toml
Labels: none

switch to regex-cursor (#9422)
  Cargo.lock
  helix-core/src/selection.rs
  helix-core/src/syntax.rs
  helix-stdx/Cargo.toml
  helix-stdx/src/rope.rs
  helix-term/src/commands.rs
  helix-term/src/ui/mod.rs
Labels: A-core, A-helix-term

Add a generic iterator over captures across injections
  helix-core/src/syntax.rs
Labels: A-core

Share sort_layers function between query iterators
  helix-core/src/syntax.rs
Labels: A-core

Mark query_captures function as unsafe
  helix-core/src/syntax.rs
Labels: A-core

Use a helper function for creating query captures
  helix-core/src/syntax.rs
Labels: A-core

Share sort_key function between query iterators
  helix-core/src/syntax.rs
Labels: A-core

Run textobject queries across injections
  helix-core/src/movement.rs
  helix-core/src/syntax.rs
  helix-core/src/textobject.rs
  helix-term/src/commands.rs
  xtask/src/querycheck.rs
Labels: A-core, A-helix-term

add fidl support (#9713)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/fidl/folds.scm
  runtime/queries/fidl/highlights.scm
  runtime/queries/fidl/injections.scm
Labels: A-tree-sitter

deploy: 358ac6bc1f512ca7303856dc904d4b4cdc1fe718
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

toggling of block comments
  book/src/keymap.md
  book/src/languages.md
  helix-core/src/comment.rs
  helix-core/src/indent.rs
  helix-core/src/lib.rs
  helix-core/src/syntax.rs
  helix-core/tests/indent.rs
  helix-stdx/src/rope.rs
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
  languages.toml
Labels: A-core, A-helix-term, A-keymap

toggling of block comments (#4718)
  book/src/keymap.md
  book/src/languages.md
  helix-core/src/comment.rs
  helix-core/src/indent.rs
  helix-core/src/lib.rs
  helix-core/src/syntax.rs
  helix-core/tests/indent.rs
  helix-stdx/src/rope.rs
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
  languages.toml
Labels: A-core, A-helix-term, A-keymap

deploy: 26b3dc29be886c5a2ed1a5caaaf09eb730829c3e
  master/keymap.html
  master/languages.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

use `cfg` attribute instead of macro
  helix-term/src/commands.rs
Labels: A-helix-term

removing saturating add
  helix-term/src/commands.rs
Labels: A-helix-term

Avoid cloning the whole paragraph content just for rendering
  helix-term/src/ui/editor.rs
  helix-term/src/ui/info.rs
  helix-term/src/ui/lsp.rs
  helix-term/src/ui/markdown.rs
  helix-term/src/ui/text.rs
  helix-tui/src/widgets/paragraph.rs
Labels: A-helix-term

Fix tests
  helix-tui/src/widgets/paragraph.rs
  helix-tui/tests/terminal.rs
  helix-tui/tests/widgets_paragraph.rs
Labels: none

Avoid cloning the whole paragraph content just for rendering (#9739)
  helix-term/src/ui/editor.rs
  helix-term/src/ui/info.rs
  helix-term/src/ui/lsp.rs
  helix-term/src/ui/markdown.rs
  helix-term/src/ui/text.rs
  helix-tui/src/widgets/paragraph.rs
  helix-tui/tests/terminal.rs
  helix-tui/tests/widgets_paragraph.rs
Labels: A-helix-term

Add support for pde files
  languages.toml
Labels: none

Add php-only language config and queries
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/php-only/highlights.scm
  runtime/queries/php-only/injections.scm
  runtime/queries/php-only/tags.scm
Labels: A-tree-sitter

init
  helix-term/src/application.rs
  helix-term/src/handlers.rs
  helix-term/src/handlers/auto_save.rs
  helix-term/src/ui/editor.rs
  helix-view/src/editor.rs
  helix-view/src/handlers.rs
  helix-view/src/handlers/lsp.rs
  helix-view/src/input.rs
Labels: A-helix-term

Add color modes to default theme #7060
  theme.toml
Labels: none

update highlight queries
  runtime/queries/lua/highlights.scm
Labels: A-tree-sitter

working with some odd behaviour
  helix-term/src/handlers/auto_save.rs
  helix-term/src/ui/editor.rs
  helix-view/src/handlers/lsp.rs
  helix-view/src/input.rs
Labels: A-helix-term

merge conflict
  helix-view/src/editor.rs
Labels: none

Merge hover results from multiple configured LSPs
  helix-term/src/commands/lsp.rs
  helix-term/src/ui/markdown.rs
Labels: A-helix-term

Display LSP name in hover contents when multiple LSPs are configured
  helix-term/src/commands/lsp.rs
Labels: A-helix-term

Add support for pde files (#9741)
  languages.toml
Labels: none

Extend groovy support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/groovy/folds.scm
  runtime/queries/groovy/highlights.scm
  runtime/queries/groovy/indents.scm
  runtime/queries/groovy/injections.scm
  runtime/queries/groovy/locals.scm
Labels: A-tree-sitter

Update runtime/queries/groovy/locals.scm
  runtime/queries/groovy/locals.scm
Labels: A-tree-sitter

Adapt groovy highlights to helix syntax
  runtime/queries/groovy/highlights.scm
Labels: A-tree-sitter

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
