Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

Simplify saving logic and make it well behaved
  helix-view/src/document.rs
Labels: none

queries/gomod: add "tool", "toolchain" to keywords (#13913)
  runtime/queries/gomod/highlights.scm
Labels: A-tree-sitter

Delete temporary write file if failed to write to it or move it in place
  helix-view/src/document.rs
Labels: none

Delete unused tempfile dependency of helix-view
  helix-view/Cargo.toml
Labels: none

Make tmp suffix have random chars to prevent overwrites
  Cargo.lock
  helix-view/Cargo.toml
  helix-view/src/document.rs
Labels: none

Revert "Add filter_format field for Column in pickers"
  helix-term/src/commands/lsp.rs
  helix-term/src/ui/picker.rs
Labels: A-helix-term

chore: Bump Odin grammar
  languages.toml
Labels: none

queries: Odin or_break+or_continue keywords, struct indents from https://github.com/tree-sitter-grammars/tree-sitter-odin/pull/25
  runtime/queries/odin/highlights.scm
  runtime/queries/odin/indents.scm
Labels: A-tree-sitter

queries: Odin or_break+or_continue keywords, struct indents from https://github.com/tree-sitter-grammars/tree-sitter-odin/pull/25
  runtime/queries/odin/highlights.scm
  runtime/queries/odin/indents.scm
Labels: A-tree-sitter

chore: Bump Odin grammar
  languages.toml
Labels: none

fix windows paths for registering additional search paths
  helix-term/src/commands/engine/steel.rs
Labels: A-helix-term

fix: pass `long_word_softwrap_text_width` test
  helix-core/src/doc_formatter.rs
Labels: A-core

fix: add CJK softwrap tests
  helix-core/src/doc_formatter.rs
  helix-core/src/doc_formatter/test.rs
Labels: A-core

refactor: avoid placing word boundary at line start when possible
  helix-core/src/doc_formatter.rs
  helix-core/src/doc_formatter/test.rs
Labels: A-core

refactor: minimize
  helix-core/src/doc_formatter.rs
Labels: A-core

Add more fns to update selection ranges (#38)
  helix-term/src/commands/engine/steel.rs
Labels: A-helix-term

added a selected-register! function for the plugin system for use with register->value etc. (#41)
  helix-term/src/commands/engine/steel.rs
Labels: A-helix-term

Use TaskController to cancel requests
  helix-lsp/src/client.rs
  helix-term/src/application.rs
  helix-term/src/handlers/diagnostics.rs
  helix-view/src/document.rs
Labels: A-helix-term, A-language-server

languages: create dedicated language for json-ld
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/json-ld/highlights.scm
  runtime/queries/json-ld/indents.scm
  runtime/queries/json-ld/textobjects.scm
Labels: A-tree-sitter

add tree-sitter support for jj templates
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/jjtemplate/highlights.scm
  runtime/queries/toml/injections.scm
Labels: A-tree-sitter

add tree-sitter support for jj revsets
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/jjrevset/highlights.scm
  runtime/queries/toml/injections.scm
Labels: A-tree-sitter

refactor: use `match` instead of `if let`
  helix-term/src/args.rs
Labels: A-helix-term

languages: create dedicated language for json-ld (#13925)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/json-ld/highlights.scm
  runtime/queries/json-ld/indents.scm
  runtime/queries/json-ld/textobjects.scm
Labels: A-tree-sitter

deploy: 8e0f326ebb98060deab7d454fab6fd9f4b217737
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

Allow :move command to accept directories as target
  helix-term/src/commands/typed.rs
  helix-term/tests/test/commands/write.rs
Labels: A-helix-term

minor: Remove an extra conversion
  helix-term/src/commands/typed.rs
Labels: A-helix-term

Allow `:move` command to accept directories as target (#13922)
  helix-term/src/commands/typed.rs
  helix-term/tests/test/commands/write.rs
Labels: A-helix-term

minor: inline atomic_save, tweak docs
  book/src/editor.md
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: none

Add ability to configure atomic saving (#13656)
  book/src/editor.md
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: none

deploy: 242353b2ba2e8814a86d861b4d99e2dc4ac2f7be
  master/editor.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

languages: consider compose.yaml/.yml as docker compose language
  languages.toml
Labels: none

languages: consider compose.yaml/.yml as docker compose language (#13930)
  languages.toml
Labels: none

feat(theme): add doom-one theme
  runtime/themes/doom-one.toml
  runtime/themes/licenses/doom-one.LICENSE
Labels: A-theme

queries: improve `@function` highlights when passed as arguments
  runtime/queries/rust/highlights.scm
Labels: A-tree-sitter

fix: highlight `_` in `[_]` as `@comment.unused`
  runtime/queries/rust/highlights.scm
Labels: A-tree-sitter

Add Django language support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/htmldjango/highlights.scm
  runtime/queries/htmldjango/injections.scm
Labels: A-tree-sitter

Allow symlinks in shell program completions
  helix-term/src/ui/mod.rs
Labels: A-helix-term

Add Django language support (#13935)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/htmldjango/highlights.scm
  runtime/queries/htmldjango/injections.scm
Labels: A-tree-sitter

deploy: 43187f2ed330e57c8a45505421f7fc58a850d0a1
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

feat(theme): add doom-one theme (#13933)
  runtime/themes/doom-one.toml
  runtime/themes/licenses/doom-one.LICENSE
Labels: A-theme

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
