Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

Increase debounce
  helix-term/src/handlers/document_colors.rs
Labels: A-helix-term

Inline Style::rgb
  helix-view/src/graphics.rs
  helix-view/src/theme.rs
Labels: none

Avoid duplicate requests when a language server is duplicated in config
  helix-term/src/handlers/document_colors.rs
Labels: A-helix-term

minor: wording
  book/src/editor.md
Labels: none

Avoid bytes in RGB highlight roundtrip test
  helix-view/src/theme.rs
Labels: none

minor: spurious whitespace change
  helix-term/src/handlers/completion.rs
Labels: A-helix-term

Color swatches ( 🟩 green 🟥 #ffaaaa ) (#12308)
  book/src/editor.md
  helix-core/src/syntax.rs
  helix-lsp/src/client.rs
  helix-term/src/handlers.rs
  helix-term/src/handlers/document_colors.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
  helix-view/src/handlers.rs
  helix-view/src/handlers/lsp.rs
  helix-view/src/theme.rs
  helix-view/src/view.rs
Labels: A-core, A-helix-term, A-language-server

deploy: 0ee5850016650f158dbdc9033ccdde6237e8ad50
  master/editor.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

Adds support for scrollbar gutter item
  book/src/editor.md
  helix-view/src/editor.rs
  helix-view/src/gutter.rs
Labels: none

Adds support for right-hand gutters
  book/src/editor.md
  helix-term/src/ui/editor.rs
  helix-view/src/editor.rs
  helix-view/src/gutter.rs
  helix-view/src/tree.rs
  helix-view/src/view.rs
Labels: A-helix-term

Enables gutter rendering for viewport rows beyond EOF
  helix-term/src/ui/document.rs
  helix-view/src/gutter.rs
Labels: A-helix-term

Updates documentation for right-hand gutters
  book/src/editor.md
Labels: none

feat: Inline Git Blame
  Cargo.lock
  book/src/editor.md
  book/src/generated/static-cmd.md
  book/src/keymap.md
  book/src/themes.md
  helix-stdx/src/lib.rs
  helix-stdx/src/time.rs
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-term/src/handlers.rs
  helix-term/src/handlers/blame.rs
  helix-term/src/keymap/default.rs
  helix-term/src/ui/editor.rs
  helix-term/src/ui/text_decorations.rs
  helix-term/src/ui/text_decorations/blame.rs
  helix-vcs/Cargo.toml
  helix-vcs/src/git.rs
  helix-vcs/src/git/blame.rs
  helix-vcs/src/git/test.rs
  helix-vcs/src/lib.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
  helix-view/src/events.rs
  helix-view/src/handlers.rs
Labels: A-helix-term, A-keymap, A-vcs

Improve readability for `check_if_exe_works` function.
  helix-term/build.rs
Labels: A-helix-term

perf: optimize obtaining blame for the same line
  helix-term/src/commands.rs
  helix-vcs/src/git/blame.rs
  helix-view/src/document.rs
Labels: A-helix-term, A-vcs

fix: update blame when editing config
  helix-term/src/application.rs
  helix-term/src/events.rs
  helix-term/src/handlers/blame.rs
  helix-view/src/events.rs
Labels: A-helix-term

Improve auto completion for shell commands
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-term/src/ui/mod.rs
Labels: A-helix-term

split PATH using split_paths for cross-platform
  helix-term/src/ui/mod.rs
Labels: A-helix-term

Use Signature system for defining SHELL_COMPLETER
  helix-term/src/commands/typed.rs
  helix-term/src/ui/mod.rs
Labels: A-helix-term

Pull diagnostics
  helix-core/src/syntax.rs
  helix-lsp/src/client.rs
  helix-lsp/src/lib.rs
  helix-term/src/application.rs
  helix-term/src/handlers.rs
  helix-term/src/handlers/diagnostics.rs
  helix-view/src/document.rs
  helix-view/src/handlers.rs
  helix-view/src/handlers/lsp.rs
Labels: A-core, A-helix-term, A-language-server

Don't show progress token to user
  helix-term/src/application.rs
Labels: A-helix-term

Use progress title rather than internal token
  helix-lsp/src/lib.rs
  helix-term/src/application.rs
Labels: A-helix-term, A-language-server

Book: Add a section with links to "Helix mode" in non-Helix software.
  book/src/SUMMARY.md
  book/src/ecosystem.md
  book/src/other-software.md
Labels: none

Move LSP code actions into helix-view, enable internal actions
  helix-term/src/commands.rs
  helix-term/src/commands/lsp.rs
  helix-view/src/action.rs
  helix-view/src/lib.rs
Labels: A-helix-term

core: Add a Uri variant for scratch buffers
  helix-core/src/uri.rs
  helix-term/src/commands/lsp.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
  helix-view/src/handlers/diagnostics.rs
  helix-view/src/handlers/lsp.rs
  helix-view/src/lib.rs
Labels: A-core, A-helix-term

Add generic Range and Diagnostic types in helix-view
  helix-core/src/diagnostic.rs
  helix-core/src/lib.rs
  helix-lsp-types/src/lib.rs
  helix-lsp/src/lib.rs
  helix-term/src/application.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/commands/typed.rs
  helix-term/src/ui/editor.rs
  helix-term/src/ui/statusline.rs
  helix-term/src/ui/text_decorations/diagnostics.rs
  helix-view/src/action.rs
  helix-view/src/annotations/diagnostics.rs
  helix-view/src/diagnostic.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
  helix-view/src/gutter.rs
  helix-view/src/handlers/lsp.rs
  helix-view/src/lib.rs
Labels: A-core, A-helix-term, A-language-server

WIP: The proper Spellbook integration patch
  Cargo.lock
  Cargo.toml
  helix-core/src/editor_config.rs
  helix-core/src/lib.rs
  helix-loader/src/lib.rs
  helix-term/Cargo.toml
  helix-term/src/handlers.rs
  helix-term/src/handlers/spelling.rs
  helix-view/Cargo.toml
  helix-view/src/action.rs
  helix-view/src/diagnostic.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
  helix-view/src/handlers.rs
  helix-view/src/handlers/spelling.rs
  helix-view/src/lib.rs
Labels: A-core, A-helix-term

Book: Add a section with links to "Helix mode" in non-Helix software. (#12258)
  book/src/SUMMARY.md
  book/src/ecosystem.md
  book/src/other-software.md
Labels: none

deploy: 13b2dc31f540e5e87a410ab45162bb3c3d1ea74b
  master/ecosystem.html
  master/from-vim.html
  master/lang-support.html
  master/other-software.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
  master/toc.html
  master/toc.js
Labels: none

Extend max tab-width to 64
  helix-core/src/indent.rs
  helix-core/src/syntax.rs
Labels: A-core

Add whole word selection commands
  helix-core/src/selection.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

use format! instead of preallocating
  helix-stdx/src/time.rs
Labels: none

fix: completing document colors updates their positions
  helix-term/src/handlers/document_colors.rs
Labels: A-helix-term

chore: store bytes as `rgb` instead of `bgr`
  helix-view/src/theme.rs
Labels: none

fix: use `to_le_bytes` instead of `to_ne_bytes`
  helix-view/src/theme.rs
Labels: none

chore: use `to_be_bytes` representation
  helix-view/src/theme.rs
Labels: none

FEAT: Add labelled buffer picker
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
  helix-term/src/ui/picker.rs
  helix-tui/src/text.rs
  helix-view/src/editor.rs
Labels: A-helix-term, A-keymap

perf: use `Cow` for fuzzy match command name iterator
  helix-term/src/commands/typed.rs
Labels: A-helix-term

Allow `:theme` to show current theme
  helix-term/src/commands/typed.rs
Labels: A-helix-term

Allow `:theme` to show current theme (#13192)
  helix-term/src/commands/typed.rs
Labels: A-helix-term
