Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

Follow review suggestion
  runtime/queries/ripple/highlights.scm
Labels: A-tree-sitter

feat: vcs: support Jujutsu as a diff-provider
  Cargo.lock
  helix-term/Cargo.toml
  helix-vcs/Cargo.toml
  helix-vcs/src/jj.rs
  helix-vcs/src/lib.rs
  helix-vcs/src/status.rs
Labels: A-helix-term, A-vcs

feat: Diff source caching and autodetection
  Cargo.lock
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-vcs/Cargo.toml
  helix-vcs/src/git.rs
  helix-vcs/src/git/test.rs
  helix-vcs/src/lib.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-helix-term, A-vcs

add indents for swift
  book/src/generated/lang-support.md
  runtime/queries/swift/indents.scm
Labels: A-tree-sitter

add indents for swift (#14871)
  book/src/generated/lang-support.md
  runtime/queries/swift/indents.scm
Labels: A-tree-sitter

deploy: 6d71f11cad4ad855e08524f8454987f084fc31f1
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

refactor: Make format_selections async
  helix-term/src/commands.rs
Labels: A-helix-term

refactor: Make format_selections async (#14873)
  helix-term/src/commands.rs
Labels: A-helix-term

feat(lsp): add textDocument/inlineCompletion support
  book/src/generated/static-cmd.md
  helix-core/src/syntax/config.rs
  helix-lsp-types/src/inline_completion.rs
  helix-lsp-types/src/lib.rs
  helix-lsp-types/src/request.rs
  helix-lsp/src/client.rs
  helix-term/src/commands.rs
  helix-term/src/handlers.rs
  helix-term/src/handlers/inline_completion.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
  helix-view/src/handlers.rs
  helix-view/src/view.rs
Labels: A-core, A-helix-term, A-language-server

fix(lsp): handle inline completion range for correct ghost text display
  helix-term/src/commands.rs
  helix-term/src/handlers/inline_completion.rs
  helix-view/src/document.rs
  helix-view/src/view.rs
Labels: A-helix-term

fix(lsp): render ghost text without shifting cursor position
  helix-term/src/handlers/inline_completion.rs
  helix-term/src/ui/editor.rs
  helix-view/src/view.rs
Labels: A-helix-term

DAP: set active client after starting
  helix-term/src/commands/dap.rs
Labels: A-helix-term

[DAP] configurationDone request: JDTLS expects arguments to be an object, not null
  helix-dap/src/client.rs
  helix-dap/src/types.rs
Labels: A-debug-adapter

credit the author
  runtime/themes/night_rider.toml
Labels: A-theme

feat(lsp): support multiple inline completions with cycling
  book/src/generated/static-cmd.md
  helix-term/src/commands.rs
  helix-term/src/handlers/inline_completion.rs
  helix-term/src/ui/editor.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-helix-term

queries(yaml): add JavaScript injection for actions/github-script
  runtime/queries/yaml/injections.scm
Labels: A-tree-sitter

feat(lsp): advertise support for fix-all action
  helix-lsp/src/client.rs
Labels: A-language-server

feat(lsp): advertise support for show document request
  helix-lsp/src/client.rs
Labels: A-language-server

refactor(lsp): simplify InlineCompletion and fix non-ASCII handling
  helix-term/src/commands.rs
  helix-term/src/handlers/inline_completion.rs
  helix-term/src/ui/editor.rs
  helix-view/src/document.rs
Labels: A-helix-term

fix(lsp): add document version check for inline completion staleness
  helix-term/src/handlers/inline_completion.rs
Labels: A-helix-term

feat(lsp): code lens support
  helix-core/src/syntax/config.rs
  helix-lsp/src/client.rs
Labels: A-core, A-language-server

chore: cleanup
  helix-term/src/commands.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/handlers/code_lenses.rs
  helix-term/src/keymap/default.rs
Labels: A-helix-term, A-keymap

feat(view): render lenses in gutter
  helix-core/src/lens.rs
  helix-core/src/lib.rs
  helix-view/src/document.rs
  helix-view/src/gutter.rs
Labels: A-core

feat: code lenses handler
  helix-term/src/commands/lsp.rs
  helix-term/src/handlers.rs
  helix-term/src/handlers/code_lenses.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
  helix-view/src/handlers/lsp.rs
Labels: A-helix-term

feat: request_code_lenses command
  helix-core/src/lens.rs
  helix-core/src/lib.rs
  helix-term/src/commands.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/keymap/default.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
  helix-view/src/gutter.rs
Labels: A-core, A-helix-term, A-keymap

fix: comments
  helix-term/src/commands/lsp.rs
  helix-term/src/handlers/code_lenses.rs
Labels: A-helix-term

chore: cleanup
  helix-term/src/application.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/handlers/code_lenses.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
  helix-view/src/gutter.rs
Labels: A-helix-term

fix(docs): generate latest docs
  book/src/generated/static-cmd.md
Labels: none

feat: resolve codelenses when needed
  helix-lsp/src/client.rs
  helix-term/src/commands/lsp.rs
Labels: A-helix-term, A-language-server

feat(lsp): support workspace/codeLens/refresh server request
  helix-lsp/src/lib.rs
  helix-term/src/application.rs
  helix-term/src/handlers.rs
  helix-term/src/handlers/code_lenses.rs
Labels: A-helix-term, A-language-server

feat: update code lens positions on change
  helix-lsp/src/client.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/handlers.rs
  helix-term/src/handlers/code_lenses.rs
  helix-view/src/document.rs
  helix-view/src/gutter.rs
  helix-view/src/handlers.rs
Labels: A-helix-term, A-language-server

fix: add line number colors to horizon-dark theme
  runtime/themes/horizon-dark.toml
Labels: A-theme

feat(lsp): add manual trigger and auto-trigger config for inline completion
  book/src/generated/static-cmd.md
  helix-term/src/commands.rs
  helix-term/src/handlers.rs
  helix-term/src/handlers/inline_completion.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
  helix-view/src/handlers.rs
Labels: A-helix-term

feat(lsp): store all inline completion items from LSP response
  helix-term/src/handlers/inline_completion.rs
Labels: A-helix-term

just: Fix highlighting in interpolations
  runtime/queries/just/injections.scm
Labels: A-tree-sitter

move the queries before the legal notice as it does not apply to them
  runtime/queries/yaml/injections.scm
Labels: A-tree-sitter

fix(languages): handle escape sequences in alloy strings
  languages.toml
Labels: none

feat(picker): current_buffer_directory picker parity with explorer
  helix-term/src/commands.rs
Labels: A-helix-term

fix: find_char line ending motion
  helix-term/src/commands.rs
Labels: A-helix-term

test: add integration tests for find_char
  helix-term/tests/test/movement.rs
Labels: A-helix-term
