Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

feat: use arrow -> for Copy and Move instead of colon
  helix-term/src/ui/mod.rs
Labels: A-helix-term

fix: delete directories
  helix-term/src/ui/mod.rs
Labels: A-helix-term

refactor: remove unneeded fields on Editor
  helix-term/src/ui/mod.rs
  helix-term/src/ui/picker.rs
  helix-term/src/ui/prompt.rs
  helix-view/src/editor.rs
Labels: A-helix-term

refactor: remove extra passage of arguments (unnecessary)
  helix-term/src/ui/mod.rs
Labels: A-helix-term

refactor: extract file explorer into a separate module
  helix-term/src/ui/file_explorer.rs
  helix-term/src/ui/mod.rs
Labels: A-helix-term

Add rainbow highlights based on tree-sitter queries
  helix-core/src/syntax.rs
  helix-core/src/syntax/config.rs
  helix-term/src/ui/editor.rs
  helix-view/src/editor.rs
  helix-view/src/theme.rs
  runtime/queries/bash/rainbows.scm
  runtime/queries/c/rainbows.scm
  runtime/queries/clojure/rainbows.scm
  runtime/queries/common-lisp/rainbows.scm
  runtime/queries/cpp/rainbows.scm
  runtime/queries/css/rainbows.scm
  runtime/queries/ecma/rainbows.scm
  runtime/queries/elixir/rainbows.scm
  runtime/queries/erlang/rainbows.scm
  runtime/queries/gleam/rainbows.scm
  runtime/queries/go/rainbows.scm
  runtime/queries/html/rainbows.scm
  runtime/queries/java/rainbows.scm
  runtime/queries/javascript/rainbows.scm
  runtime/queries/json/rainbows.scm
  runtime/queries/jsx/rainbows.scm
  runtime/queries/nix/rainbows.scm
  runtime/queries/python/rainbows.scm
  runtime/queries/racket/rainbows.scm
  runtime/queries/regex/rainbows.scm
  runtime/queries/ruby/rainbows.scm
  runtime/queries/rust/rainbows.scm
  runtime/queries/scheme/rainbows.scm
  runtime/queries/scss/rainbows.scm
  runtime/queries/starlark/rainbows.scm
  runtime/queries/toml/rainbows.scm
  runtime/queries/tsx/rainbows.scm
  runtime/queries/typescript/rainbows.scm
  runtime/queries/xml/rainbows.scm
  runtime/queries/yaml/rainbows.scm
  xtask/src/main.rs
Labels: A-core, A-helix-term, A-tree-sitter

refactor: create Editor::set_result
  helix-term/src/ui/file_explorer.rs
  helix-view/src/editor.rs
Labels: A-helix-term

feat: move cursor of `move` file explorer operation before the extension
  helix-term/src/ui/file_explorer.rs
Labels: A-helix-term

Add docs
  book/src/SUMMARY.md
  book/src/editor.md
  book/src/generated/lang-support.md
  book/src/guides/README.md
  book/src/guides/rainbow_bracket_queries.md
  book/src/languages.md
  book/src/themes.md
  helix-term/src/health.rs
Labels: A-helix-term

fix
  helix-term/src/ui/mod.rs
Labels: A-helix-term

Add paste_all_selections commands to replicate kakoune <a-p> <a-P>.
  helix-term/src/commands.rs
  helix-term/tests/test/commands.rs
  helix-term/tests/test/commands/paste_all_selections.rs
Labels: A-helix-term

Add extend_search_all command.
  helix-term/src/commands.rs
  helix-term/tests/test/commands.rs
  helix-term/tests/test/commands/extend_search_all.rs
Labels: A-helix-term

feat: statusline element style
  helix-term/src/ui/statusline.rs
  helix-view/src/editor.rs
Labels: A-helix-term

Update tree-sitter-twig rev to latest commit
  languages.toml
Labels: none

Add PasteType struct
  helix-term/src/commands.rs
Labels: A-helix-term

punch out some more docs
  STEEL.md
Labels: none

updating readme to show how to configure color swatches
  README.md
Labels: none

feat: differentiate buffers with same name by progressively adding prior path components
  helix-term/src/ui/editor.rs
Labels: A-helix-term

updating readme
  README.md
Labels: none

feat(term): add `shell_pipe_into_buffer` command.
  helix-term/src/commands.rs
Labels: A-helix-term

fix(term): fix pipe and prompt
  helix-term/src/commands.rs
Labels: A-helix-term

Hide Commandline
  book/src/editor.md
  helix-term/src/ui/editor.rs
  helix-term/src/ui/mod.rs
  helix-view/src/editor.rs
Labels: A-helix-term

feat: statusline elements theme support
  book/src/themes.md
  helix-term/src/ui/statusline.rs
Labels: A-helix-term

set working dir of the lsp command to workspace root
  helix-lsp/src/client.rs
Labels: A-language-server

Make atomic_save not configurable via editor config
  helix-core/src/editor_config.rs
  helix-view/src/document.rs
Labels: A-core

Add paste_after_all and paste_before_all
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
Labels: A-helix-term, A-keymap

Update keymap
  book/src/keymap.md
Labels: none

Use a collector for the tendril over a manual fold
  helix-term/src/commands.rs
Labels: A-helix-term

fix: detect crlf as end of line in regex prompt
  helix-core/src/selection.rs
  helix-term/src/ui/mod.rs
Labels: A-core, A-helix-term

fix: allow search_next_or_prev_impl to find crlf end of line after initial search
  helix-term/src/commands.rs
Labels: A-helix-term

add more quote types to markdown autopairs
  languages.toml
Labels: none

ViewID equality (#30)
  helix-view/src/extension.rs
Labels: none

keep component functions alive for the duration of the life cycle, skip rendering if the function is actually a bool
  helix-term/src/commands/engine/components.rs
Labels: A-helix-term

Update paste_all.
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-term/src/keymap/default.rs
Labels: A-helix-term, A-keymap

dont lock the engine when grabbing the docs
  helix-term/src/commands/engine/components.rs
  helix-term/src/commands/engine/steel.rs
Labels: A-helix-term

Choose a more meaningful primary index after the operation.
  helix-term/src/commands.rs
Labels: A-helix-term

Add unit tests for paste_all_selections_(before|after).
  helix-term/tests/test/commands.rs
  helix-term/tests/test/commands/paste_all_selections.rs
Labels: A-helix-term

Add documentation.
  book/src/generated/static-cmd.md
Labels: none

Do not add default mappings.
  book/src/keymap.md
  helix-term/src/keymap/default.rs
Labels: A-helix-term, A-keymap

feat: handle triple quotes in auto-pairs correctly
  helix-core/src/auto_pairs.rs
Labels: A-core
