Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

fix: call geter instead of trying to access private field
  helix-term/src/commands/typed.rs
Labels: A-helix-term

remove unnecessary allocations in switch_case
  helix-term/src/commands.rs
Labels: A-helix-term

perf: switch from `String` to `SmartString`
  Cargo.lock
  helix-view/Cargo.toml
  helix-view/src/editor/config.rs
Labels: none

refactor: tweak with bufferline icon spacing
  helix-term/src/ui/editor.rs
Labels: A-helix-term

chore: add comment for default diagnostic symbols
  helix-view/src/editor/config.rs
Labels: none

lint: add 'static lifetime to const's
  helix-view/src/editor/config.rs
Labels: none

refactor: change lsp icons to `nf-cod-symbol` where possible
  helix-view/src/icons.rs
Labels: none

feat: add dap symbols to config
  helix-view/src/editor/config.rs
  helix-view/src/gutter.rs
Labels: none

refactor: small renames for better clarity
  helix-term/src/ui/statusline.rs
Labels: A-helix-term

refactor: add nerdfont defaults for common mime types
  helix-view/src/editor/config.rs
Labels: none

refactor: remove `Default` impls and add config parsing
  helix-term/src/ui/editor.rs
  helix-term/src/ui/statusline.rs
  helix-view/src/editor/config.rs
Labels: A-helix-term

refactor: rename config.rs to icons.rs and move to top level
  helix-view/src/editor.rs
  helix-view/src/icons.rs
  helix-view/src/lib.rs
Labels: none

feat: add support for basic icons
  helix-term/src/ui/editor.rs
  helix-term/src/ui/statusline.rs
  helix-view/src/editor.rs
  helix-view/src/editor/config.rs
  helix-view/src/gutter.rs
Labels: A-helix-term

perf: add `#[inline]` attribute to getters
  helix-view/src/editor/config.rs
Labels: none

doc: add description for `Icons` in `Editor`
  helix-view/src/editor.rs
Labels: none

refactor: rename mime get param from type to name
  helix-view/src/icons.rs
Labels: none

todo: outline more icon domains and sets
  helix-view/src/icons.rs
Labels: none

feat: add more icons for supported languages
  helix-view/src/icons.rs
Labels: none

Update tree-sitter-erlang
  languages.toml
Labels: none

typst: add symbols query
  book/src/generated/lang-support.md
  runtime/queries/typst/symbols.scm
Labels: A-tree-sitter

feat: name [tree-sitter-tree]
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-term/src/ui/editor.rs
  helix-term/src/ui/mod.rs
  helix-term/src/ui/statusline.rs
  helix-view/src/document.rs
Labels: A-helix-term

feat: return lower and upper bounds
  helix-core/src/syntax.rs
Labels: A-core

feat: add more error messages on unmodifiable files
  helix-term/src/commands.rs
Labels: A-helix-term

revert: using a custom ID to reference document
  helix-term/src/commands/typed.rs
  helix-view/src/editor.rs
  helix-view/src/lib.rs
Labels: A-helix-term

feat: implement counter for node searching
  helix-core/src/syntax.rs
  helix-term/src/commands/typed.rs
  lol.js
Labels: A-core, A-helix-term

perf: do not close/open view all the time. Use a single document
  helix-term/src/commands/typed.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
  lol.js
Labels: A-helix-term

fix: do not create extra documents than necessary
  helix-term/src/commands/typed.rs
  helix-view/src/editor.rs
Labels: A-helix-term

chore: remove unused import
  helix-term/src/ui/editor.rs
Labels: A-helix-term

perf: use &'static str instead of heap-allocated String for default buffer name
  helix-term/src/commands.rs
  helix-view/src/document.rs
Labels: A-helix-term

chore: remove accidentally added file
  video.cast
Labels: none

refactor: instant live updates on each command
  helix-term/src/commands/typed.rs
  helix-term/src/events.rs
  helix-view/src/editor.rs
  helix-view/src/events.rs
Labels: A-helix-term

chore: remove unneeded file
  lol.js
Labels: none

refactor: clean up the code
  helix-core/src/syntax.rs
  helix-event/src/lib.rs
  helix-event/src/test.rs
  helix-term/src/commands/typed.rs
  helix-term/src/handlers/auto_save.rs
  helix-term/src/handlers/diagnostics.rs
  helix-term/src/handlers/signature_help.rs
  helix-term/src/handlers/snippet.rs
  lol.js
  video.cast
Labels: A-core, A-helix-term

refactor: use doc! macro
  helix-term/src/commands/typed.rs
Labels: A-helix-term

fix: panics
  helix-event/src/lib.rs
  helix-event/src/registry.rs
  helix-event/src/test.rs
  helix-term/src/commands/typed.rs
  helix-term/src/handlers/auto_save.rs
  helix-term/src/handlers/diagnostics.rs
  helix-term/src/handlers/signature_help.rs
  helix-term/src/handlers/snippet.rs
Labels: A-helix-term

feat: basic implementation for tree-sitter-tree
  helix-term/src/commands/typed.rs
  helix-view/src/editor.rs
Labels: A-helix-term

chore: remove TODO comments
  helix-term/src/commands/typed.rs
Labels: A-helix-term

feat: basic MVP for tree-sitter-tree
  helix-term/src/commands/typed.rs
Labels: A-helix-term

refactor: do not use unnecessary pattern matching
  helix-term/src/commands/typed.rs
Labels: A-helix-term

docs: add comment
  helix-term/src/commands/typed.rs
Labels: A-helix-term

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
