Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

fix rebase
  helix-view/src/input.rs
Labels: none

clippy
  helix-view/src/input.rs
Labels: none

fix: dont use sancode on macros replaying
  helix-term/src/ui/editor.rs
Labels: A-helix-term

evdev to fetch keyboard events
  Cargo.lock
  helix-term/Cargo.toml
  helix-term/build.rs
  helix-term/src/commands.rs
  helix-term/src/ui/editor.rs
  helix-view/Cargo.toml
  helix-view/build.rs
  helix-view/src/editor.rs
  helix-view/src/lib.rs
  helix-view/src/scancode.rs
Labels: A-helix-term

stop on error
  helix-view/src/scancode.rs
Labels: none

fix: rename var
  helix-view/src/scancode.rs
Labels: none

feat: hidapi to listen keyboard events
  helix-term/Cargo.toml
  helix-term/build.rs
  helix-view/Cargo.toml
  helix-view/build.rs
  helix-view/src/scancode.rs
Labels: A-helix-term

fix lints
  helix-term/build.rs
  helix-view/build.rs
Labels: A-helix-term

style: format
  helix-term/build.rs
  helix-view/build.rs
Labels: A-helix-term

cargo fmt
  helix-view/build.rs
Labels: none

fix: listen events from ungrabbed keyboard evdev devices
  helix-view/Cargo.toml
  helix-view/src/scancode.rs
Labels: none

fix: long pressed keys on hidapi
  helix-view/src/scancode.rs
Labels: none

fix: shifted char for scancode 53
  helix-view/src/scancode.rs
Labels: none

update Cargo.lock
  Cargo.lock
Labels: none

fix(languages:cue): Correct default config for CUE
  book/src/generated/lang-support.md
  languages.toml
Labels: none

fix(languages:cue): Correct default config for CUE (#15327)
  book/src/generated/lang-support.md
  languages.toml
Labels: none

deploy: 74e477f3279a0abe1b25a62a6f3be948a1ded6a3
  master/404.html
  master/building-from-source.html
  master/command-line.html
  master/commands.html
  master/configuration.html
  master/ecosystem.html
  master/editor.html
  master/from-vim.html
  master/guides/adding_languages.html
  master/guides/indent.html
  master/guides/index.html
  master/guides/injection.html
  master/guides/rainbow_bracket_queries.html
  master/guides/tags.html
  master/guides/textobject.html
  master/index.html
  master/install.html
  master/jumplist.html
  master/keymap.html
  master/lang-support.html
  master/languages.html
  master/other-software.html
  master/package-managers.html
  master/pickers.html
  master/print.html
  master/registers.html
  master/remapping.html
  master/searcher-c2a407aa.js
  master/searchindex-4a6f7096.js
  master/searchindex-8e33ebc6.js
  master/surround.html
  master/syntax-aware-motions.html
  master/textobjects.html
  master/themes.html
  master/title-page.html
  master/usage.html
Labels: none

feat(highlights/info): add REVIEW, PR and CR (#15457)
  runtime/queries/comment/highlights.scm
Labels: A-tree-sitter

update docs
  book/src/generated/lang-support.md
Labels: none

use an actual common-lisp grammar
  languages.toml
  runtime/queries/common-lisp/highlights.scm
  runtime/queries/common-lisp/indents.scm
  runtime/queries/common-lisp/injections.scm
  runtime/queries/common-lisp/rainbows.scm
  runtime/queries/common-lisp/tags.scm
  runtime/queries/common-lisp/textobjects.scm
Labels: A-tree-sitter

chore: cargo xtask docgen
  book/src/generated/lang-support.md
Labels: none

feat(queries/typst): add textobjects (#15456)
  book/src/generated/lang-support.md
  runtime/queries/typst/textobjects.scm
Labels: A-tree-sitter

deploy: cd76198b6a6af1581d30dea0f551c38d89f1355f
  master/404.html
  master/building-from-source.html
  master/command-line.html
  master/commands.html
  master/configuration.html
  master/ecosystem.html
  master/editor.html
  master/from-vim.html
  master/guides/adding_languages.html
  master/guides/indent.html
  master/guides/index.html
  master/guides/injection.html
  master/guides/rainbow_bracket_queries.html
  master/guides/tags.html
  master/guides/textobject.html
  master/index.html
  master/install.html
  master/jumplist.html
  master/keymap.html
  master/lang-support.html
  master/languages.html
  master/other-software.html
  master/package-managers.html
  master/pickers.html
  master/print.html
  master/registers.html
  master/remapping.html
  master/searcher-c2a407aa.js
  master/searchindex-8e33ebc6.js
  master/searchindex-e1e1088e.js
  master/surround.html
  master/syntax-aware-motions.html
  master/textobjects.html
  master/themes.html
  master/title-page.html
  master/usage.html
Labels: none

use an actual common-lisp grammar (#15460)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/common-lisp/highlights.scm
  runtime/queries/common-lisp/indents.scm
  runtime/queries/common-lisp/injections.scm
  runtime/queries/common-lisp/rainbows.scm
  runtime/queries/common-lisp/tags.scm
  runtime/queries/common-lisp/textobjects.scm
Labels: A-tree-sitter

deploy: 510edb5d65e09309a5b2664110ed45cee993f964
  master/404.html
  master/building-from-source.html
  master/command-line.html
  master/commands.html
  master/configuration.html
  master/ecosystem.html
  master/editor.html
  master/from-vim.html
  master/guides/adding_languages.html
  master/guides/indent.html
  master/guides/index.html
  master/guides/injection.html
  master/guides/rainbow_bracket_queries.html
  master/guides/tags.html
  master/guides/textobject.html
  master/index.html
  master/install.html
  master/jumplist.html
  master/keymap.html
  master/lang-support.html
  master/languages.html
  master/other-software.html
  master/package-managers.html
  master/pickers.html
  master/print.html
  master/registers.html
  master/remapping.html
  master/searcher-c2a407aa.js
  master/searchindex-9e386d50.js
  master/searchindex-e1e1088e.js
  master/surround.html
  master/syntax-aware-motions.html
  master/textobjects.html
  master/themes.html
  master/title-page.html
  master/usage.html
Labels: none

refactor: split command_line(core) into args(term)
  helix-core/src/command_line.rs
  helix-term/src/commands.rs
  helix-term/src/commands/args.rs
  helix-term/src/commands/typed.rs
Labels: A-core, A-helix-term

feat(command): allow CommandCompleter type to be reused in cmd args
  helix-term/src/commands/args.rs
  helix-term/src/commands/typed.rs
Labels: A-helix-term

Add highlighting of mutable variables to dark_plus theme
  runtime/themes/dark_plus.toml
Labels: A-theme

Change hit_breakpoint_ids type from usize to i32
  helix-dap-types/src/lib.rs
Labels: none

changed conditional eval
  helix-term/src/commands/typed.rs
  helix-view/src/document.rs
Labels: A-helix-term

changed lang config field `auto-format` to Option
  helix-core/src/syntax/config.rs
  helix-view/src/document.rs
Labels: A-core

removed hidden `auto-format` assignment
  languages.toml
Labels: none

changed global `auto-format` default to false
  book/src/editor.md
  helix-view/src/editor.rs
Labels: none

fix compilation issue
  helix-term/src/application.rs
Labels: A-helix-term

be able to shadow builtins in keybindings
  helix-term/src/commands.rs
  helix-term/src/commands/engine.rs
  helix-term/src/commands/engine/steel/mod.rs
Labels: A-helix-term

shutdown the engine more cleanly
  helix-term/src/application.rs
  helix-term/src/commands/engine.rs
  helix-term/src/commands/engine/steel/mod.rs
Labels: A-helix-term

feat(helix-loader): add support for SHA256 git repos for grammars
  helix-loader/src/grammar.rs
Labels: none

Add Puppet language support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/puppet/highlights.scm
Labels: A-tree-sitter

prefer builtins if they were not yet bound by steel when the engine starts up
  helix-term/src/commands/engine/steel/mod.rs
Labels: A-helix-term

Use tree-sitter-htmlx for Svelte grammar
  languages.toml
Labels: none

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
