Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

queries(rust): add scope for mutable variables
  book/src/themes.md
  runtime/queries/rust/highlights.scm
  runtime/queries/rust/locals.scm
Labels: A-tree-sitter

queries(rust): properly highlight Dioxus' `rsx!` macro
  runtime/queries/rust/injections.scm
Labels: A-tree-sitter

queries(rust): special-case methods called `map` and `flat_map`
  runtime/queries/rust/highlights.scm
Labels: A-tree-sitter

add a link to release packe on debian installation docs (#14346)
  book/src/package-managers.md
Labels: none

deploy: dc7c2acc083f86c841b9d1ffdc9e77d4ccf46d1e
  master/package-managers.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

queries: Inject regex into regular Rust string literals
  runtime/queries/rust/injections.scm
Labels: A-tree-sitter

fix some queries
  runtime/queries/cython/highlights.scm
  runtime/queries/cython/locals.scm
Labels: A-tree-sitter

support cython (#14128)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/cython/folds.scm
  runtime/queries/cython/highlights.scm
  runtime/queries/cython/indents.scm
  runtime/queries/cython/injections.scm
  runtime/queries/cython/locals.scm
  runtime/queries/cython/tags.scm
Labels: A-tree-sitter

deploy: 7c37e8acea47783d6c2c3ae11c44fd94bab5746a
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

Add tag queries for java, kotlin, protobuf and bash (#14349)
  book/src/generated/lang-support.md
  runtime/queries/bash/tags.scm
  runtime/queries/java/tags.scm
  runtime/queries/kotlin/tags.scm
  runtime/queries/protobuf/tags.scm
Labels: A-tree-sitter

deploy: d546a799e579b0cf437bbc0695898e60e216fc27
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

chore: remove unneeded query
  runtime/queries/rust/injections.scm
Labels: A-tree-sitter

Fix bugs in Editor::focus (#14262)
  helix-term/src/ui/editor.rs
  helix-view/src/editor.rs
Labels: A-helix-term

feat: add `shellcheckrc` language (#14202)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/shellcheckrc/highlights.scm
  runtime/queries/shellcheckrc/injections.scm
  runtime/queries/shellcheckrc/textobjects.scm
Labels: A-tree-sitter

deploy: 6b73c3c55059060e8387de7532738f2ee926c333
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

queries(rust): Highlight tacit functions when we are 100% sure they are (#14350)
  runtime/queries/rust/highlights.scm
Labels: A-tree-sitter

queries(rust): properly highlight Dioxus' `rsx!` macro (#14354)
  runtime/queries/rust/injections.scm
Labels: A-tree-sitter

queries(rust): Highlight type infer in more places (#14351)
  runtime/queries/rust/highlights.scm
Labels: A-tree-sitter

fix: Do not highlight in locals query
  runtime/queries/rust/highlights.scm
  runtime/queries/rust/locals.scm
Labels: A-tree-sitter

fix: do not use local query for highlights
  runtime/queries/rust/highlights.scm
  runtime/queries/rust/locals.scm
Labels: A-tree-sitter

add `anchored` movement commands
  helix-core/src/movement.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

add `same_line` movement commands (#768)
  helix-core/src/movement.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

tui: Refactor Config type handling in backends
  helix-term/src/application.rs
  helix-tui/src/backend/crossterm.rs
  helix-tui/src/backend/mod.rs
  helix-tui/src/backend/test.rs
  helix-tui/src/terminal.rs
Labels: A-helix-term

fix command `append_mode_same_line`
  helix-term/src/commands.rs
Labels: A-helix-term

Replace Crossterm with Termina
  Cargo.lock
  Cargo.toml
  helix-term/Cargo.toml
  helix-term/src/application.rs
  helix-term/src/health.rs
  helix-term/src/main.rs
  helix-term/src/ui/editor.rs
  helix-term/tests/test/helpers.rs
  helix-tui/Cargo.toml
  helix-tui/src/backend/crossterm.rs
  helix-tui/src/backend/mod.rs
  helix-tui/src/backend/termina.rs
  helix-tui/src/backend/test.rs
  helix-tui/src/lib.rs
  helix-view/Cargo.toml
  helix-view/src/base64.rs
  helix-view/src/clipboard.rs
  helix-view/src/graphics.rs
  helix-view/src/input.rs
  helix-view/src/keyboard.rs
  helix-view/src/lib.rs
Labels: A-helix-term

Remove `Backend::get_cursor`
  helix-tui/src/backend/mod.rs
  helix-tui/src/backend/termina.rs
  helix-tui/src/backend/test.rs
  helix-tui/src/terminal.rs
Labels: none

Improve "written" message for small (<1024B) files
  helix-term/src/application.rs
Labels: A-helix-term

generate docs for new movement commands
  book/src/generated/static-cmd.md
Labels: none

use constant.builtin.boolean scope for ecma boolean
  runtime/queries/ecma/highlights.scm
Labels: A-tree-sitter

use constant.builtin.boolean scope for ecma boolean (#14357)
  runtime/queries/ecma/highlights.scm
Labels: A-tree-sitter

refactor!: change default windows shell to `powershell`
  helix-view/src/editor.rs
Labels: none

adding editor.rs
  helix-term/src/ui/editor.rs
Labels: A-helix-term

Use workspace symbol picker for declaration/definition
  helix-term/src/commands/lsp.rs
  helix-term/src/commands/syntax.rs
Labels: A-helix-term

Add new reference picker
  book/src/guides/tags.md
  helix-term/src/commands/lsp.rs
  helix-term/src/commands/syntax.rs
Labels: A-helix-term

Add java reference symbols
  runtime/queries/java/tags.scm
Labels: A-tree-sitter

Add support for the SlightLisp language
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/slisp/highlights.scm
  runtime/queries/slisp/tags.scm
Labels: A-tree-sitter

map keyboard scancode to KeyCode
  helix-term/Cargo.toml
  helix-term/src/commands.rs
  helix-term/src/ui/editor.rs
  helix-view/Cargo.toml
  helix-view/src/editor.rs
  helix-view/src/input.rs
  helix-view/src/lib.rs
  helix-view/src/scancode.rs
Labels: A-helix-term

fix: long pressed keys on hidapi
  helix-view/src/scancode.rs
Labels: none

fix: dont use sancode on macros replaying
  helix-term/src/ui/editor.rs
Labels: A-helix-term

fix: listen events from ungrabbed keyboard evdev devices
  helix-view/Cargo.toml
  helix-view/src/scancode.rs
Labels: none

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
