Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

feat(languages): add .livemd Markdown extension
  languages.toml
Labels: none

feat: add command to see edited buffers
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
Labels: A-helix-term, A-keymap

feat: add register / for parent path
  helix-view/src/register.rs
Labels: none

feat: add docs for register `/`
  book/src/registers.md
Labels: none

docs: add information on <space>B modified_buffer_picker
  book/src/keymap.md
Labels: none

update Unison grammar and queries
  languages.toml
  runtime/queries/unison/highlights.scm
  runtime/queries/unison/indents.scm
Labels: A-tree-sitter

add textobject queries for Unison
  runtime/queries/unison/textobjects.scm
Labels: A-tree-sitter

run docgen because of Unison textobjects addition
  book/src/generated/lang-support.md
Labels: none

feat: :cd with no args changes to home directory
  helix-term/src/commands/typed.rs
Labels: A-helix-term

feat: remove unused import
  helix-term/src/commands/typed.rs
Labels: A-helix-term

feat: add commands for working with different cases
  Cargo.lock
  helix-term/Cargo.toml
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
Labels: A-helix-term, A-keymap

feat: add case-mode section
  book/src/keymap.md
Labels: none

docs: remove accidentally pasted code
  book/src/keymap.md
Labels: none

fix: simplify text reflowing strategy
  helix-core/src/wrap.rs
Labels: A-core

update zig comment tokens
  languages.toml
Labels: none

fix: removed explict default config file from swift-format
  languages.toml
Labels: none

fix: removed explict default config file from swift-format (#12052)
  languages.toml
Labels: none

deploy: 10c3502a89d51e2d074d0d2ca62f85241d6e8c0f
  master/404.html
  master/book.js
  master/building-from-source.html
  master/commands.html
  master/configuration.html
  master/css/chrome.css
  master/css/general.css
  master/css/variables.css
  master/editor.html
  master/from-vim.html
  master/guides/adding_languages.html
  master/guides/indent.html
  master/guides/index.html
  master/guides/injection.html
  master/guides/textobject.html
  master/highlight.css
  master/index.html
  master/install.html
  master/keymap.html
  master/lang-support.html
  master/languages.html
  master/package-managers.html
  master/pickers.html
  master/print.html
  master/registers.html
  master/remapping.html
  master/surround.html
  master/syntax-aware-motions.html
  master/textobjects.html
  master/themes.html
  master/title-page.html
  master/toc.html
  master/toc.js
  master/tomorrow-night.css
  master/usage.html
Labels: none

feat: create branch for surround implementation for x
  helix-term/src/commands.rs
Labels: A-helix-term

refactor: add_surrounding_impl extract main logic into an fn
  helix-core/src/match_brackets.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

docs: add documentation
  helix-core/src/match_brackets.rs
  helix-term/src/ui/prompt.rs
Labels: A-core, A-helix-term

refactor: make surround_add use surround_add_impl in all of its brancehs
  helix-term/src/commands.rs
Labels: A-helix-term

refactor: remove unnecessary abstraction (create_surround_prompt)
  helix-term/src/commands.rs
Labels: A-helix-term

feat: complete implementation for adding surrounding tag
  helix-term/src/commands.rs
Labels: A-helix-term

fix: remove misleading textobject "x" mention
  helix-term/src/commands.rs
Labels: A-helix-term

docs: add comments describing algorithm for replacing character
  helix-term/src/commands.rs
Labels: A-helix-term

docs: add comments describing algorithm
  helix-term/src/commands.rs
Labels: A-helix-term

add support for teal language
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/teal/folds.scm
  runtime/queries/teal/highlights.scm
  runtime/queries/teal/locals.scm
Labels: A-tree-sitter

Fix breaking change in gix Tree::loop_entry_by_path
  helix-vcs/src/git.rs
Labels: A-vcs

feat: add basic hard-coded implementation for replace tag
  helix-core/src/search.rs
  helix-core/src/surround.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

Re-vendor encoding_rs test data
  helix-view/tests/encoding/LICENSE-WHATWG
  helix-view/tests/encoding/big5_in.txt
  helix-view/tests/encoding/big5_in_ref.txt
  helix-view/tests/encoding/big5_out.txt
  helix-view/tests/encoding/big5_out_ref.txt
  helix-view/tests/encoding/euc_kr_in.txt
  helix-view/tests/encoding/euc_kr_in_ref.txt
  helix-view/tests/encoding/euc_kr_out.txt
  helix-view/tests/encoding/euc_kr_out_ref.txt
  helix-view/tests/encoding/gb18030_in.txt
  helix-view/tests/encoding/gb18030_in_ref.txt
  helix-view/tests/encoding/gb18030_out.txt
  helix-view/tests/encoding/gb18030_out_ref.txt
  helix-view/tests/encoding/iso_2022_jp_in.txt
  helix-view/tests/encoding/iso_2022_jp_in_ref.txt
  helix-view/tests/encoding/iso_2022_jp_out.txt
  helix-view/tests/encoding/iso_2022_jp_out_ref.txt
  helix-view/tests/encoding/jis0208_in.txt
  helix-view/tests/encoding/jis0208_in_ref.txt
  helix-view/tests/encoding/jis0208_out.txt
  helix-view/tests/encoding/jis0208_out_ref.txt
  helix-view/tests/encoding/jis0212_in.txt
  helix-view/tests/encoding/jis0212_in_ref.txt
  helix-view/tests/encoding/shift_jis_in.txt
  helix-view/tests/encoding/shift_jis_in_ref.txt
  helix-view/tests/encoding/shift_jis_out.txt
  helix-view/tests/encoding/shift_jis_out_ref.txt
Labels: none

feat: add function to get next tag's position and test for it
  helix-core/src/surround.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

test: add some extra tests
  helix-core/src/search.rs
  helix-core/src/surround.rs
Labels: A-core

feat: prev_tag finder passes tests
  helix-core/src/surround.rs
Labels: A-core

feat: create skeleton for the replacement implementation
  helix-core/src/surround.rs
Labels: A-core

docs: add doc comments to new functions
  helix-core/src/surround.rs
Labels: A-core

refactor: remove loop labels and return early instead
  helix-core/src/surround.rs
Labels: A-core

chore: remove unused function
  helix-core/src/search.rs
Labels: A-core

chore: remove unused comment
  helix-term/src/ui/prompt.rs
Labels: A-helix-term

feat: remove unused comments
  empty.toml
Labels: none

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
