Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

add folds for hyprlang
  runtime/queries/hyprlang/folds.scm
Labels: A-tree-sitter

Add tcl highlighting
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/tcl/folds.scm
  runtime/queries/tcl/highlights.scm
  runtime/queries/tcl/indents.scm
Labels: A-tree-sitter

Add initial support for SuperCollider (#9329)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/supercollider/folds.scm
  runtime/queries/supercollider/highlights.scm
Labels: A-tree-sitter

deploy: 94d210c9bf78af1d170534bc3398b334f289be33
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

add koka language support (#8727)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/koka/highlights.scm
  runtime/queries/koka/indents.scm
  runtime/queries/koka/injections.scm
  runtime/queries/koka/locals.scm
Labels: A-tree-sitter

deploy: 2e4653ea312dcb69d2453eccaa7c0f873cce6aa5
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

fix `this document is excluded` for toml lsp
  languages.toml
Labels: none

Add yaml LSP for docker compose
  languages.toml
Labels: none

Change docs
  book/src/generated/lang-support.md
Labels: none

Update tree-sitter definitions according to comments
  runtime/queries/ada/highlights.scm
  runtime/queries/ada/locals.scm
  runtime/queries/ada/textobjects.scm
Labels: A-tree-sitter

Remove .gpr glob from languages.toml
  languages.toml
Labels: none

Add yaml LSP for docker compose (#9916)
  book/src/generated/lang-support.md
  languages.toml
Labels: none

deploy: 58022586a00a23fe20d12a563dbf6e97b3e64df0
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

Factor out line ending handling in integration tests
  helix-term/tests/test/auto_indent.rs
  helix-term/tests/test/auto_pairs.rs
  helix-term/tests/test/commands.rs
  helix-term/tests/test/commands/movement.rs
  helix-term/tests/test/commands/write.rs
  helix-term/tests/test/helpers.rs
  helix-term/tests/test/languages/go.rs
  helix-term/tests/test/languages/yaml.rs
  helix-term/tests/test/movement.rs
  helix-term/tests/test/splits.rs
  helix-vcs/src/lib.rs
Labels: A-helix-term, A-vcs

Fix unit in languages.toml for ada, update locals.scm to helix needs
  languages.toml
  runtime/queries/ada/locals.scm
Labels: A-tree-sitter

ci: Group minor rust dependency dependabot updates
  .github/dependabot.yml
Labels: none

Optimize get_truncated_path
  helix-stdx/src/path.rs
Labels: none

Call as_ref only once
  helix-stdx/src/env.rs
Labels: none

Optimize fold_home_dir
  helix-stdx/src/path.rs
Labels: none

Optimize getting a relative path
  helix-stdx/src/path.rs
  helix-term/src/ui/statusline.rs
  helix-view/src/document.rs
Labels: A-helix-term

remove threadpool deps
  Cargo.lock
  helix-loader/Cargo.toml
  helix-loader/src/grammar.rs
Labels: none

run cargo xtask docgen
  book/src/generated/lang-support.md
Labels: none

enhance support for PKGBUILDS
  languages.toml
  runtime/queries/pkgbuild/highlights.scm
  runtime/queries/pkgbuild/indents.scm
  runtime/queries/pkgbuild/injections.scm
  runtime/queries/pkgbuild/textobjects.scm
Labels: A-tree-sitter

Respect undercurl config even with no terminfo (#9897)
  helix-tui/src/backend/crossterm.rs
Labels: none

Do not stop reloading docs on error (#9870)
  helix-term/src/commands/typed.rs
  helix-view/src/document.rs
Labels: A-helix-term

Enhance support for PKGBUILDS (#9909)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/pkgbuild/highlights.scm
  runtime/queries/pkgbuild/indents.scm
  runtime/queries/pkgbuild/injections.scm
  runtime/queries/pkgbuild/textobjects.scm
Labels: A-tree-sitter

deploy: 0b6dea6dc2f78376890beeb31b591987f7f5249b
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

Initial Ada language support (after stale) (#9908)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/ada/folds.scm
  runtime/queries/ada/highlights.scm
  runtime/queries/ada/locals.scm
  runtime/queries/ada/textobjects.scm
Labels: A-tree-sitter

deploy: 485c5cf0b81ed1f189c5bb06263667449d5684d6
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

Prevent `shell_keep_pipe` from stopping on nonzero exit status code (#9817)
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
Labels: A-helix-term

feat: add suport for helm charts
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/helm/highlights.scm
  runtime/queries/helm/injections.scm
Labels: A-tree-sitter

syntax: Track parent LanguageLayer IDs
  helix-core/src/syntax.rs
Labels: A-core

Ignore more version control systems
  helix-term/src/lib.rs
Labels: A-helix-term

feat: add suport for helm charts (#9900)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/helm/highlights.scm
  runtime/queries/helm/injections.scm
Labels: A-tree-sitter

deploy: 4b4947639a4495e6a0ebd0d5ce44ff083e240b7b
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

Ignore more version control systems (#9935)
  helix-term/src/lib.rs
Labels: A-helix-term

correctly highlight attributes
  runtime/queries/glimmer/highlights.scm
Labels: A-tree-sitter

correctly highlight hash_pair
  runtime/queries/glimmer/highlights.scm
Labels: A-tree-sitter

feat: add support for ember .hbs (glimmer) templates
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/glimmer/highlights.scm
Labels: A-tree-sitter

highlight this correctly in block statements
  runtime/queries/glimmer/highlights.scm
Labels: A-tree-sitter
