Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

Change auto pair hook to operate on single changes
  helix-core/src/auto_pairs.rs
  helix-core/src/transaction.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

backfill auto pair delete tests
  helix-term/tests/test/auto_pairs.rs
Labels: A-helix-term

add delete_by_and_with_selection
  helix-core/src/auto_pairs.rs
  helix-core/src/transaction.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

insert double whitespace inside pair
  helix-core/src/auto_pairs.rs
  helix-term/tests/test/auto_pairs.rs
Labels: A-core, A-helix-term

chore: update to new version of my PR to tree-sitter
  Cargo.lock
  Cargo.toml
  helix-core/src/comment.rs
  helix-core/src/syntax.rs
Labels: A-core

chore: move comment to a doc comment
  helix-core/src/comment.rs
Labels: A-core

Initial support for Clarity language
  languages.toml
  runtime/queries/clarity/highlights.scm
Labels: A-tree-sitter

Add per view search location and total matches to statusline.
  book/src/editor.md
  helix-term/src/commands.rs
  helix-term/src/ui/statusline.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-helix-term

Add option to limit the search match counter to a max.
  book/src/editor.md
  helix-term/src/commands.rs
  helix-term/src/ui/statusline.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-helix-term

More glob to detect gitattributes file
  languages.toml
Labels: none

More glob to detect gitattributes file (#13540)
  languages.toml
Labels: none

Use 'ui.text' as a base style for the syntax highlighter
  helix-term/src/ui/document.rs
Labels: A-helix-term

chore: update version of my PR
  Cargo.lock
  Cargo.toml
Labels: none

feat: Inject host language `.html` into files named `index.html.tera`
  Cargo.lock
  Cargo.toml
  helix-core/src/syntax.rs
  helix-core/tests/indent.rs
  helix-term/src/ui/markdown.rs
  helix-term/src/ui/picker/handlers.rs
  helix-view/src/document.rs
  runtime/queries/tera/injections.scm
Labels: A-core, A-helix-term, A-tree-sitter

chore: generare documentation
  Cargo.lock
Labels: none

style: remove accidental indents
  Cargo.toml
Labels: none

Removed unnecessary apostrophe in keymap.md
  book/src/keymap.md
Labels: none

fixup
  runtime/queries/haskell/locals.scm
Labels: A-tree-sitter

docs(building-from-source): suggest optimized install cmd as alternative
  book/src/building-from-source.md
Labels: none

Updated lua in `languages.toml` for auto-formatting
  languages.toml
Labels: none

Add statusline colors for mode indicators in vintage theme
  runtime/themes/vintage.toml
Labels: A-theme

Fix helix.vim name in other-software.md
  book/src/other-software.md
Labels: none

feat: added rounded-corners option to draw rounded borders
  book/src/editor.md
  helix-term/src/ui/completion.rs
  helix-term/src/ui/info.rs
  helix-term/src/ui/picker.rs
  helix-term/src/ui/popup.rs
  helix-term/src/ui/prompt.rs
  helix-tui/src/widgets/block.rs
  helix-view/src/editor.rs
Labels: A-helix-term

Update tree-sitter-haskell (#13475)
  languages.toml
  runtime/queries/haskell/highlights.scm
  runtime/queries/haskell/locals.scm
  runtime/queries/haskell/textobjects.scm
Labels: A-tree-sitter

Removed unnecessary apostrophe in keymap.md (#13551)
  book/src/keymap.md
Labels: none

deploy: e606652a9636db3c0cea1a5ec0192db8e1cc44a6
  master/keymap.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

queries: Reorder Slint and HTML injections in Rust
  runtime/queries/rust/injections.scm
Labels: A-tree-sitter

CI: Set a timeout for the test suite workflow
  .github/workflows/build.yml
Labels: none

Updated python/locals.scm to label `self` and `cls` as `variable.builtin`
  runtime/queries/python/locals.scm
Labels: A-tree-sitter

syntax: Reset query cursor byte range for textobjects
  helix-core/src/syntax.rs
Labels: A-core

minor: Prefer '#any-of?' to '#match?' for alternation
  runtime/queries/python/locals.scm
Labels: A-tree-sitter

Updated python/locals.scm to label `self` and `cls` as `variable.buitin` (#13552)
  runtime/queries/python/locals.scm
Labels: A-tree-sitter

Fix statusline text visibility by updating ui.statusline colors
  runtime/themes/vintage.toml
Labels: A-theme

bring rust version back in line
  Cargo.toml
Labels: none

instrument proper components module, start documentation
  Cargo.lock
  helix-term/src/commands/engine/components.rs
  helix-term/src/commands/engine/steel.rs
Labels: A-helix-term

finish documenting component api
  helix-term/src/commands/engine/components.rs
Labels: A-helix-term

just kidding, actually finish documenting the component api
  helix-term/src/commands/engine/components.rs
Labels: A-helix-term

implement case insensitive search for `:sort`
  helix-term/src/commands/typed.rs
Labels: A-helix-term

add restoring creation time to copy_metadata
  helix-stdx/src/faccess.rs
Labels: none

more documentation of configuration
  helix-term/src/commands.rs
  helix-term/src/commands/engine/steel.rs
  helix-term/src/commands/typed.rs
Labels: A-helix-term
