Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

fix lsp restart (#10614)
  helix-lsp/src/lib.rs
Labels: A-language-server

Update iroaseta.toml
  runtime/themes/iroaseta.toml
Labels: A-theme

color modificaton
  runtime/themes/ao.toml
Labels: A-theme

switch from rmp-serde to bincode
  Cargo.lock
  helix-term/Cargo.toml
  helix-term/src/shada.rs
  helix-view/src/view.rs
Labels: A-helix-term

rename shada to session
  helix-loader/src/lib.rs
  helix-term/Cargo.toml
  helix-term/src/application.rs
  helix-term/src/args.rs
  helix-term/src/lib.rs
  helix-term/src/main.rs
  helix-term/src/session.rs
Labels: A-helix-term

load file history
  helix-loader/src/session.rs
  helix-term/src/application.rs
  helix-term/src/args.rs
  helix-term/src/commands/typed.rs
  helix-view/src/editor.rs
Labels: A-helix-term

handle NotFound error when reading histfile before it has been created
  helix-term/src/session.rs
Labels: A-helix-term

persist file history
  Cargo.lock
  helix-loader/Cargo.toml
  helix-loader/src/lib.rs
  helix-loader/src/session.rs
  helix-term/src/main.rs
  helix-view/src/editor.rs
Labels: A-helix-term

move session.rs from helix-term to helix-loader
  helix-loader/src/lib.rs
  helix-loader/src/session.rs
  helix-term/Cargo.toml
  helix-term/src/application.rs
  helix-term/src/lib.rs
  helix-term/src/ui/prompt.rs
Labels: A-helix-term

read command history from file
  helix-term/src/application.rs
  helix-term/src/session.rs
  helix-view/src/register.rs
Labels: A-helix-term

minimal implementation of shada
  Cargo.lock
  helix-loader/src/lib.rs
  helix-term/Cargo.toml
  helix-term/src/application.rs
  helix-term/src/args.rs
  helix-term/src/lib.rs
  helix-term/src/main.rs
  helix-term/src/shada.rs
  helix-view/src/view.rs
Labels: A-helix-term

disable writing shada in integration tests
  helix-term/src/application.rs
Labels: A-helix-term

rename session to persistence
  helix-loader/src/lib.rs
  helix-loader/src/persistence.rs
  helix-term/src/application.rs
  helix-term/src/ui/prompt.rs
  helix-view/src/editor.rs
Labels: A-helix-term

persist and load search history
  helix-loader/src/lib.rs
  helix-term/src/application.rs
  helix-term/src/main.rs
  helix-term/src/session.rs
Labels: A-helix-term

encode register history with bincode, and merge logic with file history
  helix-loader/src/session.rs
  helix-term/src/ui/prompt.rs
Labels: A-helix-term

switch to multi-file approach, implement persisting command history
  helix-loader/src/lib.rs
  helix-term/src/application.rs
  helix-term/src/args.rs
  helix-term/src/main.rs
  helix-term/src/session.rs
  helix-term/src/ui/prompt.rs
Labels: A-helix-term

avoid exposing internals of register.rs
  helix-loader/src/session.rs
  helix-term/src/application.rs
  helix-view/src/register.rs
Labels: A-helix-term

promote type/implementation-specific persistence logic to helix-view
  helix-loader/src/persistence.rs
  helix-term/src/application.rs
  helix-term/src/ui/prompt.rs
  helix-view/src/editor.rs
  helix-view/src/lib.rs
  helix-view/src/persistence.rs
Labels: A-helix-term

store ViewPosition and Selection directly in FileHistoryEntry
  Cargo.lock
  helix-core/Cargo.toml
  helix-core/src/selection.rs
  helix-term/src/application.rs
  helix-view/src/editor.rs
  helix-view/src/persistence.rs
  helix-view/src/view.rs
Labels: A-core, A-helix-term

fix quirky file persistence behaviour
  helix-term/src/application.rs
  helix-term/src/commands/typed.rs
  helix-view/src/editor.rs
Labels: A-helix-term

save cloning by passing by ref to persistence functions
  helix-loader/src/persistence.rs
  helix-view/src/editor.rs
  helix-view/src/persistence.rs
Labels: none

fix integration tests
  helix-term/src/application.rs
  helix-term/src/ui/prompt.rs
  helix-term/tests/test/helpers.rs
  helix-view/src/editor.rs
Labels: A-helix-term

persist clipboard
  helix-loader/src/lib.rs
  helix-loader/src/persistence.rs
  helix-term/src/application.rs
  helix-term/src/commands.rs
  helix-term/src/main.rs
  helix-term/tests/test/helpers.rs
  helix-view/src/persistence.rs
Labels: A-helix-term

Improve the structure of the documentation
  book/src/SUMMARY.md
  book/src/building-from-source.md
  book/src/configuration.md
  book/src/editor.md
  book/src/install.md
  book/src/keymap.md
  book/src/package-managers.md
  book/src/registers.md
  book/src/surround.md
  book/src/syntax-aware-motions.md
  book/src/textobjects.md
  book/src/usage.md
Labels: none

fix popup size calculation
  helix-term/src/commands/dap.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/ui/completion.rs
  helix-term/src/ui/menu.rs
  helix-term/src/ui/popup.rs
Labels: A-helix-term

fix required_size implementation of signature help
  helix-term/src/ui/lsp.rs
Labels: A-helix-term

move popup when cursor line changes
  helix-term/src/ui/popup.rs
Labels: A-helix-term

fix: avoid child area overflow on split
  helix-view/src/tree.rs
Labels: none

fix: do not stop at first url at goto_file
  helix-term/src/commands.rs
Labels: A-helix-term

fix: avoid child area overflow on split (#10620)
  helix-view/src/tree.rs
Labels: none

fix: do not stop at first url at goto_file (#10622)
  helix-term/src/commands.rs
Labels: A-helix-term

Add comment injection to typst queries
  runtime/queries/typst/injections.scm
Labels: A-tree-sitter

Add pest support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/pest/highlights.scm
  runtime/queries/pest/indents.scm
  runtime/queries/pest/injections.scm
  runtime/queries/pest/textobjects.scm
Labels: A-tree-sitter

switch to function.inside
  runtime/queries/hurl/textobjects.scm
Labels: A-tree-sitter

Add pest support (#10616)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/pest/highlights.scm
  runtime/queries/pest/indents.scm
  runtime/queries/pest/injections.scm
  runtime/queries/pest/textobjects.scm
Labels: A-tree-sitter

deploy: 724a96abc8587e0f128e7e84cb43c8baf77cbbea
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

Add comment injection to typst queries (#10628)
  runtime/queries/typst/injections.scm
Labels: A-tree-sitter

Update runtime/themes/iroaseta.toml
  runtime/themes/iroaseta.toml
Labels: A-theme

Update runtime/themes/iroaseta.toml
  runtime/themes/iroaseta.toml
Labels: A-theme

Update ao.toml
  runtime/themes/ao.toml
Labels: A-theme

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
