Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

Add `nu` formatter `nufmt` (#15066)
  languages.toml
Labels: none

Add language server definition for `verible-verilog-ls` (#15058)
  book/src/generated/lang-support.md
  languages.toml
Labels: none

deploy: 43345d24debec5a17b25f8c29994f5d363d46bad
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

provide additional context, rather than overriding the error
  helix-term/src/commands/typed.rs
Labels: A-helix-term

add :buffer-nth
  book/src/generated/typable-cmd.md
  helix-term/src/commands/typed.rs
Labels: A-helix-term

eval out of range error lazily
  helix-term/src/commands/typed.rs
Labels: A-helix-term

docs
  book/src/generated/lang-support.md
Labels: none

queries: basic tags.scm for toml
  runtime/queries/toml/tags.scm
Labels: A-tree-sitter

sel → sels, when multiple selections
  helix-term/src/ui/statusline.rs
Labels: A-helix-term

do the thing
  helix-term/src/ui/statusline.rs
Labels: A-helix-term

Add qmv output files to languages.toml
  languages.toml
Labels: none

Disable soft-wrap in qmv language
  languages.toml
Labels: none

check for root marker as suffix
  helix-lsp/src/lib.rs
Labels: A-language-server

fix: stale "nothing selected" and "no selections remaining" errors persisting after successful regex selection (#15051)
  helix-term/src/commands.rs
Labels: A-helix-term

add logging functions for debug, warn, and error
  helix-term/src/commands/engine/steel/mod.rs
Labels: A-helix-term

add variants with no bang
  helix-term/src/commands/engine/steel/mod.rs
Labels: A-helix-term

Show path in file picker and explorer
  helix-term/src/ui/mod.rs
  helix-term/src/ui/picker.rs
Labels: A-helix-term

add native rendering for markdown
  helix-term/src/commands/engine/steel/components.rs
Labels: A-helix-term

feat: vcs: support Jujutsu as a diff-provider
  Cargo.lock
  helix-term/Cargo.toml
  helix-vcs/Cargo.toml
  helix-vcs/src/jj.rs
  helix-vcs/src/lib.rs
  helix-vcs/src/status.rs
Labels: A-helix-term, A-vcs

feat: Diff source caching and autodetection
  Cargo.lock
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-vcs/Cargo.toml
  helix-vcs/src/git.rs
  helix-vcs/src/git/test.rs
  helix-vcs/src/lib.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-helix-term, A-vcs

Update languages.toml
  languages.toml
Labels: none

Implement flash commands
  book/src/generated/static-cmd.md
  helix-term/src/commands.rs
Labels: A-helix-term

Fixed jump labels not clearing on Enter
  helix-term/src/commands.rs
Labels: A-helix-term

adds bounds check to buffer clear functions
  helix-term/src/commands/engine/steel/components.rs
Labels: A-helix-term

clip the block when rendering if its out of bounds
  helix-term/src/commands/engine/steel/components.rs
Labels: A-helix-term

Advertise relative pattern support capability
  helix-lsp/src/client.rs
Labels: A-language-server

select_character
  helix-term/src/commands.rs
Labels: A-helix-term

book
  book/src/generated/static-cmd.md
Labels: none

Advertise relative pattern support capability (#15087)
  helix-lsp/src/client.rs
Labels: A-language-server

Fix dap request serialization and potential gutter underflow (#15017)
  helix-dap-types/src/lib.rs
  helix-dap/src/client.rs
  helix-view/src/gutter.rs
  helix-view/src/handlers/dap.rs
Labels: A-debug-adapter

feat: Add klog language
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/klog/highlights.scm
Labels: A-tree-sitter

chore: Add injection-regex
  languages.toml
Labels: none

chore(linting): fix formatting and warnings across the workspace
  helix-core/src/diagnostic.rs
  helix-core/src/graphemes.rs
  helix-core/src/test.rs
  helix-core/tests/indent.rs
  helix-term/src/keymap.rs
  helix-term/src/ui/document.rs
  helix-term/src/ui/text_decorations/diagnostics.rs
  helix-vcs/src/diff/line_cache.rs
  helix-view/src/graphics.rs
  helix-view/src/tree.rs
Labels: A-core, A-helix-term, A-keymap, A-vcs

Fix: adds ownership verification to the workspace detection logic
  Cargo.lock
  helix-loader/Cargo.toml
  helix-loader/src/lib.rs
Labels: none

feat(theme): add "omicron" (placeholder name)
  runtime/themes/omicron_dark.toml
  runtime/themes/omicron_light.toml
Labels: A-theme

fix(theme): Malformed hexcode in `ashokai_urple`
  runtime/themes/ashokai_urple.toml
Labels: A-theme

fix(themes): remove alpha channel
  runtime/themes/ataraxia.toml
  runtime/themes/aura-dark-soft.toml
  runtime/themes/aura-dark.toml
  runtime/themes/aurara.toml
  runtime/themes/github_dark.toml
  runtime/themes/github_dark_colorblind.toml
  runtime/themes/github_dark_dimmed.toml
  runtime/themes/github_dark_high_contrast.toml
  runtime/themes/github_dark_tritanopia.toml
  runtime/themes/github_light.toml
  runtime/themes/github_light_colorblind.toml
  runtime/themes/github_light_high_contrast.toml
  runtime/themes/github_light_tritanopia.toml
  runtime/themes/night_rider.toml
  runtime/themes/nyxvamp-transparent.toml
  runtime/themes/poimandres.toml
  runtime/themes/vesper.toml
  runtime/themes/zed_onedark.toml
  runtime/themes/zed_onelight.toml
Labels: A-theme

feat(view): shorthand hex color support
  helix-view/src/graphics.rs
  helix-view/src/theme.rs
Labels: none

fix!(view): reject bogus `len` & "+" prefix in hex strs
  helix-view/src/graphics.rs
  helix-view/src/theme.rs
Labels: none

fix!(theme): reject colors that aren't {12,24}bit RGB
  helix-term/src/ui/completion.rs
  helix-view/src/graphics.rs
  helix-view/src/theme.rs
Labels: A-helix-term

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
