Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

feat(themes): add Eldritch theme
  runtime/themes/eldritch.toml
  runtime/themes/eldritch_transparent.toml
Labels: A-theme

config(syntax): recognize (gnu) stow-styled dotfile paths
  helix-core/src/syntax/config.rs
Labels: A-core

Update runtime/queries/umka/highlights.scm
  runtime/queries/umka/highlights.scm
Labels: A-tree-sitter

Update runtime/queries/umka/highlights.scm
  runtime/queries/umka/highlights.scm
Labels: A-tree-sitter

Update runtime/queries/umka/highlights.scm
  runtime/queries/umka/highlights.scm
Labels: A-tree-sitter

Update runtime/queries/umka/highlights.scm
  runtime/queries/umka/highlights.scm
Labels: A-tree-sitter

Update runtime/queries/umka/highlights.scm
  runtime/queries/umka/highlights.scm
Labels: A-tree-sitter

Word movement select from first range
  helix-core/src/movement.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

add inactive statusline color, match cursor color with statusline
  runtime/themes/adwaita-dark.toml
  runtime/themes/adwaita-light.toml
Labels: A-theme

theme(wolf-alabaster): Add missing UI scopes
  runtime/themes/wolf-alabaster-dark-mono.toml
  runtime/themes/wolf-alabaster-dark.toml
  runtime/themes/wolf-alabaster-light-mono.toml
  runtime/themes/wolf-alabaster-light.toml
Labels: A-theme

Implement select_line_trimmed command
  helix-term/src/commands.rs
Labels: A-helix-term

Change key binding for 'X'
  helix-term/src/keymap/default.rs
Labels: A-helix-term, A-keymap

theme(wolf-alabaster): Add missing UI scopes (#15159)
  runtime/themes/wolf-alabaster-dark-mono.toml
  runtime/themes/wolf-alabaster-dark.toml
  runtime/themes/wolf-alabaster-light-mono.toml
  runtime/themes/wolf-alabaster-light.toml
Labels: A-theme

Run cargo fmt
  helix-term/src/commands/dap.rs
Labels: A-helix-term

Allow textDocument/didChange notification to be synchronous
  helix-lsp/src/client.rs
  helix-term/src/handlers/diagnostics.rs
  helix-term/src/handlers/document_colors.rs
  helix-term/src/handlers/signature_help.rs
  helix-term/src/ui/completion.rs
  helix-term/src/ui/editor.rs
  helix-view/src/document.rs
  helix-view/src/events.rs
  helix-view/src/handlers/lsp.rs
  helix-view/src/handlers/word_index.rs
Labels: A-helix-term, A-language-server

Add code actions on save
  book/src/languages.md
  helix-core/src/syntax/config.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/commands/typed.rs
Labels: A-core, A-helix-term

commands: Skip code actions on save with no-format flag
  helix-term/src/commands/typed.rs
  helix-term/src/handlers/auto_save.rs
  helix-term/src/ui/editor.rs
Labels: A-helix-term

feat(languages): add syntax highliting for gnuplot
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/gnuplot/highlights.scm
  runtime/queries/gnuplot/injections.scm
  runtime/queries/gnuplot/locals.scm
Labels: A-tree-sitter

Use space . to open current folder
  book/src/generated/static-cmd.md
  helix-term/src/keymap/default.rs
Labels: A-helix-term, A-keymap

Add Picat language and grammar
  languages.toml
  runtime/queries/picat/highlights.scm
  runtime/queries/picat/indents.scm
  runtime/queries/picat/locals.scm
  runtime/queries/picat/rainbows.scm
  runtime/queries/picat/tags.scm
  runtime/queries/picat/textobjects.scm
Labels: A-tree-sitter

cargo fmt
  helix-view/build.rs
Labels: none

style: format
  helix-term/build.rs
  helix-view/build.rs
Labels: A-helix-term

fix: listen events from ungrabbed keyboard evdev devices
  helix-view/Cargo.toml
  helix-view/src/scancode.rs
Labels: none

fix lints
  helix-term/build.rs
  helix-view/build.rs
Labels: A-helix-term

stop on error
  helix-view/src/scancode.rs
Labels: none

fix: rename var
  helix-view/src/scancode.rs
Labels: none

evdev to fetch keyboard events
  helix-term/Cargo.toml
  helix-term/build.rs
  helix-term/src/commands.rs
  helix-term/src/ui/editor.rs
  helix-view/Cargo.toml
  helix-view/build.rs
  helix-view/src/editor.rs
  helix-view/src/lib.rs
  helix-view/src/scancode.rs
Labels: A-helix-term

fix: dont use sancode on macros replaying
  helix-term/src/ui/editor.rs
Labels: A-helix-term

map keyboard scancode to KeyCode
  helix-term/Cargo.toml
  helix-term/src/commands.rs
  helix-term/src/ui/editor.rs
  helix-view/Cargo.toml
  helix-view/src/editor.rs
  helix-view/src/input.rs
  helix-view/src/lib.rs
  helix-view/src/scancode.rs
Labels: A-helix-term

feat: hidapi to listen keyboard events
  helix-term/Cargo.toml
  helix-term/build.rs
  helix-view/Cargo.toml
  helix-view/build.rs
  helix-view/src/scancode.rs
Labels: A-helix-term

fix rebase
  helix-view/src/input.rs
Labels: none

fix: long pressed keys on hidapi
  helix-view/src/scancode.rs
Labels: none

clippy
  helix-view/src/input.rs
Labels: none

fix: shifted char for scancode 53
  helix-view/src/scancode.rs
Labels: none

Add .slnx to csharp config
  languages.toml
Labels: none

fix: Fix doc comments in helix-view/src/expansion.rs
  helix-view/src/expansion.rs
Labels: none

Add current_working_directory_name variable to command line expansions
  book/src/command-line.md
  helix-view/src/expansion.rs
Labels: none

Add separate status line elements for current working directory path & name
  book/src/editor.md
  helix-term/src/ui/statusline.rs
  helix-view/src/editor.rs
Labels: A-helix-term

Add workspace_directory_name variable to command line expansions
  book/src/command-line.md
  helix-view/src/expansion.rs
Labels: none

Add workspace-directory & workspace-directory-name to statusline
  book/src/editor.md
  helix-term/src/ui/statusline.rs
  helix-view/src/editor.rs
Labels: A-helix-term

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
