Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

fix rebase
  helix-view/src/input.rs
Labels: none

cargo fmt
  helix-view/build.rs
Labels: none

fix: dont use sancode on macros replaying
  helix-term/src/ui/editor.rs
Labels: A-helix-term

fix: rename var
  helix-view/src/scancode.rs
Labels: none

queries: update highlights/injections for jjconfig
  runtime/queries/jjconfig/injections.scm
  runtime/queries/jjtemplate/highlights.scm
Labels: A-tree-sitter

Fixed git clone url
  book/src/building-from-source.md
Labels: none

language(strictdoc): add queries
  runtime/queries/strictdoc/highlights.scm
  runtime/queries/strictdoc/tags.scm
Labels: A-tree-sitter

language: add strictdoc
  book/src/generated/lang-support.md
  languages.toml
Labels: none

language(strictdoc): highlight strings as rst
  runtime/queries/strictdoc/highlights.scm
  runtime/queries/strictdoc/injections.scm
Labels: A-tree-sitter

fix: shifted char for scancode 53
  helix-view/src/scancode.rs
Labels: none

add AWS config and kube config file support
  languages.toml
Labels: none

add AWS config and kube config file support (#14316)
  languages.toml
Labels: none

fix: follow base16 nyxvamp palette, visual UI fixes
  runtime/themes/nyxvamp-obsidian.toml
  runtime/themes/nyxvamp-radiance.toml
  runtime/themes/nyxvamp-veil.toml
Labels: A-theme

feat: introduce nyxvamp-transprent for better usage with terminal opacity
  runtime/themes/nyxvamp-transparent.toml
Labels: A-theme

Add https protocol to source git url
  languages.toml
Labels: none

Remove unsupported @spell capture
  runtime/queries/less/highlights.scm
Labels: A-tree-sitter

Update lang support documentation
  book/src/generated/lang-support.md
Labels: none

nix: Remove debug ls -al
  grammars.nix
Labels: none

nix: Remove debug ls -al (#14320)
  grammars.nix
Labels: none

update: nyxvamp-theme (#14319)
  runtime/themes/nyxvamp-obsidian.toml
  runtime/themes/nyxvamp-radiance.toml
  runtime/themes/nyxvamp-transparent.toml
  runtime/themes/nyxvamp-veil.toml
Labels: A-theme

feat: support cython
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/cython/folds.scm
  runtime/queries/cython/highlights.scm
  runtime/queries/cython/indents.scm
  runtime/queries/cython/injections.scm
  runtime/queries/cython/locals.scm
  runtime/queries/cython/tags.scm
Labels: A-tree-sitter

fix: use @constant.<x> captures
  runtime/queries/cython/highlights.scm
Labels: A-tree-sitter

fix indents for cython
  runtime/queries/cython/indents.scm
Labels: A-tree-sitter

Add support for the SlightLisp language
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/slisp/highlights.scm
  runtime/queries/slisp/tags.scm
Labels: A-tree-sitter

feat(languages): Add buck2 PACKAGE files as starlark file type
  languages.toml
Labels: none

feat(languages): Add buck2 PACKAGE files as starlark file type (#14324)
  languages.toml
Labels: none

minor make list changes
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-term/src/make.rs
  helix-view/src/make.rs
Labels: A-helix-term

rework of regex parsing in make list
  helix-term/src/make.rs
Labels: A-helix-term

added a format flag to determine which parser to use
  helix-term/src/commands/typed.rs
  helix-term/src/make.rs
  helix-view/src/make.rs
Labels: A-helix-term

add support for rust parsing in make list
  helix-term/src/make.rs
Labels: A-helix-term

change to Severity from DiagnosticSeverity in make list Entry type
  helix-term/src/make.rs
  helix-view/src/make.rs
Labels: A-helix-term

parsing clang and gcc output message
  helix-term/src/commands/typed.rs
  helix-term/src/make.rs
  helix-view/src/make.rs
Labels: A-helix-term

add gutter diagnostic highlighting to entries in make list
  helix-view/src/gutter.rs
Labels: none

add underline highlighting to entries from make list
  helix-term/src/commands/typed.rs
  helix-term/src/ui/editor.rs
Labels: A-helix-term

add support for msvc in make list
  helix-term/src/make.rs
Labels: A-helix-term

remove useless/done todos for makelist
  helix-term/src/make.rs
  helix-term/src/ui/editor.rs
  helix-view/src/make.rs
Labels: A-helix-term

improved naming in make list functions
  helix-term/src/commands.rs
  helix-term/src/make.rs
  helix-view/src/make.rs
Labels: A-helix-term

parsing compiler errors via regex in make list
  Cargo.lock
  helix-term/Cargo.toml
  helix-term/src/make.rs
Labels: A-helix-term

add make command and basic picker integration
  helix-term/src/commands.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/commands/typed.rs
  helix-term/src/keymap/default.rs
  helix-term/src/lib.rs
  helix-term/src/make.rs
  helix-view/src/editor.rs
  helix-view/src/lib.rs
  helix-view/src/make.rs
Labels: A-helix-term, A-keymap

pull out goto_location from global_search
  helix-term/src/commands.rs
  helix-term/src/make.rs
Labels: A-helix-term

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
