Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

Add pipe-all command that pipes entire document
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
Labels: A-helix-term

Regenerate book to include pipe-all
  book/src/generated/static-cmd.md
  book/src/generated/typable-cmd.md
Labels: none

chore: Update slint tree-sitter grammar to version 1.9 (#12297)
  languages.toml
Labels: none

refactor(flags): no longer use `replace` to reassign
  helix-term/src/commands/flag.rs
Labels: A-helix-term

docs: regenerate docs
  book/src/generated/typable-cmd.md
Labels: none

refactor: extract into a separate variable
  helix-term/src/ui/completion.rs
Labels: A-helix-term

_
  helix-term/src/ui/completion.rs
Labels: A-helix-term

_
  helix-term/src/ui/completion.rs
Labels: A-helix-term

refactor: consistency in naming
  helix-term/src/ui/completion.rs
Labels: A-helix-term

minor style tweak
  helix-term/src/ui/completion.rs
Labels: A-helix-term

feat: use `ui.text.directory` for path completion item if its a folder (#12295)
  helix-term/src/ui/completion.rs
Labels: A-helix-term

feat: larger boxess
  helix-term/src/ui/completion.rs
Labels: A-helix-term

feat: show color boxes in color completion
  Cargo.lock
  helix-term/src/ui/completion.rs
  helix-view/Cargo.toml
  helix-view/src/graphics.rs
Labels: A-helix-term

refactor: better variable naming
  helix-term/src/ui/completion.rs
Labels: A-helix-term

feat: remove dependency
  Cargo.lock
  helix-term/Cargo.toml
Labels: A-helix-term

refactor: extract into a `from_hex` method on Color
  helix-term/src/ui/completion.rs
  helix-view/src/graphics.rs
Labels: A-helix-term

refactor: no longer need so many `.into()`
  helix-term/src/ui/completion.rs
Labels: A-helix-term

feat: do not add unnecessary custom method
  Cargo.lock
  helix-term/Cargo.toml
  helix-term/src/ui/completion.rs
  helix-view/Cargo.toml
  helix-view/src/graphics.rs
Labels: A-helix-term

refactor: use an array of ranges
  helix-term/src/ui/completion.rs
Labels: A-helix-term

perf: do not use unnecessary `clone`
  helix-term/src/ui/completion.rs
Labels: A-helix-term

refactor: do not use extra dependency
  helix-term/src/ui/completion.rs
Labels: A-helix-term

refactor: do not return early
  helix-term/src/ui/completion.rs
Labels: A-helix-term

docs: place in the correct position
  helix-view/src/graphics.rs
Labels: none

feat: use "color" text for accessibility next to a small colored cube
  helix-term/src/ui/completion.rs
Labels: A-helix-term

docs: use Color in doc test
  helix-view/src/graphics.rs
Labels: none

docs: missing semicolon
  helix-view/src/graphics.rs
Labels: none

docs: add doc for from_hex
  helix-view/src/graphics.rs
Labels: none

refactor: rename variable for consistency
  helix-term/src/ui/completion.rs
Labels: A-helix-term

refactor: better variable naming
  helix-view/src/graphics.rs
Labels: none

refactor: remove extra variable assignment
  helix-term/src/ui/completion.rs
Labels: A-helix-term

docs: use `unwrap` in example to extract from Option
  helix-view/src/graphics.rs
Labels: none

feat: reject a set of invalid inputs for Color::from_hex
  helix-view/src/graphics.rs
Labels: none

fix: "color" for items with documentation but a hex value which cannot be parsed
  helix-term/src/ui/completion.rs
Labels: A-helix-term

feat: resolve merge conflicts
  helix-term/src/ui/completion.rs
Labels: A-helix-term

perf: avoid unnecessary string allocation
  helix-term/src/ui/completion.rs
Labels: A-helix-term

feat: vcs: support Jujutsu as a diff-provider
  helix-term/Cargo.toml
  helix-vcs/Cargo.toml
  helix-vcs/src/jj.rs
  helix-vcs/src/lib.rs
  helix-vcs/src/status.rs
Labels: A-helix-term, A-vcs

feat: Diff source caching and autodetection
  Cargo.lock
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-vcs/Cargo.toml
  helix-vcs/src/git.rs
  helix-vcs/src/git/test.rs
  helix-vcs/src/lib.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-helix-term, A-vcs

refactor: `kind` is `Spans`
  helix-term/src/ui/completion.rs
Labels: A-helix-term

fix: remove unnecessary log statement
  helix-term/src/ui/completion.rs
Labels: A-helix-term

docs: distinction between "color" and "hex color"
  helix-term/src/ui/completion.rs
Labels: A-helix-term
