Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

chore: better readability with `Option::take()`
  helix-term/src/ui/editor.rs
Labels: A-helix-term

fix LSP ComplitionTriggerKind value for `TriggerKind::Auto` (#9660)
  helix-term/src/handlers/completion.rs
Labels: A-helix-term

Make mouse click extend selection in select mode (#5436)
  helix-term/src/ui/editor.rs
  helix-view/src/editor.rs
Labels: A-helix-term

fix: ahash breaking nightly
  Cargo.lock
  helix-core/Cargo.toml
  helix-event/Cargo.toml
Labels: A-core

Use a hook for resolving completion items
  helix-lsp/src/client.rs
  helix-term/src/ui/completion.rs
  helix-term/src/ui/editor.rs
Labels: A-helix-term, A-language-server

Add Groovy grammar
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/groovy/highlights.scm
  runtime/queries/groovy/injections.scm
Labels: A-tree-sitter

Rewrite Neovim captures into Helix for Groovy
  runtime/queries/groovy/highlights.scm
Labels: A-tree-sitter

Remove Neovim's spell from Groovy highlights
  runtime/queries/groovy/highlights.scm
Labels: A-tree-sitter

Simplify Groovy injections
  runtime/queries/groovy/injections.scm
Labels: A-tree-sitter

Apply suggestions to languages.toml
  languages.toml
Labels: none

Escape backslash in groovy highlights.scm
  runtime/queries/groovy/highlights.scm
Labels: A-tree-sitter

Add Groovy grammar (#9350)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/groovy/highlights.scm
  runtime/queries/groovy/injections.scm
Labels: A-tree-sitter

deploy: 990378a46be2138b2f74799d1af8955390360c4e
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

fix integration tests
  helix-term/src/application.rs
  helix-term/src/ui/prompt.rs
  helix-term/tests/test/helpers.rs
  helix-view/src/editor.rs
Labels: A-helix-term

save cloning by passing by ref to persistence functions
  helix-loader/src/persistence.rs
  helix-view/src/editor.rs
  helix-view/src/persistence.rs
Labels: none

persist clipboard
  helix-loader/src/lib.rs
  helix-loader/src/persistence.rs
  helix-term/src/application.rs
  helix-term/src/commands.rs
  helix-term/src/main.rs
  helix-term/tests/test/helpers.rs
  helix-view/src/persistence.rs
Labels: A-helix-term

custom icons, menus and keymaps
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
Labels: A-helix-term, A-keymap

address comments on rope library
  Cargo.lock
  helix-core/src/extensions.rs
Labels: A-core

remove repr c
  helix-term/src/commands/typed.rs
Labels: A-helix-term

another rogue repr c
  helix-term/src/ui/prompt.rs
Labels: A-helix-term

more keymaps
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
Labels: A-helix-term, A-keymap

remove global keybindings thread local
  helix-term/src/commands/engine/steel.rs
Labels: A-helix-term

remove unnecessary import
  helix-term/src/ui/document.rs
Labels: A-helix-term

remove unnecessary keybinding functions
  helix-term/src/commands/engine/steel.rs
Labels: A-helix-term

Use groovy support when editing Gradle files
  languages.toml
Labels: none

address more comments
  helix-term/src/commands/engine/steel.rs
Labels: A-helix-term

improving keymaps
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
Labels: A-helix-term, A-keymap

Cyan Light theme : Add License and Author
  runtime/themes/cyan_light.toml
Labels: A-theme

Add License
  runtime/themes/licenses/cyan_light.LICENSE
Labels: A-theme

better credits to original author
  runtime/themes/cyan_light.toml
Labels: A-theme

polish space and goto menus
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
Labels: A-helix-term, A-keymap

Add a core URI type
  Cargo.lock
  helix-core/Cargo.toml
  helix-core/src/lib.rs
  helix-core/src/uri.rs
Labels: A-core

Convert LSP URL types into core URIs
  helix-term/src/application.rs
  helix-term/src/commands/lsp.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
  helix-view/src/handlers/lsp.rs
Labels: A-helix-term

Use groovy support when editing Gradle files (#9681)
  languages.toml
Labels: none

Cyan Light theme : Add License and Author (#9688)
  runtime/themes/cyan_light.toml
  runtime/themes/licenses/cyan_light.LICENSE
Labels: A-theme

select lines shift + up / shift + down
  helix-term/src/keymap/default.rs
Labels: A-helix-term, A-keymap

Add osm and osc extensions to xml language filetypes
  languages.toml
Labels: none

Continue to expand on component API
  Cargo.lock
  helix-term/src/commands/engine/components.rs
  helix-term/src/commands/engine/steel.rs
  helix-term/src/compositor.rs
  helix-tui/src/extension.rs
  helix-view/src/extension.rs
Labels: A-helix-term

slint: Update SHA of tree-sitter parser
  languages.toml
Labels: none

Highlight Rust doc comments with markdown
  helix-core/src/syntax.rs
  languages.toml
  runtime/queries/rust/highlights.scm
  runtime/queries/rust/injections.scm
Labels: A-core, A-tree-sitter
