Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

chore: remove unused imports
  helix-term/src/ui/markdown.rs
Labels: A-helix-term

Revert "feat: revert unnecessary changes"
  helix-term/src/ui/editor.rs
  languages.toml
Labels: A-helix-term

Revert "chore: remove unnecessary files"
  lol.helix
  runtime/queries/helix/highlights.scm
Labels: A-tree-sitter

style: revert formatting changes
  languages.toml
Labels: none

chore: remove example
  helix-term/src/ui/editor.rs
Labels: A-helix-term

chore: remove unneeded file
  lol.helix
Labels: none

feat: use dummy values and not tree-sitter-helix
  languages.toml
  runtime/queries/helix/highlights.scm
Labels: A-tree-sitter

fix zig highlight query use of #lua-match
  runtime/queries/zig/highlights.scm
Labels: A-tree-sitter

fix zig highlight query use of #lua-match (#12708)
  runtime/queries/zig/highlights.scm
Labels: A-tree-sitter

adding hooks
  helix-term/src/commands/engine/steel.rs
  helix-term/src/events.rs
  helix-view/src/editor.rs
  helix-view/src/events.rs
Labels: A-helix-term

feat: use different character for separators
  helix-term/src/ui/markdown.rs
Labels: A-helix-term

feat: render full box around table
  helix-term/src/ui/markdown.rs
Labels: A-helix-term

Fix color scheme
  runtime/themes/jetbrains_dark.toml
Labels: A-theme

chore(grammar): update cairo + queries
  languages.toml
  runtime/queries/cairo/highlights.scm
  runtime/queries/cairo/indents.scm
  runtime/queries/cairo/locals.scm
  runtime/queries/cairo/textobjects.scm
Labels: A-tree-sitter

chore: remove pointless language
  helix-term/src/ui/markdown.rs
  languages.toml
  runtime/queries/helix/highlights.scm
Labels: A-helix-term, A-tree-sitter

fix: panic when couldn't parse selection string
  helix-core/src/movement.rs
  helix-core/src/selection.rs
  helix-core/src/test.rs
  helix-core/src/textobject.rs
  helix-term/src/ui/markdown.rs
  helix-term/tests/test/helpers.rs
Labels: A-core, A-helix-term

feat: print error to the user instead of panic
  helix-term/src/ui/markdown.rs
Labels: A-helix-term

test: handle error by unwrapping
  helix-core/src/textobject.rs
Labels: A-core

fix: apply correct style to primary selection
  helix-term/src/ui/markdown.rs
Labels: A-helix-term

chore: remove example
  helix-term/src/ui/markdown.rs
Labels: A-helix-term

chore: improve error messages
  helix-core/src/test.rs
Labels: A-core

chore(grammar): update cairo + queries (#12712)
  languages.toml
  runtime/queries/cairo/highlights.scm
  runtime/queries/cairo/indents.scm
  runtime/queries/cairo/locals.scm
  runtime/queries/cairo/textobjects.scm
Labels: A-tree-sitter

Add tree-sitter-ghostty for syntax highlighting
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/ghostty/highlights.scm
Labels: A-tree-sitter

feat: add support for tree-sitter-helix
  languages.toml
  lol.helix
  lol.md
  ok.helix
  runtime/queries/helix/highlights.scm
Labels: A-tree-sitter

chore: remove unnecessary files
  lol.helix
  lol.md
  ok.helix
Labels: none

feat: `.multicursor` file type name
  languages.toml
  runtime/queries/helix/highlights.scm
  runtime/queries/multicursor/highlights.scm
Labels: A-tree-sitter

feat: rename file type to `.multicursor`
  helix-term/src/ui/markdown.rs
Labels: A-helix-term

docs: add documentation for `.multicursor` file type
  book/src/generated/lang-support.md
  languages.toml
Labels: none

fix: `multicursor` grammar and not for helix
  languages.toml
Labels: none

Copy changes from the-mikedavis
  helix-term/src/commands.rs
  helix-term/src/keymap.rs
  helix-term/src/keymap/default.rs
  helix-term/src/keymap/macros.rs
  helix-term/src/ui/editor.rs
Labels: A-helix-term, A-keymap

Add fallback command to [ and ] to find in next pair
  helix-core/src/surround.rs
  helix-core/src/textobject.rs
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
Labels: A-core, A-helix-term, A-keymap

Remove incorrect treesitter hint
  helix-term/src/commands.rs
Labels: A-helix-term

Pull count out of FindType
  helix-core/src/surround.rs
  helix-core/src/textobject.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

Run `cargo xtask docgen`
  book/src/generated/static-cmd.md
Labels: none

Update languages.toml
  languages.toml
Labels: none

Add ghostty configuration support (#12703)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/ghostty/highlights.scm
Labels: A-tree-sitter

deploy: 8328c422b7aae51cda81b372aaa7c34f5589271c
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

Fix byte/char indexing mix-up in path completion
  helix-term/src/handlers/completion/path.rs
Labels: A-helix-term

goto definition: support for multiple lsps
  helix-term/src/commands/lsp.rs
Labels: A-helix-term

feat(highlights): add support for shorter syntax for sections in `hurl` version 6.0.0
  runtime/queries/hurl/highlights.scm
Labels: A-tree-sitter
