Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

fix: correct indentation for help message
  helix-term/src/main.rs
Labels: A-helix-term

feat: catppuccin theme checked and unchecked lists
  runtime/themes/catppuccin_mocha.toml
Labels: A-theme

fix(clippy): clippy 1.83 lints (#12150)
  helix-core/src/graphemes.rs
  helix-core/src/indent.rs
  helix-core/src/selection.rs
  helix-core/src/syntax.rs
  helix-core/src/syntax/tree_cursor.rs
  helix-core/src/text_annotations.rs
  helix-core/src/transaction.rs
  helix-lsp-types/src/completion.rs
  helix-lsp/src/jsonrpc.rs
  helix-parsec/src/lib.rs
  helix-term/src/commands.rs
  helix-term/src/compositor.rs
  helix-term/src/ui/menu.rs
  helix-term/src/ui/picker.rs
  helix-term/src/ui/popup.rs
  helix-term/src/ui/prompt.rs
  helix-tui/src/text.rs
  helix-tui/src/widgets/block.rs
  helix-tui/src/widgets/paragraph.rs
  helix-tui/src/widgets/reflow.rs
  helix-tui/src/widgets/table.rs
  helix-view/src/register.rs
  helix-view/src/tree.rs
Labels: A-core, A-helix-term, A-language-server

Remove unnecessary clippy allow for old false positive
  helix-core/src/comment.rs
Labels: A-core

Fix language configuration for .conf files (#12156)
  languages.toml
Labels: none

Add support for clicking on the bufferline to select a buffer
  helix-term/src/ui/editor.rs
Labels: A-helix-term

just: bump grammar support to Just 1.37.0 (#12141)
  languages.toml
  runtime/queries/just/highlights.scm
Labels: A-tree-sitter

add bufferline highlighting for flexoki themes (#12146)
  runtime/themes/flexoki_light.toml
Labels: A-theme

Update runtime/queries/vento/highlights.scm
  runtime/queries/vento/highlights.scm
Labels: A-tree-sitter

Add support for the Vento template language (#12147)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/vento/highlights.scm
  runtime/queries/vento/injections.scm
Labels: A-tree-sitter

deploy: 548f04fe26aa0d34b0b50412c7afe1656b6de88b
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

registers: Use saved values for clipboard providers which can't read
  helix-view/src/register.rs
Labels: none

Trim all trailing whitespace on insert_newline
  helix-term/src/commands.rs
  helix-term/tests/test/commands.rs
  helix-term/tests/test/commands/insert.rs
  helix-term/tests/test/languages/yaml.rs
Labels: A-helix-term

Add integration tests for line comment continuation
  helix-term/tests/test/commands/insert.rs
Labels: A-helix-term

fix: catppuccin theme colors for checked and unchecked lists (#12167)
  runtime/themes/catppuccin_mocha.toml
Labels: A-theme

Update tsq language with new grammar and LSP
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/tsq/folds.scm
  runtime/queries/tsq/highlights.scm
  runtime/queries/tsq/injections.scm
Labels: A-tree-sitter

CI: Use an env var for MSRV
  .github/workflows/build.yml
Labels: none

contributing: Add steps for updating the MSRV
  docs/CONTRIBUTING.md
Labels: none

docs: Eliminate improper use of "LSP" term
  book/src/editor.md
  book/src/generated/lang-support.md
  book/src/generated/typable-cmd.md
  book/src/languages.md
  book/src/pickers.md
  book/src/themes.md
  helix-term/src/commands/typed.rs
  helix-term/src/health.rs
  xtask/src/docgen.rs
Labels: A-helix-term

deploy: 085c4fe4c8719a755fa2c72465673182e2bafe46
  master/commands.html
  master/editor.html
  master/lang-support.html
  master/languages.html
  master/pickers.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
  master/themes.html
Labels: none

Show an error when formatter is not available.
  helix-term/src/commands/typed.rs
Labels: A-helix-term

feat: nyxvamp themes
  runtime/themes/nyxvamp-obsidian.toml
  runtime/themes/nyxvamp-radiance.toml
  runtime/themes/nyxvamp-veil.toml
Labels: A-theme

Show an error when formatter is not available (#12183)
  helix-term/src/commands/typed.rs
Labels: A-helix-term

use inheritance
  runtime/themes/nyxvamp-obsidian.toml
  runtime/themes/nyxvamp-veil.toml
Labels: A-theme

Apply suggestions from code review
  languages.toml
  runtime/queries/teal/highlights.scm
Labels: A-tree-sitter

theme: Include key names in style parsing warnings
  helix-view/src/theme.rs
Labels: none

Copy changes from the-mikedavis
  helix-term/src/commands.rs
  helix-term/src/keymap.rs
  helix-term/src/keymap/default.rs
  helix-term/src/keymap/macros.rs
  helix-term/src/ui/editor.rs
Labels: A-helix-term, A-keymap

Add fallback command to [ and ] to find in next pair
  helix-core/src/surround.rs
  helix-core/src/textobject.rs
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
Labels: A-core, A-helix-term, A-keymap

Adapt locals.scm queries
  runtime/queries/teal/locals.scm
Labels: A-tree-sitter

Add support for Teal language (#12081)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/teal/folds.scm
  runtime/queries/teal/highlights.scm
  runtime/queries/teal/locals.scm
Labels: A-tree-sitter

deploy: cd972ae77da4c0976743ffdca48e268c195978f1
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

update voxed theme (#9328)
  runtime/themes/voxed.toml
Labels: A-theme

add Vintage theme (#9361)
  runtime/themes/vintage.toml
Labels: A-theme

feat: `:cd` with no args changes to home directory (#12042)
  helix-term/src/commands/typed.rs
Labels: A-helix-term

Change default comment token to # for unrecognized files (#12080)
  helix-core/src/comment.rs
Labels: A-core

Draw each message line separately in `draw_eol_diagnostic`
  helix-term/src/ui/text_decorations/diagnostics.rs
Labels: A-helix-term

Remove an incorrect comment
  helix-term/src/ui/document.rs
Labels: A-helix-term

sort shortest keybinds first instead of lack of <
  book/src/generated/static-cmd.md
  xtask/src/docgen.rs
Labels: none

Map scancode to Keymap
  helix-term/Cargo.toml
  helix-term/src/commands.rs
  helix-term/src/ui/editor.rs
  helix-view/Cargo.toml
  helix-view/src/editor.rs
  helix-view/src/input.rs
  helix-view/src/lib.rs
  helix-view/src/scancode.rs
Labels: A-helix-term

Extend max tab-width to 64
  helix-core/src/indent.rs
  helix-core/src/syntax.rs
Labels: A-core

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
