Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

fix: use `helix_stdx::env::current_working_dir`
  helix-term/src/commands.rs
Labels: A-helix-term

Bug fix: Reconfigure tree properly after closing view.
  helix-view/src/tree.rs
Labels: none

modify tests
  helix-term/tests/test/movement.rs
Labels: A-helix-term

feat: Add ADL language support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/adl/highlights.scm
  runtime/queries/adl/indents.scm
  runtime/queries/adl/textobjects.scm
Labels: A-tree-sitter

Add jump-label to Kanagawa theme + format
  runtime/themes/kanagawa.toml
Labels: A-theme

Update tree-sitter-julia
  languages.toml
  runtime/queries/julia/folds.scm
  runtime/queries/julia/highlights.scm
  runtime/queries/julia/indents.scm
  runtime/queries/julia/injections.scm
  runtime/queries/julia/locals.scm
Labels: A-tree-sitter

add initial support for bitbake language
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/bitbake/folds.scm
  runtime/queries/bitbake/highlights.scm
  runtime/queries/bitbake/injections.scm
  runtime/queries/bitbake/locals.scm
Labels: A-tree-sitter

Remove bg color for jump-label
  runtime/themes/kanagawa.toml
Labels: A-theme

Remove values alignment
  runtime/themes/kanagawa.toml
Labels: A-theme

Add jump-label to Kanagawa theme + format (#10030)
  runtime/themes/kanagawa.toml
Labels: A-theme

Update tree-sitter-julia
  languages.toml
  runtime/queries/julia/folds.scm
  runtime/queries/julia/highlights.scm
  runtime/queries/julia/indents.scm
  runtime/queries/julia/injections.scm
  runtime/queries/julia/locals.scm
Labels: A-tree-sitter

Add injections for GraphQL and ERB in Ruby
  runtime/queries/ruby/injections.scm
Labels: A-tree-sitter

This can be eq?
  runtime/queries/ruby/injections.scm
Labels: A-tree-sitter

Add injections for GraphQL and ERB in Ruby (#10036)
  runtime/queries/ruby/injections.scm
Labels: A-tree-sitter

chore: update tree-sitter-markdown
  languages.toml
Labels: none

working terminal library
  Cargo.lock
  helix-term/src/commands/engine/components.rs
  helix-view/src/extension.rs
Labels: A-helix-term

chore: update tree-sitter-markdown (#10039)
  languages.toml
Labels: none

more icons in menu
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
Labels: A-helix-term, A-keymap

update from master
  Cargo.lock
Labels: none

fix: cursor line on material themes
  runtime/themes/material_darker.toml
  runtime/themes/material_deep_ocean.toml
  runtime/themes/material_oceanic.toml
  runtime/themes/material_palenight.toml
Labels: A-theme

fix: cursor line on material themes (#10043)
  runtime/themes/material_darker.toml
  runtime/themes/material_deep_ocean.toml
  runtime/themes/material_oceanic.toml
  runtime/themes/material_palenight.toml
Labels: A-theme

Add JetBrains default dark theme (#9967)
  runtime/themes/jetbrains_dark.toml
Labels: A-theme

Add main.odin to Odin roots (#9968)
  languages.toml
Labels: none

changelog: Checkpoint 2024-03-30
  CHANGELOG.md
Labels: none

Adjust release day to 2024-03-30
  CHANGELOG.md
  contrib/Helix.appdata.xml
Labels: none

Linkify
  CHANGELOG.md
Labels: none

Add changelog notes for 24.03 (#9946)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  contrib/Helix.appdata.xml
Labels: none

Update version-typo in Cargo.toml
  Cargo.toml
Labels: none

Extract popup scrolling code into named functions
  helix-term/src/ui/popup.rs
Labels: A-helix-term

Make Helix.appdata.xml spec-compliant
  contrib/Helix.appdata.xml
Labels: none

Scroll popup contents on mouse scroll event
  helix-term/src/ui/popup.rs
Labels: A-helix-term

Make Helix.appdata.xml spec-compliant (#10051)
  contrib/Helix.appdata.xml
Labels: none

Factor out line ending handling in integration tests
  helix-term/tests/test/auto_indent.rs
  helix-term/tests/test/auto_pairs.rs
  helix-term/tests/test/commands.rs
  helix-term/tests/test/commands/movement.rs
  helix-term/tests/test/commands/write.rs
  helix-term/tests/test/helpers.rs
  helix-term/tests/test/languages/go.rs
  helix-term/tests/test/languages/yaml.rs
  helix-term/tests/test/movement.rs
  helix-term/tests/test/splits.rs
  helix-vcs/src/lib.rs
Labels: A-helix-term, A-vcs

Ignore mouse events outside the popup
  helix-term/src/ui/popup.rs
Labels: A-helix-term

Remove unneeded return statement
  helix-term/src/ui/popup.rs
Labels: A-helix-term

feat(themes): add jump-label style for nightfox
  runtime/themes/nightfox.toml
Labels: A-theme

feat(themes): add jump-label style for nightfox (#10052)
  runtime/themes/nightfox.toml
Labels: A-theme

Add jump-label
  runtime/themes/cyan_light.toml
Labels: A-theme

chore: add "ui.virtual.jump-label" to solarized colorschemes
  runtime/themes/solarized_dark.toml
  runtime/themes/solarized_light.toml
Labels: A-theme

chore: add "ui.virtual.jump-label" to solarized colorschemes (#10056)
  runtime/themes/solarized_dark.toml
  runtime/themes/solarized_light.toml
Labels: A-theme

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
