Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

Add debug highlights to the dark plus theme (#10593)
  runtime/themes/dark_plus.toml
Labels: A-theme

Fixed ECMAScript private member highlighting
  book/src/themes.md
  runtime/queries/ecma/highlights.scm
Labels: A-tree-sitter

improve access patterns for Document.view_data
  helix-term/src/commands.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/commands/typed.rs
  helix-term/src/ui/editor.rs
  helix-term/src/ui/mod.rs
  helix-view/src/document.rs
  helix-view/src/view.rs
Labels: A-helix-term

better borrow checker wrangling with doc_mut!()
  helix-term/src/application.rs
  helix-view/src/editor.rs
Labels: A-helix-term

add textobjects queries comment and function
  runtime/queries/hurl/textobjects.scm
Labels: A-tree-sitter

update doc for hurl lang support
  book/src/generated/lang-support.md
Labels: none

Enable metals inlay hints
  languages.toml
Labels: none

fix popup size calculation
  helix-term/src/commands/dap.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/ui/completion.rs
  helix-term/src/ui/menu.rs
  helix-term/src/ui/popup.rs
Labels: A-helix-term

fix required_size implementation of signature help
  helix-term/src/ui/lsp.rs
Labels: A-helix-term

Implement register history and access using a picker.
  Cargo.lock
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-term/src/keymap/default.rs
  helix-term/src/ui/prompt.rs
  helix-term/tests/test/commands.rs
  helix-view/Cargo.toml
  helix-view/src/info.rs
  helix-view/src/register.rs
Labels: A-helix-term, A-keymap

use default clipboard provider for wezterm connect
  helix-view/src/clipboard.rs
Labels: none

switch entry.inner to entry.outer
  runtime/queries/hurl/textobjects.scm
Labels: A-tree-sitter

fix incorrect docstring
  helix-view/src/register.rs
Labels: none

remove old TODO
  helix-term/src/commands.rs
Labels: A-helix-term

document tests
  helix-term/tests/test/commands.rs
Labels: A-helix-term

move popup when cursor line changes
  helix-term/src/ui/popup.rs
Labels: A-helix-term

mistake when moving to concat!
  helix-term/tests/test/commands.rs
Labels: A-helix-term

Change cursor color per mode for default
  theme.toml
Labels: none

reintroduce ensure_cursor_in_view in handle_config_events
  helix-term/src/application.rs
Labels: A-helix-term

Add typed command "set-next-register".
  helix-term/src/commands/typed.rs
Labels: A-helix-term

docs
  book/src/generated/typable-cmd.md
Labels: none

add suggestions from @pascalkuthe
  theme.toml
Labels: none

Enable metals inlay hints (#10597)
  languages.toml
Labels: none

Change cursor color per mode for default (#10608)
  theme.toml
Labels: none

use tmux provider if tmux is used inside wezterm
  helix-view/src/clipboard.rs
Labels: none

introduce helper functions on Document .view_offset, set_view_offset
  helix-term/src/commands.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/commands/typed.rs
  helix-term/src/ui/editor.rs
  helix-term/src/ui/mod.rs
  helix-view/src/document.rs
  helix-view/src/lib.rs
  helix-view/src/view.rs
Labels: A-helix-term

Update iroaseta.toml
  runtime/themes/iroaseta.toml
Labels: A-theme

Update iroaseta.toml
  runtime/themes/iroaseta.toml
Labels: A-theme

cleanup: remove dummy diff provider, it's the exact same as not having one
  helix-vcs/src/git/test.rs
  helix-vcs/src/lib.rs
Labels: A-vcs

cleanup: remove useless Git struct, using free functions instead
  helix-vcs/src/git.rs
  helix-vcs/src/git/test.rs
  helix-vcs/src/lib.rs
Labels: A-vcs

nit: remove unused `ceiling_dir` param
  helix-vcs/src/git.rs
Labels: A-vcs

fix lsp restart
  helix-lsp/src/lib.rs
Labels: A-language-server

add color theme config
  runtime/themes/ao.toml
Labels: A-theme

chore: correction of color choice
  runtime/themes/ao.toml
Labels: A-theme

nit: remove unused `ceiling_dir` param
  helix-vcs/src/git.rs
Labels: A-vcs

cleanup: remove dummy diff provider, it's the exact same as not having one
  helix-vcs/src/git/test.rs
  helix-vcs/src/lib.rs
Labels: A-vcs

cleanup: remove useless Git struct, using free functions instead
  helix-vcs/src/git.rs
  helix-vcs/src/git/test.rs
  helix-vcs/src/lib.rs
Labels: A-vcs

chore: update colors
  runtime/themes/ao.toml
Labels: A-theme

Fixed ECMAScript private member highlighting (#10554)
  book/src/themes.md
  runtime/queries/ecma/highlights.scm
Labels: A-tree-sitter

deploy: bc03b6b5fe7446e439cec9cf39a2db466ad9a5a4
  master/print.html
  master/searchindex.js
  master/searchindex.json
  master/themes.html
Labels: none
