Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

chore: update forth with improved treesitter
  languages.toml
  runtime/queries/forth/highlights.scm
Labels: A-tree-sitter

add another check on if line is in bounds
  helix-core/src/extensions.rs
Labels: A-core

Add php readonly keyword
  runtime/queries/php/highlights.scm
Labels: A-tree-sitter

Add 'code-workspace' as a JSON extension (#14908)
  languages.toml
Labels: none

Add php readonly keyword (#14915)
  runtime/queries/php/highlights.scm
Labels: A-tree-sitter

rough draft for expanding stack (horizontal splits)
  helix-view/src/editor.rs
  helix-view/src/tree.rs
Labels: none

don't need to worry about rounding since no division
  helix-view/src/tree.rs
Labels: none

docs: Fix word-breaking and unclosed parenthess
  book/src/guides/indent.md
Labels: none

docs: Fix word-breaking and unclosed parenthess (#14918)
  book/src/guides/indent.md
Labels: none

deploy: 9b5696e702ea3c2e5196ac2f46a41edde78808ec
  master/guides/indent.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

feat: dedicated crate for DAP types (#14906)
  Cargo.lock
  Cargo.toml
  helix-dap-types/Cargo.toml
  helix-dap-types/src/lib.rs
  helix-dap/Cargo.toml
  helix-dap/src/client.rs
  helix-dap/src/lib.rs
Labels: A-debug-adapter

feat: update Amber grammar and queries
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/amber/highlights.scm
  runtime/queries/amber/indents.scm
  runtime/queries/amber/injections.scm
  runtime/queries/amber/rainbows.scm
  runtime/queries/amber/tags.scm
  runtime/queries/amber/textobjects.scm
Labels: A-tree-sitter

map keyboard scancode to KeyCode
  Cargo.lock
  helix-term/Cargo.toml
  helix-term/src/commands.rs
  helix-term/src/ui/editor.rs
  helix-view/Cargo.toml
  helix-view/src/editor.rs
  helix-view/src/input.rs
  helix-view/src/lib.rs
  helix-view/src/scancode.rs
Labels: A-helix-term

fix: dont use sancode on macros replaying
  helix-term/src/ui/editor.rs
Labels: A-helix-term

clippy
  helix-view/src/input.rs
Labels: none

fix rebase
  helix-view/src/input.rs
Labels: none

evdev to fetch keyboard events
  Cargo.lock
  helix-term/Cargo.toml
  helix-term/build.rs
  helix-term/src/commands.rs
  helix-term/src/ui/editor.rs
  helix-view/Cargo.toml
  helix-view/build.rs
  helix-view/src/editor.rs
  helix-view/src/lib.rs
  helix-view/src/scancode.rs
Labels: A-helix-term

style: format
  helix-term/build.rs
  helix-view/build.rs
Labels: A-helix-term

cargo fmt
  helix-view/build.rs
Labels: none

fix: long pressed keys on hidapi
  helix-view/src/scancode.rs
Labels: none

fix: rename var
  helix-view/src/scancode.rs
Labels: none

fix: listen events from ungrabbed keyboard evdev devices
  helix-view/Cargo.toml
  helix-view/src/scancode.rs
Labels: none

feat: hidapi to listen keyboard events
  helix-term/Cargo.toml
  helix-term/build.rs
  helix-view/Cargo.toml
  helix-view/build.rs
  helix-view/src/scancode.rs
Labels: A-helix-term

fix lints
  helix-term/build.rs
  helix-view/build.rs
Labels: A-helix-term

fix: shifted char for scancode 53
  helix-view/src/scancode.rs
Labels: none

Update Cargo.lock
  Cargo.lock
Labels: none

stop on error
  helix-view/src/scancode.rs
Labels: none

update steel core
  Cargo.lock
Labels: none

Implement flash commands
  book/src/generated/static-cmd.md
  helix-term/src/commands.rs
Labels: A-helix-term

add :buffer-nth
  book/src/generated/typable-cmd.md
  helix-term/src/commands/typed.rs
Labels: A-helix-term

eval out of range error lazily
  helix-term/src/commands/typed.rs
Labels: A-helix-term

provide additional context, rather than overriding the error
  helix-term/src/commands/typed.rs
Labels: A-helix-term

docs
  book/src/generated/lang-support.md
Labels: none

queries: basic tags.scm for toml
  runtime/queries/toml/tags.scm
Labels: A-tree-sitter

update steel
  Cargo.lock
Labels: none

Bump Spade grammar
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/spade/highlights.scm
  runtime/queries/spade/rainbows.scm
Labels: A-tree-sitter

set the error object when a callback to the main thread fails
  helix-term/src/commands/engine/steel/mod.rs
Labels: A-helix-term

update steel
  Cargo.lock
Labels: none

feat(theme): add "omicron" (placeholder name)
  runtime/themes/omicron_dark.toml
  runtime/themes/omicron_light.toml
Labels: A-theme

Add Quarto environment files to `env` file-types
  languages.toml
Labels: none

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
