Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

Fix two book links to moved pages
  book/src/guides/adding_languages.md
  book/src/themes.md
Labels: none

snippets
  book/src/generated/static-cmd.md
  helix-term/src/commands.rs
  helix-view/src/editor.rs
Labels: A-helix-term

dap: only reset the active frame when selecting a thread
  helix-view/src/handlers/dap.rs
Labels: none

dap: don't change the active thread on thread events
  helix-view/src/handlers/dap.rs
Labels: none

Change FIDL source revision in languages.toml
  languages.toml
Labels: none

Update FIDL grammar source revision
  languages.toml
Labels: none

Fix(dap): current thread shouldn't switch on start (#16317)
  helix-view/src/handlers/dap.rs
Labels: none

refactor: once_cell -> std (#16221)
  Cargo.lock
  helix-core/Cargo.toml
  helix-core/src/history.rs
  helix-core/src/increment/date_time.rs
  helix-core/src/syntax.rs
  helix-event/Cargo.toml
  helix-event/src/status.rs
  helix-loader/Cargo.toml
  helix-loader/src/lib.rs
  helix-stdx/Cargo.toml
  helix-stdx/src/env.rs
  helix-stdx/src/path.rs
  helix-term/Cargo.toml
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-term/src/job.rs
  helix-term/src/ui/mod.rs
  helix-tui/Cargo.toml
  helix-tui/src/backend/crossterm.rs
  helix-view/Cargo.toml
  helix-view/src/document.rs
  helix-view/src/theme.rs
Labels: A-core, A-helix-term

refactor: disable prompts when shelling out to git (#16193)
  helix-loader/src/grammar.rs
Labels: none

nix: fix `stdenv.isLinux` deprecation warning (#16189)
  flake.nix
  grammars.nix
Labels: none

jjdescription: use `@diff.delta.moved` for renames, like git-commit does (#16174)
  runtime/queries/jjdescription/highlights.scm
Labels: A-tree-sitter

build: support resource compilation for windows-gnu targets
  helix-term/build.rs
Labels: A-helix-term

vcs: Box `DiffProvider::Git` member
  helix-vcs/src/lib.rs
Labels: A-vcs

flake: update inputs to latest
  flake.lock
Labels: none

fix: lsp: clear document diagnostics when refreshing language servers for a document
  helix-view/src/editor.rs
Labels: none

rust: injections: add `anyhow::ensure!(e, "fmt")` as formatted strings
  runtime/queries/rust/injections.scm
Labels: A-tree-sitter

flake: move nixConfig before outputs
  flake.nix
Labels: none

languages: add initial support for `sieve`: language definition and TS grammar
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/sieve/highlights.scm
  runtime/queries/sieve/indents.scm
  runtime/queries/sieve/injections.scm
  runtime/queries/sieve/locals.scm
  runtime/queries/sieve/rainbows.scm
  runtime/queries/sieve/tags.scm
  runtime/queries/sieve/textobjects.scm
Labels: A-tree-sitter

doc: Add section about how workspace trust interact with Jujutsu repositories
  book/src/workspace-trust.md
Labels: none

languages: just: move to new URL
  languages.toml
Labels: none

fix: lsp: correctly clear workspace diagnostics on LSP(s) stop or restart
  helix-core/src/command_line.rs
  helix-lsp/src/lib.rs
  helix-term/src/commands/typed.rs
  helix-view/src/handlers/lsp.rs
Labels: A-core, A-helix-term, A-language-server

feat: vcs: support Jujutsu as a diff-provider
  Cargo.lock
  helix-term/Cargo.toml
  helix-vcs/Cargo.toml
  helix-vcs/src/jj.rs
  helix-vcs/src/lib.rs
  helix-vcs/src/status.rs
Labels: A-helix-term, A-vcs

feat: Diff source caching and autodetection
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-vcs/Cargo.toml
  helix-vcs/src/git.rs
  helix-vcs/src/git/test.rs
  helix-vcs/src/lib.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-helix-term, A-vcs

nix: run `nixfmt`
  default.nix
  flake.nix
  grammars.nix
  shell.nix
Labels: none

Fixed descriptions of 'till' commands and added default bindings for flash commands
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
Labels: A-helix-term, A-keymap

Implement flash commands
  book/src/generated/static-cmd.md
  helix-term/src/commands.rs
Labels: A-helix-term

Fixed jump labels not clearing on Enter
  helix-term/src/commands.rs
Labels: A-helix-term

Removed non-extend flash commands
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
Labels: A-helix-term, A-keymap

fix(themes/eldritch): style jump labels for gw
  runtime/themes/eldritch.toml
Labels: A-theme

fix(prompt): clamp stale scroll anchor after deleting prompt text
  helix-term/src/ui/prompt.rs
Labels: A-helix-term

fix(increment): stop underscore hang and u128 wrap on Ctrl-a/x
  helix-core/src/increment/integer.rs
Labels: A-core

fix(snippets): drop stale tabstop session instead of panicking
  helix-core/src/snippets/active.rs
Labels: A-core

fix(term): abort keymap sequence after last window close
  helix-term/src/ui/editor.rs
Labels: A-helix-term

vcs: Box `DiffProvider::Git` member
  helix-vcs/src/lib.rs
Labels: A-vcs

feat(view): share LinePos sentinel and last-visual-line state
  helix-term/src/ui/document.rs
Labels: A-helix-term

feat: Diff source caching and autodetection
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-vcs/Cargo.toml
  helix-vcs/src/git.rs
  helix-vcs/src/git/test.rs
  helix-vcs/src/lib.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-helix-term, A-vcs

Simplify the callback
  helix-term/src/ui/picker.rs
Labels: A-helix-term

Canonicalize paths
  helix-term/tests/test/commands.rs
Labels: A-helix-term

refactor: extract diff session helper methods and simplify logic
  helix-term/src/application.rs
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-term/src/ui/editor.rs
  helix-view/src/diff_session.rs
  helix-view/src/editor.rs
Labels: A-helix-term

perf(term): advance diff decoration cursor monotonically
  helix-term/src/ui/editor.rs
Labels: A-helix-term
