Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

stop on error
  helix-view/src/scancode.rs
Labels: none

style: format
  helix-term/build.rs
  helix-view/build.rs
Labels: A-helix-term

fix rebase
  helix-view/src/input.rs
Labels: none

feat: hidapi to listen keyboard events
  helix-term/Cargo.toml
  helix-term/build.rs
  helix-view/Cargo.toml
  helix-view/build.rs
  helix-view/src/scancode.rs
Labels: A-helix-term

evdev to fetch keyboard events
  helix-term/Cargo.toml
  helix-term/build.rs
  helix-term/src/commands.rs
  helix-term/src/ui/editor.rs
  helix-view/Cargo.toml
  helix-view/build.rs
  helix-view/src/editor.rs
  helix-view/src/lib.rs
  helix-view/src/scancode.rs
Labels: A-helix-term

map keyboard scancode to KeyCode
  Cargo.lock
  helix-term/Cargo.toml
  helix-term/src/commands.rs
  helix-term/src/ui/editor.rs
  helix-view/Cargo.toml
  helix-view/src/editor.rs
  helix-view/src/input.rs
  helix-view/src/lib.rs
  helix-view/src/scancode.rs
Labels: A-helix-term

add support for tree-sitter-rpmspec
  languages.toml
  runtime/queries/rpmspec/highlights.scm
Labels: A-tree-sitter

build(Cargo): release with opt-lvl2
  Cargo.toml
Labels: none

Keep the preview visible at very narrow widths
  helix-term/src/ui/picker.rs
Labels: A-helix-term

implement equality for key events
  helix-view/src/extension.rs
Labels: none

chore: cargo xtask docgen
  book/src/generated/lang-support.md
Labels: none

[tmp] use my git branch for the tree-house dependency
  Cargo.lock
  Cargo.toml
Labels: none

Add rainbows.scm for fennel (#14815)
  book/src/generated/lang-support.md
  runtime/queries/fennel/rainbows.scm
Labels: A-tree-sitter

deploy: 8ae13272210c105a2b2126d61835e48996adef27
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

Use NonZeroUsize::new in DocumentId::default (#14834)
  helix-view/src/editor.rs
  helix-view/src/lib.rs
Labels: none

feat(runtime): bash injection in go:generate comments (#14840)
  runtime/queries/go/injections.scm
Labels: A-tree-sitter

fix(queries): gjs/gts injections (#14836)
  runtime/queries/_gjs/injections.scm
Labels: A-tree-sitter

queries: Fix glimmer template string injection in gjs
  runtime/queries/_gjs/injections.scm
Labels: A-tree-sitter

use the correct numeric queries
  runtime/queries/rpmspec/highlights.scm
Labels: A-tree-sitter

add support for rpm spec files (#14780)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/rpmspec/highlights.scm
Labels: A-tree-sitter

deploy: 1fdbffdfe00834e02834e1c06b1017258c32c7ef
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

fix: clarify that languages.toml can also be local to a project (#14793)
  book/src/configuration.md
Labels: none

deploy: 4e37403b538624d0fce6db5e262570377d056393
  master/configuration.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

feat: add config option to control initial buffer in buffer picker (#14474)
  book/src/editor.md
  helix-term/src/commands.rs
  helix-view/src/editor.rs
Labels: A-helix-term

deploy: 56cd0eaf2063edd51aa1c0e985f088eeec0e0744
  master/editor.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

fix(dap): respect supports_terminate_request (#14826)
  helix-term/src/commands/dap.rs
Labels: A-helix-term

Fix missing history register for syntax workspace symbol picker (#14813)
  helix-term/src/commands/syntax.rs
Labels: A-helix-term

feat: add a tree-sitter grammar for scfg (#14830)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/scfg/highlights.scm
Labels: A-tree-sitter

deploy: d72b45a8d63b419bfe46e622ff625dfe5520e8cf
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

fix: ensure vendored grammar is clean before fetch (#14817)
  helix-loader/src/grammar.rs
Labels: none

feat(languages): update markdown grammar version
  languages.toml
Labels: none

theme: Papercolor recognises `hint`, re-colored `warning`
  runtime/themes/papercolor-light.toml
Labels: A-theme

theme: Papercolor recognises `hint`, re-colored `warning` (#14861)
  runtime/themes/papercolor-light.toml
Labels: A-theme

[theme] add ocean-space.toml theme
  runtime/themes/ocean-space.toml
Labels: A-theme

fix: Ignore suspend if helix is session leader
  helix-term/src/commands.rs
Labels: A-helix-term

Implement flash commands
  book/src/generated/static-cmd.md
  helix-term/src/commands.rs
Labels: A-helix-term

languages(hy): add support (#14775)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/hy/highlights.scm
Labels: A-tree-sitter

deploy: 2810be89a74a7a09694741808a53d29fb3dd26d1
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

fix: Ignore suspend if helix is session leader (#14868)
  helix-term/src/commands.rs
Labels: A-helix-term

[theme] add ocean-space.toml theme (#14867)
  runtime/themes/ocean-space.toml
Labels: A-theme
