Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

feat: highlight go string interpolation that use stdlib `fmt` package (#14069)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/go-format-string/highlights.scm
  runtime/queries/go/injections.scm
Labels: A-tree-sitter

deploy: 22e60d6a7184a38e79ca8a3af7df90af067c7f51
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

Update helix-term/src/ui/prompt.rs
  helix-term/src/ui/prompt.rs
Labels: A-helix-term

prompt: fix crash on unwrap graphemes (#14050)
  helix-term/src/ui/prompt.rs
Labels: A-helix-term

fix: gruvbox theme collision (#14063)
  runtime/themes/gruvbox.toml
Labels: A-theme

fix(queries): typst function highlight (#14068)
  runtime/queries/typst/highlights.scm
Labels: A-tree-sitter

Load keymap from separate file
  helix-term/src/config.rs
  runtime/keymaps/.gitkeep
Labels: A-helix-term

minor: adjust some scopes from nvim-style to helix style
  runtime/queries/vim/highlights.scm
Labels: A-tree-sitter

feat: Add vimscript language support (#13062)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/vim/folds.scm
  runtime/queries/vim/highlights.scm
  runtime/queries/vim/injections.scm
Labels: A-tree-sitter

deploy: 4fd4588482e7c40f452ca108d8916785e73b74e4
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

feat: add `workspace_directory` and `current_working_directory` variable expansions (#13068)
  book/src/command-line.md
  helix-view/src/expansion.rs
Labels: none

deploy: f72b6f758b810f4178b4250c5e6b19f1e8f05f46
  master/command-line.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

feat: add yamlfmt as default yaml formatter (#13310)
  languages.toml
Labels: none

feat: add language filtering to hx --health (#13484)
  contrib/completion/hx.bash
  contrib/completion/hx.fish
  contrib/completion/hx.nu
  contrib/completion/hx.zsh
  helix-loader/src/grammar.rs
  helix-term/src/health.rs
  helix-term/src/main.rs
Labels: A-helix-term

Improve the keymap doc in the book (#13655)
  book/src/keymap.md
Labels: none

deploy: 9ea190b729f921a3d164323c8d53e645c75be456
  master/keymap.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

feat!: add support for basic icons
  Cargo.lock
  helix-term/src/commands.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/config.rs
  helix-term/src/handlers/document_colors.rs
  helix-term/src/ui/completion.rs
  helix-term/src/ui/document.rs
  helix-term/src/ui/editor.rs
  helix-term/src/ui/mod.rs
  helix-term/src/ui/statusline.rs
  helix-term/src/ui/text_decorations/diagnostics.rs
  helix-tui/src/text.rs
  helix-view/Cargo.toml
  helix-view/src/document.rs
  helix-view/src/editor.rs
  helix-view/src/gutter.rs
  helix-view/src/icons.rs
  helix-view/src/lib.rs
Labels: A-helix-term

add more quote types to markdown autopairs (#13693)
  languages.toml
Labels: none

feat(lsp): sort diagnostic picker by severity (#13806)
  helix-term/src/commands/lsp.rs
Labels: A-helix-term

Enhance Sidra theme color palette and JS support (#14033)
  runtime/themes/sidra.toml
Labels: A-theme

docs: Add architecture notes for stdx and event crates
  docs/architecture.md
Labels: none

docs: Add jumplist documentation to the book (#13849)
  book/src/SUMMARY.md
  book/src/jumplist.md
Labels: none

deploy: 6b511964bb93a10f18a9d1111bdf4de9c7c44a22
  master/jumplist.html
  master/keymap.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
  master/toc.html
  master/toc.js
Labels: none

Use separate color for primary selection in `jetbrains_dark` (#12606)
  runtime/themes/jetbrains_dark.toml
Labels: A-theme

add aura 'n aurara themes (#11791)
  runtime/themes/aura-dark-soft.toml
  runtime/themes/aura-dark.toml
  runtime/themes/aurara.toml
  runtime/themes/licenses/aura.LICENSE
  runtime/themes/licenses/noctis.LICENSE
Labels: A-theme

Current working directory status (#10998)
  book/src/editor.md
  helix-term/src/ui/statusline.rs
  helix-view/src/editor.rs
Labels: A-helix-term

deploy: 6ea3677b9f678c6230b5ccc173608e90590a313f
  master/editor.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

feat: add grammar for lua pattern language
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/lua/injections.scm
  runtime/queries/luap/highlights.scm
  runtime/queries/luau/injections.scm
Labels: A-tree-sitter

Enable inline diagnostics by default
  book/src/editor.md
  helix-view/src/annotations/diagnostics.rs
  helix-view/src/editor.rs
Labels: none

Enable inline diagnostics by default (#13970)
  book/src/editor.md
  helix-view/src/annotations/diagnostics.rs
  helix-view/src/editor.rs
Labels: none

deploy: 6dc472266549d8e8dee97e1a28bdc5a6e455166c
  master/editor.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

feat: add grammar for lua pattern language (#14082)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/lua/injections.scm
  runtime/queries/luap/highlights.scm
  runtime/queries/luau/injections.scm
Labels: A-tree-sitter

deploy: e17b80a5a2146df78e211a011c4cb57f1acab56d
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

Add rainbow highlights based on tree-sitter queries
  helix-core/src/syntax.rs
  helix-core/src/syntax/config.rs
  helix-term/src/ui/editor.rs
  helix-view/src/editor.rs
  helix-view/src/theme.rs
  runtime/queries/bash/rainbows.scm
  runtime/queries/c/rainbows.scm
  runtime/queries/clojure/rainbows.scm
  runtime/queries/common-lisp/rainbows.scm
  runtime/queries/cpp/rainbows.scm
  runtime/queries/css/rainbows.scm
  runtime/queries/ecma/rainbows.scm
  runtime/queries/elixir/rainbows.scm
  runtime/queries/erlang/rainbows.scm
  runtime/queries/gleam/rainbows.scm
  runtime/queries/go/rainbows.scm
  runtime/queries/html/rainbows.scm
  runtime/queries/java/rainbows.scm
  runtime/queries/javascript/rainbows.scm
  runtime/queries/json/rainbows.scm
  runtime/queries/jsx/rainbows.scm
  runtime/queries/nix/rainbows.scm
  runtime/queries/python/rainbows.scm
  runtime/queries/racket/rainbows.scm
  runtime/queries/regex/rainbows.scm
  runtime/queries/ruby/rainbows.scm
  runtime/queries/rust/rainbows.scm
  runtime/queries/scheme/rainbows.scm
  runtime/queries/scss/rainbows.scm
  runtime/queries/starlark/rainbows.scm
  runtime/queries/toml/rainbows.scm
  runtime/queries/tsx/rainbows.scm
  runtime/queries/typescript/rainbows.scm
  runtime/queries/xml/rainbows.scm
  runtime/queries/yaml/rainbows.scm
  xtask/src/main.rs
Labels: A-core, A-helix-term, A-tree-sitter

Add docs
  book/src/SUMMARY.md
  book/src/editor.md
  book/src/generated/lang-support.md
  book/src/guides/README.md
  book/src/guides/rainbow_bracket_queries.md
  book/src/languages.md
  book/src/themes.md
  helix-term/src/health.rs
Labels: A-helix-term

deploy: 1941f0b639f8d21e123f57c62fb0f4d08b7523e4
  master/editor.html
  master/guides/rainbow_bracket_queries.html
  master/guides/tags.html
  master/lang-support.html
  master/languages.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
  master/themes.html
  master/toc.html
  master/toc.js
Labels: none

add `insert_character_interactive` command (#11411)
  helix-term/src/commands.rs
Labels: A-helix-term

Run 'cargo xtask docgen'
  book/src/generated/static-cmd.md
Labels: none

deploy: 54e748b0ce011023964a102a5636915757870c10
  master/commands.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

Preserve file creation time on macOS and Windows (#13561)
  helix-stdx/src/faccess.rs
Labels: none
