Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

Adds Carbon theme for helix editor (#13067)
  runtime/themes/carbon.toml
Labels: A-theme

Add focus_nova Helix theme
  runtime/themes/focus_nova.toml
Labels: A-theme

add werk language and highlights
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/werk/highlights.scm
Labels: A-tree-sitter

fix: remove clashing imports
  xtask/src/main.rs
Labels: none

Add Prolog tree-sitter grammar
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/prolog/folds.scm
  runtime/queries/prolog/highlights.scm
  runtime/queries/prolog/indents.scm
  runtime/queries/prolog/injections.scm
Labels: A-tree-sitter

Fix captures in `highlights.scm`
  runtime/queries/prolog/highlights.scm
Labels: A-tree-sitter

Fix captures in `indents.scm`
  runtime/queries/prolog/indents.scm
Labels: A-tree-sitter

Remove dot keymap
  helix-term/src/ui/editor.rs
Labels: A-helix-term

queries(scheme): consider the first argument of λ to be a variable
  runtime/queries/scheme/highlights.scm
Labels: A-tree-sitter

add werk language and highlights (#13136)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/werk/highlights.scm
Labels: A-tree-sitter

deploy: d6cacb27319da9be84de7cad45e7f1264b210052
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

queries(scheme): consider the first argument of λ to be a variable (#13143)
  runtime/queries/scheme/highlights.scm
Labels: A-tree-sitter

Switch from reddish-orange to orangeish-yellow for Solarized diff.delta (#13121)
  runtime/themes/solarized_dark.toml
  runtime/themes/solarized_light.toml
Labels: A-theme

fix: rename var
  helix-view/src/scancode.rs
Labels: none

fix: long pressed keys on hidapi
  helix-view/src/scancode.rs
Labels: none

fix rebase
  helix-view/src/input.rs
Labels: none

feat: hidapi to listen keyboard events
  Cargo.lock
  helix-term/Cargo.toml
  helix-term/build.rs
  helix-view/Cargo.toml
  helix-view/build.rs
  helix-view/src/scancode.rs
Labels: A-helix-term

clippy
  helix-view/src/input.rs
Labels: none

evdev to fetch keyboard events
  Cargo.lock
  helix-term/Cargo.toml
  helix-term/build.rs
  helix-term/src/commands.rs
  helix-term/src/ui/editor.rs
  helix-view/Cargo.toml
  helix-view/build.rs
  helix-view/src/editor.rs
  helix-view/src/lib.rs
  helix-view/src/scancode.rs
Labels: A-helix-term

fix: dont use sancode on macros replaying
  helix-term/src/ui/editor.rs
Labels: A-helix-term

map keyboard scancode to KeyCode
  Cargo.lock
  helix-term/Cargo.toml
  helix-term/src/commands.rs
  helix-term/src/ui/editor.rs
  helix-view/Cargo.toml
  helix-view/src/editor.rs
  helix-view/src/input.rs
  helix-view/src/lib.rs
  helix-view/src/scancode.rs
Labels: A-helix-term

fix: listen events from ungrabbed keyboard evdev devices
  Cargo.lock
  helix-view/Cargo.toml
  helix-view/src/scancode.rs
Labels: none

style: format
  helix-term/build.rs
  helix-view/build.rs
Labels: A-helix-term

feat: add config for disable autostart LSP
  book/src/editor.md
  helix-lsp/src/lib.rs
  helix-view/src/editor.rs
Labels: A-language-server

feat: Add default configuration for KCL language server
  languages.toml
Labels: none

reduce indentation level
  helix-lsp/src/lib.rs
Labels: A-language-server

minor: Accept `impl AsRef<Path>` in loader's runtime_file helper
  helix-loader/src/grammar.rs
  helix-loader/src/lib.rs
Labels: none

Show successfully requested code actions after a failed request
  helix-term/src/commands/lsp.rs
Labels: A-helix-term

Add an option to disable .gitignore when completing paths in the prompt
  book/src/editor.md
  helix-term/src/ui/mod.rs
  helix-view/src/editor.rs
Labels: A-helix-term

Show successfully requested code actions after a failed request (#13156)
  helix-term/src/commands/lsp.rs
Labels: A-helix-term

fix imports
  helix-term/src/commands.rs
Labels: A-helix-term

remove regex for continue-comments and shebang
  helix-core/src/syntax.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

add bufferline wrapping
  helix-term/src/ui/editor.rs
Labels: A-helix-term

chore(worker): remove unused lifetime on `EventAccumulator`
  helix-vcs/src/diff/worker.rs
Labels: A-vcs

Update focus_nova.toml
  runtime/themes/focus_nova.toml
Labels: A-theme

chore(worker): remove unused lifetime on `EventAccumulator` (#13158)
  helix-vcs/src/diff/worker.rs
Labels: A-vcs

Support EditorConfig (#13056)
  book/src/editor.md
  helix-core/src/editor_config.rs
  helix-core/src/lib.rs
  helix-term/src/commands/typed.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-core, A-helix-term

deploy: 3a63e85b6ab204bf0e55d56db63ea02263175424
  master/editor.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

feat: add support for basic icons
  Cargo.lock
  helix-term/src/ui/editor.rs
  helix-term/src/ui/statusline.rs
  helix-view/Cargo.toml
  helix-view/src/editor.rs
  helix-view/src/gutter.rs
  helix-view/src/icons.rs
  helix-view/src/lib.rs
Labels: A-helix-term

feat: add support for custom typable commands
  helix-core/src/command_line.rs
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-term/src/config.rs
  helix-term/src/main.rs
  helix-view/src/commands/custom.rs
  helix-view/src/commands/mod.rs
  helix-view/src/editor.rs
  helix-view/src/expansion.rs
  helix-view/src/lib.rs
Labels: A-core, A-helix-term

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
