Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

feat(commands): add `language` variable expansion
  book/src/command-line.md
  helix-view/src/expansion.rs
Labels: none

Feat: Added slang support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/slang/highlights.scm
  runtime/queries/slang/indents.scm
  runtime/queries/slang/injections.scm
Labels: A-tree-sitter

grammars: update the V language grammar to a version that fixes the string literal highlighting bug #12885
  languages.toml
Labels: none

Update helix-view/src/expansion.rs
  helix-view/src/expansion.rs
Labels: none

feat(commands): add `language` variable expansion (#13466)
  book/src/command-line.md
  helix-view/src/expansion.rs
Labels: none

deploy: ac3c6ebafffd6c0e7d55d1349bbec2eb9be7e2a0
  master/command-line.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

feat(commands): add `selection` variable expansion
  book/src/command-line.md
  helix-view/src/expansion.rs
Labels: none

minor wording tweak "contents of the primary selection"
  book/src/command-line.md
Labels: none

feat(commands): add `selection` variable expansion (#13467)
  book/src/command-line.md
  helix-view/src/expansion.rs
Labels: none

deploy: 4c630c148a1596b96c49e598135003967cab96cb
  master/command-line.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

Support `.git-blame-ignore-revs` (#13460)
  languages.toml
Labels: none

chore: bump the grammar's git rev to include the license
  languages.toml
Labels: none

Apply suggestions from code review
  runtime/queries/slang/highlights.scm
  runtime/queries/slang/indents.scm
Labels: A-tree-sitter

Added other suggestions from review
  runtime/queries/slang/highlights.scm
Labels: A-tree-sitter

Forgot to add textobjects.scm
  runtime/queries/slang/textobjects.scm
Labels: A-tree-sitter

docs(guides/textobject): list `parameter.around` capture
  book/src/guides/textobject.md
Labels: none

missing paren
  runtime/queries/slang/highlights.scm
Labels: A-tree-sitter

feat: allow to get a register value from scheme
  helix-term/src/commands/engine/steel.rs
Labels: A-helix-term

modification of types : str to enum
  helix-term/src/commands/typed.rs
  helix-term/src/ui/mod.rs
Labels: A-helix-term

docs(guides/textobject): list `parameter.around` capture (#13470)
  book/src/guides/textobject.md
Labels: none

deploy: ece12dd74d44da8bb8686ac7d65458de47dbc9b9
  master/guides/textobject.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

Add support for Pug language (#13435)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/pug/highlights.scm
  runtime/queries/pug/injections.scm
Labels: A-tree-sitter

deploy: 4784650ccf96fd68c2d8d84d9ae6c3d359fc1c50
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

feat: add basic Slang support (#13449)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/slang/highlights.scm
  runtime/queries/slang/indents.scm
  runtime/queries/slang/injections.scm
  runtime/queries/slang/textobjects.scm
Labels: A-tree-sitter

deploy: 46cb1777926fea28ff23bec0f34641bff54ec786
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

minor: Remove `grammar` from dunstrc language config
  languages.toml
Labels: none

feat: add a tree-sitter grammar and highlights for dunst's config (#13458)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/dunstrc/highlights.scm
Labels: A-tree-sitter

deploy: cbac4273836f5837cec641ab21f365c79b102a4b
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

Introduce DebuggerService to hold multiple debuggers
  helix-dap/src/client.rs
  helix-dap/src/debuger_service.rs
  helix-dap/src/lib.rs
  helix-dap/src/transport.rs
  helix-term/src/application.rs
  helix-term/src/commands/dap.rs
  helix-term/src/commands/typed.rs
  helix-view/src/editor.rs
  helix-view/src/handlers/dap.rs
Labels: A-debug-adapter, A-helix-term

Handle prompt completions with AsyncHook.
  helix-core/src/command_line.rs
  helix-term/src/commands/typed.rs
  helix-term/src/ui/mod.rs
  helix-term/src/ui/prompt.rs
Labels: A-core, A-helix-term

verilog: separate highlighting of keyword operators
  runtime/queries/verilog/highlights.scm
Labels: A-tree-sitter

verilog: highlight additional operators
  runtime/queries/verilog/highlights.scm
Labels: A-tree-sitter

Breakpoints now hit
  helix-dap/src/client.rs
  helix-view/src/handlers/dap.rs
Labels: A-debug-adapter

Update bash highlights
  languages.toml
  runtime/queries/bash/highlights.scm
Labels: A-tree-sitter

verilog: separate highlighting of keyword operators (#13473)
  runtime/queries/verilog/highlights.scm
Labels: A-tree-sitter

chore: resolve merge conflicts
  Cargo.lock
  helix-vcs/src/git/blame.rs
Labels: A-vcs

fix: only render inline blame once per line at most
  helix-term/src/ui/document.rs
  helix-term/src/ui/text_decorations/blame.rs
Labels: A-helix-term

feat: add wgsl built-in functions to `@function.builtin`
  runtime/queries/wgsl/highlights.scm
Labels: A-tree-sitter

Updated tree-sitter-haskell (fixes #13428)
  languages.toml
  runtime/queries/haskell/highlights.scm
  runtime/queries/haskell/locals.scm
  runtime/queries/haskell/textobjects.scm
Labels: A-tree-sitter

Add back constant highlighting
  runtime/queries/bash/highlights.scm
Labels: A-tree-sitter
