Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

queries: update more grammars
  runtime/queries/awk/highlights.scm
  runtime/queries/bash/highlights.scm
  runtime/queries/c/highlights.scm
  runtime/queries/clojure/highlights.scm
  runtime/queries/cpp/highlights.scm
  runtime/queries/java/highlights.scm
  runtime/queries/move/highlights.scm
  runtime/queries/openscad/highlights.scm
Labels: A-tree-sitter

helix-view: Fix jumpy cursor on vertical center
  helix-view/src/view.rs
Labels: none

tree-sitter: update Inko grammar
  languages.toml
Labels: none

Improve move word command in Japanese text
  helix-core/src/chars.rs
Labels: A-core

tree-sitter: update Inko grammar (#10805)
  languages.toml
Labels: none

Correct typo in "current buffer's directory"
  helix-term/src/commands.rs
Labels: A-helix-term

Update languages.toml - add nixd, closes #10734
  book/src/generated/lang-support.md
  languages.toml
Labels: none

docs: Document what directory file_picker opens from
  book/src/keymap.md
Labels: none

Add default key binding for file_picker_in_current_buffer_directory
  helix-term/src/keymap/default.rs
Labels: A-helix-term, A-keymap

Docgen
  book/src/generated/lang-support.md
Labels: none

Working
  helix-term/src/handlers/completion.rs
  helix-term/src/ui/completion.rs
  helix-term/src/ui/editor.rs
  helix-term/src/ui/mod.rs
  helix-view/src/editor.rs
Labels: A-helix-term

added: progressive increment and decrement to the helix --tutor
  runtime/tutor
Labels: none

fix: the number of lines in the the tutor block
  runtime/tutor
Labels: none

Only rerequest for servers that sent is_incomplete
  helix-term/src/handlers/completion.rs
  helix-term/src/ui/completion.rs
Labels: A-helix-term

persist old completions
  helix-term/src/handlers/completion.rs
  helix-term/src/ui/completion.rs
  helix-term/src/ui/menu.rs
Labels: A-helix-term

Correct typo in "current buffer's directory" (#10814)
  helix-term/src/commands.rs
Labels: A-helix-term

avoid cnorm on certain terminals
  helix-tui/src/backend/crossterm.rs
Labels: none

suggest `*.desktop` for AppImage
  book/src/package-managers.md
Labels: none

Fix :toggle command
  helix-term/src/commands/typed.rs
Labels: A-helix-term

add suggestions by @krish-r
  book/src/package-managers.md
Labels: none

avoid cnorm on certain terminals (#10769)
  helix-tui/src/backend/crossterm.rs
Labels: none

docs: improve `last_picker` docs
  book/src/keymap.md
  helix-term/src/commands.rs
Labels: A-helix-term

made some major improvements to VHDL highlighting
  runtime/queries/vhdl/highlights.scm
Labels: A-tree-sitter

added new skin, update older skins look and features
  runtime/themes/hex_lavender.toml
  runtime/themes/hex_poison.toml
  runtime/themes/hex_steel.toml
  runtime/themes/hex_toxic.toml
Labels: A-theme

adjusted colors a bit more
  runtime/themes/hex_poison.toml
Labels: A-theme

updates to selection colors for better read
  runtime/themes/hex_lavender.toml
  runtime/themes/hex_poison.toml
  runtime/themes/hex_steel.toml
  runtime/themes/hex_toxic.toml
Labels: A-theme

initial functionality to store and re-open closed paths
  helix-term/src/commands/typed.rs
  helix-view/src/view.rs
Labels: A-helix-term

feat: improve hx fish completion
  contrib/completion/hx.fish
Labels: none

base16_default: add `ui.statusline` for `color-modes`
  base16_theme.toml
Labels: none

base16_default: add `ui.virtual` default
  base16_theme.toml
Labels: none

"it's" -> "its", in `crossterm.rs`
  helix-tui/src/backend/crossterm.rs
Labels: none

fix: correctly reset inlay hints when stopping or restarting LSPs for a document
  helix-term/src/commands/typed.rs
  helix-view/src/editor.rs
Labels: A-helix-term

move state out of view
  helix-term/src/commands/typed.rs
  helix-view/src/editor.rs
  helix-view/src/view.rs
Labels: A-helix-term

docs: document shell completion
  book/src/building-from-source.md
Labels: none

fix: correctly reset inlay hints when stopping or restarting LSPs for a document (#10741)
  helix-term/src/commands/typed.rs
  helix-view/src/editor.rs
Labels: A-helix-term

fix issue with duplicate additions
  helix-term/src/commands/typed.rs
  helix-view/src/editor.rs
Labels: A-helix-term

don't open currently open files
  helix-term/src/commands/typed.rs
  helix-view/src/editor.rs
Labels: A-helix-term

Added adwaita-light theme
  runtime/themes/adwaita-light.toml
Labels: A-theme

chore: use `let-else` anywhere possible and practical
  helix-core/src/indent.rs
  helix-core/src/movement.rs
  helix-core/src/test.rs
  helix-term/src/application.rs
  helix-term/src/commands.rs
  helix-term/src/commands/dap.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/commands/typed.rs
  helix-term/src/health.rs
  helix-term/src/ui/completion.rs
  helix-term/src/ui/editor.rs
  helix-term/src/ui/markdown.rs
  helix-term/src/ui/menu.rs
  helix-term/src/ui/picker.rs
  helix-view/src/clipboard.rs
  helix-view/src/editor.rs
  helix-view/src/gutter.rs
  helix-view/src/handlers/dap.rs
  helix-view/src/handlers/lsp.rs
  helix-view/src/theme.rs
  helix-view/src/tree.rs
Labels: A-core, A-helix-term

feat: Diff source caching and autodetection
  Cargo.lock
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-vcs/Cargo.toml
  helix-vcs/src/git.rs
  helix-vcs/src/git/test.rs
  helix-vcs/src/lib.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-helix-term, A-vcs
