Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

Cyan Light : Directory in prompt & lighter UI grays
  runtime/themes/cyan_light.toml
Labels: A-theme

remove extra spaces
  runtime/themes/cyan_light.toml
Labels: A-theme

feat(sql): update tree-sitter files (#12837)
  languages.toml
  runtime/queries/sql/highlights.scm
Labels: A-tree-sitter

Cyan light UI grays and directory prompt (#12864)
  runtime/themes/cyan_light.toml
Labels: A-theme

Remove unused dependencies
  .github/dependabot.yml
  Cargo.lock
  helix-core/Cargo.toml
  helix-loader/Cargo.toml
  helix-lsp-types/Cargo.toml
  helix-lsp/Cargo.toml
  helix-tui/Cargo.toml
Labels: A-core, A-language-server

Improve `onedarker` theme contrast `cursorline`/`selection` (#12579)
  runtime/themes/onedarker.toml
Labels: A-theme

add "goto first/next workspace diagnostic" commands
  helix-core/src/diagnostic.rs
  helix-term/src/commands.rs
  helix-term/src/commands/lsp.rs
  helix-view/src/document.rs
  helix-view/src/lib.rs
Labels: A-core, A-helix-term

refactor: use `Path::parent` and `Path::file_name`
  helix-term/src/commands.rs
Labels: A-helix-term

chore: remove unneeded method call
  helix-term/src/commands.rs
Labels: A-helix-term

feat: highlight rust repetition pattern
  runtime/queries/rust/highlights.scm
Labels: A-tree-sitter

fix: `?` is operator in macro repetitions, just like `+` and `*`
  runtime/queries/rust/highlights.scm
Labels: A-tree-sitter

Include `ui.text.directory` in `onedarker` theme.
  runtime/themes/onedarker.toml
Labels: A-theme

Fixed a Helix crash on launch when the install directory cannot be canonicalized (the ol' `.unwrap_or`)
  helix-loader/src/lib.rs
Labels: none

Add support for a workspace runtime directory
  book/src/guides/textobject.md
  helix-loader/src/lib.rs
Labels: none

Improve auto completion for shell commands
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-term/src/ui/mod.rs
Labels: A-helix-term

Fix nits
  flake.nix
Labels: none

Forgot to add rec
  flake.nix
Labels: none

Ignore some files
  flake.nix
Labels: none

Show path in file picker and explorer
  helix-term/src/ui/mod.rs
  helix-term/src/ui/picker.rs
Labels: A-helix-term

feat: add reverse repeat motion
  book/src/generated/static-cmd.md
  book/src/keymap.md
  helix-core/src/movement.rs
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
  helix-view/src/editor.rs
  runtime/tutor
Labels: A-core, A-helix-term, A-keymap

feat: support reverse motion for diagnostic navigation
  helix-term/src/commands.rs
Labels: A-helix-term

feat: update goto_{next, prev}_change to support reverse repeat
  helix-term/src/commands.rs
Labels: A-helix-term

feat: support reverse repeat and direction for more motions
  helix-term/src/commands.rs
Labels: A-helix-term

refactor: reduce nesting
  helix-term/src/commands.rs
Labels: A-helix-term

fix `A-S-.` keybind to `A->`
  book/src/generated/static-cmd.md
  book/src/keymap.md
  helix-term/src/keymap/default.rs
  runtime/tutor
Labels: A-helix-term, A-keymap

Do not override movement to `Move` for repeat_last*
  helix-view/src/editor.rs
Labels: none

perf: -1 alloc
  helix-term/src/commands.rs
Labels: A-helix-term

fix: escape percent character when yanking to search register
  helix-term/src/commands.rs
Labels: A-helix-term

feat: add register for absolute path of the current file
  book/src/registers.md
  helix-view/src/register.rs
Labels: none

feat: implement basic functionality for finding the next / previous char pairs
  helix-core/src/search.rs
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
Labels: A-core, A-helix-term, A-keymap

fix `:yank-joined` disrespecting default-yank-register option
  helix-term/src/commands/typed.rs
Labels: A-helix-term

chore: fix formatting
  helix-term/src/commands/typed.rs
Labels: A-helix-term

test: add tests for find motion repeat and reverse repeat
  helix-term/tests/test/movement.rs
Labels: A-helix-term

test: add integration test for find / till on `<ret>`
  helix-term/tests/test/movement.rs
Labels: A-helix-term

refactor: use if let else instead of match
  helix-term/src/commands.rs
Labels: A-helix-term

refactor: `find_char`
  helix-term/src/commands.rs
Labels: A-helix-term

fix popup not having any background
  runtime/themes/cyan_light.toml
Labels: A-theme

feat: correct implementation of {find,extend}_next_pair
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
Labels: A-helix-term, A-keymap

feat: correct implementation of `{find,extend}_{prev,next}_pair`
  helix-core/src/search.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

docs: add info for {extend,find}_{next,prev}_pair
  book/src/generated/static-cmd.md
  helix-core/src/search.rs
Labels: A-core

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
