Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

Fix the fallback faccess module for targets that are neither unix nor windows
  helix-stdx/src/faccess.rs
Labels: none

Highlight rego `and`/`or` operators
  languages.toml
  runtime/queries/rego/highlights.scm
Labels: A-tree-sitter

fix(languages): update spicedb grammar, queries
  languages.toml
  runtime/queries/spicedb/highlights.scm
  runtime/queries/spicedb/injections.scm
  runtime/queries/spicedb/tags.scm
Labels: A-tree-sitter

file watcher added
  Cargo.lock
  Cargo.toml
  book/src/editor.md
  helix-term/src/application.rs
  helix-term/tests/integration.rs
  helix-term/tests/test/file_watcher.rs
  helix-view/Cargo.toml
  helix-view/src/editor.rs
  helix-view/src/file_watcher.rs
  helix-view/src/lib.rs
Labels: A-helix-term

Slightly adjust the picker tests
  helix-term/tests/test/commands.rs
Labels: A-helix-term

Update KCL grammar
  languages.toml
Labels: none

Add comment tokens for Wren language in languages.toml
  languages.toml
Labels: none

Disable dynamic background color inside Zellij
  helix-tui/src/backend/termina.rs
Labels: none

fix(goto-file): fall back after unresolved document links
  helix-term/src/commands.rs
  helix-term/tests/test/commands.rs
Labels: A-helix-term

refactor: once_cell -> std
  Cargo.lock
  helix-core/Cargo.toml
  helix-core/src/history.rs
  helix-core/src/increment/date_time.rs
  helix-core/src/syntax.rs
  helix-event/Cargo.toml
  helix-event/src/status.rs
  helix-loader/Cargo.toml
  helix-loader/src/lib.rs
  helix-stdx/Cargo.toml
  helix-stdx/src/env.rs
  helix-stdx/src/path.rs
  helix-term/Cargo.toml
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-term/src/job.rs
  helix-term/src/ui/mod.rs
  helix-tui/Cargo.toml
  helix-tui/src/backend/crossterm.rs
  helix-view/Cargo.toml
  helix-view/src/document.rs
  helix-view/src/theme.rs
Labels: A-core, A-helix-term

Fix for imports after rebase
  helix-term/src/application.rs
Labels: A-helix-term

switched email grammar language support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/mail/folds.scm
  runtime/queries/mail/highlights.scm
  runtime/queries/mail/indents.scm
  runtime/queries/mail/injections.scm
  runtime/queries/mail/locals.scm
  runtime/queries/mail/tags.scm
  runtime/queries/mail/textobjects.scm
Labels: A-tree-sitter

updating the way the bufferline is displaying the buffer tabs that normally overflow
  helix-term/src/ui/editor.rs
  helix-view/src/editor.rs
Labels: A-helix-term

Gate the Unix socket listener on --socket or HELIX_SOCKET_PATH so vanilla hx does not bind.
  helix-term/Cargo.toml
  helix-term/src/application.rs
  helix-term/src/remote/listen.rs
  helix-term/src/remote/mod.rs
Labels: A-helix-term

Replace stale sock files on listen and unlink the bound path on editor exit.
  helix-term/src/application.rs
  helix-term/src/remote/listen.rs
  helix-term/src/remote/mod.rs
Labels: A-helix-term

Cover listen enable, stale vs live socks, and socket directory modes with unit tests.
  helix-term/src/remote/listen.rs
  helix-term/src/remote/mod.rs
Labels: A-helix-term

Parse --socket PATH so a TUI process can choose the listen path from the CLI.
  helix-term/src/args.rs
Labels: A-helix-term

Add editor.socket-path as a listen/connect path override without enabling the socket.
  helix-view/src/editor.rs
Labels: none

Extract socket path resolution so listen and connect share one discovery order.
  helix-term/src/lib.rs
  helix-term/src/remote/mod.rs
  helix-term/src/remote/path.rs
Labels: A-helix-term

Add v1 remote message types for inbound JSON command lines.
  helix-term/src/remote/mod.rs
  helix-term/src/remote/protocol.rs
Labels: A-helix-term

Frame remote connections as newline-delimited lines with a 64 KiB cap.
  helix-term/src/application.rs
  helix-term/src/remote/listen.rs
Labels: A-helix-term

Run socket commands through command-mode execution instead of keymap parsing.
  helix-term/src/application.rs
  helix-term/src/commands/typed.rs
Labels: A-helix-term

Add --remote client mode, optional --socket path, and inbound framing tests.
  contrib/completion/hx.bash
  contrib/completion/hx.elv
  contrib/completion/hx.fish
  contrib/completion/hx.nu
  contrib/completion/hx.zsh
  helix-term/src/application.rs
  helix-term/src/args.rs
  helix-term/src/main.rs
  helix-term/src/remote/client.rs
  helix-term/src/remote/listen.rs
  helix-term/src/remote/mod.rs
Labels: A-helix-term

Gate socket recv on unix so Windows CI compiles.
  helix-term/src/application.rs
Labels: A-helix-term

Make the inbound socket denylist a real shell and write boundary.
  helix-term/src/application.rs
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-term/src/remote/inbound.rs
  helix-term/src/remote/mod.rs
  helix-view/src/expansion.rs
Labels: A-helix-term

Close the socket bind window and drop connections from other uids.
  helix-term/src/remote/listen.rs
Labels: A-helix-term

Error on --socket when remote sockets are unsupported on this platform.
  helix-term/src/main.rs
  helix-term/src/remote/mod.rs
Labels: A-helix-term

Add ChordPro language support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/chordpro/highlights.scm
  tests/query/highlights/chordpro/basics.cho
Labels: A-tree-sitter

add link to a live browser demo
  README.md
Labels: none

Make horizontal automatic
  helix-term/src/ui/picker.rs
Labels: A-helix-term

refactor: make workspace VCS trust provider-neutral
  helix-loader/src/workspace_trust.rs
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-view/src/editor.rs
Labels: A-helix-term

feat: add Sapling diff provider with Git precedence
  helix-vcs/Cargo.toml
  helix-vcs/src/lib.rs
  helix-vcs/src/sapling.rs
  helix-vcs/src/sapling/test.rs
  helix-vcs/src/status.rs
Labels: A-vcs

feat: enable Sapling integration in the editor
  book/src/workspace-trust.md
  helix-loader/src/lib.rs
  helix-term/Cargo.toml
Labels: A-helix-term

feat: add Sapling diff provider with Git precedence
  helix-vcs/Cargo.toml
  helix-vcs/src/lib.rs
  helix-vcs/src/sapling.rs
  helix-vcs/src/sapling/test.rs
  helix-vcs/src/status.rs
Labels: A-vcs

refactor: make workspace VCS trust provider-neutral
  helix-loader/src/workspace_trust.rs
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-view/src/editor.rs
Labels: A-helix-term

feat: enable Sapling integration in the editor
  book/src/workspace-trust.md
  helix-loader/src/lib.rs
  helix-term/Cargo.toml
Labels: A-helix-term

update
  helix-view/src/editor.rs
  helix-view/src/lib.rs
  helix-view/src/tabs.rs
Labels: none

behaviour is working well. now just need to do some code clean up
  helix-core/src/auto_pairs.rs
  helix-term/src/ui/editor.rs
  helix-view/src/editor.rs
  helix-view/src/tabs.rs
Labels: A-core, A-helix-term

undid formatting churn
  helix-core/src/auto_pairs.rs
  helix-term/src/ui/editor.rs
  helix-view/src/editor.rs
  helix-view/src/tabs.rs
Labels: A-core, A-helix-term

Respect editor auto-format defaults
  helix-core/src/syntax/config.rs
  helix-term/tests/test/commands/write.rs
  helix-view/src/document.rs
Labels: A-core, A-helix-term

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
