Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

feat: Add Jujutsu diff handling to Helix
  helix-term/Cargo.toml
  helix-vcs/Cargo.toml
  helix-vcs/src/jujutsu.rs
  helix-vcs/src/lib.rs
  helix-vcs/src/status.rs
Labels: A-helix-term, A-vcs

update tree-sitter-earthfile to 0.5.3
  languages.toml
Labels: none

Add `typ` injection regex for `typst`
  languages.toml
Labels: none

LSP: Resolve completion items when any info is missing
  helix-term/src/handlers/completion/resolve.rs
Labels: A-helix-term

update tree-sitter-earthfile to 0.5.3 (#10779)
  languages.toml
Labels: none

extract out behaviour into LastOpenedDocs struct
  helix-term/src/commands/typed.rs
  helix-view/src/editor.rs
Labels: A-helix-term

add tests for opening recent files
  helix-term/tests/test/commands/write.rs
Labels: A-helix-term

generate docs
  book/src/generated/typable-cmd.md
  helix-term/src/commands/typed.rs
Labels: A-helix-term

rename to open-recent
  book/src/generated/typable-cmd.md
  helix-term/src/commands/typed.rs
  helix-term/tests/test/commands/write.rs
Labels: A-helix-term

feat: improve health check completion
  contrib/completion/hx.fish
Labels: none

fix clippy errors
  helix-view/src/editor.rs
Labels: none

add-a-way-to-only-show-the-horizontal-or-vertical-position-in-statusline
  helix-term/src/ui/statusline.rs
  helix-view/src/editor.rs
Labels: A-helix-term

review changes
  helix-term/src/commands.rs
Labels: A-helix-term

Flush pending writes before suspend (#10797)
  helix-term/src/commands.rs
Labels: A-helix-term

feat: use hx --health languages in completion
  contrib/completion/hx.fish
Labels: none

LSP: Resolve completion items when any info is missing (#10873)
  helix-term/src/handlers/completion/resolve.rs
Labels: A-helix-term

feat: tree sitter path
  helix-term/src/ui/statusline.rs
  helix-view/src/editor.rs
Labels: A-helix-term

Fix logic to update version when HEAD changes.
  helix-loader/build.rs
Labels: none

Fix logic to update version when HEAD changes. (#10896)
  helix-loader/build.rs
Labels: none

"it's" -> "its", in `crossterm.rs` (#10860)
  helix-tui/src/backend/crossterm.rs
Labels: none

Add `py`, `hs`, `rs` and `typ` injection regexes (#10785)
  languages.toml
Labels: none

add elisp support (#10644)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/elisp/highlights.scm
  runtime/queries/elisp/tags.scm
Labels: A-tree-sitter

deploy: 44504b720b5ad2ac8bf521b678a3fae2370f182d
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

feat: add eol hints
  helix-lsp/src/lib.rs
  helix-term/src/commands/lsp.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-helix-term, A-language-server

working with some odd behaviour
  helix-term/src/handlers/auto_save.rs
  helix-term/src/ui/editor.rs
  helix-view/src/handlers/lsp.rs
  helix-view/src/input.rs
Labels: A-helix-term

clearer names
  helix-term/src/ui/editor.rs
  helix-view/src/editor.rs
Labels: A-helix-term

configable
  helix-term/src/ui/editor.rs
  helix-view/src/editor.rs
Labels: A-helix-term

working with greater consistency
  helix-term/src/handlers/auto_save.rs
Labels: A-helix-term

Apply reviewer suggestions
  helix-term/src/handlers/auto_save.rs
Labels: A-helix-term

init
  helix-term/src/application.rs
  helix-term/src/handlers.rs
  helix-term/src/handlers/auto_save.rs
  helix-term/src/ui/editor.rs
  helix-view/src/editor.rs
  helix-view/src/handlers.rs
  helix-view/src/handlers/lsp.rs
  helix-view/src/input.rs
Labels: A-helix-term

auto save after delay
  helix-term/src/application.rs
  helix-term/src/ui/editor.rs
  helix-view/src/editor.rs
  helix-view/src/input.rs
Labels: A-helix-term

Improve auto-save configuration
  helix-term/src/handlers.rs
  helix-term/src/handlers/auto_save.rs
  helix-term/src/ui/editor.rs
  helix-view/src/editor.rs
  helix-view/src/handlers/lsp.rs
Labels: A-helix-term

Update Swift Grammar and Queries (#10802)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/swift/highlights.scm
  runtime/queries/swift/injections.scm
  runtime/queries/swift/locals.scm
  runtime/queries/swift/textobjects.scm
Labels: A-tree-sitter

deploy: aa1630a41af774946f12872ffa539f3145eac89e
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

added scope name suggestions
  runtime/queries/vhdl/highlights.scm
Labels: A-tree-sitter

set ui.virtual and ui.virtual.ruler
  runtime/themes/iceberg-dark.toml
Labels: A-theme

Add support for labels on typable commands
  helix-term/src/config.rs
  helix-term/src/keymap.rs
Labels: A-helix-term, A-keymap

Fix runtime config parse issues after rebase on latest master
  helix-term/src/config.rs
  helix-term/src/keymap.rs
Labels: A-helix-term, A-keymap

Fix build after latest rebase
  helix-term/src/keymap.rs
Labels: A-helix-term, A-keymap

Add support for labels in custom menu keymaps
  helix-term/src/config.rs
  helix-term/src/keymap.rs
Labels: A-helix-term, A-keymap

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
