Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

languages: Add `ssh_config.d/*.conf` as a glob for sshclientconfig (#11947)
  languages.toml
Labels: none

chore: add "ui.virtual.jump-label" to serika-dark theme (#11911)
  runtime/themes/serika-dark.toml
Labels: A-theme

fix(swift): disabled auto-format & added .swift-format highlighting
  languages.toml
Labels: none

Treat .clangd and .clang-format as YAML (#12032)
  languages.toml
Labels: none

Add spade support (#11448)
  book/src/generated/lang-support.md
  languages.toml
  pr.md
  runtime/queries/spade/highlights.scm
  runtime/queries/spade/indents.scm
Labels: A-tree-sitter

feat(highlights): add `COMPLIANCE` to `error` (#12244)
  runtime/queries/comment/highlights.scm
Labels: A-tree-sitter

theme: Include key names in style parsing warnings
  helix-view/src/theme.rs
Labels: none

docs: remove mention that `-` requires special handling (#12250)
  book/src/remapping.md
Labels: none

contributing: Add steps for updating the MSRV
  docs/CONTRIBUTING.md
Labels: none

Use bold statusline for mode indicator in onedarker theme (#11958)
  runtime/themes/onedarker.toml
Labels: A-theme

Add language support for Quint (#11898)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/quint/highlights.scm
Labels: A-tree-sitter

doc: fix default value in doc for `continue-comments` (#12235)
  book/src/editor.md
Labels: none

Trim trailing colons from paths to allow copy/pasting git grep -n output (#9963)
  helix-term/src/args.rs
Labels: A-helix-term

Avoid allocating the `--help` message (#12243)
  helix-term/src/main.rs
Labels: A-helix-term

Add default-yank-register option (#11430)
  book/src/editor.md
  helix-term/src/commands.rs
  helix-view/src/editor.rs
Labels: A-helix-term

Fix language configuration for .conf files (#12156)
  languages.toml
Labels: none

add DocumentFocusLost event
  helix-term/src/events.rs
  helix-view/src/editor.rs
  helix-view/src/events.rs
Labels: A-helix-term

Remove an incorrect comment
  helix-term/src/ui/document.rs
Labels: A-helix-term

Remove unnecessary clippy allow for old false positive
  helix-core/src/comment.rs
Labels: A-core

implement snippet tabstop support
  book/src/generated/static-cmd.md
  helix-lsp/src/lib.rs
  helix-lsp/src/snippet.rs
  helix-term/src/commands.rs
  helix-term/src/handlers.rs
  helix-term/src/handlers/snippet.rs
  helix-term/src/ui/completion.rs
  helix-term/src/ui/editor.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
  theme.toml
Labels: A-helix-term, A-language-server

Search selection with word boundary detection (#12126)
  book/src/keymap.md
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
Labels: A-helix-term, A-keymap

CI: Use an env var for MSRV
  .github/workflows/build.yml
Labels: none

chore(msrv): bump MSRV from 1.70 to 1.76
  Cargo.toml
  rust-toolchain.toml
Labels: none

Simplify `change_current_directory` and remove extra allocs
  helix-term/src/commands/typed.rs
Labels: A-helix-term

Show an error when formatter is not available (#12183)
  helix-term/src/commands/typed.rs
Labels: A-helix-term

clipboard: Fix builtin_names for x-clip, x-sel, win-32-yank
  helix-view/src/clipboard.rs
Labels: none

Improve language support for Ada (#12131)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/gpr/highlights.scm
Labels: A-tree-sitter

Update Zig's comment tokens (#12049)
  languages.toml
Labels: none

helix-lsp-types: Remove Cargo.lock
  helix-lsp-types/Cargo.lock
Labels: none

registers: Use saved values for clipboard providers which can't read
  helix-view/src/register.rs
Labels: none

docs: Eliminate improper use of "LSP" term
  book/src/editor.md
  book/src/generated/lang-support.md
  book/src/generated/typable-cmd.md
  book/src/languages.md
  book/src/pickers.md
  book/src/themes.md
  helix-term/src/commands/typed.rs
  helix-term/src/health.rs
  xtask/src/docgen.rs
Labels: A-helix-term

dockerfile: bump tree-sitter grammar to gain support for heredocs (#12230)
  languages.toml
  runtime/queries/dockerfile/highlights.scm
Labels: A-tree-sitter

Add support for Teal language (#12081)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/teal/folds.scm
  runtime/queries/teal/highlights.scm
  runtime/queries/teal/locals.scm
Labels: A-tree-sitter

Add block-comment-tokens configuration for Java
  languages.toml
Labels: none

Add static commands to documentation (#11950)
  book/src/commands.md
  book/src/generated/static-cmd.md
  xtask/src/docgen.rs
  xtask/src/main.rs
Labels: none

feat: `:cd -` changes to the previous working directory (#12194)
  helix-stdx/src/env.rs
  helix-term/src/commands/typed.rs
  helix-view/src/editor.rs
Labels: A-helix-term

Adding NestedText language support (#11987)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/nestedtext/highlights.scm
  runtime/queries/nestedtext/indents.scm
  runtime/queries/nestedtext/injections.scm
  runtime/queries/nestedtext/textobjects.scm
Labels: A-tree-sitter

Fix continuing comment token for first line (#12215)
  helix-term/src/commands.rs
  helix-term/tests/test/commands/insert.rs
Labels: A-helix-term

book: Copy over index.hbs from mdbook 0.4.43
  book/theme/index.hbs
Labels: none

clipboard: Sway builtin provider yank and paste commands
  helix-view/src/clipboard.rs
Labels: none

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
