Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

move cyan_light to jetbrains_cyan_light (#14412)
  runtime/themes/cyan_light.toml
  runtime/themes/jetbrains_cyan_light.toml
  runtime/themes/licenses/jetbrains_cyan_light.LICENSE
Labels: A-theme

kdl queries: basic tag.scm and niri injections (#14401)
  book/src/generated/lang-support.md
  runtime/queries/kdl/injections.scm
  runtime/queries/kdl/tags.scm
Labels: A-tree-sitter

deploy: 14030d0b6355628b680aeedcc960e3f0570f23ac
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

fix white/bright white base16 color mixup (#14409)
  helix-view/src/graphics.rs
Labels: none

feat(highlights): add support for syntax features in `hurl` version 6.0.0 (#12725)
  languages.toml
  runtime/queries/hurl/highlights.scm
Labels: A-tree-sitter

feat(languages): add `gitlab-ci` language specialized from `yaml` (#14396)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/gitlab-ci/highlights.scm
  runtime/queries/gitlab-ci/indents.scm
  runtime/queries/gitlab-ci/injections.scm
  runtime/queries/gitlab-ci/rainbows.scm
  runtime/queries/gitlab-ci/tags.scm
  runtime/queries/gitlab-ci/textobjects.scm
  runtime/queries/yaml/injections.scm
Labels: A-tree-sitter

deploy: 97293c9f365274f2c1ee3295592b4497435e0b5f
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

Fix constant.numeric capture name
  runtime/queries/hdl/highlights.scm
Labels: A-tree-sitter

Add a simple language server for HDL (nand2tetris) (#14415)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/hdl/highlights.scm
Labels: A-tree-sitter

deploy: 34e0f7e82f75140c9af8d65df7ef9b61f718b2f5
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

skip kitty flags query when forcefully enabled
  helix-tui/src/backend/termina.rs
Labels: none

Run 'cargo xtask docgen'
  book/src/generated/lang-support.md
Labels: none

Fix Lean LSP module imports (#14381)
  book/src/generated/lang-support.md
  languages.toml
Labels: none

deploy: 322bb1c189af1ec29be449058c1116378bcf10e1
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

update documentation
  book/src/editor.md
  helix-view/src/editor.rs
Labels: none

Add new theme: Nvim-dark (#14403)
  runtime/themes/nvim-dark.toml
Labels: A-theme

feat(auto-pair): make autopair work with custom strings instead of chars
  helix-core/src/auto_pairs.rs
  helix-core/src/syntax/config.rs
  helix-term/src/commands.rs
  helix-term/tests/test/auto_pairs.rs
  languages.toml
Labels: A-core, A-helix-term

fix(clippy): apply clippy's fixes
  helix-core/src/auto_pairs.rs
Labels: A-core

fix(clippy): resolve runaway lint in helix-term
  helix-term/src/commands.rs
Labels: A-helix-term

change runtime/queries/nu/highlights.scm
  runtime/queries/nu/highlights.scm
Labels: A-tree-sitter

change runtime/queries/nu/indents.scm
  runtime/queries/nu/indents.scm
Labels: A-tree-sitter

change runtime/queries/nu/textobjects.scm
  runtime/queries/nu/textobjects.scm
Labels: A-tree-sitter

feat: add support for grammar wikitext the mediawiki dialect
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/wikitext/folds.scm
  runtime/queries/wikitext/highlights.scm
Labels: A-tree-sitter

fix: listen events from ungrabbed keyboard evdev devices
  helix-view/Cargo.toml
  helix-view/src/scancode.rs
Labels: none

fix: long pressed keys on hidapi
  helix-view/src/scancode.rs
Labels: none

clippy
  helix-view/src/input.rs
Labels: none

feat: hidapi to listen keyboard events
  helix-term/Cargo.toml
  helix-term/build.rs
  helix-view/Cargo.toml
  helix-view/build.rs
  helix-view/src/scancode.rs
Labels: A-helix-term

evdev to fetch keyboard events
  helix-term/Cargo.toml
  helix-term/build.rs
  helix-term/src/commands.rs
  helix-term/src/ui/editor.rs
  helix-view/Cargo.toml
  helix-view/build.rs
  helix-view/src/editor.rs
  helix-view/src/lib.rs
  helix-view/src/scancode.rs
Labels: A-helix-term

cargo fmt
  helix-view/build.rs
Labels: none

fix lints
  helix-term/build.rs
  helix-view/build.rs
Labels: A-helix-term

fix: dont use sancode on macros replaying
  helix-term/src/ui/editor.rs
Labels: A-helix-term

map keyboard scancode to KeyCode
  helix-term/Cargo.toml
  helix-term/src/commands.rs
  helix-term/src/ui/editor.rs
  helix-view/Cargo.toml
  helix-view/src/editor.rs
  helix-view/src/input.rs
  helix-view/src/lib.rs
  helix-view/src/scancode.rs
Labels: A-helix-term

style: format
  helix-term/build.rs
  helix-view/build.rs
Labels: A-helix-term

fix: rename var
  helix-view/src/scancode.rs
Labels: none

fix rebase
  helix-view/src/input.rs
Labels: none

fix: shifted char for scancode 53
  helix-view/src/scancode.rs
Labels: none

Update Cargo.lock
  Cargo.lock
Labels: none

wip: prototype diff hunk picker
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
Labels: A-helix-term, A-keymap

Bump termina to v0.1.1
  Cargo.lock
  Cargo.toml
Labels: none

Update book/src/editor.md
  book/src/editor.md
Labels: none

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
