Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

feat: add outline for trait-based parsing
  helix-core/src/shellwords.rs
  helix-term/src/commands/flag.rs
Labels: A-core, A-helix-term

fix: change static FLAGS to const FLAGS
  helix-term/src/commands/flag.rs
Labels: A-helix-term

fix: change order of arg return check
  helix-core/src/shellwords.rs
Labels: A-core

refactor: create `prompt` method for `TypeableCommand`
  helix-term/src/commands/typed.rs
Labels: A-helix-term

refactor: only process args that start with - or -- as flags
  helix-core/src/shellwords.rs
Labels: A-core

Handle prompt completions with AsyncHook.
  helix-term/src/commands/typed.rs
  helix-term/src/ui/mod.rs
  helix-term/src/ui/prompt.rs
Labels: A-helix-term

refactor: have `Flag::prompt` return a `String` instead of `&'static str`
  helix-core/src/shellwords.rs
Labels: A-core

refactor: use .into() instead of explicit Spans::raw
  helix-term/src/ui/completion.rs
Labels: A-helix-term

Add textobjects for Odin
  runtime/queries/odin/textobjects.scm
Labels: A-tree-sitter

Fix `@test.inside`
  runtime/queries/odin/textobjects.scm
Labels: A-tree-sitter

Sync Catppuccin theme changes
  runtime/themes/catppuccin_mocha.toml
Labels: A-theme

feat(flags!): add pattern to reduce match bolerplate
  helix-core/src/shellwords.rs
  helix-term/src/commands/flag.rs
  helix-term/src/commands/typed.rs
Labels: A-core, A-helix-term

add injections for jjdescription tree-sitter
  runtime/queries/jjdescription/injections.scm
Labels: A-tree-sitter

docs: correct diagnostic severity
  book/src/editor.md
  book/src/languages.md
Labels: none

Add Koto language support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/koto/folds.scm
  runtime/queries/koto/highlights.scm
  runtime/queries/koto/indents.scm
  runtime/queries/koto/injections.scm
  runtime/queries/koto/locals.scm
  runtime/queries/koto/textobjects.scm
Labels: A-tree-sitter

refactor: remove unused prototypes
  helix-core/src/shellwords.rs
Labels: A-core

fix: ensure that all of prompt will be visible in window
  helix-term/src/commands/typed.rs
Labels: A-helix-term

fix: apply scan codes on insert mode
  Cargo.lock
  helix-term/src/ui/editor.rs
Labels: A-helix-term

Sync Catppuccin theme changes (#12304)
  runtime/themes/catppuccin_mocha.toml
Labels: A-theme

Document diagnostic severity levels (#12306)
  book/src/editor.md
  book/src/languages.md
Labels: none

deploy: eaff0c3cd6c13abf2c82860730984170a04c8e95
  master/editor.html
  master/languages.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

fix some scope names
  runtime/queries/koto/highlights.scm
Labels: A-tree-sitter

locals: use only `local.definition` capture
  runtime/queries/koto/locals.scm
Labels: A-tree-sitter

Add Koto language support (#12307)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/koto/folds.scm
  runtime/queries/koto/highlights.scm
  runtime/queries/koto/indents.scm
  runtime/queries/koto/injections.scm
  runtime/queries/koto/locals.scm
  runtime/queries/koto/textobjects.scm
Labels: A-tree-sitter

deploy: 06d0f33c9469f8be016e66064bcdba41416fde3d
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

Regenerate language-support docs
  book/src/generated/lang-support.md
Labels: none

Odin textobjects (#12302)
  book/src/generated/lang-support.md
  runtime/queries/odin/textobjects.scm
Labels: A-tree-sitter

deploy: a91263d604bd2f9960179386bf2e71627b25d333
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

style - simplify option handling
  helix-term/src/ui/completion.rs
Labels: A-helix-term

style - replace use with qualified path
  helix-term/src/ui/completion.rs
Labels: A-helix-term

Colors for items in the completion menu (#12299)
  helix-term/src/ui/completion.rs
  helix-view/src/graphics.rs
Labels: A-helix-term

feat: use helix's capture names
  runtime/queries/nginx/highlights.scm
  runtime/queries/nginx/injections.scm
Labels: A-tree-sitter

feat: remove keys which are default anyway
  languages.toml
Labels: none

LSP: Use PathBufs for workspace folders
  helix-lsp/src/client.rs
  helix-lsp/src/lib.rs
Labels: A-language-server

Handle conversion to/from new LSP URL type
  Cargo.lock
  Cargo.toml
  helix-core/Cargo.toml
  helix-core/src/uri.rs
  helix-lsp/src/client.rs
  helix-term/src/application.rs
  helix-term/src/commands.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/lib.rs
  helix-view/Cargo.toml
  helix-view/src/document.rs
  helix-view/src/handlers/lsp.rs
Labels: A-core, A-helix-term, A-language-server

Replace `url::Url` with a String wrapper
  helix-lsp-types/Cargo.toml
  helix-lsp-types/README.md
  helix-lsp-types/src/lib.rs
Labels: none

Remove unused Result wrapper for Path->Url conversion
  helix-lsp-types/src/lib.rs
  helix-lsp/src/client.rs
  helix-lsp/src/file_event.rs
  helix-view/src/document.rs
Labels: A-language-server

feat: update highlights for nginx
  nginx.conf
  runtime/queries/nginx/highlights.scm
  runtime/queries/nginx/injections.scm
Labels: A-tree-sitter

feat: custom root pattern for nginx files
  languages.toml
  nginx.conf
Labels: none

docs: auto-generate documentation
  book/src/generated/lang-support.md
Labels: none

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
