Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

feat(highlights): add support for new operators in `hurl` version 6.0.0
  runtime/queries/hurl/highlights.scm
Labels: A-tree-sitter

LSP commands: Move offset encoding onto the Location type
  helix-term/src/commands/lsp.rs
Labels: A-helix-term

Add formatters for Elm, Haskell, Python, and TypeScript
  languages.toml
Labels: none

fix: allow completion for ignored files for :cmds
  helix-term/src/commands/typed.rs
Labels: A-helix-term

fix record_macro recording replayed macros twice
  helix-term/src/compositor.rs
Labels: A-helix-term

Recognize `.envrc` and `.envrc.*` files as bash
  languages.toml
Labels: none

LSP: Support multiple language servers for goto definition
  helix-term/src/commands/lsp.rs
Labels: A-helix-term

LSP: Support multiple langauge servers for goto references
  helix-term/src/commands/lsp.rs
Labels: A-helix-term

LSP: Fix option handling in goto definition/references commands
  helix-term/src/commands/lsp.rs
Labels: A-helix-term

Add feature=term where crossterm dep used
  helix-view/src/clipboard.rs
  helix-view/src/graphics.rs
Labels: none

Properly prevent `crossterm` features being used when `feature = "term"` not enabled in `helix-view` (#12734)
  helix-view/src/clipboard.rs
  helix-view/src/graphics.rs
Labels: none

Add an integration test case for playing a macro within a macro
  helix-term/tests/test/commands.rs
Labels: A-helix-term

Do not record keys pressed by macros while recording a macro (#12733)
  helix-term/src/compositor.rs
  helix-term/tests/test/commands.rs
Labels: A-helix-term

perf(ropey): enable `simd` feature for `stdx`
  Cargo.toml
  helix-core/Cargo.toml
  helix-stdx/Cargo.toml
Labels: A-core

perf(ropey): enable `simd` feature for `stdx` (#12735)
  Cargo.toml
  helix-core/Cargo.toml
  helix-stdx/Cargo.toml
Labels: A-core

config: Deny unknown fields in `[editor.smart-tab]`
  helix-view/src/editor.rs
Labels: none

chore: update highlights queries
  runtime/queries/djot/highlights.scm
Labels: A-tree-sitter

style: correct bad indentation
  runtime/queries/djot/injections.scm
Labels: A-tree-sitter

chore: bump djot grammar revision
  languages.toml
Labels: none

fix: remove comments of old code
  helix-view/src/editor.rs
  helix-view/src/view.rs
Labels: none

Remove popup_border calculations from LSP Hover UI component
  helix-term/src/ui/lsp/hover.rs
Labels: A-helix-term

Started rewriting highlighting queries for Gren.
  runtime/queries/gren/highlights.scm
Labels: A-tree-sitter

Set a statusline error for formatter errors in `:format`
  helix-term/src/commands.rs
Labels: A-helix-term

fix: add comment token for svelte files
  languages.toml
Labels: none

Print full error chain when failing to load grammar
  helix-core/src/syntax.rs
Labels: A-core

fix: add comment token for svelte files (#12743)
  languages.toml
Labels: none

Wrote indentation queries.
  runtime/queries/gren/indents.scm
Labels: A-tree-sitter

Correct keyword groups.
  runtime/queries/gren/highlights.scm
Labels: A-tree-sitter

Hover UI: Eagerly convert hover response to Markdown
  helix-term/src/ui/lsp/hover.rs
Labels: A-helix-term

Simplify indents queries, and add indent after module declaration.
  runtime/queries/gren/indents.scm
Labels: A-tree-sitter

feat: implement delete and replace surrounding newlines
  helix-term/src/commands.rs
Labels: A-helix-term

fix: line endings with multiple characters only accounting as 1 char
  helix-term/src/commands.rs
Labels: A-helix-term

refactor: create separate enum for Word::{Short,Long,Sub}
  helix-core/src/textobject.rs
  helix-term/src/commands.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/ui/prompt.rs
Labels: A-core, A-helix-term

docs: add documentation on different word types
  helix-core/src/textobject.rs
Labels: A-core

Use typable command doc when keybind provides no arguments
  helix-term/src/commands.rs
Labels: A-helix-term

refactor: use Word::Long instead of boolean
  helix-core/src/textobject.rs
Labels: A-core

test: add test for subword text object
  helix-core/src/textobject.rs
Labels: A-core

style: remove accidentally added newlines
  helix-term/src/ui/editor.rs
  helix-view/src/handlers/diagnostics.rs
Labels: A-helix-term

refactor: use doc_mut! macro
  helix-term/src/commands/lsp.rs
Labels: A-helix-term

feat: add new `hover_dump` command
  helix-term/src/commands.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/keymap/default.rs
  helix-view/src/editor.rs
Labels: A-helix-term, A-keymap

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
