Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

add rainbows.scm
  runtime/queries/umka/rainbows.scm
Labels: A-tree-sitter

Update injections.scm
  runtime/queries/vento/injections.scm
Labels: A-tree-sitter

update steel, use biased reference counts
  Cargo.lock
  Cargo.toml
Labels: none

chore: Upgrade treesitter reference
  languages.toml
Labels: none

map keyboard scancode to KeyCode
  Cargo.lock
  helix-term/Cargo.toml
  helix-term/src/commands.rs
  helix-term/src/ui/editor.rs
  helix-view/Cargo.toml
  helix-view/src/editor.rs
  helix-view/src/input.rs
  helix-view/src/lib.rs
  helix-view/src/scancode.rs
Labels: A-helix-term

fix rebase
  helix-view/src/input.rs
Labels: none

fix: rename var
  helix-view/src/scancode.rs
Labels: none

fix: listen events from ungrabbed keyboard evdev devices
  helix-view/Cargo.toml
  helix-view/src/scancode.rs
Labels: none

feat: hidapi to listen keyboard events
  helix-term/Cargo.toml
  helix-term/build.rs
  helix-view/Cargo.toml
  helix-view/build.rs
  helix-view/src/scancode.rs
Labels: A-helix-term

style: format
  helix-term/build.rs
  helix-view/build.rs
Labels: A-helix-term

fix lints
  helix-term/build.rs
  helix-view/build.rs
Labels: A-helix-term

fix: dont use sancode on macros replaying
  helix-term/src/ui/editor.rs
Labels: A-helix-term

cargo fmt
  helix-view/build.rs
Labels: none

fix: long pressed keys on hidapi
  helix-view/src/scancode.rs
Labels: none

evdev to fetch keyboard events
  Cargo.lock
  helix-term/Cargo.toml
  helix-term/build.rs
  helix-term/src/commands.rs
  helix-term/src/ui/editor.rs
  helix-view/Cargo.toml
  helix-view/build.rs
  helix-view/src/editor.rs
  helix-view/src/lib.rs
  helix-view/src/scancode.rs
Labels: A-helix-term

clippy
  helix-view/src/input.rs
Labels: none

fix: shifted char for scancode 53
  helix-view/src/scancode.rs
Labels: none

Update Cargo.lock
  Cargo.lock
Labels: none

stop on error
  helix-view/src/scancode.rs
Labels: none

Update Cargo.lock
  Cargo.lock
Labels: none

Add buffer-close-next/previous commands
  book/src/generated/typable-cmd.md
  helix-term/src/commands/typed.rs
Labels: A-helix-term

Improve Caddyfile language detection
  languages.toml
Labels: none

Add Alabaster themes (light and dark)
  runtime/themes/wolf-alabaster-dark-bg.toml
  runtime/themes/wolf-alabaster-dark-mono.toml
  runtime/themes/wolf-alabaster-dark.toml
  runtime/themes/wolf-alabaster-light-bg.toml
  runtime/themes/wolf-alabaster-light-mono.toml
  runtime/themes/wolf-alabaster-light.toml
Labels: A-theme

prefer builtin commands if the associated steel binding predated any user defined functions being loaded
  helix-term/src/commands/engine/steel/mod.rs
Labels: A-helix-term

feat: use yaml language for .bu files
  languages.toml
Labels: none

add whitespace via cargo xtask docgen
  book/src/generated/lang-support.md
Labels: none

Add language server `glsld` to `glsl` language
  book/src/generated/lang-support.md
  languages.toml
Labels: none

Changes as per comments, and a bad first pass at the dark variants
  runtime/themes/wolf-alabaster-dark-bg.toml
  runtime/themes/wolf-alabaster-dark-mono.toml
  runtime/themes/wolf-alabaster-dark.toml
  runtime/themes/wolf-alabaster-light-bg.toml
  runtime/themes/wolf-alabaster-light-mono.toml
  runtime/themes/wolf-alabaster-light.toml
Labels: A-theme

Add EndOfBuffer enum variant
  helix-core/src/doc_formatter.rs
  helix-core/src/graphemes.rs
  helix-term/src/ui/document.rs
Labels: A-core, A-helix-term

Run cargo xtask docgen
  book/src/generated/lang-support.md
Labels: none

Fix some minor issues in the Adwaita themes
  runtime/themes/adwaita-dark.toml
  runtime/themes/adwaita-light.toml
Labels: A-theme

Add GitHub Actions langauge server
  languages.toml
Labels: none

gen docs
  book/src/generated/lang-support.md
Labels: none

add a few missing comment injections
  runtime/queries/ada/injections.scm
  runtime/queries/forth/injections.scm
  runtime/queries/ghostty/highlights.scm
  runtime/queries/ghostty/injections.scm
  runtime/queries/git-config/injections.scm
  runtime/queries/git-ignore/injections.scm
  runtime/queries/glimmer/injections.scm
  runtime/queries/graphql/injections.scm
  runtime/queries/ini/injections.scm
  runtime/queries/json5/injections.scm
  runtime/queries/jsonc/injections.scm
  runtime/queries/meson/injections.scm
  runtime/queries/nim/injections.scm
  runtime/queries/scheme/injections.scm
  runtime/queries/systemd/injections.scm
  runtime/queries/vala/injections.scm
Labels: A-tree-sitter

remove non-helix queries and make the correct ones
  book/src/generated/lang-support.md
  runtime/queries/ripple/brackets.scm
  runtime/queries/ripple/outline.scm
  runtime/queries/ripple/rainbows.scm
  runtime/queries/ripple/tags.scm
Labels: A-tree-sitter

Implement editor.file-picker config option git-hide-untracked
  book/src/editor.md
  helix-term/src/commands.rs
  helix-term/src/ui/mod.rs
  helix-vcs/src/git.rs
  helix-vcs/src/lib.rs
  helix-view/src/editor.rs
Labels: A-helix-term, A-vcs

Fix formatting with cargo fmt
  helix-core/src/test.rs
  helix-term/src/commands.rs
  helix-vcs/src/git.rs
Labels: A-core, A-helix-term, A-vcs

feat(helix-term: editor): add config option to autohide ruler if length is not reached
  book/src/editor.md
  helix-term/src/ui/editor.rs
  helix-view/src/editor.rs
Labels: A-helix-term

nit(helix-term: editor): ruler hide is more lazy
  helix-term/src/ui/editor.rs
Labels: A-helix-term

nit(helix-term: editor): mmh should be more or less equivalent and [premature optimization Knuth quote]
  helix-term/src/ui/editor.rs
Labels: A-helix-term

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
