Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

initial basic cobertura coverage gutter
  Cargo.lock
  helix-view/Cargo.toml
  helix-view/src/coverage.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
  helix-view/src/gutter.rs
  helix-view/src/lib.rs
Labels: none

add some documentation
  helix-view/src/coverage.rs
Labels: none

fix coverage logging
  helix-view/src/coverage.rs
Labels: none

fix coverage logging
  helix-view/src/coverage.rs
  helix-view/src/gutter.rs
Labels: none

allow class lines to be optional in coverage xml
  helix-view/src/coverage.rs
Labels: none

limit coverage file search depth
  helix-view/src/coverage.rs
Labels: none

load coverage file from environment variable
  helix-view/src/gutter.rs
Labels: none

automatically find coverage file
  Cargo.lock
  helix-view/Cargo.toml
  helix-view/src/coverage.rs
Labels: none

use doc path for modification time
  helix-view/src/document.rs
  helix-view/src/gutter.rs
Labels: none

fix coverage optional class lines
  helix-view/src/coverage.rs
Labels: none

wip only show coverage if it is newer than doc
  helix-view/src/coverage.rs
  helix-view/src/document.rs
  helix-view/src/gutter.rs
Labels: none

break out coverage file funciton
  helix-view/src/coverage.rs
  helix-view/src/gutter.rs
Labels: none

better logging for coverage
  helix-view/src/coverage.rs
  helix-view/src/gutter.rs
Labels: none

clean up coverage gutter and its testing
  helix-view/src/coverage.rs
Labels: none

add error reporting to coverage reading
  helix-view/src/coverage.rs
Labels: none

add highlights and rainbows for bovex
  languages.toml
  runtime/queries/bovex/highlights.scm
  runtime/queries/bovex/rainbows.scm
Labels: A-tree-sitter

docgen
  book/src/generated/lang-support.md
Labels: none

Add --theme CLI flag to override theme file path
  helix-loader/src/lib.rs
  helix-term/src/application.rs
  helix-term/src/args.rs
  helix-term/src/main.rs
  helix-view/src/theme.rs
Labels: A-helix-term

editor.md: Change "Set to `true`" to "Whether" (#14639)
  book/src/editor.md
Labels: none

deploy: 92a4754f54eea8339241d6ad1f71866a58f247bc
  master/editor.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

editor.md: Consistently use double quotes when describing default values (#14638)
  book/src/editor.md
Labels: none

deploy: 7c4ff9c39dbd3dd7d6e2cb3e26cb34212202bb1b
  master/editor.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

feat: move selection lines up and down
  book/src/generated/static-cmd.md
  helix-term/src/commands.rs
  helix-term/tests/test/commands/movement.rs
Labels: A-helix-term

Add Andromeda theme
  runtime/themes/andromeda.toml
Labels: A-theme

Basic support for Literate Haskell
  book/src/generated/lang-support.md
  languages.toml
Labels: none

first part of typable command is converted to ascii lowercase
  helix-term/src/commands/typed.rs
Labels: A-helix-term

book: update typable commands summary
  book/src/commands.md
Labels: none

add autopairs for bovex, and .bibvex
  languages.toml
Labels: none

impl workspace trust
  Cargo.lock
  helix-core/src/config.rs
  helix-loader/Cargo.toml
  helix-loader/src/config.rs
  helix-loader/src/grammar.rs
  helix-loader/src/lib.rs
  helix-loader/src/trust_db.rs
  helix-term/build.rs
  helix-term/src/application.rs
  helix-term/src/commands/typed.rs
  helix-term/src/config.rs
  helix-term/src/handlers.rs
  helix-term/src/handlers/trust.rs
  helix-term/src/health.rs
  helix-term/src/main.rs
  helix-term/src/ui/picker.rs
  helix-term/src/ui/statusline.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-core, A-helix-term

fix untrust parent showing trust instead of untrust
  helix-term/src/handlers/trust.rs
Labels: A-helix-term

fix not using kebab case for the workspace-trust config
  helix-view/src/editor.rs
Labels: none

lang: add lakefile.toml to lean.roots
  languages.toml
Labels: none

lang: add lakefile.toml to lean.roots (#14678)
  languages.toml
Labels: none

vcs: Update pattern match on EntryStatus::Conflict
  helix-vcs/src/git.rs
Labels: A-vcs

Bump indoc and cc deps
  Cargo.lock
Labels: none

languages: bump tree-sitter-c (#14640)
  languages.toml
Labels: none

dependabot: Ignore crates requiring edition 2025
  .github/dependabot.yml
Labels: none

laziliy initialize the trust db path
  helix-loader/src/trust_db.rs
  helix-term/src/main.rs
Labels: A-helix-term

add highlights and rainbows for bovex (#14651)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/bovex/highlights.scm
  runtime/queries/bovex/rainbows.scm
Labels: A-tree-sitter

deploy: 63a67b84c9de5ffa9f48cf045d41e6826615b012
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
