Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

higlights(haskell): `@variable.member` => `@variable.other.member`
  runtime/queries/haskell/highlights.scm
Labels: A-tree-sitter

highlights(chuck): fix typo in `@keyword.control.conditional`
  runtime/queries/chuck/highlights.scm
Labels: A-tree-sitter

highlights(scheme): use correct captures for conditional keywords
  runtime/queries/scheme/highlights.scm
Labels: A-tree-sitter

highlights(elixir, hurl, latex): use `@string.regexp`
  runtime/queries/elixir/highlights.scm
  runtime/queries/hurl/highlights.scm
  runtime/queries/latex/highlights.scm
Labels: A-tree-sitter

highlights(t32): use the correct `@keyword.*` captures
  runtime/queries/t32/highlights.scm
Labels: A-tree-sitter

Improve readability and grammar of workspace trust docs and popup
  book/src/workspace-trust.md
  helix-term/src/handlers/workspace_trust.rs
Labels: A-helix-term

Improve with help from xe-nul
  book/src/workspace-trust.md
Labels: none

Use backslashes for Windows
  book/src/workspace-trust.md
Labels: none

fix binding typo with get-language-config
  helix-term/src/commands/engine/steel/mod.rs
Labels: A-helix-term

fix(queries): incorrect query captures (#15634)
  runtime/queries/bass/highlights.scm
  runtime/queries/bicep/highlights.scm
  runtime/queries/chuck/highlights.scm
  runtime/queries/elixir/highlights.scm
  runtime/queries/graphql/highlights.scm
  runtime/queries/haskell/highlights.scm
  runtime/queries/hurl/highlights.scm
  runtime/queries/ink/highlights.scm
  runtime/queries/latex/highlights.scm
  runtime/queries/lean/highlights.scm
  runtime/queries/pascal/highlights.scm
  runtime/queries/php-only/highlights.scm
  runtime/queries/ripple/highlights.scm
  runtime/queries/scheme/highlights.scm
  runtime/queries/t32/highlights.scm
  runtime/queries/v/highlights.scm
  runtime/queries/vhdl/highlights.scm
  runtime/queries/vim/highlights.scm
Labels: A-tree-sitter

provide ui.cursor.normal
  helix-term/src/commands/engine/steel/themes.scm
Labels: A-helix-term

add missing ui.text.directory from themes
  helix-term/src/commands/engine/steel/themes.scm
Labels: A-helix-term

fix(highlights/clojure): fix boolean highlighting
  runtime/queries/clojure/highlights.scm
Labels: A-tree-sitter

fix(highlights/adl): fix boolean highlighting
  runtime/queries/adl/highlights.scm
Labels: A-tree-sitter

fix(highlights/clarity): fix boolean highlighting
  runtime/queries/clarity/highlights.scm
Labels: A-tree-sitter

fix(highlights/ink): fix boolean highlighting
  runtime/queries/ink/highlights.scm
Labels: A-tree-sitter

fix(highlights/codeql): fix boolean highlighting
  runtime/queries/codeql/highlights.scm
Labels: A-tree-sitter

fix(highlights/rescript): fix boolean highlighting
  runtime/queries/rescript/highlights.scm
Labels: A-tree-sitter

fix(highlights/java): fix boolean highlighting
  runtime/queries/java/highlights.scm
Labels: A-tree-sitter

fix(highlights/lean): fix boolean highlighting
  runtime/queries/lean/highlights.scm
Labels: A-tree-sitter

fix(highlights/sourcepawn): fix boolean highlighting
  runtime/queries/sourcepawn/highlights.scm
Labels: A-tree-sitter

fix(highlights/ruby): fix boolean highlighting
  runtime/queries/ruby/highlights.scm
Labels: A-tree-sitter

fix(queries:ecma): proper numeric values
  runtime/queries/ecma/highlights.scm
Labels: A-tree-sitter

add ui.virtual to themes
  helix-term/src/commands/engine/steel/themes.scm
Labels: A-helix-term

build(deps): bump `unicode-width` from `=0.1.12` to `0.2.2`
  Cargo.lock
  Cargo.toml
  helix-core/Cargo.toml
  helix-core/src/graphemes.rs
  helix-core/src/lib.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/ui/editor.rs
  helix-term/src/ui/prompt.rs
  helix-term/src/ui/statusline.rs
  helix-tui/src/backend/test.rs
  helix-tui/src/buffer.rs
  helix-tui/src/text.rs
  helix-tui/src/widgets/paragraph.rs
  helix-tui/src/widgets/reflow.rs
  helix-tui/src/widgets/table.rs
  helix-view/src/info.rs
  helix-view/src/input.rs
Labels: A-core, A-helix-term

feat: Diff source caching and autodetection
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-vcs/Cargo.toml
  helix-vcs/src/git.rs
  helix-vcs/src/git/test.rs
  helix-vcs/src/lib.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-helix-term, A-vcs

vcs: Box `DiffProvider::Git` member
  helix-vcs/src/lib.rs
Labels: A-vcs

feat: vcs: support Jujutsu as a diff-provider
  Cargo.lock
  helix-term/Cargo.toml
  helix-vcs/Cargo.toml
  helix-vcs/src/jj.rs
  helix-vcs/src/lib.rs
  helix-vcs/src/status.rs
Labels: A-helix-term, A-vcs

feat!: add support for basic icons
  Cargo.lock
  Cargo.toml
  helix-core/Cargo.toml
  helix-core/src/doc_formatter.rs
  helix-core/src/doc_formatter/test.rs
  helix-lsp-types/src/completion.rs
  helix-lsp-types/src/lib.rs
  helix-stdx/src/path.rs
  helix-term/src/application.rs
  helix-term/src/commands.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/commands/typed.rs
  helix-term/src/config.rs
  helix-term/src/handlers/document_colors.rs
  helix-term/src/ui/completion.rs
  helix-term/src/ui/document.rs
  helix-term/src/ui/editor.rs
  helix-term/src/ui/mod.rs
  helix-term/src/ui/picker.rs
  helix-term/src/ui/statusline.rs
  helix-term/src/ui/text_decorations/diagnostics.rs
  helix-tui/src/text.rs
  helix-view/Cargo.toml
  helix-view/src/annotations/diagnostics.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
  helix-view/src/graphics.rs
  helix-view/src/gutter.rs
  helix-view/src/icons.rs
  helix-view/src/lib.rs
Labels: A-core, A-helix-term

Use workspace trust in git subsystem
  Cargo.lock
  helix-term/src/commands.rs
  helix-vcs/Cargo.toml
  helix-vcs/src/git.rs
  helix-vcs/src/git/test.rs
  helix-vcs/src/lib.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-helix-term, A-vcs

Add `insert-pipe` and `append-pipe` commands.
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-term/tests/test/commands.rs
Labels: A-helix-term

fix(lints): clippy 1.95
  helix-loader/src/workspace_trust.rs
  helix-term/src/handlers/document_highlight.rs
  helix-term/src/handlers/signature_help.rs
  helix-term/src/ui/markdown.rs
  helix-term/src/ui/popup.rs
Labels: A-helix-term

Applied patched version for crossterm
  helix-tui/Cargo.toml
Labels: none

Update slint grammar revision
  languages.toml
Labels: none

Bumped crossterm to 0.29, moved patch to top level Cargo.toml
  Cargo.lock
  Cargo.toml
  helix-term/Cargo.toml
  helix-tui/Cargo.toml
  helix-view/Cargo.toml
Labels: A-helix-term

Revert cargo lock deletion
  Cargo.lock
Labels: none

ran docgen
  Cargo.lock
Labels: none

feat(themes): add Quiet Light theme
  runtime/themes/licenses/quiet_light.license
  runtime/themes/quiet_light.toml
Labels: A-theme

Add option to disable shell output formatting
  book/src/editor.md
  helix-term/src/commands/typed.rs
  helix-view/src/editor.rs
Labels: A-helix-term

add "goto first/next workspace diagnostic" commands
  book/src/generated/static-cmd.md
  helix-core/src/diagnostic.rs
  helix-term/src/commands.rs
  helix-term/src/commands/lsp.rs
  helix-view/src/document.rs
  helix-view/src/lib.rs
Labels: A-core, A-helix-term

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
