Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

Improve the Adwaita themes' cursor color (#15827)
  runtime/themes/adwaita-dark.toml
  runtime/themes/adwaita-light.toml
Labels: A-theme

feat(themes): add atlas-ragnarok (#15754)
  runtime/themes/atlas-ragnarok.toml
Labels: A-theme

workspace trust: Explicitly hex_encode digests
  helix-loader/src/workspace_trust.rs
Labels: none

Updaint jenkins file to use the version with glbc
  .github/workflows/release.yml
Labels: none

Run 'cargo xtask docgen'
  book/src/generated/lang-support.md
Labels: none

deploy: a3a820c1b2f4272431072d4ab46ea255807245ea
  master/404.html
  master/building-from-source.html
  master/command-line.html
  master/commands.html
  master/configuration.html
  master/ecosystem.html
  master/editor.html
  master/from-vim.html
  master/guides/adding_languages.html
  master/guides/highlights.html
  master/guides/indent.html
  master/guides/index.html
  master/guides/injection.html
  master/guides/locals.html
  master/guides/rainbow_bracket_queries.html
  master/guides/tags.html
  master/guides/textobject.html
  master/index.html
  master/install.html
  master/jumplist.html
  master/keymap.html
  master/lang-support.html
  master/languages.html
  master/lsp.html
  master/other-software.html
  master/package-managers.html
  master/pickers.html
  master/print.html
  master/registers.html
  master/remapping.html
  master/searcher-09f2665d.js
  master/searchindex-2494da4f.js
  master/searchindex-d0f695ab.js
  master/surround.html
  master/syntax-aware-motions.html
  master/textobjects.html
  master/themes.html
  master/title-page.html
  master/usage.html
  master/workspace-trust.html
Labels: none

runtime/queries: add microcad
  runtime/queries/microcad/highlights.scm
  runtime/queries/microcad/tags.scm
Labels: A-tree-sitter

languages.toml: Add microcad config, lsp, and grammar
  languages.toml
Labels: none

queries: Fix Ink indents
  runtime/queries/ink/indents.scm
Labels: A-tree-sitter

book: update for microcad support
  book/src/generated/lang-support.md
Labels: none

Revert "Add language support for Doxygen"
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/c/injections.scm
  runtime/queries/doxygen/highlights.scm
  runtime/queries/doxygen/injections.scm
Labels: A-tree-sitter

deploy: ec90947f0127b8d550da86c1cb42dbcc622b8e0a
  master/404.html
  master/building-from-source.html
  master/command-line.html
  master/commands.html
  master/configuration.html
  master/ecosystem.html
  master/editor.html
  master/from-vim.html
  master/guides/adding_languages.html
  master/guides/highlights.html
  master/guides/indent.html
  master/guides/index.html
  master/guides/injection.html
  master/guides/locals.html
  master/guides/rainbow_bracket_queries.html
  master/guides/tags.html
  master/guides/textobject.html
  master/index.html
  master/install.html
  master/jumplist.html
  master/keymap.html
  master/lang-support.html
  master/languages.html
  master/lsp.html
  master/other-software.html
  master/package-managers.html
  master/pickers.html
  master/print.html
  master/registers.html
  master/remapping.html
  master/searcher-09f2665d.js
  master/searchindex-2494da4f.js
  master/searchindex-d5644ee6.js
  master/surround.html
  master/syntax-aware-motions.html
  master/textobjects.html
  master/themes.html
  master/title-page.html
  master/usage.html
  master/workspace-trust.html
Labels: none

adding case conversion pr
  README.md
  helix-core/src/case_conversion.rs
  helix-core/src/snippets/elaborate.rs
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
Labels: A-core, A-helix-term, A-keymap

docs: regenerate static-cmd.md for case conversion commands
  book/src/generated/static-cmd.md
Labels: none

Stack picker and preview vertically if too narrow
  helix-term/src/ui/picker.rs
Labels: A-helix-term

Fix `cargo clippy` error
  helix-term/src/ui/picker.rs
Labels: A-helix-term

Keep the preview visible at very narrow widths
  helix-term/src/ui/picker.rs
Labels: A-helix-term

Refactor common logic into helper function
  helix-term/src/ui/picker.rs
Labels: A-helix-term

Use existing `impl` for helper function
  helix-term/src/ui/picker.rs
Labels: A-helix-term

fix: making sure that in the short terminal windows, the command pallete does not panic
  helix-tui/src/buffer.rs
Labels: none

pushing the formatted code
  helix-tui/src/buffer.rs
Labels: none

Remove trailing '.git' in ink grammar repo name
  languages.toml
Labels: none

test(editor-config): cover empty alternate brace groups (#15939)
  helix-core/src/editor_config.rs
Labels: A-core

Show language server name in exit status message (#15930)
  helix-term/src/application.rs
Labels: A-helix-term

now creating releases
  .github/workflows/release.yml
Labels: none

Include Rust attributes in function textobjects (#15778)
  runtime/queries/rust/textobjects.scm
Labels: A-tree-sitter

removing books deploy
  .github/workflows/gh-pages.yml
Labels: none

fix: refresh diagnostics on end progress (#15780)
  helix-term/src/application.rs
  helix-term/src/handlers/diagnostics.rs
Labels: A-helix-term

Add unit tests for to_camel_case_with and proposed solution to the function (#15752)
  helix-core/src/case_conversion.rs
Labels: A-core

Suppress external URL opener terminal output (#15711)
  helix-term/src/lib.rs
Labels: A-helix-term

fix(build): protect use of Termcode when term features is not set (#15703)
  helix-view/src/clipboard.rs
Labels: none

Add fs sandboxing on Linux using Landlock
  Cargo.lock
  book/src/sandbox.md
  helix-term/Cargo.toml
  helix-term/src/args.rs
  helix-term/src/lib.rs
  helix-term/src/main.rs
  helix-term/src/sandbox.rs
  helix-view/src/editor.rs
Labels: A-helix-term

docs: remove duplicated word in changelog entry
  CHANGELOG.md
Labels: none

queries: Add locals for P
  runtime/queries/p/highlights.scm
  runtime/queries/p/locals.scm
  tests/query/highlights/p/locals.p
Labels: A-tree-sitter

fix: make join_selections_impl comment syntax aware
  helix-term/src/commands.rs
  helix-term/tests/test/commands.rs
Labels: A-helix-term

fix(dap): configuration done body is not required
  helix-dap/src/client.rs
Labels: A-debug-adapter

fix(themes): Minor fixes to automata themes to fix theme checker errors
  runtime/themes/automata_day.toml
  runtime/themes/automata_night.toml
Labels: A-theme

fix(runtime/queries/go): regex string injections
  runtime/queries/go/injections.scm
Labels: A-tree-sitter

feat(runtime/queries/go): public functions and methods
  runtime/queries/go/highlights.scm
Labels: A-tree-sitter

feat(book): document new 'public' scope for functions/methods
  book/src/themes.md
Labels: none
