Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

Implement From<Mode> for Movement.
  helix-term/src/commands.rs
  helix-view/src/document.rs
Labels: A-helix-term

Add markup.heading.3
  runtime/themes/kanagawa.toml
Labels: A-theme

fix missing minus symbol in char_is_word function
  helix-core/src/chars.rs
Labels: A-core

Introduce extend_to_last_line.
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
Labels: A-helix-term, A-keymap

Add support for extend_file_{start,end}.
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-term/src/keymap/default.rs
Labels: A-helix-term, A-keymap

Regenerate documentation for extend_to_{file_start,file_end,last_line}.
  book/src/generated/static-cmd.md
Labels: none

Kanagawa: fix palette and attempt at a markdown compromise (#12895)
  runtime/themes/kanagawa.toml
Labels: A-theme

Fix some nits in the default
  default.nix
Labels: none

feat: add buffer-close-right and buffer-close-left commands
  book/src/generated/typable-cmd.md
  helix-term/src/commands/typed.rs
Labels: A-helix-term

Improve %% escaping error message
  helix-core/src/command_line.rs
  helix-term/tests/test/command_line.rs
Labels: A-core, A-helix-term

add "goto first/next workspace diagnostic" commands
  book/src/generated/static-cmd.md
  helix-core/src/diagnostic.rs
  helix-term/src/commands.rs
  helix-term/src/commands/lsp.rs
  helix-view/src/document.rs
  helix-view/src/lib.rs
Labels: A-core, A-helix-term

Fixed invalid names
  runtime/themes/beans.toml
Labels: A-theme

feat: tell user which path they are operating on
  helix-term/src/ui/mod.rs
Labels: A-helix-term

feat: clear status message when receiving no message or error from performing file operation
  helix-term/src/ui/mod.rs
Labels: A-helix-term

feat: use arrow -> for Copy and Move instead of colon
  helix-term/src/ui/mod.rs
Labels: A-helix-term

feat: create parent directories of file if they do not exist
  helix-term/src/ui/mod.rs
Labels: A-helix-term

refactor: remove extra passage of arguments (unnecessary)
  helix-term/src/ui/mod.rs
Labels: A-helix-term

Improve %% escaping error message (#13018)
  helix-core/src/command_line.rs
  helix-term/tests/test/command_line.rs
Labels: A-core, A-helix-term

Add beans theme (#12963)
  runtime/themes/beans.toml
Labels: A-theme

minor: Remove unused let+in, unused bindings from default.nix
  default.nix
  flake.nix
Labels: none

Clean up Nix Flake & make it easier to customize (#12831)
  default.nix
  flake.lock
  flake.nix
  grammars.nix
Labels: none

minor: Tweak some verbose LSP logs
  helix-lsp/src/transport.rs
  helix-term/src/handlers/completion.rs
Labels: A-helix-term, A-language-server

direnv: Watch changes to default.nix
  .envrc
Labels: none

Set cargoLock.allowBuiltinFetchGit in Nix package
  default.nix
Labels: none

minor: Move json deserialization into text_document_hover future
  helix-lsp/src/client.rs
  helix-term/src/commands/lsp.rs
Labels: A-helix-term, A-language-server

style: format
  helix-term/build.rs
  helix-view/build.rs
Labels: A-helix-term

map keyboard scancode to KeyCode
  Cargo.lock
  helix-term/Cargo.toml
  helix-term/src/commands.rs
  helix-term/src/ui/editor.rs
  helix-view/Cargo.toml
  helix-view/src/editor.rs
  helix-view/src/input.rs
  helix-view/src/lib.rs
  helix-view/src/scancode.rs
Labels: A-helix-term

fix: listen events from ungrabbed keyboard evdev devices
  Cargo.lock
  helix-view/Cargo.toml
  helix-view/src/scancode.rs
Labels: none

fix: dont use sancode on macros replaying
  helix-term/src/ui/editor.rs
Labels: A-helix-term

fix: long pressed keys on hidapi
  helix-view/src/scancode.rs
Labels: none

fix: rename var
  helix-view/src/scancode.rs
Labels: none

fix rebase
  helix-view/src/input.rs
Labels: none

evdev to fetch keyboard events
  Cargo.lock
  helix-term/Cargo.toml
  helix-term/build.rs
  helix-term/src/commands.rs
  helix-term/src/ui/editor.rs
  helix-view/Cargo.toml
  helix-view/build.rs
  helix-view/src/editor.rs
  helix-view/src/lib.rs
  helix-view/src/scancode.rs
Labels: A-helix-term

feat: hidapi to listen keyboard events
  Cargo.lock
  helix-term/Cargo.toml
  helix-term/build.rs
  helix-view/Cargo.toml
  helix-view/build.rs
  helix-view/src/scancode.rs
Labels: A-helix-term

clippy
  helix-view/src/input.rs
Labels: none

refactor: rename ColorProvider -> DocumentColors
  helix-core/src/syntax.rs
  helix-lsp/src/client.rs
  helix-term/src/commands/lsp.rs
Labels: A-core, A-helix-term, A-language-server

Fix the git hash missing and add some more comments.
  default.nix
  flake.nix
Labels: none

Fix the git hash missing and add some more comments. (#13024)
  default.nix
  flake.nix
Labels: none

flake: Copy logo.svg in postInstall hook
  default.nix
Labels: none

feat: Add SourcePawn support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/sourcepawn/highlights.scm
  runtime/queries/sourcepawn/indents.scm
  runtime/queries/sourcepawn/injections.scm
  runtime/queries/sourcepawn/textobjects.scm
Labels: A-tree-sitter
