Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

fix: quicklist from file explorer
  helix-term/src/ui/mod.rs
Labels: A-helix-term

Canonicalize quicklist same-file path matching
  helix-view/src/quicklist.rs
Labels: none

Push jumplist entries for quicklist motions
  helix-term/tests/test/commands.rs
  helix-view/src/editor.rs
Labels: A-helix-term

chore(helix-term): document match_line_cols
  helix-term/src/commands.rs
Labels: A-helix-term

chore: adjust naming + comment
  helix-term/src/ui/picker.rs
  helix-view/src/quicklist.rs
Labels: A-helix-term

chore: more comments
  helix-term/src/ui/picker.rs
Labels: A-helix-term

chore: file -> buffer
  book/src/quicklist.md
Labels: none

fix: tests on windows
  helix-term/tests/test/commands.rs
Labels: A-helix-term

feat(commands): add `--list` flag to `:open`
  helix-term/src/commands/typed.rs
Labels: A-helix-term

refactor: no longer bail on error fetching/building grammars
  helix-loader/src/grammar.rs
Labels: none

chore(helix-term): LSP unordered fanout requests (#15543)
  helix-term/src/commands/lsp.rs
  helix-term/src/handlers/document_colors.rs
  helix-term/src/handlers/document_links.rs
Labels: A-helix-term

Document Tab and Shift-Tab
  book/src/keymap.md
Labels: none

update steel
  Cargo.lock
Labels: none

docs: fix typo in theme guide
  book/src/themes.md
Labels: none

Add signature help position config option
  helix-view/src/editor.rs
Labels: none

Construct Open from RelativePosition for signature help popup
  helix-term/src/commands.rs
  helix-term/src/handlers/signature_help.rs
Labels: A-helix-term

commands: Merge line column and setup styles
  helix-term/src/commands.rs
Labels: A-helix-term

fix(lsp): break shutdown deadlock and use fire-and-forget exit
  helix-lsp/src/client.rs
  helix-lsp/src/lib.rs
  helix-lsp/src/transport.rs
  helix-term/src/application.rs
  helix-view/src/editor.rs
Labels: A-helix-term, A-language-server

feat: Add delete_sub_word_* commands
  book/src/generated/static-cmd.md
  helix-term/src/commands.rs
Labels: A-helix-term

feat(helix-loader): support globbing for trust files
  Cargo.lock
  book/src/workspace-trust.md
  helix-loader/Cargo.toml
  helix-loader/src/workspace_trust.rs
Labels: none

ci: add windows-11-arm runner
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: none

ci: add ubuntu-24.04-riscv runner
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: none

docs: fix typo in theme guide (#15552)
  book/src/themes.md
Labels: none

deploy: 035450a2de62142b4117c01b89fff3d4f1b4d51f
  master/404.html
  master/building-from-source.html
  master/command-line.html
  master/commands.html
  master/configuration.html
  master/ecosystem.html
  master/editor.html
  master/from-vim.html
  master/guides/adding_languages.html
  master/guides/indent.html
  master/guides/index.html
  master/guides/injection.html
  master/guides/rainbow_bracket_queries.html
  master/guides/tags.html
  master/guides/textobject.html
  master/index.html
  master/install.html
  master/jumplist.html
  master/keymap.html
  master/lang-support.html
  master/languages.html
  master/other-software.html
  master/package-managers.html
  master/pickers.html
  master/print.html
  master/registers.html
  master/remapping.html
  master/searcher-c2a407aa.js
  master/searchindex-9ddb6ab9.js
  master/searchindex-b723c510.js
  master/surround.html
  master/syntax-aware-motions.html
  master/textobjects.html
  master/themes.html
  master/title-page.html
  master/usage.html
  master/workspace-trust.html
Labels: none

fix linter issues
  helix-lsp/src/client.rs
  helix-view/src/editor.rs
Labels: A-language-server

ci: add windows-11-arm runner
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: none

perf(term): avoid buffering URL opener output
  helix-term/src/lib.rs
Labels: A-helix-term

fix(lsp): show spinner for any busy server
  helix-term/src/ui/statusline.rs
Labels: A-helix-term

Add `*.{dtx,ins}` file types to the LaTeX language
  languages.toml
Labels: none

Fix copy-paste error
  languages.toml
Labels: none

Use push_jump helper in goto_word commands
  helix-term/src/commands.rs
Labels: A-helix-term

Update erlang highlights and locals
  runtime/queries/erlang/highlights.scm
  runtime/queries/erlang/locals.scm
Labels: A-tree-sitter

docs: add theme keys for inline diagnostics
  book/src/themes.md
Labels: none

feat: distinct inline diagnostic theme keys
  helix-term/src/ui/text_decorations/diagnostics.rs
Labels: A-helix-term

added a more accurate column width function from fish lib
  helix-core/src/widechar_width.rs
Labels: A-core

updated grapheme width function
  helix-core/src/graphemes.rs
  helix-core/src/lib.rs
Labels: A-core

Add `*.{dtx,ins}` file types to the LaTeX language (#15559)
  languages.toml
Labels: none

Update chardetng to v1.0.0
  Cargo.lock
  helix-view/Cargo.toml
  helix-view/src/document.rs
Labels: none

added mode 2027 terminal query
  helix-tui/src/backend/termina.rs
Labels: none

added mode 2027 and fallback for grapheme clustering calc
  helix-core/src/graphemes.rs
  helix-tui/src/backend/termina.rs
Labels: A-core

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
