Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

deploy: b8313da5a87a375e444796c1daaf5019cf6ff0b2
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

Add support for Amber lang
  languages.toml
Labels: none

docs: Add amber to the supported language table
  book/src/generated/lang-support.md
Labels: none

Add queries
  runtime/queries/amber/brackets.scm
  runtime/queries/amber/highlights.scm
Labels: A-tree-sitter

Remove an useless queries file
  runtime/queries/amber/brackets.scm
Labels: A-tree-sitter

Update runtime/queries/amber/highlights.scm
  runtime/queries/amber/highlights.scm
Labels: A-tree-sitter

chore(solidity): add highlight queries
  runtime/queries/solidity/highlights.scm
Labels: A-tree-sitter

feat: add support for lsp workspace command arguments in prompt
  helix-term/src/commands/typed.rs
Labels: A-helix-term

chore(solidity): add highlight queries (#12102)
  runtime/queries/solidity/highlights.scm
Labels: A-tree-sitter

Fix 'punctuation.delimiter' captures
  runtime/queries/amber/highlights.scm
Labels: A-tree-sitter

Add support for Amber-lang (#12021)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/amber/highlights.scm
Labels: A-tree-sitter

deploy: f305c7299d8471957eaa66bb83a4c9a70cfc57a9
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

add `anchored` movement commands
  helix-core/src/movement.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

add `same_line` movement commands (#768)
  helix-core/src/movement.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

Add WORKSPACE.* to starlark file-types.
  languages.toml
Labels: none

textobject impl
  helix-term/src/evil.rs
Labels: A-helix-term

Add support for path completion (#2608)
  Cargo.lock
  book/src/editor.md
  book/src/languages.md
  helix-core/src/completion.rs
  helix-core/src/lib.rs
  helix-core/src/syntax.rs
  helix-event/src/cancel.rs
  helix-event/src/lib.rs
  helix-stdx/Cargo.toml
  helix-stdx/src/env.rs
  helix-stdx/src/path.rs
  helix-term/src/commands.rs
  helix-term/src/handlers/completion.rs
  helix-term/src/handlers/completion/item.rs
  helix-term/src/handlers/completion/path.rs
  helix-term/src/handlers/completion/resolve.rs
  helix-term/src/handlers/signature_help.rs
  helix-term/src/ui/completion.rs
  helix-term/src/ui/editor.rs
  helix-term/src/ui/menu.rs
  helix-term/src/ui/mod.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-core, A-helix-term

deploy: dc941d6d24cd4876f75e68487047542239b8316a
  master/editor.html
  master/languages.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

feat: add overview mdx document
  public/h-and-l.cast
  src/components/Asciinema.astro
  src/content/docs/getting-started/basics/BackToMostRecentState.astro
  src/content/docs/getting-started/basics/CopiedLastLine.astro
  src/content/docs/getting-started/basics/CopiedSecondLineIntoERegister.astro
  src/content/docs/getting-started/basics/EntireHelixWordHighlighted.astro
  src/content/docs/getting-started/basics/FullFileDeleted.astro
  src/content/docs/getting-started/basics/FullFileSelected.astro
  src/content/docs/getting-started/basics/GotoLastLine.astro
  src/content/docs/getting-started/basics/GotoWordShowcase.astro
  src/content/docs/getting-started/basics/HelixChangedToHello.astro
  src/content/docs/getting-started/basics/HelixChangedToWorld.astro
  src/content/docs/getting-started/basics/HelloHelixLinesRemoved.astro
  src/content/docs/getting-started/basics/HighlightedPlatesWordWithGotoWord.astro
  src/content/docs/getting-started/basics/OneOfTheHLetters.astro
  src/content/docs/getting-started/basics/PastedFromERegister.astro
  src/content/docs/getting-started/basics/PastedFromERegisterBefore.astro
  src/content/docs/getting-started/basics/PastedPreviouslyCopied.astro
  src/content/docs/getting-started/basics/PressedUAFewTimes.astro
  src/content/docs/getting-started/basics/SelectedLineDeleted.astro
  src/content/docs/getting-started/basics/SelectedLineDuplicated.astro
  src/content/docs/getting-started/basics/SelectedLineWeJustChanged.astro
  src/content/docs/getting-started/basics/SeveralLines.astro
  src/content/docs/getting-started/basics/WriteQuitAll.astro
  src/content/docs/getting-started/basics/index.mdx
  src/content/docs/usage/overview.mdx
  src/tailwind.css
Labels: none

feat: add section on surrounds
  src/content/docs/usage/overview.mdx
  src/content/docs/usage/text-manipulation.mdx
  src/content/docs/usage/textobjects.mdx
Labels: none

feat: simplify wording around surrounds
  src/content/docs/usage/overview.mdx
Labels: none

feat: add textobject info about word, WORD and surrounds
  src/content/docs/usage/overview.mdx
  src/content/docs/usage/text-manipulation.mdx
  src/content/docs/usage/textobjects.mdx
Labels: none

feat: finalize text-manipulation document
  src/content/docs/usage/text-manipulation.mdx
Labels: none

fix(clippy): suppress `unused` lint on windows
  helix-term/src/handlers/completion/path.rs
Labels: A-helix-term

chore(msrv): bump MSRV from 1.70 to 1.76
  Cargo.toml
  rust-toolchain.toml
Labels: none

feat: add keymaps reference section
  .vscode/extensions.json
  .vscode/launch.json
  src/content/docs/reference/keymap.mdx
  src/content/docs/usage/text-manipulation/index.mdx
  src/tailwind.css
Labels: none

feat: add commands and formatters page
  src/content/docs/reference/commands.mdx
  src/content/docs/reference/formatters.mdx
Labels: none

feat: use a theme which better matches helix color theme
  astro.config.mjs
  theme.json
Labels: none

feat: transform faq, keymap and debuggers pages for consistency
  src/content/docs/help/faq.mdx
  src/content/docs/reference/debuggers.mdx
  src/content/docs/reference/keymap.mdx
Labels: none

feat: add architecture.mdx and releases.mdx
  astro.config.mjs
  src/content/docs/contributing/architecture.mdx
  src/content/docs/contributing/releases.mdx
  src/content/docs/index.mdx
Labels: none

feat: update title
  astro.config.mjs
Labels: none

feat: add vision.mdx
  astro.config.mjs
  src/content/docs/contributing/vision.mdx
  src/content/docs/index.mdx
Labels: none

feat: add open collective link
  src/content/docs/index.mdx
Labels: none

Change WORKSPACE.* to WORKSPACE.bzlmod.
  languages.toml
Labels: none

feat: add components for Master and Latest version
  src/components/Latest.astro
  src/components/Master.astro
Labels: none

CI: Match rust-toolchain action to MSRV version
  .github/workflows/build.yml
Labels: none

Add WORKSPACE.bzlmod to starlark file-types (#12103)
  languages.toml
Labels: none

fix(clippy): suppress `unused` lint on windows (#12107)
  helix-term/src/handlers/completion/path.rs
Labels: A-helix-term

keep the original
  helix-core/src/comment.rs
Labels: A-core

feat: prettier editor config option reference page
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/ConfigOption.astro
  src/content/docs/index.mdx
  src/content/docs/reference/configuration.mdx
  src/content/docs/reference/formatters.mdx
  src/content/docs/reference/languages.mdx
  src/content/docs/usage/configuration.mdx
  src/content/docs/usage/languages.mdx
  src/tailwind.css
  tailwind.config.mjs
  tsconfig.json
Labels: none
