Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

feat: Accept a file extension as the argument to :set-language
  helix-core/src/syntax.rs
  helix-term/src/commands/typed.rs
  helix-view/src/document.rs
Labels: A-core, A-helix-term

Sunset theme: version 2.0
  runtime/themes/sunset.toml
Labels: A-theme

feat(ini): bumped grammar version to include support for global parameters
  languages.toml
Labels: none

feat(ini): bumped grammar version to include support for global parameters (#13088)
  languages.toml
Labels: none

update vhdl tree-sitter
  languages.toml
  runtime/queries/vhdl/highlights.scm
Labels: A-tree-sitter

feat(tsq): enable auto-format
  languages.toml
Labels: none

use ABI14 version
  languages.toml
Labels: none

Update base16_transparent.toml `ui.linenr` (#13080)
  runtime/themes/base16_transparent.toml
Labels: A-theme

Sunset theme: version 2.0 (#13086)
  runtime/themes/sunset.toml
Labels: A-theme

update vhdl tree-sitter (#13091)
  languages.toml
  runtime/queries/vhdl/highlights.scm
Labels: A-tree-sitter

update highlights.scm
  runtime/queries/openscad/highlights.scm
Labels: A-tree-sitter

minor: Add a helper function for setting the configured theme
  helix-term/src/application.rs
Labels: A-helix-term

warn when configured theme is unusable for color reasons (#13058)
  helix-term/src/application.rs
Labels: A-helix-term

Adjust queries for the captures used in Helix
  runtime/queries/openscad/highlights.scm
Labels: A-tree-sitter

chore: Point OpenSCAD grammar to official repo (#13033)
  languages.toml
  runtime/queries/openscad/highlights.scm
Labels: A-tree-sitter

Fix precedence of JSON highlight queries for keys
  runtime/queries/json/highlights.scm
  runtime/queries/json5/highlights.scm
Labels: A-tree-sitter

queries: Inject into string content in Rust injections
  runtime/queries/rust/injections.scm
Labels: A-tree-sitter

queries: Add JSON injection for Rust `json!({..})` macros
  runtime/queries/rust/injections.scm
Labels: A-tree-sitter

Replace tree-sitter with tree-house
  Cargo.lock
  Cargo.toml
  helix-core/Cargo.toml
  helix-core/src/indent.rs
  helix-core/src/lib.rs
  helix-core/src/match_brackets.rs
  helix-core/src/movement.rs
  helix-core/src/object.rs
  helix-core/src/position.rs
  helix-core/src/selection.rs
  helix-core/src/snippets/active.rs
  helix-core/src/syntax.rs
  helix-core/src/syntax/config.rs
  helix-core/src/syntax/tree_cursor.rs
  helix-core/src/text_annotations.rs
  helix-core/src/textobject.rs
  helix-core/tests/indent.rs
  helix-loader/Cargo.toml
  helix-loader/src/grammar.rs
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-term/src/ui/document.rs
  helix-term/src/ui/editor.rs
  helix-term/src/ui/lsp/signature_help.rs
  helix-term/src/ui/markdown.rs
  helix-term/src/ui/picker.rs
  helix-term/src/ui/picker/handlers.rs
  helix-term/src/ui/prompt.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
  helix-view/src/theme.rs
  helix-view/src/view.rs
  xtask/src/helpers.rs
  xtask/src/main.rs
Labels: A-core, A-helix-term

syntax: Move config types to a separate module
  helix-core/src/comment.rs
  helix-core/src/config.rs
  helix-core/src/indent.rs
  helix-core/src/movement.rs
  helix-core/src/syntax.rs
  helix-core/src/syntax/config.rs
  helix-core/src/textobject.rs
  helix-core/tests/indent.rs
  helix-dap/src/client.rs
  helix-lsp/src/client.rs
  helix-lsp/src/lib.rs
  helix-term/src/commands.rs
  helix-term/src/commands/dap.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/handlers/completion.rs
  helix-term/src/handlers/completion/request.rs
  helix-term/src/handlers/signature_help.rs
  helix-term/src/ui/mod.rs
  helix-term/tests/integration.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
  helix-view/src/gutter.rs
  xtask/src/helpers.rs
Labels: A-core, A-debug-adapter, A-helix-term, A-language-server

queries: Inject markdown into Rust doc comments
  runtime/queries/rust/injections.scm
Labels: A-tree-sitter

Add the `syn_loader` to `Document`
  helix-core/src/syntax.rs
  helix-term/src/application.rs
  helix-term/src/commands/typed.rs
  helix-term/src/ui/picker.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
  helix-view/src/gutter.rs
  helix-view/src/view.rs
Labels: A-core, A-helix-term

Added: progress counter to build_grammars, fetch_grammars
  helix-loader/src/grammar.rs
Labels: none

feat(tlaplus): added formatter
  languages.toml
  runtime/queries/tlaplus/highlights.scm
Labels: A-tree-sitter

Pull diagnostics
  helix-core/src/syntax.rs
  helix-lsp/src/client.rs
  helix-lsp/src/lib.rs
  helix-term/src/application.rs
  helix-term/src/commands.rs
  helix-term/src/events.rs
  helix-term/src/handlers.rs
  helix-term/src/handlers/diagnostics.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
  helix-view/src/events.rs
  helix-view/src/handlers.rs
  helix-view/src/handlers/lsp.rs
Labels: A-core, A-helix-term, A-language-server

Skip additional dispatch and eliminate helper function
  helix-term/src/application.rs
  helix-term/src/handlers/diagnostics.rs
  helix-view/src/handlers/lsp.rs
Labels: A-helix-term

Separate publish and pull diagnostic provider
  helix-core/src/diagnostic.rs
  helix-term/src/application.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/commands/typed.rs
  helix-term/src/handlers/diagnostics.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
  helix-view/src/gutter.rs
  helix-view/src/handlers/lsp.rs
Labels: A-core, A-helix-term

Add identifier to diagnostic provider
  helix-core/src/diagnostic.rs
  helix-term/src/application.rs
  helix-term/src/handlers/diagnostics.rs
Labels: A-core, A-helix-term

Prepare for indentifier in diagnostic provider
  helix-core/src/diagnostic.rs
  helix-term/src/application.rs
  helix-term/src/handlers/diagnostics.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
  helix-view/src/gutter.rs
  helix-view/src/handlers/lsp.rs
Labels: A-core, A-helix-term

Fix Ruby highlights (#13055)
  runtime/queries/ruby/highlights.scm
Labels: A-tree-sitter

Drop 'variable.reference' captures at the end of tlaplus highlights
  runtime/queries/tlaplus/highlights.scm
Labels: A-tree-sitter

feat(tlaplus) : added `tlaplus` config + grammar (#13081)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/tlaplus/highlights.scm
  runtime/queries/tlaplus/locals.scm
Labels: A-tree-sitter

deploy: fdaf12a35d06602d470b0c45ed8815eca7df6c03
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

minor: Use a workspace dependency for parking_lot
  Cargo.toml
  helix-core/Cargo.toml
  helix-event/Cargo.toml
  helix-lsp/Cargo.toml
  helix-view/Cargo.toml
Labels: A-core, A-language-server

minor: Use parking_lot workspace dependency in helix-vcs
  helix-vcs/Cargo.toml
Labels: A-vcs

feat: add placeholder line content in local_search result
  helix-term/src/commands.rs
Labels: A-helix-term

Separate timeout for language servers without interfile dependencies
  helix-term/src/handlers/diagnostics.rs
Labels: A-helix-term

Drop hashset and query for all open documents
  helix-term/src/handlers/diagnostics.rs
Labels: A-helix-term

Retry on cancelled request
  helix-term/src/handlers/diagnostics.rs
Labels: A-helix-term

Filter un-initialized language servers
  helix-term/src/handlers/diagnostics.rs
Labels: A-helix-term

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
