Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

Create a tutor entry for using splits (#9417)
  runtime/tutor
Labels: none

Update tree-sitter-git-commit
  languages.toml
  runtime/queries/git-config/highlights.scm
Labels: A-tree-sitter

Update tree-sitter-erlang and highlights
  languages.toml
  runtime/queries/erlang/highlights.scm
  runtime/queries/erlang/injections.scm
  runtime/queries/erlang/locals.scm
Labels: A-tree-sitter

Recognize 'mmd' as mermaid
  languages.toml
Labels: none

Update tree-sitter-gleam and highlights
  languages.toml
  runtime/queries/gleam/highlights.scm
Labels: A-tree-sitter

Rust: Highlight extern crate aliases
  runtime/queries/rust/highlights.scm
Labels: A-tree-sitter

C++: Improve parameter highlighting
  runtime/queries/cpp/highlights.scm
Labels: A-tree-sitter

Recognize 'mmd' as mermaid
  languages.toml
Labels: none

Update tree-sitter-git-commit
  languages.toml
  runtime/queries/git-config/highlights.scm
Labels: A-tree-sitter

Update tree-sitter-gleam and highlights
  languages.toml
  runtime/queries/gleam/highlights.scm
Labels: A-tree-sitter

Rust: Highlight extern crate aliases
  runtime/queries/rust/highlights.scm
Labels: A-tree-sitter

C++: Improve parameter highlighting
  runtime/queries/cpp/highlights.scm
Labels: A-tree-sitter

Update tree-sitter-erlang and highlights
  languages.toml
  runtime/queries/erlang/highlights.scm
  runtime/queries/erlang/injections.scm
  runtime/queries/erlang/locals.scm
Labels: A-tree-sitter

Add rclone.conf as a glob to make it behave as a ini file
  languages.toml
Labels: none

fix: undefined bufferline colors
  runtime/themes/gruvbox.toml
Labels: A-theme

Add rclone.conf as a glob to make it behave as an ini file (#9959)
  languages.toml
Labels: none

fix: undefined bufferline colors (#9960)
  runtime/themes/gruvbox.toml
Labels: A-theme

Update goto_line_start and goto_line_end bindings in normal mode
  book/src/keymap.md
Labels: none

Trim trailing colons from paths to allow copy/pasting git grep -n output
  helix-term/src/args.rs
Labels: A-helix-term

Fix repeat last motion for goto next/prev diagnostic
  book/src/keymap.md
  helix-term/src/commands.rs
Labels: A-helix-term

Add JetBrains default dark theme
  runtime/themes/jetbrains_dark.toml
Labels: A-theme

Update `just` grammar and queries
  languages.toml
  runtime/queries/just/folds.scm
  runtime/queries/just/highlights.scm
  runtime/queries/just/indents.scm
  runtime/queries/just/injections.scm
  runtime/queries/just/locals.scm
  runtime/queries/just/textobjects.scm
Labels: A-tree-sitter

Fix repeat last motion for goto next/prev diagnostic (#9966)
  book/src/keymap.md
  helix-term/src/commands.rs
Labels: A-helix-term

deploy: d5c2973cd10c38512f6e568f097bedca46ff5f48
  master/keymap.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

Reimplement tree motions in terms of syntax::TreeCursor
  helix-core/src/object.rs
  helix-term/src/commands.rs
  helix-term/tests/test/movement.rs
Labels: A-core, A-helix-term

syntax: Track parent LanguageLayer IDs
  helix-core/src/syntax.rs
Labels: A-core

Add a TreeCursor type that travels over injection layers
  helix-core/src/syntax.rs
  helix-core/src/syntax/tree_cursor.rs
Labels: A-core

add reverse rope grapheme iterator
  helix-core/src/graphemes.rs
Labels: A-core

dismiss pending keys properly for mouse/paste
  helix-term/src/ui/editor.rs
Labels: A-helix-term

use slices instead of Rc for virtual text
  helix-core/src/doc_formatter.rs
  helix-core/src/doc_formatter/test.rs
  helix-core/src/text_annotations.rs
  helix-term/src/commands.rs
  helix-term/src/commands/lsp.rs
  helix-view/src/document.rs
  helix-view/src/view.rs
Labels: A-core, A-helix-term

Add an Amp-like jump command
  book/src/configuration.md
  book/src/keymap.md
  book/src/themes.md
  helix-core/src/selection.rs
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
  helix-view/src/view.rs
  runtime/themes/everforest_dark.toml
  theme.toml
Labels: A-core, A-helix-term, A-keymap, A-theme

deploy: b46064b8c469c85b9626dba60728e23798354ed8
  master/configuration.html
  master/keymap.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
  master/themes.html
Labels: none

Add options `editor.indent.{tab-width,unit}`.
  helix-core/src/syntax.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
  languages.toml
Labels: A-core

Prevent double indentation check for real files.
  helix-view/src/document.rs
Labels: none

Add default value for `Config::indent`.
  helix-core/src/syntax.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-core

Set `required = true` for Make.
  languages.toml
Labels: none

Set `required = true` for Nim.
  languages.toml
Labels: none

feat: add jump label color to dracula themes
  runtime/themes/dracula.toml
  runtime/themes/dracula_at_night.toml
Labels: A-theme

feat: add jump label color to dracula themes (#9973)
  runtime/themes/dracula.toml
  runtime/themes/dracula_at_night.toml
Labels: A-theme

Provide file-picker navigation
  book/src/keymap.md
  helix-term/src/application.rs
  helix-term/src/commands.rs
  helix-term/src/commands/dap.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/commands/typed.rs
  helix-term/src/ui/completion.rs
  helix-term/src/ui/menu.rs
  helix-term/src/ui/mod.rs
  helix-term/src/ui/picker.rs
  helix-view/src/editor.rs
Labels: A-helix-term
