Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

Fix example query in pickers.md
  book/src/pickers.md
Labels: none

Tombstone LSP clients stopped with :lsp-stop
  helix-lsp/src/lib.rs
Labels: A-language-server

Fix horizontal scrolloff
  helix-view/src/view.rs
Labels: none

Allow perfect centering of cursor
  helix-view/src/view.rs
Labels: none

Update book/src/pickers.md
  book/src/pickers.md
Labels: none

languages: add mdx to markdown filetypes (#11122)
  languages.toml
Labels: none

Fix example query in pickers.md (#11322)
  book/src/pickers.md
Labels: none

deploy: 9b65448f53cccf95724839ee08aab2cee1249f3a
  master/pickers.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

add docs for helix-event
  docs/architecture.md
Labels: none

Reorganize Document::apply_impl (#11304)
  helix-view/src/document.rs
Labels: none

add bufferline wrapping
  helix-term/src/ui/editor.rs
Labels: A-helix-term

Fix copypasta in comment
  helix-view/src/view.rs
Labels: none

Improve scrolloff behavior (#11323)
  helix-view/src/view.rs
Labels: none

don't use backup files with hardlinks
  helix-stdx/src/lib.rs
  helix-term/tests/test/commands/write.rs
  helix-view/src/document.rs
Labels: A-helix-term

check if the inodes remain the same in the test
  Cargo.lock
  helix-term/Cargo.toml
  helix-term/tests/test/commands/write.rs
Labels: A-helix-term

Update tutor
  runtime/tutor
Labels: none

tmp
  helix-core/src/syntax.rs
  helix-syntax/src/config.rs
  helix-syntax/src/highlighter.rs
  helix-syntax/src/highlighter2.rs
  helix-syntax/src/injections_tree.rs
  helix-syntax/src/lib.rs
  helix-syntax/src/parse.rs
  helix-syntax/src/query_iter.rs
  helix-syntax/src/ropey.rs
  helix-syntax/src/text_object.rs
  helix-syntax/src/tree_sitter.rs
  helix-syntax/src/tree_sitter/query.rs
  helix-syntax/src/tree_sitter/query/predicate.rs
  helix-syntax/src/tree_sitter/query/property.rs
  helix-syntax/src/tree_sitter/query_cursor.rs
Labels: A-core

move funcs to faccess and use AsRawHandle
  helix-stdx/src/faccess.rs
  helix-stdx/src/lib.rs
  helix-term/tests/test/commands/write.rs
  helix-view/src/document.rs
Labels: A-helix-term

use a copy as a backup for hardlinks
  helix-stdx/src/faccess.rs
  helix-stdx/src/lib.rs
  helix-term/tests/test/commands/write.rs
  helix-view/src/document.rs
Labels: A-helix-term

Use fs' mtime to avoid saving problem on out-of-synced network fs (#11142)
  helix-term/src/application.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-helix-term

delete backup after copy
  helix-view/src/document.rs
Labels: none

lock unicode width
  helix-core/Cargo.toml
Labels: A-core

Update helix-core/Cargo.toml
  helix-core/Cargo.toml
Labels: A-core

Fix writing hardlinks (#11340)
  Cargo.lock
  helix-stdx/src/faccess.rs
  helix-term/Cargo.toml
  helix-term/tests/test/commands/write.rs
  helix-view/src/document.rs
Labels: A-helix-term

feat: implement sticky-context
  book/src/editor.md
  book/src/generated/lang-support.md
  book/src/guides/context.md
  helix-core/src/syntax.rs
  helix-term/src/health.rs
  helix-term/src/ui/context.rs
  helix-term/src/ui/editor.rs
  helix-term/src/ui/mod.rs
  helix-view/src/editor.rs
  runtime/queries/c-sharp/context.scm
  runtime/queries/c/context.scm
  runtime/queries/cpp/context.scm
  runtime/queries/ecma/context.scm
  runtime/queries/elixir/context.scm
  runtime/queries/go/context.scm
  runtime/queries/html/context.scm
  runtime/queries/javascript/context.scm
  runtime/queries/json/context.scm
  runtime/queries/jsx/context.scm
  runtime/queries/markdown/context.scm
  runtime/queries/nix/context.scm
  runtime/queries/python/context.scm
  runtime/queries/rust/context.scm
  runtime/queries/scala/context.scm
  runtime/queries/toml/context.scm
  runtime/queries/tsx/context.scm
  runtime/queries/typescript/context.scm
  runtime/queries/yaml/context.scm
  runtime/queries/zig/context.scm
  runtime/themes/tokyonight.toml
  xtask/src/querycheck.rs
Labels: A-core, A-helix-term, A-theme, A-tree-sitter

Delete pairs with multi-char-range selections
  helix-core/src/auto_pairs.rs
  helix-core/src/transaction.rs
  helix-term/src/commands.rs
  helix-term/tests/test/auto_pairs.rs
Labels: A-core, A-helix-term

Change auto pair hook to operate on single changes
  helix-core/src/auto_pairs.rs
  helix-core/src/transaction.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

backfill auto pair delete tests
  helix-term/tests/test/auto_pairs.rs
Labels: A-helix-term

add delete_by_and_with_selection
  helix-core/src/auto_pairs.rs
  helix-core/src/transaction.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

Add Transaction::change_by_and_with_selection
  helix-core/src/auto_pairs.rs
  helix-core/src/transaction.rs
Labels: A-core

account for overlapping deletes
  helix-core/src/auto_pairs.rs
  helix-core/src/transaction.rs
  helix-term/tests/test/auto_pairs.rs
Labels: A-core, A-helix-term

fix as-is tests
  helix-term/tests/test/auto_pairs.rs
Labels: A-helix-term

insert double whitespace inside pair
  helix-core/src/auto_pairs.rs
  helix-term/tests/test/auto_pairs.rs
Labels: A-core, A-helix-term

lock unicode width
  helix-core/Cargo.toml
Labels: A-core

Update helix-core/Cargo.toml
  helix-core/Cargo.toml
Labels: A-core

Disable hard link integration test on Android
  helix-term/tests/test/commands/write.rs
Labels: A-helix-term

Add a distinct jump-label to bogster theme
  runtime/themes/bogster.toml
Labels: A-theme

Make the primary label visible in the bogster theme
  runtime/themes/bogster.toml
Labels: A-theme

Lower log level for message about removing clients from the registry
  helix-lsp/src/lib.rs
Labels: A-language-server

Tombstone LSP clients stopped with :lsp-stop
  helix-lsp/src/lib.rs
Labels: A-language-server
