Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

Fix cargo fmt
  helix-term/src/handlers/completion.rs
Labels: A-helix-term

Fix byte offsets in `matched_path`
  helix-term/src/handlers/completion.rs
Labels: A-helix-term

minor fixes, go through all keys
  runtime/themes/aurara.toml
Labels: A-theme

refactor(lsp): handle out-of-range `active_signature`
  helix-term/src/ui/lsp.rs
Labels: A-helix-term

Handle prompt completions with AsyncHook.
  helix-term/src/commands/typed.rs
  helix-term/src/ui/mod.rs
  helix-term/src/ui/prompt.rs
Labels: A-helix-term

ui background, no gold ;(
  runtime/themes/aurara.toml
Labels: A-theme

fix background colors
  runtime/themes/aurara.toml
Labels: A-theme

Add support for dune project language
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/dune/highlights.scm
Labels: A-tree-sitter

Removed unused empty function
  helix-term/src/commands/typed.rs
Labels: A-helix-term

feat: Add support for cylc configuration files
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/cylc/highlights.scm
  runtime/queries/cylc/indents.scm
  runtime/queries/cylc/injections.scm
  runtime/queries/cylc/textobjects.scm
Labels: A-tree-sitter

Update patch inline with comments.
  helix-stdx/src/lib.rs
  helix-stdx/src/nonempty.rs
  helix-term/src/health.rs
  helix-view/src/clipboard.rs
  helix-view/src/editor.rs
  helix-view/src/register.rs
Labels: A-helix-term

Add option to show paths in bufferline when active
  Cargo.lock
  book/src/editor.md
  helix-term/Cargo.toml
  helix-term/src/ui/editor.rs
  helix-view/src/editor.rs
Labels: A-helix-term

revert unecessary variable renaming
  helix-term/src/commands.rs
Labels: A-helix-term

remove config option for continue-comments
  helix-term/src/commands.rs
  helix-view/src/editor.rs
Labels: A-helix-term

queries/nix: add injections for nim writers
  runtime/queries/nix/injections.scm
Labels: A-tree-sitter

Remove auto-pair for single quote in SML.
  languages.toml
Labels: none

update curzon/ui.highlight.bg color
  runtime/themes/curzon.toml
Labels: A-theme

correct TypableCommandList source file
  book/src/remapping.md
Labels: none

continue-comments: update parameter types of `get_comment_token`
  helix-core/src/comment.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

continue-comments: restructure `get_comment_token`
  helix-core/src/comment.rs
Labels: A-core

continue-comments: simplify code
  helix-term/src/commands.rs
Labels: A-helix-term

style-nit: reduce nested blocks
  helix-term/src/commands.rs
Labels: A-helix-term

continue-comments: improve jumping behaviour
  helix-term/src/commands.rs
Labels: A-helix-term

continue-comments: improve local_offs variable calculation
  helix-term/src/commands.rs
Labels: A-helix-term

fix warnings
  helix-term/src/commands.rs
Labels: A-helix-term

refactor(lsp): handle out-of-range `active_signature` (#11825)
  helix-term/src/ui/lsp.rs
Labels: A-helix-term

feat: Add language support for nginx config files
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/nginx/highlights.scm
  runtime/queries/nginx/injections.scm
Labels: A-tree-sitter

Add per view search location and total matches to statusline.
  book/src/editor.md
  helix-term/src/commands.rs
  helix-term/src/ui/statusline.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-helix-term

Add option to limit the search match counter to a max.
  book/src/editor.md
  helix-term/src/commands.rs
  helix-term/src/ui/statusline.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-helix-term

Add support for dune project language (#11829)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/dune/highlights.scm
Labels: A-tree-sitter

deploy: 048973fc552fd8ccc7a8060d07b1078b7f090824
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

Change windows code so it builds
  helix-view/src/clipboard.rs
Labels: none

move TypableCommandList location to next bullet point
  book/src/remapping.md
Labels: none

Remove auto-pair for single quote in SML. (#11838)
  languages.toml
Labels: none

Remove an incorrect comment
  helix-term/src/ui/document.rs
Labels: A-helix-term

Replace newlines with double spaces in the eol diagnostic message
  helix-term/src/ui/text_decorations/diagnostics.rs
Labels: A-helix-term

Draw each message line separately in `draw_eol_diagnostic`
  helix-term/src/ui/text_decorations/diagnostics.rs
Labels: A-helix-term

Use unwrap_or_default to provide an empty string
  helix-term/src/ui/text_decorations/diagnostics.rs
Labels: A-helix-term

Only render the first line of the message in draw_eol_diagnostic
  helix-term/src/ui/text_decorations/diagnostics.rs
Labels: A-helix-term

Added force version of command xit, called force_xit.
  helix-term/src/commands/typed.rs
Labels: A-helix-term

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
