Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

Use non-deprecated chrono Duration functions
  helix-core/src/increment/date_time.rs
Labels: A-core

menu icons
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
Labels: A-helix-term, A-keymap

Adding initial support for ada language, based off #7790 PR from tomekw
  languages.toml
  runtime/queries/ada/folds.scm
  runtime/queries/ada/highlights.scm
  runtime/queries/ada/locals.scm
  runtime/queries/ada/textobjects.scm
Labels: A-tree-sitter

Support new tree-sitter textobject/movement for entries of list-likes
  book/src/guides/textobject.md
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
  runtime/queries/_typescript/textobjects.scm
  runtime/queries/bash/textobjects.scm
  runtime/queries/c/textobjects.scm
  runtime/queries/ecma/textobjects.scm
  runtime/queries/graphql/textobjects.scm
  runtime/queries/java/textobjects.scm
  runtime/queries/json/textobjects.scm
  runtime/queries/lua/textobjects.scm
  runtime/queries/php/textobjects.scm
  runtime/queries/python/textobjects.scm
  runtime/queries/ruby/textobjects.scm
  runtime/queries/rust/textobjects.scm
  runtime/queries/toml/textobjects.scm
Labels: A-helix-term, A-keymap, A-tree-sitter

Docgen
  book/src/generated/lang-support.md
Labels: none

fix(themes-catppuccin): make inlay hints more legible (#9859)
  runtime/themes/catppuccin_mocha.toml
Labels: A-theme

feat(solidity): add yul function textobject query
  runtime/queries/solidity/textobjects.scm
Labels: A-tree-sitter

feat(solidity): add textobject query for emit statement arguments
  runtime/queries/solidity/textobjects.scm
Labels: A-tree-sitter

feat(solidity): add textobject query for revert call arguments
  runtime/queries/solidity/textobjects.scm
Labels: A-tree-sitter

build(nix): Fix Nix grammars build due to breaking changes in fetchTree
  grammars.nix
Labels: none

Make code_action use a picker
  helix-term/src/commands/lsp.rs
Labels: A-helix-term

Do not stop reloading docs on error
  helix-term/src/commands/typed.rs
  helix-view/src/document.rs
Labels: A-helix-term

custom menus complete
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
Labels: A-helix-term, A-keymap

Use non-deprecated chrono Duration functions
  helix-core/src/increment/date_time.rs
Labels: A-core

Split code_action to code_action and code_action_picker
  helix-term/src/commands.rs
  helix-term/src/commands/lsp.rs
Labels: A-helix-term

move to a typed command
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
Labels: A-helix-term

docgen
  book/src/generated/typable-cmd.md
Labels: none

Add a yank diagnostic command (#9640)
  book/src/generated/typable-cmd.md
  helix-term/src/commands/typed.rs
Labels: A-helix-term

deploy: 0c51ab16d0c65505705297b89ebb1147f3cc8fee
  master/commands.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

Handle starting and continuing the count separately
  helix-term/src/ui/editor.rs
Labels: A-helix-term

Make Clippy happy
  helix-term/src/commands/lsp.rs
Labels: A-helix-term

Update regex-cursor for issue #9888
  Cargo.lock
  helix-stdx/Cargo.toml
Labels: none

feat: config: allow configuring which providers to use for diffs
  Cargo.lock
  book/src/configuration.md
  helix-vcs/Cargo.toml
  helix-vcs/src/config.rs
  helix-vcs/src/git/test.rs
  helix-vcs/src/lib.rs
  helix-view/src/editor.rs
Labels: A-vcs

Update regex-cursor (#9891)
  Cargo.lock
  helix-stdx/Cargo.toml
Labels: none

cleanup integration tests
  helix-term/tests/test/commands/write.rs
  helix-term/tests/test/helpers.rs
  helix-term/tests/test/splits.rs
  helix-view/src/document.rs
Labels: A-helix-term

use faccess for readonly detection
  helix-view/Cargo.toml
  helix-view/src/document.rs
  helix-view/src/faccess.rs
  helix-view/src/file.rs
Labels: none

fix non-unix faccess copy_metadata impl
  helix-view/src/faccess.rs
Labels: none

write to the same directory as the destination
  helix-view/src/document.rs
Labels: none

fix copy_metadata perms
  helix-view/src/faccess.rs
Labels: none

move to windows_sys and log errors
  Cargo.lock
  helix-view/Cargo.toml
  helix-view/src/document.rs
  helix-view/src/faccess.rs
Labels: none

fixup integration test
  helix-term/tests/test/helpers.rs
  helix-view/src/document.rs
Labels: A-helix-term

use temporary files for writes
  Cargo.lock
  helix-term/tests/test/commands/write.rs
  helix-term/tests/test/helpers.rs
  helix-view/Cargo.toml
  helix-view/src/document.rs
Labels: A-helix-term

create backup file instead of writing to temporary file
  helix-term/tests/test/helpers.rs
  helix-view/src/document.rs
Labels: A-helix-term

don't copy filetimes
  Cargo.lock
  helix-view/Cargo.toml
  helix-view/src/faccess.rs
Labels: none

vendor faccess
  Cargo.lock
  helix-view/Cargo.toml
  helix-view/src/document.rs
  helix-view/src/faccess.rs
  helix-view/src/file.rs
  helix-view/src/lib.rs
Labels: none

move faccess to helix-stdx
  Cargo.lock
  helix-stdx/Cargo.toml
  helix-stdx/src/faccess.rs
  helix-stdx/src/lib.rs
  helix-view/Cargo.toml
  helix-view/src/document.rs
  helix-view/src/lib.rs
Labels: none

Handle starting and continuing the count separately (#9887)
  helix-term/src/ui/editor.rs
Labels: A-helix-term

Fix comment key bind behaviour in OCaml
  languages.toml
Labels: none

Fix comment key bind behaviour in OCaml (#9894)
  languages.toml
Labels: none

Respect undercurl config even with no terminfo
  helix-tui/src/backend/crossterm.rs
Labels: none
