Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

feat(lsp): documentLink highlights
  book/src/keymap.md
  helix-core/src/syntax/config.rs
  helix-lsp/src/client.rs
  helix-term/src/commands.rs
  helix-term/src/handlers.rs
  helix-term/src/handlers/document_links.rs
  helix-term/src/ui/editor.rs
  helix-view/src/document.rs
  helix-view/src/handlers.rs
  helix-view/src/handlers/lsp.rs
Labels: A-core, A-helix-term, A-language-server

feat(lsp): automatic document highlight
  book/src/editor.md
  helix-term/src/handlers.rs
  helix-term/src/handlers/document_highlight.rs
  helix-term/src/ui/editor.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-helix-term

feat(lsp): add call hierarchy picker
  book/src/generated/static-cmd.md
  helix-core/src/syntax/config.rs
  helix-lsp/src/client.rs
  helix-term/src/commands.rs
  helix-term/src/commands/lsp.rs
Labels: A-core, A-helix-term, A-language-server

Show intent-to-add files in changed file picker
  foo
  helix-vcs/src/git.rs
Labels: A-vcs

fix(helix-view): regression in force write
  helix-view/src/document.rs
Labels: none

feat: cover with tests
  helix-term/tests/test/commands/write.rs
Labels: A-helix-term

Show intent-to-add files in changed file picker (#14519)
  foo
  helix-vcs/src/git.rs
Labels: A-vcs

Remove accidentally committed test file
  foo
Labels: none

Update textobject.md
  book/src/guides/textobject.md
Labels: none

feat(picker-layout): Add a new picker layout conf
  book/src/editor.md
  helix-term/src/application.rs
  helix-term/src/commands.rs
  helix-term/src/commands/dap.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/commands/syntax.rs
  helix-term/src/commands/typed.rs
  helix-term/src/ui/mod.rs
  helix-term/src/ui/overlay.rs
  helix-view/src/editor.rs
Labels: A-helix-term

Remove accidentally committed test file (#15239)
  foo
Labels: none

feat(queries:comment): highlight "TIP" as `hint` (#15237)
  runtime/queries/comment/highlights.scm
Labels: A-tree-sitter

update sql tree-sitter grammar
  languages.toml
Labels: none

docs(book:themes): `special` is used in pickers (#15211)
  book/src/themes.md
Labels: none

update sql tree-sitter grammar (#15244)
  languages.toml
Labels: none

deploy: c7f4fe56633a559c9b78838477a7e52533bc0529
  master/print.html
  master/searchindex.js
  master/searchindex.json
  master/themes.html
Labels: none

lang(glsl): update grammar
  languages.toml
  runtime/queries/glsl/highlights.scm
Labels: A-tree-sitter

tags(glsl): add tags queries
  runtime/queries/glsl/tags.scm
Labels: A-tree-sitter

rainbows(glsl): add rainbow queries
  runtime/queries/glsl/rainbows.scm
Labels: A-tree-sitter

indents(glsl): just inherit them from the c language
  runtime/queries/glsl/indents.scm
Labels: A-tree-sitter

chore: cargo xtask docgen
  book/src/generated/lang-support.md
Labels: none

fix(helix-view): regression in force write (#15238)
  helix-term/tests/test/commands/write.rs
  helix-view/src/document.rs
Labels: A-helix-term

fix all open clippy lints (#92)
  helix-core/src/extensions.rs
  helix-term/.clippy.toml
  helix-term/src/commands/engine.rs
  helix-term/src/commands/engine/steel/components.rs
  helix-term/src/commands/engine/steel/mod.rs
  helix-term/src/commands/typed.rs
  helix-tui/src/widgets/list.rs
Labels: A-core, A-helix-term

Lazily apply document changes when using the jumplist
  helix-term/src/commands.rs
  helix-term/tests/test/splits.rs
  helix-view/src/editor.rs
  helix-view/src/view.rs
Labels: A-helix-term

Inject 'regex' into `diff.*.{xfuncname,wordRegex}` attr for `git-config` language
  runtime/queries/git-config/injections.scm
Labels: A-tree-sitter

Highlight builtin diff configuration values in `git-attributes` language
  runtime/queries/git-attributes/highlights.scm
Labels: A-tree-sitter

fix: changed CompactString to ArrayString based on benchmarks comparing underlying SSO types
  Cargo.lock
  Cargo.toml
  helix-tui/Cargo.toml
  helix-tui/src/buffer.rs
Labels: none

feat: add bunch a test to showcase the limits of this
  helix-tui/src/buffer.rs
Labels: none

Bug 9833 - Fix panic due to jumplist being out of sync
  helix-term/src/commands.rs
  helix-term/tests/test/splits.rs
  helix-view/src/view.rs
Labels: A-helix-term

feat!: add support for basic icons
  Cargo.lock
  helix-term/src/commands.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/config.rs
  helix-term/src/handlers/document_colors.rs
  helix-term/src/ui/completion.rs
  helix-term/src/ui/document.rs
  helix-term/src/ui/editor.rs
  helix-term/src/ui/mod.rs
  helix-term/src/ui/picker.rs
  helix-term/src/ui/statusline.rs
  helix-term/src/ui/text_decorations/diagnostics.rs
  helix-tui/src/text.rs
  helix-view/Cargo.toml
  helix-view/src/document.rs
  helix-view/src/editor.rs
  helix-view/src/gutter.rs
  helix-view/src/icons.rs
  helix-view/src/lib.rs
Labels: A-helix-term

build(deps): bump `unicode-width` from `=0.1.12` to `0.2.2`
  Cargo.lock
  helix-core/Cargo.toml
  helix-core/src/graphemes.rs
  helix-core/src/lib.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/ui/editor.rs
  helix-term/src/ui/prompt.rs
  helix-term/src/ui/statusline.rs
  helix-tui/src/backend/test.rs
  helix-tui/src/buffer.rs
  helix-tui/src/text.rs
  helix-tui/src/widgets/paragraph.rs
  helix-tui/src/widgets/reflow.rs
  helix-tui/src/widgets/table.rs
  helix-view/src/info.rs
  helix-view/src/input.rs
Labels: A-core, A-helix-term

build(gix): enable `max-performance` feature
  Cargo.lock
  helix-vcs/Cargo.toml
Labels: A-vcs

Update tree-sitter-rego grammar
  languages.toml
Labels: none

feat(view): render soft-wrap indicators in the gutter
  helix-core/src/doc_formatter.rs
  helix-core/src/doc_formatter/test.rs
  helix-view/src/annotations/diagnostics.rs
  helix-view/src/document.rs
  helix-view/src/gutter.rs
Labels: A-core

Lazily apply document changes when using the jumplist (#15246)
  helix-term/src/commands.rs
  helix-term/tests/test/splits.rs
  helix-view/src/editor.rs
  helix-view/src/view.rs
Labels: A-helix-term

fix(helix-tui: tests): test was not fully testing what we want
  helix-tui/src/buffer.rs
Labels: none

Bug #15228 - Fix try_restore_indent panic
  helix-term/tests/test/commands.rs
  helix-view/src/editor.rs
Labels: A-helix-term

Add `config.worktree` as file-type to `git-config` language
  languages.toml
Labels: none

feat(helix-tui: symbol): use � placeholder + log instead of panic if overflow cell symbol type
  helix-tui/src/buffer.rs
Labels: none

fix(helix-tui): Rolo's review fixes
  helix-tui/src/buffer.rs
Labels: none

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
