Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

feat: add tombi language server (#13723)
  book/src/generated/lang-support.md
  languages.toml
Labels: none

deploy: ab97585b69f11b159a447c85dfd528cc241cf1e3
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

feat: Show filepath context in bufferline
  book/src/editor.md
  helix-term/src/ui/editor.rs
  helix-view/src/editor.rs
Labels: A-helix-term

Update movement.rs
  helix-core/src/movement.rs
Labels: A-core

Update env.rs
  helix-stdx/src/env.rs
Labels: none

Pull diagnostics
  helix-core/src/syntax/config.rs
  helix-lsp/src/client.rs
  helix-lsp/src/lib.rs
  helix-term/src/application.rs
  helix-term/src/handlers.rs
  helix-term/src/handlers/diagnostics.rs
  helix-view/src/document.rs
  helix-view/src/handlers.rs
  helix-view/src/handlers/lsp.rs
Labels: A-core, A-helix-term, A-language-server

Remove related documents changes
  helix-term/src/handlers/diagnostics.rs
Labels: A-helix-term

Update document by path
  helix-term/src/handlers/diagnostics.rs
Labels: A-helix-term

Cancel ongoing pull diagnostic events
  helix-lsp/src/client.rs
  helix-term/src/application.rs
  helix-term/src/handlers/diagnostics.rs
Labels: A-helix-term, A-language-server

Add separate event for pulling visible documents diagnostics
  helix-term/src/handlers.rs
  helix-term/src/handlers/diagnostics.rs
  helix-view/src/handlers.rs
  helix-view/src/handlers/lsp.rs
Labels: A-helix-term

feat: add neocmakelsp language server
  book/src/generated/lang-support.md
  languages.toml
Labels: none

implemented
  helix-term/src/commands/lsp.rs
  helix-view/src/editor.rs
Labels: A-helix-term

test: add tests for align-text
  helix-term/tests/test/commands.rs
  helix-term/tests/test/commands/align_text.rs
Labels: A-helix-term

test: use `pretty_assertions::assert_str_eq` to compare 2 ropes
  Cargo.lock
  helix-term/Cargo.toml
  helix-term/tests/test/helpers.rs
Labels: A-helix-term

bug fix, eq should be excluded
  helix-term/src/commands/lsp.rs
Labels: A-helix-term

feat: add neocmakelsp language server (#13740)
  book/src/generated/lang-support.md
  languages.toml
Labels: none

deploy: 3b7aaddb1391a9e343877ceadb83a41c95ede33f
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

stdx: Add `RopeSliceExt::(nth_){next,prev}_grapheme_boundary`
  helix-stdx/src/rope.rs
Labels: none

stdx: Unify RopeSlice grapheme cluster iterators
  helix-stdx/src/rope.rs
Labels: none

stdx: Add an iterator over grapheme indices in a rope slice
  helix-stdx/src/rope.rs
Labels: none

update steel
  Cargo.lock
Labels: none

chore: bump
  Cargo.toml
  rust-toolchain.toml
Labels: none

fix: address edition check warnings and errors
  helix-core/src/movement.rs
  helix-core/src/syntax.rs
  helix-core/src/text_annotations.rs
  helix-event/src/hook.rs
  helix-event/src/lib.rs
Labels: A-core

chore: updated c,c++ highlights
  runtime/queries/c/highlights.scm
  runtime/queries/cpp/highlights.scm
  runtime/queries/python/highlights.scm
Labels: A-tree-sitter

limit on displayed width and bug fix about char boundary
  helix-term/src/commands/lsp.rs
  helix-view/src/editor.rs
Labels: A-helix-term

feat: allow moving nonexistent file
  helix-view/src/editor.rs
Labels: none

use grapheme indices instead to avoid unexpected cutting
  helix-term/src/commands/lsp.rs
Labels: A-helix-term

chore: updated c,c++ highlights (#13747)
  runtime/queries/c/highlights.scm
  runtime/queries/cpp/highlights.scm
  runtime/queries/python/highlights.scm
Labels: A-tree-sitter

remove unreasonable comment
  helix-term/src/commands/lsp.rs
Labels: A-helix-term

Word movement select from first range
  helix-core/src/movement.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

Highlight HTML entities
  languages.toml
  runtime/queries/html/highlights.scm
Labels: A-tree-sitter

feat: provide context around the language config (merged TOML) on load error
  helix-core/Cargo.toml
  helix-core/src/config.rs
Labels: A-core

clean up
  STEEL.md
  flake.nix
Labels: none

perf(transport): switch to `sonic_rs` for parsing
  Cargo.lock
  Cargo.toml
  helix-dap/Cargo.toml
  helix-dap/src/lib.rs
  helix-dap/src/transport.rs
  helix-lsp/Cargo.toml
  helix-lsp/src/lib.rs
  helix-lsp/src/transport.rs
Labels: A-debug-adapter, A-language-server

added crystal formatter
  languages.toml
Labels: none

feat: Make the diagnostic picker display the resposible LSP
  helix-term/src/commands/lsp.rs
Labels: A-helix-term

forgot comma
  languages.toml
Labels: none

jump_to_label: label gen; prefer lower chars
  helix-term/src/commands.rs
Labels: A-helix-term

Picker: Detect language before rendering preview
  helix-term/src/ui/picker.rs
  helix-term/src/ui/picker/handlers.rs
Labels: A-helix-term

Highlight Ecma escape sequences
  runtime/queries/ecma/highlights.scm
Labels: A-tree-sitter
