Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

refactor(helix-loader): use BufReader to read trust files
  helix-loader/src/workspace_trust.rs
Labels: none

fix(term): filter directory args and prefer diff.delta.text for highlights
  helix-term/src/application.rs
  helix-term/src/main.rs
  helix-term/src/ui/editor.rs
Labels: A-helix-term

feat(theme): give default theme diff scopes explicit bgs and gutters
  theme.toml
Labels: none

test(term): add integration tests for diff-mode commands
  helix-term/tests/integration.rs
  helix-term/tests/test/diff_mode.rs
Labels: A-helix-term

fix(view): guard sync_diff_scroll against stale view IDs
  helix-view/src/editor.rs
Labels: none

fix(view): prune diff sessions when view or document closes
  helix-term/tests/test/diff_mode.rs
  helix-view/src/diff_session.rs
  helix-view/src/editor.rs
Labels: A-helix-term

perf(term): advance diff decoration cursor monotonically
  helix-term/src/ui/editor.rs
Labels: A-helix-term

fix(term): use diff.minus for deletion lines in diff viewer
  helix-term/src/ui/editor.rs
Labels: A-helix-term

chore: cargo fmt
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-view/src/editor.rs
Labels: A-helix-term

refactor: extract diff session helper methods and simplify logic
  helix-term/src/application.rs
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-term/src/ui/editor.rs
  helix-view/src/diff_session.rs
  helix-view/src/editor.rs
Labels: A-helix-term

docs: document diff mode, CLI flag, and theme scopes
  book/src/SUMMARY.md
  book/src/diff-mode.md
  book/src/generated/typable-cmd.md
  book/src/themes.md
Labels: none

feat(term,view): add side-by-side diff mode with DiffSession and alignment
  Cargo.lock
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-term/src/ui/editor.rs
  helix-view/Cargo.toml
  helix-view/src/diff_session.rs
  helix-view/src/editor.rs
  helix-view/src/lib.rs
Labels: A-helix-term

fix(term): fall back to hardcoded diff colors for themes without diff scopes
  helix-term/src/ui/editor.rs
Labels: A-helix-term

fix(view): char-level tokenization and correct cfg attribute for Termcode
  helix-view/src/clipboard.rs
  helix-view/src/diff_session.rs
Labels: none

feat(term,view): add interactive diff operations and --diff/-d flag
  helix-term/src/application.rs
  helix-term/src/args.rs
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-view/src/diff_session.rs
  helix-view/src/editor.rs
Labels: A-helix-term

feat(theme): add diff.delta.text scope for intra-line diff highlights
  theme.toml
Labels: none

perf(view): cache intra-line diff per hunk on DiffSession
  helix-term/src/ui/editor.rs
  helix-view/src/diff_session.rs
Labels: A-helix-term

feat(view): use word-level tokenization for intra-line diff
  helix-view/src/diff_session.rs
Labels: none

feat(term): layer diff scope fg over syntax on diff-line ranges
  helix-term/src/ui/editor.rs
Labels: A-helix-term

fix(tui): use ○ instead of ◯ for unverified breakpoints
  helix-view/src/gutter.rs
Labels: none

ecma/injections: fix regressions
  runtime/queries/ecma/injections.scm
Labels: A-tree-sitter

use default clipboard provider for wezterm connect
  helix-view/src/clipboard.rs
Labels: none

docs: clarify file-picker and file-explorer option descriptions
  book/src/editor.md
  helix-view/src/editor.rs
Labels: none

feat: add breadcrumb UI element
  helix-term/src/ui/editor.rs
  helix-view/src/graphics.rs
Labels: A-helix-term

feat: add documentation for breadcrumb
  book/src/editor.md
Labels: none

todo: fix hanging `write_concurrent` test
  helix-term/tests/test/commands/write.rs
Labels: A-helix-term

feat: add breadcrumb plumbing
  helix-lsp/src/client.rs
  helix-term/src/handlers.rs
  helix-term/src/handlers/document_symbols.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-helix-term, A-language-server

queries(latex): add indents.scm
  runtime/queries/latex/indents.scm
Labels: A-tree-sitter

fix: V-001 security vulnerability
  helix-loader/src/grammar.rs
Labels: none

prioritize tmux clipboard
  helix-view/src/clipboard.rs
Labels: none

feat(diff): open diff view at file:line on either side
  book/src/generated/typable-cmd.md
  helix-term/src/application.rs
  helix-term/src/commands/typed.rs
  helix-term/src/main.rs
  helix-term/tests/test/diff_mode.rs
  helix-term/tests/test/helpers.rs
Labels: A-helix-term

theme(quiet_light): tune UI chrome
  runtime/themes/quiet_light.toml
Labels: A-theme

fix(highlights/clarity): fix boolean highlighting
  runtime/queries/clarity/highlights.scm
Labels: A-tree-sitter

fix(highlights/sourcepawn): fix boolean highlighting
  runtime/queries/sourcepawn/highlights.scm
Labels: A-tree-sitter

fix(highlights/java): fix boolean highlighting
  runtime/queries/java/highlights.scm
Labels: A-tree-sitter

fix(highlights/codeql): fix boolean highlighting
  runtime/queries/codeql/highlights.scm
Labels: A-tree-sitter

fix(highlights/lean): fix boolean highlighting
  runtime/queries/lean/highlights.scm
Labels: A-tree-sitter

fix(highlights/rescript): fix boolean highlighting
  runtime/queries/rescript/highlights.scm
Labels: A-tree-sitter

fix(highlights/ink): fix boolean highlighting
  runtime/queries/ink/highlights.scm
Labels: A-tree-sitter

fix(highlights/ruby): fix boolean highlighting
  runtime/queries/ruby/highlights.scm
Labels: A-tree-sitter

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
