Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

Improve highlighting.
  runtime/queries/gren/highlights.scm
Labels: A-tree-sitter

Highlight queries for modules and import statements.
  runtime/queries/gren/highlights.scm
Labels: A-tree-sitter

feat: add `tree-sitter-rustfmt`
  languages.toml
  runtime/queries/rust/injections.scm
  runtime/queries/rustfmt/highlights.scm
Labels: A-tree-sitter

docs: add lang support info for `rustfmt`
  book/src/generated/lang-support.md
Labels: none

feat: add `width` to operator highlights for rustfmt lang
  runtime/queries/rustfmt/highlights.scm
Labels: A-tree-sitter

A few final highlighting tweaks.
  runtime/queries/gren/highlights.scm
Labels: A-tree-sitter

Remove tags.scm
  runtime/queries/gren/tags.scm
Labels: A-tree-sitter

tree-sitter-0.25
  Cargo.lock
  Cargo.toml
  helix-core/Cargo.toml
  runtime/queries/rust/injections.scm
  rust-toolchain.toml
Labels: A-core, A-tree-sitter

DAP: Configure child process stderr as piped
  helix-dap/src/client.rs
Labels: A-debug-adapter

minor: Remove double BufReader wrapper in DAP client
  helix-dap/src/client.rs
Labels: A-debug-adapter

DAP: Drain pending requests on recv failure
  helix-dap/src/transport.rs
Labels: A-debug-adapter

feat: inject `rustfmt` into Rust's standard library macros
  runtime/queries/rust/injections.scm
Labels: A-tree-sitter

chore: remove unneeded changes
  Cargo.lock
  Cargo.toml
  helix-core/Cargo.toml
  runtime/queries/rust/injections.scm
  rust-toolchain.toml
Labels: A-core, A-tree-sitter

Print full error chain when failing to load grammar (#12744)
  helix-core/src/syntax.rs
Labels: A-core

feat: add more crates to `rustfmt` injection
  runtime/queries/rust/injections.scm
Labels: A-tree-sitter

feat: remove `ensure!` macro
  runtime/queries/rust/injections.scm
Labels: A-tree-sitter

Update highlights.scm for Gren language (#12769)
  runtime/queries/gren/highlights.scm
  runtime/queries/gren/tags.scm
Labels: A-tree-sitter

queries: Remove `(ERROR)` from all highlights
  runtime/queries/cpon/highlights.scm
  runtime/queries/cylc/highlights.scm
  runtime/queries/dart/highlights.scm
  runtime/queries/dot/highlights.scm
  runtime/queries/fish/highlights.scm
  runtime/queries/godot-resource/highlights.scm
  runtime/queries/gotmpl/highlights.scm
  runtime/queries/hcl/highlights.scm
  runtime/queries/json/highlights.scm
  runtime/queries/latex/highlights.scm
  runtime/queries/lean/highlights.scm
  runtime/queries/llvm-mir/highlights.scm
  runtime/queries/llvm/highlights.scm
  runtime/queries/lua/highlights.scm
  runtime/queries/mojo/highlights.scm
  runtime/queries/po/highlights.scm
  runtime/queries/python/highlights.scm
  runtime/queries/r/highlights.scm
  runtime/queries/regex/highlights.scm
  runtime/queries/rescript/highlights.scm
  runtime/queries/tablegen/highlights.scm
  runtime/queries/ungrammar/highlights.scm
  runtime/queries/uxntal/highlights.scm
  runtime/queries/verilog/highlights.scm
  runtime/queries/yaml/highlights.scm
  runtime/queries/yuck/highlights.scm
Labels: A-tree-sitter

feat: remove ERROR highlight
  runtime/queries/rustfmt/highlights.scm
Labels: A-tree-sitter

LSP: Move diagnostic handling from Application to Editor
  helix-term/src/application.rs
  helix-view/src/handlers/lsp.rs
Labels: A-helix-term

LSP: Properly discard out-of-date diagnostics
  helix-view/src/handlers/lsp.rs
Labels: none

chore: add testing files
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
  lol.html
Labels: A-helix-term, A-keymap

fix: panic as no ranges were inserted
  announce.md
  helix-core/src/comment.rs
  helix-term/src/commands.rs
  helix-term/tests/test/commands.rs
Labels: A-core, A-helix-term

feat: add new params
  helix-core/src/syntax.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

fix: restore selections when created comment
  helix-core/src/comment.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

chore: add brainstorm thoughts
  helix-term/src/commands.rs
Labels: A-helix-term

fix: panic
  helix-term/src/commands.rs
Labels: A-helix-term

fix: incorrect order of index additions
  helix-core/src/comment.rs
  helix-term/tests/test/commands.rs
  lol.html
Labels: A-core, A-helix-term

chore: remove Clone derive from Syntax
  helix-core/src/syntax.rs
Labels: A-core

feat: add integration tests for commenting through injection layers
  helix-term/tests/test/commands.rs
  lol.html
Labels: A-helix-term

refactor: rename variables ,use iterator methods, separate vars for added and removed chars
  helix-core/src/comment.rs
  helix-term/src/commands.rs
  lol.js
Labels: A-core, A-helix-term

fix: many single width selections panic
  helix-term/tests/test/commands.rs
Labels: A-helix-term

feat: continue comment uses injected comment tokens
  helix-core/src/comment.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

feat: implement toggle comment funcitonality for multiple comment tokens
  helix-core/src/comment.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

fix: commenting full lines
  helix-core/src/comment.rs
  helix-term/tests/test/comments.rs
Labels: A-core, A-helix-term

feat: add function to get LanguageConfiguration from a LayerId
  helix-core/src/syntax.rs
  helix-term/src/health.rs
  helix-term/src/ui/mod.rs
  helix-view/src/document.rs
  xtask/src/docgen.rs
  xtask/src/querycheck.rs
Labels: A-core, A-helix-term

chore: remove unused imports
  helix-term/tests/test/comments.rs
Labels: A-helix-term

fix: YAML formatting issues with injections
  helix-term/src/commands/typed.rs
Labels: A-helix-term

chore: add announcement file for PR
  announce.md
Labels: none

chore: remove log statement
  helix-core/src/comment.rs
  helix-term/tests/test/commands.rs
  lol.html
Labels: A-core, A-helix-term

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
