Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

refactor: move impl to a proper mod
  helix-term/src/ui/editor.rs
  helix-view/src/editor.rs
  helix-view/src/input.rs
Labels: A-helix-term

refactor: rename variables
  helix-view/src/input.rs
Labels: none

refactor: extract duplicated logic
  helix-core/src/textobject.rs
  helix-term/src/ui/editor.rs
Labels: A-core, A-helix-term

Add function parameter and return commands
  helix-core/src/movement.rs
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
  runtime/queries/rust/textobjects.scm
Labels: A-core, A-helix-term, A-keymap, A-tree-sitter

Change parameter insert to deal with commas
  helix-term/src/commands.rs
Labels: A-helix-term

fix: 4th click on the same spot will reset the selection
  helix-view/src/input.rs
Labels: none

chore: remove comment
  helix-view/src/input.rs
Labels: none

refactor: reverse &&
  helix-view/src/input.rs
Labels: none

chore: add documentation
  helix-view/src/input.rs
Labels: none

Review polish
  .github/workflows/release.yml
  contrib/hx_launcher.sh
  helix-term/Cargo.toml
Labels: A-helix-term

add `rockspec` to lua file types
  languages.toml
Labels: none

fix: arguments indentation in matlab
  runtime/queries/matlab/indents.scm
Labels: A-tree-sitter

chore: update matlab grammar version
  languages.toml
Labels: none

refactor: use u8 for count
  helix-view/src/input.rs
Labels: none

refactor: variable names
  helix-term/src/ui/editor.rs
  helix-view/src/input.rs
Labels: A-helix-term

fix: double click not registering after the first one
  helix-view/src/input.rs
Labels: none

Update the tree sitter to support Typst 0.12
  languages.toml
  runtime/queries/typst/injections.scm
Labels: A-tree-sitter

fix: always subtract the correct amount
  helix-term/src/commands.rs
Labels: A-helix-term

test: add from a different issue
  helix-term/tests/test/commands/insert.rs
Labels: A-helix-term

chore: remove comments
  helix-term/tests/test/commands/insert.rs
Labels: A-helix-term

chore: remove pointless replace
  helix-term/tests/test/commands/insert.rs
Labels: A-helix-term

feat: allow `mi` and `ma` to use newlines
  helix-term/src/commands.rs
Labels: A-helix-term

Reset formatting changes
  languages.toml
Labels: none

Fix a bug in matlab indentation and updates the grammar commit hash to latest (#12518)
  languages.toml
  runtime/queries/matlab/indents.scm
Labels: A-tree-sitter

add `rockspec` to lua file types (#12516)
  languages.toml
Labels: none

Fix `open_{below, above}` behaviour with multiple cursors (#12465)
  helix-term/src/commands.rs
  helix-term/tests/test/commands/insert.rs
Labels: A-helix-term

feat: search for any document line ending, not just LineFeed
  helix-term/src/commands.rs
Labels: A-helix-term

fix: several panics
  helix-term/src/commands.rs
Labels: A-helix-term

fix: off-by-one errors
  helix-term/src/commands.rs
  helix-term/tests/test/commands/insert.rs
Labels: A-helix-term

revert: undo recent changes
  helix-term/src/commands.rs
  helix-term/tests/test/commands/insert.rs
Labels: A-helix-term

refactor: insert_newline function more readable
  helix-term/src/commands.rs
Labels: A-helix-term

refactor: remove deep nesting
  helix-term/src/commands.rs
Labels: A-helix-term

refactor: more descriptive comments
  helix-term/src/commands.rs
Labels: A-helix-term

fix(core): match inside closest pair inconsitency
  helix-core/src/surround.rs
  helix-core/src/textobject.rs
  helix-term/tests/test/movement.rs
Labels: A-core, A-helix-term

fix: back to previous working implementation
  helix-term/src/commands.rs
Labels: A-helix-term

chore: continue debugging and add more comments
  helix-term/src/commands.rs
Labels: A-helix-term

fix: panic, as we can potentially remove whitespace which means negative offsets
  helix-term/src/commands.rs
Labels: A-helix-term

Add support for the Gren programming language.
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/gren/highlights.scm
  runtime/queries/gren/injections.scm
  runtime/queries/gren/locals.scm
  runtime/queries/gren/tags.scm
  runtime/queries/gren/textobjects.scm
Labels: A-tree-sitter

Use a workspace dependency for bitflags
  Cargo.toml
  helix-core/Cargo.toml
  helix-lsp-types/Cargo.toml
  helix-stdx/Cargo.toml
  helix-tui/Cargo.toml
  helix-view/Cargo.toml
Labels: A-core

Docs
  book/src/building-from-source.md
  book/src/package-managers.md
Labels: none

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
