Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

shrink_selection without history selects first contained child
  helix-core/src/object.rs
  helix-core/src/syntax/tree_cursor.rs
  helix-term/tests/test/commands/movement.rs
Labels: A-core, A-helix-term

feat: moving multiple files/directories
  book/src/generated/typable-cmd.md
  helix-term/src/commands/typed.rs
  helix-view/src/editor.rs
Labels: A-helix-term

feat: notify LSPs when moving path in File Explorer
  helix-term/src/ui/mod.rs
Labels: A-helix-term

fix: use Args struct for Args
  helix-term/src/commands/typed.rs
Labels: A-helix-term

chore: add testing files
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
  lol.html
Labels: A-helix-term, A-keymap

feat: add new params
  helix-core/src/syntax.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

chore: clean up code
  helix-core/src/comment.rs
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
Labels: A-core, A-helix-term, A-keymap

feat: use FnMut
  helix-core/src/comment.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

feat: add function to get LanguageConfiguration from a LayerId
  helix-core/src/syntax.rs
  helix-term/src/health.rs
  helix-term/src/ui/mod.rs
  helix-view/src/document.rs
  xtask/src/docgen.rs
  xtask/src/querycheck.rs
Labels: A-core, A-helix-term

feat: block comment toggle and single line comment toggle
  helix-core/src/comment.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

feat: implement toggle comment funcitonality for multiple comment tokens
  helix-core/src/comment.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

feat: gain access to injection-specific line and block comment tokens
  helix-core/src/comment.rs
  helix-core/src/syntax.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

feat: implement toggle comment for the simplest case
  helix-core/src/comment.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

test: uncomment previosly skipped tests
  helix-core/src/comment.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

feat: add typable command to get injection layer for current range
  helix-core/src/comment.rs
  helix-core/src/syntax.rs
  helix-term/src/commands/typed.rs
Labels: A-core, A-helix-term

chore: remove useless file
  lol.js
Labels: none

refactor: rename variables ,use iterator methods, separate vars for added and removed chars
  helix-core/src/comment.rs
  helix-term/src/commands.rs
  lol.js
Labels: A-core, A-helix-term

chore: move all comment integration tests into a separate module
  helix-term/tests/integration.rs
  helix-term/tests/test/commands.rs
  helix-term/tests/test/comments.rs
Labels: A-helix-term

test: add test for continuing comment in injection layers
  helix-term/tests/test/comments.rs
Labels: A-helix-term

chore: remove unused imports
  helix-term/tests/test/comments.rs
Labels: A-helix-term

fix: incorrect order of index additions
  helix-core/src/comment.rs
  helix-term/tests/test/commands.rs
  lol.html
Labels: A-core, A-helix-term

fix: commenting full lines
  helix-core/src/comment.rs
  helix-term/tests/test/comments.rs
Labels: A-core, A-helix-term

refactor: collapse 2 `map` intoa a single `map`
  helix-core/src/comment.rs
Labels: A-core

refactor: remove `pub`, use a getter instead
  helix-core/src/comment.rs
  helix-core/src/syntax.rs
Labels: A-core

fix: panic as no ranges were inserted
  announce.md
  helix-core/src/comment.rs
  helix-term/src/commands.rs
  helix-term/tests/test/commands.rs
Labels: A-core, A-helix-term

chore: add brainstorm thoughts
  helix-term/src/commands.rs
Labels: A-helix-term

chore: remove log statement
  helix-core/src/comment.rs
  helix-term/tests/test/commands.rs
  lol.html
Labels: A-core, A-helix-term

feat: upgrade `tree-sitter-injection` to show injections for entire file
  book/src/generated/typable-cmd.md
  helix-core/src/comment.rs
  helix-core/src/syntax.rs
  helix-term/src/commands/typed.rs
Labels: A-core, A-helix-term

fix: multiple selections having incorrect range and not properly accounting for comment tokens
  helix-core/src/comment.rs
  helix-term/src/commands.rs
  helix-term/tests/test/commands.rs
  lol.html
Labels: A-core, A-helix-term

chore: remove unneeded files
  announce.md
  lol.html
Labels: none

perf: get rid of a `.clone()`
  helix-core/src/comment.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

fix: many single width selections panic
  helix-term/tests/test/commands.rs
Labels: A-helix-term

chore: add announcement file for PR
  announce.md
Labels: none

fix: crash when using block comment if no block comment but yes line comment
  helix-term/src/commands.rs
Labels: A-helix-term

feat: improve presentation of tree-sitter-injections
  helix-term/src/commands/typed.rs
Labels: A-helix-term

fix: YAML formatting issues with injections
  helix-term/src/commands/typed.rs
Labels: A-helix-term

refactor: extract a separate toggle_comment_impl function
  helix-core/src/comment.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

chore: clean up code
  helix-core/src/comment.rs
  helix-core/src/syntax.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

refactor: rename variable
  helix-core/src/comment.rs
Labels: A-core

fix: panic
  helix-term/src/commands.rs
Labels: A-helix-term
