Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

Restore previous formatting
  helix-core/src/test.rs
Labels: A-core

feat(theme): add "omicron" (placeholder name)
  runtime/themes/omicron_dark.toml
  runtime/themes/omicron_light.toml
Labels: A-theme

feat: use yaml language for .bu files (#15104)
  languages.toml
Labels: none

feat: number of copied selections in statusline
  helix-term/src/ui/statusline.rs
Labels: A-helix-term

fix: alignment when indenting with spaces (#13498)
  helix-term/src/commands.rs
  helix-term/tests/test/commands/insert.rs
  helix-term/tests/test/commands/movement.rs
Labels: A-helix-term

fix(queries): `while` is `repeat` for ECMA & Java
  runtime/queries/ecma/highlights.scm
  runtime/queries/java/highlights.scm
Labels: A-tree-sitter

fix(queries): `while` is `repeat` for ECMA & Java (#15124)
  runtime/queries/ecma/highlights.scm
  runtime/queries/java/highlights.scm
Labels: A-tree-sitter

Add GitHub Actions langauge server (#15111)
  book/src/generated/lang-support.md
  languages.toml
Labels: none

deploy: e4b4c5aea9e334e12a418c1d5be0548949ff8709
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

Add language server `glsld` to `glsl` language (#15107)
  book/src/generated/lang-support.md
  languages.toml
Labels: none

Improve Caddyfile language detection (#15101)
  languages.toml
Labels: none

Update injections.scm (#15098)
  runtime/queries/vento/injections.scm
Labels: A-tree-sitter

feat(theme): add "omicron" (placeholder name) (#14809)
  runtime/themes/omicron_dark.toml
  runtime/themes/omicron_light.toml
Labels: A-theme

deploy: 733617099b6e7a993fdc2d9326c8aace025e3067
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

build(deps): bump `unicode-width` from `=0.1.12` to `=0.1.14` (#14643)
  Cargo.lock
  helix-core/Cargo.toml
  helix-core/src/graphemes.rs
Labels: A-core

Add scdoc syntax highlighting
  languages.toml
  runtime/queries/scdoc/highlights.scm
Labels: A-tree-sitter

fix(indent-guides): remediate diagnostics not rendering indentation lines
  book/src/editor.md
  helix-term/src/ui/document.rs
  helix-term/src/ui/editor.rs
  helix-term/src/ui/text_decorations/diagnostics.rs
  helix-view/src/editor.rs
Labels: A-helix-term

Fix verilog/systemverilog LSPs
  book/src/generated/lang-support.md
  languages.toml
Labels: none

fix!(view): reject bogus `len` & "+" prefix in hex strs
  helix-view/src/graphics.rs
  helix-view/src/theme.rs
Labels: none

feat(view): shorthand hex color support
  helix-view/src/graphics.rs
  helix-view/src/theme.rs
Labels: none

fix(theme): Malformed hexcode in `ashokai_urple`
  runtime/themes/ashokai_urple.toml
Labels: A-theme

fix!(theme): reject colors that aren't {12,24}bit RGB
  helix-term/src/ui/completion.rs
  helix-view/src/graphics.rs
  helix-view/src/theme.rs
Labels: A-helix-term

fix(themes): remove alpha channel
  runtime/themes/ataraxia.toml
  runtime/themes/aura-dark-soft.toml
  runtime/themes/aura-dark.toml
  runtime/themes/aurara.toml
  runtime/themes/github_dark.toml
  runtime/themes/github_dark_colorblind.toml
  runtime/themes/github_dark_dimmed.toml
  runtime/themes/github_dark_high_contrast.toml
  runtime/themes/github_dark_tritanopia.toml
  runtime/themes/github_light.toml
  runtime/themes/github_light_colorblind.toml
  runtime/themes/github_light_high_contrast.toml
  runtime/themes/github_light_tritanopia.toml
  runtime/themes/night_rider.toml
  runtime/themes/nyxvamp-transparent.toml
  runtime/themes/poimandres.toml
  runtime/themes/vesper.toml
  runtime/themes/zed_onedark.toml
  runtime/themes/zed_onelight.toml
Labels: A-theme

Fix some more issues in the Adwaita themes
  runtime/themes/adwaita-dark.toml
  runtime/themes/adwaita-light.toml
Labels: A-theme

Use config setting editor.search.wrap-around for goto_next_change and goto_prev_change
  book/src/editor.md
  helix-term/src/commands.rs
Labels: A-helix-term

Simplify code according to cargo clippy
  helix-term/src/commands.rs
Labels: A-helix-term

Add test for directory_with_git_ignore
  helix-term/src/commands/dap.rs
  helix-term/src/ui/mod.rs
Labels: A-helix-term

Include symlinks to directories in cd command (#15090)
  helix-term/src/ui/mod.rs
Labels: A-helix-term

feat(theme) Add Kanagawa-lotus theme, light variant of kanagawa
  runtime/themes/kanagawa-lotus.toml
Labels: A-theme

fix: indent guides and git gutters not rendering on virtual Lines
  helix-term/src/ui/document.rs
  helix-term/src/ui/text_decorations.rs
  helix-view/src/gutter.rs
Labels: A-helix-term

Fix highlighting for new github-action language
  book/src/generated/lang-support.md
  runtime/queries/github-action/highlights.scm
  runtime/queries/github-action/indents.scm
  runtime/queries/github-action/injections.scm
  runtime/queries/github-action/rainbows.scm
  runtime/queries/github-action/textobjects.scm
  runtime/queries/yaml/injections.scm
Labels: A-tree-sitter

Fix windows test build
  helix-term/src/ui/mod.rs
Labels: A-helix-term

Add missing docs anchor for new `[editor.file-explorer]` section
  book/src/editor.md
Labels: none

Add Akari theme (dark and light variants)
  runtime/themes/akari-dawn.toml
  runtime/themes/akari-night.toml
  runtime/themes/licenses/akari.license
Labels: A-theme

Add `.stylelintrc` and `.puppeteerrc` files to `yaml` language
  languages.toml
Labels: none

Add language server `nu-lint` for `nu` language
  book/src/generated/lang-support.md
  languages.toml
Labels: none

Fix highlighting for new github-action language (#15137)
  book/src/generated/lang-support.md
  runtime/queries/github-action/highlights.scm
  runtime/queries/github-action/indents.scm
  runtime/queries/github-action/injections.scm
  runtime/queries/github-action/rainbows.scm
  runtime/queries/github-action/textobjects.scm
  runtime/queries/yaml/injections.scm
Labels: A-tree-sitter

deploy: 034c36f6357376294af1eafd98a4d3fa6efd9d71
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

add some missing comment injections, misc query cleanup (#15116)
  book/src/generated/lang-support.md
  runtime/queries/ada/injections.scm
  runtime/queries/forth/injections.scm
  runtime/queries/ghostty/highlights.scm
  runtime/queries/ghostty/injections.scm
  runtime/queries/git-config/injections.scm
  runtime/queries/git-ignore/injections.scm
  runtime/queries/glimmer/injections.scm
  runtime/queries/graphql/injections.scm
  runtime/queries/ini/injections.scm
  runtime/queries/json5/injections.scm
  runtime/queries/jsonc/injections.scm
  runtime/queries/meson/injections.scm
  runtime/queries/nim/injections.scm
  runtime/queries/ripple/brackets.scm
  runtime/queries/ripple/outline.scm
  runtime/queries/ripple/rainbows.scm
  runtime/queries/ripple/tags.scm
  runtime/queries/scheme/injections.scm
  runtime/queries/systemd/injections.scm
  runtime/queries/vala/injections.scm
Labels: A-tree-sitter

deploy: 645f1669513059444f66abaffb5ed24e8ddb4085
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none
