Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

Add a serializer for the jump alphabet config option (#10156)
  helix-view/src/editor.rs
Labels: none

remove redundant imports (#10154)
  helix-dap/src/client.rs
  helix-lsp/src/client.rs
  helix-term/src/commands/typed.rs
  helix-view/src/clipboard.rs
Labels: A-debug-adapter, A-helix-term, A-language-server

Use an enum to represent yank decision during deletion of a selection (#10148)
  helix-term/src/commands.rs
Labels: A-helix-term

Opening a file at its last line will match going to the last line
  helix-term/src/application.rs
Labels: A-helix-term

Fixed #9334
  runtime/queries/python/highlights.scm
Labels: A-tree-sitter

rm non-standard deno/bun hist recognition
  languages.toml
Labels: none

Handle partial failure when sending textDocument/didSave
  helix-view/src/document.rs
Labels: none

fix lints errors
  helix-term/src/commands.rs
  helix-view/src/tree.rs
Labels: A-helix-term

Add new keyword as per PEP 695
  runtime/queries/python/highlights.scm
Labels: A-tree-sitter

Remove duplicate keyword highlight for Python 'and' (#10160)
  runtime/queries/python/highlights.scm
Labels: A-tree-sitter

Add new keyword as per PEP 695 (#10165)
  runtime/queries/python/highlights.scm
Labels: A-tree-sitter

Add angular language server
  languages.toml
Labels: none

Merge unnecessary/deprecated diagnostic highlights separately (#10084)
  helix-term/src/ui/editor.rs
Labels: A-helix-term

Add koka language server and update grammar (#10119)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/koka/highlights.scm
  runtime/queries/koka/indents.scm
Labels: A-tree-sitter

deploy: a2ee2e66f2725fbd2d595d43c58ebf43ef9e9383
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

typo
  helix-term/src/ui/statusline.rs
Labels: A-helix-term

recognize more files and shebangs (#10120)
  languages.toml
Labels: none

escape paths correctly when loading the modules
  helix-term/src/commands/engine/steel.rs
  xtask/src/main.rs
Labels: A-helix-term

Fix crash on lsp text edits with invalid ranges (#9649)
  helix-lsp/src/lib.rs
Labels: A-language-server

Theme: Kanagawa Dragon
  runtime/themes/kanagawa-dragon.toml
  runtime/themes/zed_onedark.toml
  runtime/themes/zed_onelight.toml
Labels: A-theme

Handle partial failure when sending textDocument/didSave (#10168)
  helix-view/src/document.rs
Labels: none

add jump-label
  runtime/themes/dark_high_contrast.toml
Labels: A-theme

Add jump-label style for dark high contrast (#10102)
  runtime/themes/dark_high_contrast.toml
Labels: A-theme

Add lldb-dap debugger support for Odin
  languages.toml
Labels: none

Allow multiple language server with lsp-workspace-command
  helix-term/src/commands/typed.rs
  helix-term/src/ui/mod.rs
Labels: A-helix-term

helix-term: Update test to not use absent partial history
  helix-term/tests/test/prompt.rs
Labels: A-helix-term

helix-term: Add "partial" history to the prompt
  helix-term/src/ui/prompt.rs
Labels: A-helix-term

helix-term: Switch to using substring instead of prefix for partial history
  helix-term/src/ui/prompt.rs
Labels: A-helix-term

helix-term: Provide some visual feedback for the substring match in history
  helix-term/src/ui/prompt.rs
Labels: A-helix-term

goto-file: adjust valid chars
  helix-term/src/commands.rs
Labels: A-helix-term

fix: correctly open URLs surrounded by `<>`
  helix-term/src/commands.rs
Labels: A-helix-term

bugfix: cannot scroll until the end inside a popup
  helix-term/src/ui/popup.rs
Labels: A-helix-term

Improve `goto_file_impl` (#9065)
  helix-term/src/commands.rs
  helix-term/tests/test/commands.rs
Labels: A-helix-term

add yd as alias for yank_diagnostic
  helix-term/src/commands/typed.rs
Labels: A-helix-term

add Range::{from_node,into_byte_range}
  helix-core/src/selection.rs
Labels: A-core

feat(command): select_all_children
  helix-core/src/object.rs
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
  helix-term/tests/test/commands/movement.rs
Labels: A-core, A-helix-term, A-keymap

feat(command): select_all_siblings
  helix-core/src/object.rs
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
  helix-term/tests/test/commands/movement.rs
Labels: A-core, A-helix-term, A-keymap

feat(themes): add ruler for `adwaita-dark`
  runtime/themes/adwaita-dark.toml
Labels: A-theme

refactor(themes): removed `ui.highlight` effects from `solarized_dark`
  runtime/themes/solarized_dark.toml
Labels: A-theme

Add angular language server (#10166)
  languages.toml
Labels: none

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
