Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

chore: appease clippy
  helix-term/src/commands/lsp.rs
Labels: A-helix-term

docs: for hover_dump
  book/src/keymap.md
Labels: none

docs: generate entry for `hover_dump`
  book/src/generated/static-cmd.md
Labels: none

fix: resolve merge conflicts
  helix-term/src/commands/lsp.rs
  helix-term/src/ui/lsp/hover.rs
Labels: A-helix-term

fix: correct language server number in preview string
  helix-term/src/ui/lsp/hover.rs
Labels: A-helix-term

fix: resolve conflicts
  helix-term/src/ui/lsp/hover.rs
Labels: A-helix-term

fix: add some newlines
  helix-term/src/ui/lsp/hover.rs
Labels: A-helix-term

perf: get rid of several clones
  helix-term/src/commands/lsp.rs
  helix-term/src/ui/lsp/hover.rs
  helix-term/src/ui/markdown.rs
Labels: A-helix-term

refactor: rename variable
  helix-term/src/ui/lsp/hover.rs
Labels: A-helix-term

Join input and wait tasks in external formatter Tokio command
  helix-view/src/document.rs
Labels: none

style: cargo fmt
  helix-term/src/commands/lsp.rs
Labels: A-helix-term

feat: add roxygen header comment token
  languages.toml
Labels: none

Document installation of rust-analyzer via rustup
  docs/CONTRIBUTING.md
Labels: none

Recognize `.sublime-*` files
  languages.toml
Labels: none

Use the first char in a grapheme for classification (#12483)
  helix-core/src/doc_formatter/test.rs
  helix-core/src/graphemes.rs
Labels: A-core

Recognize `.sublime-*` files (#12750)
  languages.toml
Labels: none

Highlight $ template literals as shell commands
  runtime/queries/ecma/injections.scm
Labels: A-tree-sitter

Highlight $ template literals as shell commands (#12751)
  runtime/queries/ecma/injections.scm
Labels: A-tree-sitter

Use the slotmap workspace dependency in helix-view
  helix-view/Cargo.toml
Labels: none

core: Add a provider type to track the origin of a completion
  helix-core/src/completion.rs
  helix-term/src/handlers/completion/path.rs
Labels: A-core, A-helix-term

minor: Move `CompletionEvent` to a new completion handler module
  helix-term/src/handlers/completion.rs
  helix-view/src/handlers.rs
  helix-view/src/handlers/completion.rs
  helix-view/src/handlers/lsp.rs
Labels: A-helix-term

LSP: Remove future wrapper from `Client::notify`, `Client::reply`
  helix-lsp/src/client.rs
  helix-lsp/src/file_event.rs
  helix-lsp/src/lib.rs
  helix-term/src/application.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-helix-term, A-language-server

LSP: Eagerly send requests in `Client::request`
  helix-lsp/src/client.rs
Labels: A-language-server

Add a completion handler type in helix-view for tracking responses
  helix-view/src/handlers/completion.rs
Labels: none

implement incomplete completion requests
  helix-term/src/handlers.rs
  helix-term/src/handlers/completion.rs
  helix-term/src/handlers/completion/item.rs
  helix-term/src/handlers/completion/path.rs
  helix-term/src/handlers/completion/request.rs
  helix-term/src/ui/completion.rs
  helix-term/src/ui/editor.rs
  helix-term/src/ui/menu.rs
  helix-view/src/handlers.rs
Labels: A-helix-term

Document installation of rust-analyzer via rustup (#12618)
  docs/CONTRIBUTING.md
Labels: none

feat(lang:r): Add roxygen header comment token (#12748)
  languages.toml
Labels: none

ui: Expose the 'prompt' module
  helix-term/src/ui/mod.rs
Labels: A-helix-term

core: Make completion item documentation optional
  helix-core/src/completion.rs
  helix-term/src/handlers/completion/path.rs
  helix-term/src/ui/completion.rs
Labels: A-core, A-helix-term

Add support for yara language
  languages.toml
  runtime/queries/yara/highlights.scm
  runtime/queries/yara/injections.scm
  runtime/queries/yara/locals.scm
Labels: A-tree-sitter

book: update lang-support for yara
  book/src/generated/lang-support.md
Labels: none

docgen
  book/src/generated/lang-support.md
Labels: none

feat: Diff source caching and autodetection
  Cargo.lock
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-vcs/Cargo.toml
  helix-vcs/src/git.rs
  helix-vcs/src/git/test.rs
  helix-vcs/src/lib.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-helix-term, A-vcs

feat: vcs: support Jujutsu as a diff-provider
  helix-term/Cargo.toml
  helix-vcs/Cargo.toml
  helix-vcs/src/jj.rs
  helix-vcs/src/lib.rs
  helix-vcs/src/status.rs
Labels: A-helix-term, A-vcs

Show aliases in the command palette
  helix-term/src/commands.rs
Labels: A-helix-term

Add Tera templating language support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/tera/highlights.scm
  runtime/queries/tera/injections.scm
  runtime/queries/tera/locals.scm
Labels: A-tree-sitter

Update highlights.scm
  runtime/queries/tera/highlights.scm
Labels: A-tree-sitter

upgrade steel
  Cargo.lock
Labels: none

feat: add zebra-stripe option
  helix-term/src/ui/editor.rs
  helix-view/src/editor.rs
Labels: A-helix-term

queries: Add 'not-eq' and 'not-match' predicates to TSQ highlights
  runtime/queries/tsq/highlights.scm
Labels: A-tree-sitter
