Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

added live_grep by getting the debounce of global_search as a parameter
  book/src/generated/static-cmd.md
  helix-term/src/commands.rs
Labels: A-helix-term

allow class lines to be optional in coverage xml
  helix-view/src/coverage.rs
Labels: none

feat: sync catppuccin theme changes
  runtime/themes/catppuccin_mocha.toml
Labels: A-theme

fix coverage optional class lines
  helix-view/src/coverage.rs
Labels: none

feat: add ! alias for sh and | for pipe
  helix-term/src/commands/typed.rs
Labels: A-helix-term

better logging for coverage
  helix-view/src/coverage.rs
  helix-view/src/gutter.rs
Labels: none

Update category keywords from suggestions
  runtime/queries/fennel/highlights.scm
Labels: A-tree-sitter

Fix Fennel highlighting: @module.builtin -> @variable.builtin
  runtime/queries/fennel/highlights.scm
Labels: A-tree-sitter

fixed: typo in capture group, removed duplicate query
  runtime/queries/ada/highlights.scm
Labels: A-tree-sitter

refactor: uneeded string conversion for Display type
  helix-view/src/document.rs
Labels: none

refactor: change empty check to `is_empty` instead of `len > 0`
  helix-term/src/ui/prompt.rs
Labels: A-helix-term

perf: use `next_back` on `DoubleEndedIterator`
  helix-core/src/test.rs
  helix-lsp/src/client.rs
  helix-view/src/register.rs
Labels: A-core, A-language-server

refactor: rename macro
  helix-stdx/src/str.rs
  helix-stdx/src/time.rs
Labels: none

Add WESL language
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/wesl/highlights.scm
  runtime/queries/wesl/injections.scm
  runtime/queries/wesl/locals.scm
  runtime/queries/wesl/textobjects.scm
Labels: A-tree-sitter

refactor: remove unneeded fields on Editor
  helix-term/src/ui/mod.rs
  helix-term/src/ui/picker.rs
  helix-term/src/ui/prompt.rs
  helix-view/src/editor.rs
Labels: A-helix-term

refactor: extract file explorer into a separate module
  helix-term/src/ui/file_explorer.rs
  helix-term/src/ui/mod.rs
Labels: A-helix-term

refactor: create Editor::set_result
  helix-term/src/ui/file_explorer.rs
  helix-view/src/editor.rs
Labels: A-helix-term

feat: move cursor of `move` file explorer operation before the extension
  helix-term/src/ui/file_explorer.rs
Labels: A-helix-term

Divide keywords into subcategories
  runtime/queries/wesl/highlights.scm
Labels: A-tree-sitter

Track position correctly for peeked grapheme
  helix-core/src/doc_formatter.rs
  helix-core/src/doc_formatter/test.rs
Labels: A-core

book: avoid uncomfortable flow disruption
  book/src/building-from-source.md
Labels: none

feat: add --record-keys flag to record keystrokes
  helix-term/src/application.rs
  helix-term/src/args.rs
  helix-term/src/main.rs
Labels: A-helix-term

add fnlm file type
  languages.toml
Labels: none

ci: add arm64 runner
  .github/workflows/build.yml
Labels: none

try: bust tree-sitter grammer cache
  .github/workflows/build.yml
Labels: none

feat: added lsp for just
  book/src/generated/lang-support.md
  languages.toml
Labels: none

chore(msrv): bump from 1.76 to 1.82
  .github/workflows/build.yml
  Cargo.toml
  helix-event/src/test.rs
  helix-lsp-types/src/lib.rs
  helix-stdx/tests/path.rs
  rust-toolchain.toml
Labels: none

feat(gdscript): add language server support
  book/src/generated/lang-support.md
  languages.toml
Labels: none

Update grammar and simplify capture in `highlights.scm`
  languages.toml
  runtime/queries/prolog/highlights.scm
Labels: A-tree-sitter

book: avoid uncomfortable flow disruption (#13271)
  book/src/building-from-source.md
Labels: none

deploy: 2bb0d52f3ebed216e56294f5f06c21d2613d292a
  master/building-from-source.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

feat: added lsp for just (#13276)
  book/src/generated/lang-support.md
  languages.toml
Labels: none

deploy: d0c5a2044d9e6b25740031c25689155c2b38c547
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

minor: drop 'spell' capture from highlights
  runtime/queries/prolog/highlights.scm
Labels: A-tree-sitter

Add Prolog tree-sitter grammar (#11611)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/prolog/folds.scm
  runtime/queries/prolog/highlights.scm
  runtime/queries/prolog/indents.scm
  runtime/queries/prolog/injections.scm
Labels: A-tree-sitter

deploy: 1fc19c6d8e1d4eeeb6d3afad56e4f92d2c2c3af1
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

minor: Migrate from Repository::work_dir to Repository::workdir
  helix-vcs/src/git.rs
Labels: A-vcs

fixed: typo in capture group, removed duplicate query (#13251)
  runtime/queries/ada/highlights.scm
Labels: A-tree-sitter

refactor: change empty check to `is_empty` instead of `len > 0`
  helix-term/src/ui/prompt.rs
Labels: A-helix-term

perf: use `next_back` on `DoubleEndedIterator`
  helix-core/src/test.rs
  helix-lsp/src/client.rs
  helix-view/src/register.rs
Labels: A-core, A-language-server

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
