Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

Restrict tagged template language injections for ecma
  runtime/queries/ecma/injections.scm
Labels: A-tree-sitter

feat: basic implementation for sub-docs
  helix-term/src/commands/typed.rs
Labels: A-helix-term

fix: compiler errors, all sub-docs are set to None temporarily
  helix-term/src/commands/typed.rs
Labels: A-helix-term

fix #12165
  helix-term/src/commands.rs
Labels: A-helix-term

add integration tests for `open_above`
  helix-term/tests/test/commands/insert.rs
Labels: A-helix-term

feat: use shorthand mnemonic for Norm
  book/src/getting-started.md
Labels: none

feat: Insert mnemonic
  book/src/getting-started.md
Labels: none

feat: new interface using HashMap
  helix-term/src/commands/typed.rs
Labels: A-helix-term

feat: use new solution for displaying custom documentation
  helix-term/src/commands/typed.rs
Labels: A-helix-term

Add `buffer-close-left`, `buffer-close-right`, and `force` versions
  helix-term/src/commands/typed.rs
Labels: A-helix-term

feat: add some basic doc for options
  helix-term/src/commands/typed.rs
Labels: A-helix-term

implement incomplete completion requests
  helix-core/src/completion.rs
  helix-lsp/src/client.rs
  helix-term/src/handlers.rs
  helix-term/src/handlers/completion.rs
  helix-term/src/handlers/completion/item.rs
  helix-term/src/handlers/completion/path.rs
  helix-term/src/handlers/completion/request.rs
  helix-term/src/ui/completion.rs
  helix-term/src/ui/editor.rs
  helix-term/src/ui/menu.rs
  helix-view/Cargo.toml
  helix-view/src/document.rs
  helix-view/src/handlers.rs
  helix-view/src/handlers/lsp.rs
Labels: A-core, A-helix-term, A-language-server

renaming vars and add some more comments
  helix-term/src/commands.rs
Labels: A-helix-term

remove unused variable
  helix-term/src/commands.rs
Labels: A-helix-term

feat: config option for toggling diagnostics
  helix-term/src/commands/typed.rs
  helix-term/src/ui/editor.rs
  helix-view/src/editor.rs
  helix-view/src/gutter.rs
  helix-view/src/handlers/diagnostics.rs
  helix-view/src/tree.rs
  helix-view/src/view.rs
Labels: A-helix-term

feat: attempt at getting config option to disable diagnostics working
  helix-term/src/handlers/diagnostics.rs
  helix-term/src/ui/editor.rs
  helix-view/src/editor.rs
  helix-view/src/handlers/diagnostics.rs
Labels: A-helix-term

feat: complete implementation for toggle diagnostics option
  book/src/editor.md
  book/src/generated/typable-cmd.md
  helix-term/src/ui/editor.rs
  helix-view/src/handlers/diagnostics.rs
Labels: A-helix-term

Address review comments
  helix-core/src/syntax.rs
Labels: A-core

fix: do not use a Cell for self.active
  helix-term/src/handlers/diagnostics.rs
  helix-view/src/handlers/diagnostics.rs
Labels: A-helix-term

cargo fmt
  helix-core/src/syntax.rs
Labels: A-core

feat(shellwords): add `args_count` to `Args`
  helix-core/src/shellwords.rs
  helix-term/src/commands/typed.rs
Labels: A-core, A-helix-term

fix: do not pass extra argument
  helix-view/src/editor.rs
  helix-view/src/gutter.rs
  helix-view/src/handlers/diagnostics.rs
  helix-view/src/tree.rs
  helix-view/src/view.rs
Labels: none

fix(commands): default to `line_ending` for `yank_join` when args are empty
  helix-term/src/commands.rs
Labels: A-helix-term

fix: Respect workspace-lsp-roots on doc opening
  helix-lsp/src/lib.rs
Labels: A-language-server

refactor: evaluate enable_diagnostics first
  book/src/editor.md
  helix-term/src/ui/editor.rs
Labels: A-helix-term

Add JSON, SQL, JS, TS, and Bash to allow list
  runtime/queries/ecma/injections.scm
Labels: A-tree-sitter

typo
  book/src/editor.md
Labels: none

typo (#12224)
  book/src/editor.md
Labels: none

deploy: a1a5faebef64a82f51e8c28ada299773e26174ab
  master/editor.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

Migrate to an improved proto grammar.
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/proto/highlights.scm
  runtime/queries/proto/indents.scm
  runtime/queries/proto/injections.scm
  runtime/queries/proto/textobjects.scm
  runtime/queries/protobuf/highlights.scm
  runtime/queries/protobuf/indents.scm
  runtime/queries/protobuf/textobjects.scm
Labels: A-tree-sitter

Update book/src/editor.md
  book/src/editor.md
Labels: none

helix-lsp-types: Remove Cargo.lock
  helix-lsp-types/Cargo.lock
Labels: none

change `continue_comment` config name
  helix-term/src/commands.rs
  helix-view/src/editor.rs
Labels: A-helix-term

Add config option for continue commenting (#12213)
  book/src/editor.md
  helix-term/src/commands.rs
  helix-view/src/editor.rs
Labels: A-helix-term

deploy: 5005c14e99ff5037ed29a8c0a9119a564943c768
  master/editor.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

Added check for treesitter-parser in --health
  helix-term/src/health.rs
Labels: A-helix-term

dockerfile: bump tree-sitter grammar to gain support for heredocs
  languages.toml
  runtime/queries/dockerfile/highlights.scm
Labels: A-tree-sitter

doc: fix default value in doc for `continue-comments`
  book/src/editor.md
Labels: none

doc: fix default value in doc for `continue-comments` (#12235)
  book/src/editor.md
Labels: none

deploy: 51ac3e05e0684f5a2516be74c7bfc24c1fbf2ab0
  master/editor.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none
