Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

fix rebase
  helix-view/src/input.rs
Labels: none

fix lints
  helix-term/build.rs
  helix-view/build.rs
Labels: A-helix-term

feat: hidapi to listen keyboard events
  helix-term/Cargo.toml
  helix-term/build.rs
  helix-view/Cargo.toml
  helix-view/build.rs
  helix-view/src/scancode.rs
Labels: A-helix-term

cargo fmt
  helix-view/build.rs
Labels: none

clippy
  helix-view/src/input.rs
Labels: none

evdev to fetch keyboard events
  helix-term/Cargo.toml
  helix-term/build.rs
  helix-term/src/commands.rs
  helix-term/src/ui/editor.rs
  helix-view/Cargo.toml
  helix-view/build.rs
  helix-view/src/editor.rs
  helix-view/src/lib.rs
  helix-view/src/scancode.rs
Labels: A-helix-term

fix: rename var
  helix-view/src/scancode.rs
Labels: none

style: format
  helix-term/build.rs
  helix-view/build.rs
Labels: A-helix-term

Update Cargo.lock
  Cargo.lock
Labels: none

fix: shifted char for scancode 53
  helix-view/src/scancode.rs
Labels: none

Update Cargo.lock
  Cargo.lock
Labels: none

fix(theme): correct goto_word and comments background in `flatwhite.toml` (#14348)
  runtime/themes/flatwhite.toml
Labels: A-theme

feat(languages): detect more vim file-types
  languages.toml
Labels: none

updating github releases, so we know which builds are created on which date
  .github/workflows/release.yml
Labels: none

make `:sh` display both stderr & stdout
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
Labels: A-helix-term

add auto-generated docs
  book/src/generated/typable-cmd.md
  helix-term/src/commands/typed.rs
Labels: A-helix-term

add `:pipe-on-success`
  helix-term/src/commands/typed.rs
Labels: A-helix-term

handle multi-cursor stderr's popup
  helix-term/src/commands.rs
Labels: A-helix-term

display status_error on failure if `on_success` is true
  helix-term/src/commands.rs
Labels: A-helix-term

minor refactor
  helix-term/src/commands.rs
Labels: A-helix-term

add docs for `pipe-on-success`
  book/src/command-line.md
  book/src/generated/typable-cmd.md
  helix-term/src/commands/typed.rs
Labels: A-helix-term

create popup of stderrr only if `popup_stderr` is true
  helix-term/src/commands.rs
Labels: A-helix-term

show stderr popup for `shell_pipe_to` command
  helix-term/src/commands.rs
Labels: A-helix-term

only trim_end of displayed stderr & stdout
  helix-term/src/commands.rs
Labels: A-helix-term

Change `:pipe-on-success` to replace only successful selections
  helix-term/src/commands.rs
Labels: A-helix-term

feat(languages): detect more vim file-types (#14365)
  languages.toml
Labels: none

language support for strictdoc (#14314)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/strictdoc/highlights.scm
  runtime/queries/strictdoc/injections.scm
  runtime/queries/strictdoc/tags.scm
Labels: A-tree-sitter

deploy: 68f11f9324e529b678206b84a15b4c9481d0df11
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

feat(core): add `tree-sitter-breadcrumbs` command
  Cargo.lock
  helix-core/src/indent.rs
  helix-term/src/commands/typed.rs
Labels: A-core, A-helix-term

feat(core): add relative line to breadcrumb output
  helix-core/src/indent.rs
Labels: A-core

doc(core): add ` tree-sitter-breadcrumbs` documentation
  book/src/generated/typable-cmd.md
Labels: none

feat(ruby): inject bash into builtin ways of running system commands
  runtime/queries/ruby/injections.scm
Labels: A-tree-sitter

feat(ruby): inject bash into builtin ways of running system commands (#14372)
  runtime/queries/ruby/injections.scm
Labels: A-tree-sitter

add deb package for aarch64 and riscv64
  .cargo/config.toml
  .github/workflows/release.yml
Labels: none

super basic indents.scm, based on {} blocks
  runtime/queries/nu/indents.scm
Labels: A-tree-sitter

cargo xtask
  book/src/generated/lang-support.md
Labels: none

Fix formatting for tutor.
  runtime/tutor
Labels: none

record and closure blocks
  runtime/queries/nu/indents.scm
Labels: A-tree-sitter

this actually works
  runtime/queries/nu/indents.scm
Labels: A-tree-sitter

fish injection query for nu, on `nu -c`
  runtime/queries/fish/injections.scm
Labels: A-tree-sitter

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
