Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

Fix grapheme indexing
  helix-core/src/doc_formatter.rs
  helix-term/tests/test/commands.rs
Labels: A-core, A-helix-term

Handle single-line comment prefixes in :reflow.
  helix-core/src/doc_formatter.rs
  helix-core/src/doc_formatter/test.rs
  helix-term/src/commands/typed.rs
  helix-term/tests/test/commands.rs
  helix-view/src/annotations/diagnostics.rs
  helix-view/src/document.rs
Labels: A-core, A-helix-term

Separate reflow from DocumentFormatter
  helix-core/src/doc_formatter.rs
  helix-term/src/commands/typed.rs
  helix-term/tests/test/commands.rs
Labels: A-core, A-helix-term

Impl refactoring view
  helix-term/src/commands.rs
  helix-term/src/ui/editor.rs
  helix-term/src/ui/statusline.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-helix-term

feat: number of copied selections in statusline
  helix-term/src/ui/statusline.rs
Labels: A-helix-term

Fix typo in helix-tui text module docs (#13860)
  helix-tui/src/text.rs
Labels: none

Re-detect `.editorconfig` on `:config-reload` (#13443)
  helix-term/src/application.rs
  helix-view/src/document.rs
Labels: A-helix-term

feat: Inject markdown into Go's block documentation comments
  runtime/queries/go/injections.scm
Labels: A-tree-sitter

fix: Highlight `'x'` as a character in Go
  runtime/queries/go/highlights.scm
Labels: A-tree-sitter

Add "Dark Synthwave" theme (#13857)
  runtime/themes/dark-synthwave.toml
  runtime/themes/licenses/dark-synthwave.license
Labels: A-theme

minor fixes
  runtime/queries/caddyfile/highlights.scm
  runtime/queries/caddyfile/locals.scm
Labels: A-tree-sitter

helix-view: expand primary selection line range in shell commands (#13840)
  book/src/command-line.md
  helix-view/src/expansion.rs
Labels: none

deploy: 0ca12250bc60f8266ce639e9d6f7d7ae0fc2983c
  master/command-line.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

languages: add Caddyfile support (#13859)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/caddyfile/highlights.scm
  runtime/queries/caddyfile/indents.scm
  runtime/queries/caddyfile/injections.scm
  runtime/queries/caddyfile/locals.scm
  runtime/queries/caddyfile/textobjects.scm
Labels: A-tree-sitter

deploy: 91dff9393dc53dc6214b7fb50882f5c55c8837d9
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

docs: escape pipe in typeable command name
  book/src/generated/typable-cmd.md
  xtask/src/docgen.rs
Labels: none

docs: escape pipe in typeable command name (#13869)
  book/src/generated/typable-cmd.md
  xtask/src/docgen.rs
Labels: none

deploy: e5f9937c1d960f4643d6a4431ffa5dd396b26d55
  master/commands.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

feat: WIP quickfix keybind
  helix-term/src/commands.rs
  helix-term/src/ui/picker.rs
  helix-view/src/document.rs
Labels: A-helix-term

it works! (ish)
  helix-term/src/commands.rs
Labels: A-helix-term

fix newlines
  helix-term/src/commands.rs
Labels: A-helix-term

fix syntax highlighting
  helix-term/src/commands.rs
Labels: A-helix-term

feat: functional gutter
  helix-term/src/commands.rs
  helix-term/src/ui/editor.rs
  helix-term/src/ui/statusline.rs
  helix-view/src/document.rs
  helix-view/src/gutter.rs
Labels: A-helix-term

style: misc nits
  book/src/generated/static-cmd.md
  helix-term/src/commands.rs
  helix-term/src/ui/picker.rs
Labels: A-helix-term

fix: more nits
  helix-term/src/commands.rs
  helix-term/src/ui/picker.rs
Labels: A-helix-term

queries: Fix precedence of Fennel highlights
  runtime/queries/fennel/highlights.scm
Labels: A-tree-sitter

fix: empty editor.jump-label-alphabet doesn't lead to a crash anymore
  helix-term/src/commands.rs
Labels: A-helix-term

Fix panic in `goto_word` when `editor.jump-label-alphabet` is empty (#13863)
  helix-term/src/commands.rs
Labels: A-helix-term

feat(config): add `editor.inline-diagnostics.timeout`
  helix-view/src/annotations/diagnostics.rs
  helix-view/src/editor.rs
  helix-view/src/gutter.rs
  helix-view/src/handlers/diagnostics.rs
  helix-view/src/tree.rs
  helix-view/src/view.rs
Labels: none

languages: add Java .properties file support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/properties/highlights.scm
  runtime/queries/properties/injections.scm
  runtime/queries/properties/locals.scm
  runtime/queries/properties/textobjects.scm
Labels: A-tree-sitter

Wrote editor doc for inline diagnostic timeout
  book/src/editor.md
Labels: none

feat: rename `-x` short flag to `-e`
  contrib/completion/hx.bash
  contrib/completion/hx.elv
  contrib/completion/hx.fish
  contrib/completion/hx.nu
  contrib/completion/hx.zsh
  helix-term/src/args.rs
  helix-term/src/main.rs
Labels: A-helix-term

chore: Add locals.scm for C. Improve C parameter highlights
  runtime/queries/c/highlights.scm
  runtime/queries/c/locals.scm
Labels: A-tree-sitter

chore: Update highlights for Odin
  runtime/queries/odin/highlights.scm
Labels: A-tree-sitter

queries: Update highlights for Odin (#13877)
  runtime/queries/odin/highlights.scm
Labels: A-tree-sitter

queries: Add locals.scm for C. Improve C parameter highlights (#13876)
  runtime/queries/c/highlights.scm
  runtime/queries/c/locals.scm
Labels: A-tree-sitter

feat: add language filtering to hx --health
  contrib/completion/hx.bash
  contrib/completion/hx.fish
  contrib/completion/hx.nu
  contrib/completion/hx.zsh
  helix-loader/src/grammar.rs
  helix-term/src/health.rs
  helix-term/src/main.rs
Labels: A-helix-term

fix: alignment when indenting with spaces (#13498)
  helix-term/src/commands.rs
  helix-term/tests/test/commands/insert.rs
  helix-term/tests/test/commands/movement.rs
Labels: A-helix-term

fixup! languages: add Java .properties file support
  runtime/queries/properties/locals.scm
Labels: A-tree-sitter

fixup! queries: add textobjects for qml
  runtime/queries/qml/textobjects.scm
Labels: A-tree-sitter
