Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

attempt to get nix working
  flake.lock
  flake.nix
  rust-toolchain.toml
Labels: none

use embedded dependencies instead of depending on external code generated ones
  Cargo.lock
  Cargo.toml
  helix-term/Cargo.toml
  helix-term/src/commands/engine/steel.rs
Labels: A-helix-term

update steel to have fixed language server
  Cargo.lock
Labels: none

fix: switch onedark ui.text.directory foreground to red
  runtime/themes/onedark.toml
Labels: A-theme

fix: Use correct condition to determine if buffer is shown in another split
  helix-view/src/editor.rs
Labels: none

Add commands `save-splits` and `load-splits`.
  book/src/generated/typable-cmd.md
  helix-term/src/commands/typed.rs
  helix-view/src/editor.rs
  helix-view/src/tree.rs
Labels: A-helix-term

Add autocomplete to the `load-splits` commands.
  helix-term/src/commands/typed.rs
  helix-term/src/ui/mod.rs
Labels: A-helix-term

add support for tree-sitter custom template languages on vue
  runtime/queries/vue/injections.scm
Labels: A-tree-sitter

Add documentation
  helix-term/src/commands/engine/steel.rs
Labels: A-helix-term

dots
  helix-term/src/commands/engine/steel.rs
Labels: A-helix-term

formatting
  helix-term/src/commands/engine/steel.rs
Labels: A-helix-term

feat: add zebra-stripe option
  helix-term/src/ui/editor.rs
  helix-view/src/editor.rs
Labels: A-helix-term

perf(statusline): reorder match and specify `u32` for `workspace_diagnostics`
  helix-term/src/ui/statusline.rs
Labels: A-helix-term

feat(core): add `tree-sitter-breadcrumbs` command
  helix-core/src/indent.rs
  helix-term/src/commands/typed.rs
Labels: A-core, A-helix-term

add support for tree-sitter custom template languages on vue (#13511)
  runtime/queries/vue/injections.scm
Labels: A-tree-sitter

perf(statusline): reorder match and specify `u32` for `workspace_diagnostics` (#13512)
  helix-term/src/ui/statusline.rs
Labels: A-helix-term

Rephrase unclear bail message.
  helix-view/src/document.rs
Labels: none

Scroll window functionality, no default keybinding
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
Labels: A-helix-term, A-keymap

Expanding envs in language config
  Cargo.lock
  helix-loader/Cargo.toml
  helix-loader/src/config.rs
  helix-loader/src/env_expander.rs
  helix-loader/src/lib.rs
Labels: none

Add `sld` to Scheme file type extensions
  languages.toml
Labels: none

Add `sld` to Scheme file type extensions (#13528)
  languages.toml
Labels: none

Add the `syn_loader` to `Document`
  helix-core/src/syntax.rs
  helix-term/src/application.rs
  helix-term/src/commands/typed.rs
  helix-term/src/ui/picker.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
  helix-view/src/gutter.rs
  helix-view/src/view.rs
Labels: A-core, A-helix-term

syntax: Move config types to a separate module
  helix-core/src/comment.rs
  helix-core/src/config.rs
  helix-core/src/indent.rs
  helix-core/src/movement.rs
  helix-core/src/syntax.rs
  helix-core/src/syntax/config.rs
  helix-core/src/textobject.rs
  helix-core/tests/indent.rs
  helix-dap/src/client.rs
  helix-lsp/src/client.rs
  helix-lsp/src/lib.rs
  helix-term/src/commands.rs
  helix-term/src/commands/dap.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/handlers/completion.rs
  helix-term/src/handlers/completion/request.rs
  helix-term/src/handlers/document_colors.rs
  helix-term/src/handlers/signature_help.rs
  helix-term/src/ui/mod.rs
  helix-term/tests/integration.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
  helix-view/src/gutter.rs
  xtask/src/helpers.rs
Labels: A-core, A-debug-adapter, A-helix-term, A-language-server

Replace tree-sitter with tree-house
  Cargo.lock
  Cargo.toml
  helix-core/Cargo.toml
  helix-core/src/indent.rs
  helix-core/src/lib.rs
  helix-core/src/match_brackets.rs
  helix-core/src/movement.rs
  helix-core/src/object.rs
  helix-core/src/position.rs
  helix-core/src/selection.rs
  helix-core/src/snippets/active.rs
  helix-core/src/syntax.rs
  helix-core/src/syntax/config.rs
  helix-core/src/syntax/tree_cursor.rs
  helix-core/src/text_annotations.rs
  helix-core/src/textobject.rs
  helix-core/tests/indent.rs
  helix-loader/Cargo.toml
  helix-loader/src/grammar.rs
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-term/src/ui/document.rs
  helix-term/src/ui/editor.rs
  helix-term/src/ui/lsp/signature_help.rs
  helix-term/src/ui/markdown.rs
  helix-term/src/ui/picker.rs
  helix-term/src/ui/picker/handlers.rs
  helix-term/src/ui/prompt.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
  helix-view/src/theme.rs
  helix-view/src/view.rs
  xtask/src/helpers.rs
  xtask/src/main.rs
Labels: A-core, A-helix-term

queries: Inject markdown into Rust doc comments
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/markdown-rustdoc/highlights.scm
  runtime/queries/markdown-rustdoc/injections.scm
  runtime/queries/rust/injections.scm
Labels: A-tree-sitter

deploy: be1cf090c3759510096809aeb44c9aaaa6fc41d2
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

feat: Highlight Rust String interpolation macros
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/rust/injections.scm
  runtime/queries/rustfmt/highlights.scm
Labels: A-tree-sitter

deploy: 9bb80a74e183b2a71f0499a7656ae2f27c8ae50f
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

Revert "feat: Highlight Rust String interpolation macros"
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/rust/injections.scm
  runtime/queries/rustfmt/highlights.scm
Labels: A-tree-sitter

deploy: f46222ced3ec093dd281beda8a35660749319616
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

Pull diagnostics
  helix-core/src/syntax/config.rs
  helix-lsp/src/client.rs
  helix-lsp/src/lib.rs
  helix-term/src/application.rs
  helix-term/src/handlers.rs
  helix-term/src/handlers/diagnostics.rs
  helix-view/src/document.rs
  helix-view/src/handlers.rs
  helix-view/src/handlers/lsp.rs
Labels: A-core, A-helix-term, A-language-server

Update document by path
  helix-term/src/handlers/diagnostics.rs
Labels: A-helix-term

Remove related documents changes
  helix-term/src/handlers/diagnostics.rs
Labels: A-helix-term

Cancel ongoing pull diagnostic events
  helix-lsp/src/client.rs
  helix-term/src/application.rs
  helix-term/src/handlers/diagnostics.rs
Labels: A-helix-term, A-language-server

Add separate event for pulling visible documents diagnostics
  helix-term/src/handlers.rs
  helix-term/src/handlers/diagnostics.rs
  helix-view/src/handlers.rs
  helix-view/src/handlers/lsp.rs
Labels: A-helix-term

Add nyxvamp themes (#12185)
  runtime/themes/nyxvamp-obsidian.toml
  runtime/themes/nyxvamp-radiance.toml
  runtime/themes/nyxvamp-veil.toml
Labels: A-theme

test experimental picker callback, use at your own risk (do not use unless you know what you're doing)
  helix-term/src/commands/engine/steel.rs
Labels: A-helix-term

feat: highlight rust macros that use `format_args!`
  languages.toml
  runtime/queries/rust-format-args/highlights.scm
  runtime/queries/rust/injections.scm
Labels: A-tree-sitter

chore: docgen
  book/src/generated/lang-support.md
Labels: none

feat: Diff source caching and autodetection
  Cargo.lock
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-vcs/Cargo.toml
  helix-vcs/src/git.rs
  helix-vcs/src/git/test.rs
  helix-vcs/src/lib.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-helix-term, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
