Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

add support for default parsing in make list
  helix-term/src/make.rs
Labels: A-helix-term

docs: fix possible error when building the optimized version from source
  book/src/building-from-source.md
Labels: none

Fix offset
  helix-term/src/commands.rs
Labels: A-helix-term

feat(grammar): update zig tree-sitter
  languages.toml
Labels: none

feat(indent): Add a 'verbatim' indent-heuristic (#11951)
  book/src/editor.md
  helix-core/src/indent.rs
  helix-core/src/syntax/config.rs
Labels: A-core

WIP: test verbatim indent heuristic - faulty ATM
  helix-term/tests/test/commands/insert.rs
Labels: A-helix-term

First draft
  helix-term/src/config.rs
  helix-term/src/keymap.rs
  helix-term/src/keymap/default.rs
  helix-view/src/editor.rs
Labels: A-helix-term, A-keymap

Fixed on error branch
  helix-term/src/config.rs
Labels: A-helix-term

feat(grammar): update zig tree-sitter (#14336)
  languages.toml
Labels: none

Fixed it crashing because it cant find the mode in keymap.get()
  helix-term/src/keymap.rs
Labels: A-helix-term, A-keymap

fixup! feat(indent): Add a 'verbatim' indent-heuristic (#11951)
  helix-core/src/indent.rs
Labels: A-core

Added the modes into empty() since other functions rely on the map already having them
  helix-term/src/keymap.rs
  helix-term/src/keymap/default.rs
Labels: A-helix-term, A-keymap

Removed comments
  helix-term/src/config.rs
  helix-term/src/keymap.rs
  helix-term/src/keymap/default.rs
  helix-view/src/editor.rs
Labels: A-helix-term, A-keymap

Reverted the changes to panicing if a mode is missing
  helix-term/src/keymap.rs
Labels: A-helix-term, A-keymap

Added documentation
  book/src/editor.md
Labels: none

goto_file: try multiple relative paths to find existing files
  helix-term/src/commands.rs
Labels: A-helix-term

Refactor rainbow indent guides configuration into being a boolean on/off
  book/src/editor.md
  book/src/themes.md
  helix-term/src/ui/document.rs
  helix-term/src/ui/editor.rs
  helix-view/src/editor.rs
  helix-view/src/theme.rs
Labels: A-helix-term

don't trim trailing whitespace in tests lol
  helix-term/tests/test/commands.rs
Labels: A-helix-term

Add tag_search command for searching tag files
  Cargo.lock
  helix-term/Cargo.toml
  helix-term/src/commands.rs
Labels: A-helix-term

feat(languages): switch svelte tree-sitter to tree-sitter-grammars/tree-sitter-svelte
  languages.toml
Labels: none

feat: update svelte runtime queries
  runtime/queries/svelte/folds.scm
  runtime/queries/svelte/highlights.scm
  runtime/queries/svelte/indents.scm
  runtime/queries/svelte/injections.scm
  runtime/queries/svelte/locals.scm
Labels: A-tree-sitter

fix(queries/svelte): use helix compatible scopes
  runtime/queries/svelte/highlights.scm
Labels: A-tree-sitter

fix(queries/svelte): use helix compatible scopes
  runtime/queries/svelte/indents.scm
Labels: A-tree-sitter

fix(queries/svelte): add injection language for style tag without lang attribute
  runtime/queries/svelte/injections.scm
Labels: A-tree-sitter

modify language.toml for expert-lsp
  languages.toml
Labels: none

Fix shell pipe command lines not using expansions (#14191)
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
Labels: A-helix-term

docs: fix possible error when building the optimized version from source (#14330)
  book/src/building-from-source.md
Labels: none

deploy: 4f5eaa41866eaeec6aeec8f2fb80797e1132e339
  master/building-from-source.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

Update tree-sitter-gleam
  languages.toml
Labels: none

queries: update highlights/injections for jjconfig (#14308)
  runtime/queries/jjconfig/injections.scm
  runtime/queries/jjtemplate/highlights.scm
Labels: A-tree-sitter

fix(htmldjango): add roots to htmldjango language (#14305)
  languages.toml
Labels: none

feat(bash): inject bash into builtins expecting bash code as input (#14268)
  runtime/queries/bash/injections.scm
Labels: A-tree-sitter

add a link to release packe on debian installation docs
  book/src/package-managers.md
Labels: none

fix(theme): correct goto_word and comments background in `flatwhite.toml`
  runtime/themes/flatwhite.toml
Labels: A-theme

Add tag queries for java and kotlin
  runtime/queries/java/tags.scm
  runtime/queries/kotlin/tags.scm
Labels: A-tree-sitter

Add tag queries for bash and protobuf
  runtime/queries/bash/tags.scm
  runtime/queries/protobuf/tags.scm
Labels: A-tree-sitter

update docs
  book/src/generated/lang-support.md
Labels: none

queries(rust): Highlight tacit functions when we are 100% sure they are
  runtime/queries/rust/highlights.scm
Labels: A-tree-sitter

queries(rust): Highlight type infer in more places
  runtime/queries/rust/highlights.scm
Labels: A-tree-sitter

queries(rust): highlight function parameter locals in more places
  runtime/queries/rust/locals.scm
Labels: A-tree-sitter
