Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

remove toggle_view_focus command
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
  helix-view/src/editor.rs
  helix-view/src/tree.rs
Labels: A-helix-term, A-keymap

remodel container bounds to be percentage-based
  helix-view/src/tree.rs
Labels: none

move window resize mode to <space>-w menu, remove non-sticky keybinds
  helix-term/src/keymap/default.rs
Labels: A-helix-term, A-keymap

clamp when resizing views
  helix-view/src/tree.rs
Labels: none

refactor: move children and bounds into a Children struct
  helix-view/src/tree.rs
Labels: none

use cx.count when resizing a view
  helix-term/src/commands.rs
  helix-view/src/editor.rs
  helix-view/src/tree.rs
Labels: A-helix-term

cargo xtask docgen
  book/src/generated/static-cmd.md
Labels: none

build(deps): bump `unicode-width` from `=0.1.12` to `0.2.2`
  Cargo.lock
  Cargo.toml
  helix-core/Cargo.toml
  helix-core/src/graphemes.rs
  helix-core/src/lib.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/ui/editor.rs
  helix-term/src/ui/prompt.rs
  helix-term/src/ui/statusline.rs
  helix-tui/src/backend/test.rs
  helix-tui/src/buffer.rs
  helix-tui/src/text.rs
  helix-tui/src/widgets/paragraph.rs
  helix-tui/src/widgets/reflow.rs
  helix-tui/src/widgets/table.rs
  helix-view/src/info.rs
  helix-view/src/input.rs
Labels: A-core, A-helix-term

workspace trust: v2
  Cargo.lock
  book/src/editor.md
  book/src/generated/typable-cmd.md
  book/src/workspace-trust.md
  helix-core/src/config.rs
  helix-loader/Cargo.toml
  helix-loader/src/config.rs
  helix-loader/src/grammar.rs
  helix-loader/src/lib.rs
  helix-loader/src/workspace_trust.rs
  helix-term/src/application.rs
  helix-term/src/commands.rs
  helix-term/src/commands/dap.rs
  helix-term/src/commands/typed.rs
  helix-term/src/config.rs
  helix-term/src/handlers/workspace_trust.rs
  helix-term/src/health.rs
  helix-term/src/main.rs
  helix-term/src/ui/editor.rs
  helix-term/tests/test/helpers.rs
  helix-vcs/src/git.rs
  helix-vcs/src/git/test.rs
  helix-vcs/src/lib.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-core, A-helix-term, A-vcs

Address lints
  book/src/generated/typable-cmd.md
  helix-loader/src/workspace_trust.rs
Labels: none

feat(comment): add `SECURITY` to @error set
  runtime/queries/comment/highlights.scm
Labels: A-tree-sitter

Address clippy lint
  helix-vcs/src/git.rs
Labels: A-vcs

core: indent: Calculate opaque in the same indentation pass
  helix-core/src/indent.rs
Labels: A-core

.github: Clean up workflows
  .github/actions/rust-setup/action.yml
  .github/workflows/build.yml
  .github/workflows/cachix.yml
  .github/workflows/gh-pages.yml
  .github/workflows/languages.toml
  .github/workflows/release.yml
Labels: none

fix: toggle_comments was injecting default comments rather than using the root marker
  helix-core/src/indent.rs
  helix-term/src/commands.rs
  helix-term/tests/test/commands.rs
Labels: A-core, A-helix-term

term: Drop chrono (feature=clock) dependency
  Cargo.lock
  helix-term/Cargo.toml
  helix-term/src/application.rs
  helix-term/src/lib.rs
  helix-term/src/logging.rs
  helix-term/src/main.rs
Labels: A-helix-term

deps: Drop fern for a custom logging facade impl
  Cargo.lock
  helix-dap/Cargo.toml
  helix-term/Cargo.toml
  helix-term/src/application.rs
  helix-term/src/logging.rs
  helix-term/src/main.rs
Labels: A-debug-adapter, A-helix-term

deps: Remove content_inspector, we just need a tiny helper to detect binary
  Cargo.lock
  helix-term/Cargo.toml
  helix-term/src/commands.rs
  helix-term/src/lib.rs
  helix-term/src/ui/picker.rs
Labels: A-helix-term

Use foldhash hashmap in word index types
  Cargo.lock
  helix-view/Cargo.toml
  helix-view/src/handlers/word_index.rs
Labels: none

word index: Optimize word extraction
  helix-stdx/src/rope.rs
  helix-view/src/handlers/word_index.rs
Labels: none

word index: Fix out-of-order changeset applications with ghost txs
  Cargo.lock
  Cargo.toml
  helix-core/Cargo.toml
  helix-view/Cargo.toml
  helix-view/src/handlers/word_index.rs
Labels: A-core

word index: Send events to the coordinator lossily
  helix-view/src/handlers/word_index.rs
Labels: none

stdx: Add must_use and inline attributes to regex and grapheme helpers
  helix-stdx/src/rope.rs
Labels: none

word index: Add Drop cancellation
  helix-view/src/handlers/word_index.rs
Labels: none

Add a benchmark for the WordIndex type and word extraction
  Cargo.lock
  Cargo.toml
  helix-view/Cargo.toml
  helix-view/benches/texts/LICENSE
  helix-view/benches/texts/README
  helix-view/benches/texts/arabic.txt
  helix-view/benches/texts/english.txt
  helix-view/benches/texts/hindi.txt
  helix-view/benches/texts/japanese.txt
  helix-view/benches/texts/korean.txt
  helix-view/benches/texts/mandarin.txt
  helix-view/benches/texts/russian.txt
  helix-view/benches/texts/source_code.txt
  helix-view/benches/word_index.rs
  helix-view/src/handlers/word_index.rs
Labels: none

flake: Revert mold->lld
  flake.nix
Labels: none

feat(comment): add `SECURITY` to @error set (#15858)
  runtime/queries/comment/highlights.scm
Labels: A-tree-sitter

Break doc links to private items
  helix-loader/src/workspace_trust.rs
Labels: none

fix(commands): restore auto-pair insert/delete flow
  helix-term/src/commands.rs
Labels: A-helix-term

Add Markdown code span (```) to auto-pairs
  auto-pairs.toml
Labels: none

docs: document multi-character auto-pairs configuration
  book/src/configuration.md
  book/src/editor.md
Labels: none

fix(auto-pairs): preserve no-match and whitespace behavior
  helix-core/src/auto_pairs.rs
  helix-core/src/syntax.rs
Labels: A-core

feat(auto-pairs): add multi-character pairs support
  helix-core/src/auto_pairs.rs
  helix-core/src/syntax/config.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-core

feat(commands): integrate multi-char auto-pairs with editor
  auto-pairs.toml
  book/src/editor.md
  helix-core/src/auto_pairs.rs
  helix-term/src/commands.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-core, A-helix-term

Remove previous auto-pairs implementation
  helix-core/src/auto_pairs.rs
  helix-core/src/syntax.rs
  helix-core/src/syntax/config.rs
  helix-term/src/commands.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-core, A-helix-term

Fix(auto-pairs): Use cursor position for injection layer detection
  auto-pairs.toml
  helix-core/src/auto_pairs.rs
  helix-core/src/syntax.rs
  helix-term/src/commands.rs
  helix-view/src/document.rs
Labels: A-core, A-helix-term

fix(auto-pairs): correctly find prefix pairs and position cursor for multi-char triggers
  helix-core/src/auto_pairs.rs
Labels: A-core

Fix(auto-pairs): Position cursor correctly when replacing prefix close
  helix-core/src/auto_pairs.rs
Labels: A-core

feat(auto-pairs): add context-aware pairing with tree-sitter
  helix-core/src/auto_pairs.rs
  helix-core/src/syntax.rs
Labels: A-core

Fix: Revert pair selection behaviour for nested pairs
  helix-view/src/document.rs
Labels: none

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
