Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

Update runtime/queries/rust/symbols.scm
  runtime/queries/rust/symbols.scm
Labels: A-tree-sitter

Pull diagnostics
  helix-core/src/syntax.rs
  helix-lsp/src/client.rs
  helix-lsp/src/lib.rs
  helix-term/src/application.rs
  helix-term/src/commands.rs
  helix-term/src/events.rs
  helix-term/src/handlers.rs
  helix-term/src/handlers/diagnostics.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
  helix-view/src/events.rs
  helix-view/src/handlers.rs
  helix-view/src/handlers/lsp.rs
Labels: A-core, A-helix-term, A-language-server

fix: long pressed keys on hidapi
  helix-view/src/scancode.rs
Labels: none

fix: rename var
  helix-view/src/scancode.rs
Labels: none

feat: moving multiple files/directories
  helix-term/src/commands/typed.rs
  helix-view/src/editor.rs
Labels: A-helix-term

chore: docgen
  book/src/generated/typable-cmd.md
Labels: none

Add indents and textobjects for Kotlin.
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/kotlin/highlights.scm
  runtime/queries/kotlin/indents.scm
  runtime/queries/kotlin/injections.scm
  runtime/queries/kotlin/textobjects.scm
Labels: A-tree-sitter

fix: delete directories
  helix-term/src/ui/mod.rs
Labels: A-helix-term

Read language servers from config in `:lsp-restart`
  helix-term/src/commands/typed.rs
  helix-term/src/ui/mod.rs
Labels: A-helix-term

Add indents and textobjects for Kotlin (#12925)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/kotlin/highlights.scm
  runtime/queries/kotlin/indents.scm
  runtime/queries/kotlin/injections.scm
  runtime/queries/kotlin/textobjects.scm
Labels: A-tree-sitter

deploy: 0deb8bbce6f33124f3434c94c22f5177cb8caa9f
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

Add fixed strings workspace search
  book/src/generated/static-cmd.md
  helix-term/src/commands.rs
Labels: A-helix-term

languages: add protobuf language servers
  book/src/generated/lang-support.md
  languages.toml
Labels: none

fix
  book/src/generated/lang-support.md
Labels: none

refactor: rename vars
  helix-term/src/ui/mod.rs
Labels: A-helix-term

refactor: inversion of control
  helix-term/src/ui/mod.rs
Labels: A-helix-term

queries: Remove unknown predicates
  runtime/queries/_gjs/injections.scm
  runtime/queries/dockerfile/highlights.scm
  runtime/queries/julia/highlights.scm
Labels: A-tree-sitter

Update languages.toml to add astro-ls
  book/src/generated/lang-support.md
  languages.toml
Labels: none

Accept more scons as python language
  languages.toml
Labels: none

feat: implement :left, :right and :center commands
  helix-term/src/commands/typed.rs
Labels: A-helix-term

refactor: rename variables
  helix-term/src/commands/typed.rs
Labels: A-helix-term

docs: generate docs for `:center`, `:left` and `:right`
  book/src/generated/typable-cmd.md
  helix-term/src/commands/typed.rs
Labels: A-helix-term

fix: remove trailing whitespace on align line command
  helix-term/src/commands/typed.rs
Labels: A-helix-term

feat(lsp): add container name as a column in the symbol pickers
  helix-term/src/commands/lsp.rs
Labels: A-helix-term

queries: Reverse precedence for git-config highlights
  runtime/queries/git-config/highlights.scm
Labels: A-tree-sitter

xtask: Inline query and theme checks into main module
  xtask/src/main.rs
  xtask/src/querycheck.rs
  xtask/src/theme_check.rs
Labels: none

feat: language support for mail files
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/mail/highlights.scm
  runtime/queries/mail/textobjects.scm
Labels: A-tree-sitter

feat: added comment textobject to toml
  runtime/queries/toml/textobjects.scm
Labels: A-tree-sitter

queries: Fix module highlights in koto
  runtime/queries/koto/highlights.scm
Labels: A-tree-sitter

Update c-sharp queries
  languages.toml
  runtime/queries/c-sharp/highlights.scm
  runtime/queries/c-sharp/tags.scm
  runtime/queries/c-sharp/textobjects.scm
Labels: A-tree-sitter

languages.toml: add starpls as Starlark language server
  languages.toml
Labels: none

Prevent soft wrap inside a run of punctuation
  helix-core/src/doc_formatter.rs
  helix-core/src/doc_formatter/test.rs
Labels: A-core

Only insert hard-wraps at whitespace.
  helix-core/src/doc_formatter.rs
  helix-core/src/doc_formatter/test.rs
  helix-term/src/commands/typed.rs
  helix-term/tests/test/commands.rs
  helix-view/src/annotations/diagnostics.rs
  helix-view/src/document.rs
Labels: A-core, A-helix-term

Add pkl-lsp
  book/src/generated/lang-support.md
  languages.toml
Labels: none

Added beans theme
  runtime/themes/beans.toml
Labels: A-theme

Set theme before opening documents
  helix-term/src/application.rs
Labels: A-helix-term

queries: Fix precedence in Erlang highlights
  runtime/queries/erlang/highlights.scm
Labels: A-tree-sitter

feat(kdl): add `kdlfmt` as formatter for kdl
  languages.toml
Labels: none

minor style changes
  helix-term/src/ui/picker.rs
Labels: A-helix-term

fix: escape percent character when yanking to search register (#12886)
  helix-term/src/ui/picker.rs
Labels: A-helix-term

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]
