Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

refactor(commands): use `Args::raw` over `fold`ing
  helix-term/src/commands/typed.rs
Labels: A-helix-term

refactor(commands): change `MappableCommand` `args` from `Vec<String>` to String
  helix-term/src/commands.rs
  helix-term/src/keymap.rs
Labels: A-helix-term, A-keymap

continue-comment: removing indent_heuristic function
  helix-term/src/commands.rs
  helix-view/src/editor.rs
Labels: A-helix-term

Revert "continue-comment: removing indent_heuristic function"
  helix-term/src/commands.rs
  helix-view/src/editor.rs
Labels: A-helix-term

Reapply "continue-comment: removing indent_heuristic function"
  helix-term/src/commands.rs
  helix-view/src/editor.rs
Labels: A-helix-term

Revert "continue-comment: removing indent_heuristic function"
  helix-term/src/commands.rs
  helix-view/src/editor.rs
Labels: A-helix-term

continue-comment: set default value for continue comments to false
  helix-view/src/editor.rs
Labels: none

continue-comment: enable by default and use hybrid indentation
  helix-view/src/editor.rs
Labels: none

refactor(commands): use `if let` over `matches!`
  helix-term/src/commands/typed.rs
Labels: A-helix-term

Add gherkin syntax highlighting (#11083)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/gherkin/highlights.scm
Labels: A-tree-sitter

deploy: 91e642ce50b0e8983daa2376accff61588f81df8
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

refactor(commands): ignore unit pattern match
  helix-term/src/commands.rs
Labels: A-helix-term

continue-comments: fix indent-logic if continue-comments wants to place a comment
  helix-core/src/comment.rs
  helix-term/src/commands.rs
  helix-view/src/editor.rs
Labels: A-core, A-helix-term

continue-comment: improve code readability
  helix-core/src/comment.rs
  helix-term/src/commands.rs
Labels: A-core, A-helix-term

continue-comment: add some comments and remove unused code
  helix-core/src/comment.rs
  helix-core/src/syntax.rs
Labels: A-core

Bump spade grammar
  languages.toml
  runtime/queries/spade/highlights.scm
Labels: A-tree-sitter

Add editor.diagnostics-symbol config option
  helix-term/src/ui/statusline.rs
  helix-view/src/editor.rs
  helix-view/src/gutter.rs
Labels: A-helix-term

refactor(commands): `trim_end` of `sh` output (#11161)
  helix-term/src/commands/typed.rs
Labels: A-helix-term

refactor(commands): ignore unit pattern match
  helix-term/src/commands.rs
Labels: A-helix-term

perf(commands):remove unnecessary ref for a &str
  helix-term/src/commands/typed.rs
Labels: A-helix-term

attribute in adwaita-light is orange_5 now
  runtime/themes/adwaita-light.toml
Labels: A-theme

refactor: no longer special case end space
  helix-core/src/shellwords.rs
Labels: A-core

refactor: no longer special case for bracket lists
  helix-core/src/shellwords.rs
Labels: A-core

add partial documentation generation
  Cargo.lock
  helix-term/Cargo.toml
  helix-term/src/commands/engine/steel.rs
  xtask/src/main.rs
Labels: A-helix-term

Update everforest themes
  runtime/themes/everforest_dark.toml
  runtime/themes/everforest_light.toml
Labels: A-theme

Update everforest themes (#11459)
  runtime/themes/everforest_dark.toml
  runtime/themes/everforest_light.toml
Labels: A-theme

Clarify lesson 10.1 wording
  runtime/tutor
Labels: none

perf: remove `bytes` field to save 16 bytes
  helix-core/src/shellwords.rs
Labels: A-core

perf: move `in_quotes` field to local variable
  helix-core/src/shellwords.rs
Labels: A-core

refactor: remove `is_finished` state from `Args`
  helix-core/src/shellwords.rs
Labels: A-core

perf: move `quote` field to local variable
  helix-core/src/shellwords.rs
Labels: A-core

test: change example command to `read`
  helix-core/src/shellwords.rs
Labels: A-core

rust queries: Add everything in the 2021 prelude
  runtime/queries/rust/highlights.scm
Labels: A-tree-sitter

Update spade to use type.enum.variant.builtin
  runtime/queries/spade/highlights.scm
Labels: A-tree-sitter

Update runtime/queries/rust/highlights.scm
  runtime/queries/rust/highlights.scm
Labels: A-tree-sitter

add key concepts to usage.md
  book/src/usage.md
Labels: none

Highlight types and enum members in the rust prelude (#8535)
  runtime/queries/rust/highlights.scm
Labels: A-tree-sitter

Clarify lesson 10.1 wording (#11478)
  runtime/tutor
Labels: none

moved 'PROGRESSIVE INCREMENTING AND DECREMENTING' to 8.2 in REGISTERS
  runtime/tutor
Labels: none

refactor: remove unneeded range end for index
  helix-core/src/shellwords.rs
Labels: A-core
