Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

Update runtime/queries/ebnf/highlights.scm
  runtime/queries/ebnf/highlights.scm
Labels: A-tree-sitter

docs: fix single quotes typo
  book/src/command-line.md
Labels: none

Include Packably in Windows installation instructions (#15519)
  book/src/package-managers.md
Labels: none

deploy: 4bb5ffaa45095c5ee58d260f006a0b0152b5bbe1
  master/404.html
  master/building-from-source.html
  master/command-line.html
  master/commands.html
  master/configuration.html
  master/ecosystem.html
  master/editor.html
  master/from-vim.html
  master/guides/adding_languages.html
  master/guides/indent.html
  master/guides/index.html
  master/guides/injection.html
  master/guides/rainbow_bracket_queries.html
  master/guides/tags.html
  master/guides/textobject.html
  master/index.html
  master/install.html
  master/jumplist.html
  master/keymap.html
  master/lang-support.html
  master/languages.html
  master/other-software.html
  master/package-managers.html
  master/pickers.html
  master/print.html
  master/registers.html
  master/remapping.html
  master/searcher-c2a407aa.js
  master/searchindex-529b61ac.js
  master/searchindex-9e386d50.js
  master/surround.html
  master/syntax-aware-motions.html
  master/textobjects.html
  master/themes.html
  master/title-page.html
  master/usage.html
Labels: none

docs: fix single quotes typo (#15520)
  book/src/command-line.md
Labels: none

deploy: 33d0bca24d216dfffe2e57a5a91a0176feec2f07
  master/404.html
  master/building-from-source.html
  master/command-line.html
  master/commands.html
  master/configuration.html
  master/ecosystem.html
  master/editor.html
  master/from-vim.html
  master/guides/adding_languages.html
  master/guides/indent.html
  master/guides/index.html
  master/guides/injection.html
  master/guides/rainbow_bracket_queries.html
  master/guides/tags.html
  master/guides/textobject.html
  master/index.html
  master/install.html
  master/jumplist.html
  master/keymap.html
  master/lang-support.html
  master/languages.html
  master/other-software.html
  master/package-managers.html
  master/pickers.html
  master/print.html
  master/registers.html
  master/remapping.html
  master/searcher-c2a407aa.js
  master/searchindex-529b61ac.js
  master/searchindex-eb8af346.js
  master/surround.html
  master/syntax-aware-motions.html
  master/textobjects.html
  master/themes.html
  master/title-page.html
  master/usage.html
Labels: none

Workspace trust: init
  Cargo.lock
  book/src/SUMMARY.md
  book/src/generated/typable-cmd.md
  book/src/workspace-trust.md
  helix-core/src/config.rs
  helix-loader/src/config.rs
  helix-loader/src/grammar.rs
  helix-loader/src/lib.rs
  helix-loader/src/workspace_trust.rs
  helix-term/Cargo.toml
  helix-term/src/application.rs
  helix-term/src/commands/typed.rs
  helix-term/src/config.rs
  helix-term/src/handlers.rs
  helix-term/src/handlers/workspace_trust.rs
  helix-term/src/health.rs
  helix-term/src/main.rs
  helix-view/src/editor.rs
Labels: A-core, A-helix-term

Add buckconfig to ini language file-types
  languages.toml
Labels: none

feat(lsp): Add basic biome lsp-proxy configuration
  languages.toml
Labels: none

docs: fix cancellation typos in task controller comments
  helix-event/src/cancel.rs
Labels: none

refactor: Use IndexMap in KeyTrieNode
  helix-term/Cargo.toml
  helix-term/src/keymap.rs
  helix-term/src/keymap/macros.rs
Labels: A-helix-term, A-keymap

fix: respect cx.register into account for `replace_with_yanked`
  helix-term/src/commands.rs
Labels: A-helix-term

docs: fix cancellation typos in task controller comments (#15523)
  helix-event/src/cancel.rs
Labels: none

Resolve TempPath::from_path deprecation
  helix-loader/src/grammar.rs
Labels: none

fix: respect cx.register into account for `replace_with_yanked` (#15526)
  helix-term/src/commands.rs
Labels: A-helix-term

Add buckconfig to ini language file-types (#15521)
  languages.toml
Labels: none

fix: handle Scala for-comprehension indentation in ERROR nodes (#15512)
  runtime/queries/scala/indents.scm
Labels: A-tree-sitter

Auto pair deletions with selections (#15010)
  helix-core/src/auto_pairs.rs
  helix-core/src/transaction.rs
  helix-term/src/commands.rs
  helix-term/tests/test/auto_pairs.rs
Labels: A-core, A-helix-term

add ebnf language (#15267)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/c/highlights.scm
  runtime/queries/ebnf/highlights.scm
Labels: A-tree-sitter

deploy: 5e3755908f08793460e0179f2ffbb6f5d1664479
  master/404.html
  master/building-from-source.html
  master/command-line.html
  master/commands.html
  master/configuration.html
  master/ecosystem.html
  master/editor.html
  master/from-vim.html
  master/guides/adding_languages.html
  master/guides/indent.html
  master/guides/index.html
  master/guides/injection.html
  master/guides/rainbow_bracket_queries.html
  master/guides/tags.html
  master/guides/textobject.html
  master/index.html
  master/install.html
  master/jumplist.html
  master/keymap.html
  master/lang-support.html
  master/languages.html
  master/other-software.html
  master/package-managers.html
  master/pickers.html
  master/print.html
  master/registers.html
  master/remapping.html
  master/searcher-c2a407aa.js
  master/searchindex-64d18d91.js
  master/searchindex-eb8af346.js
  master/surround.html
  master/syntax-aware-motions.html
  master/textobjects.html
  master/themes.html
  master/title-page.html
  master/usage.html
Labels: none

Apply suggestion from @archseer
  book/src/workspace-trust.md
Labels: none

Run 'cargo fmt'
  helix-term/tests/test/auto_pairs.rs
Labels: A-helix-term

Apply suggestion from @the-mikedavis
  book/src/workspace-trust.md
Labels: none

Fix derived deserialization for KeyTrieNode
  helix-term/src/keymap.rs
Labels: A-helix-term, A-keymap

avoid coloring conflicts for rust locals.scm queries (#15516)
  runtime/queries/rust/locals.scm
Labels: A-tree-sitter

Update Caddyfile tree-sitter grammar (#15507)
  languages.toml
  runtime/queries/caddyfile/highlights.scm
  runtime/queries/caddyfile/textobjects.scm
Labels: A-tree-sitter

feat(lsp): Add basic biome lsp-proxy configuration (#15524)
  languages.toml
Labels: none

fix: golang indent issues when auto-pairs = false (#15511)
  runtime/queries/go/indents.scm
Labels: A-tree-sitter

Add injection for CEL in Caddyfile (#15508)
  runtime/queries/caddyfile/injections.scm
Labels: A-tree-sitter

Avoid logging when workspace trust files can't be read from NotFound
  helix-loader/src/workspace_trust.rs
Labels: none

Add workspace trust support (#15177)
  Cargo.lock
  book/src/SUMMARY.md
  book/src/generated/typable-cmd.md
  book/src/workspace-trust.md
  helix-core/src/config.rs
  helix-loader/src/config.rs
  helix-loader/src/grammar.rs
  helix-loader/src/lib.rs
  helix-loader/src/workspace_trust.rs
  helix-term/Cargo.toml
  helix-term/src/application.rs
  helix-term/src/commands/typed.rs
  helix-term/src/config.rs
  helix-term/src/handlers.rs
  helix-term/src/handlers/workspace_trust.rs
  helix-term/src/health.rs
  helix-term/src/main.rs
  helix-view/src/editor.rs
Labels: A-core, A-helix-term

deploy: 0475fdd971ea5c160574353ce37dd7c9e8afefb4
  master/404.html
  master/building-from-source.html
  master/command-line.html
  master/commands.html
  master/configuration.html
  master/ecosystem.html
  master/editor.html
  master/from-vim.html
  master/guides/adding_languages.html
  master/guides/indent.html
  master/guides/index.html
  master/guides/rainbow_bracket_queries.html
  master/guides/tags.html
  master/guides/textobject.html
  master/index.html
  master/install.html
  master/jumplist.html
  master/keymap.html
  master/lang-support.html
  master/languages.html
  master/other-software.html
  master/package-managers.html
  master/pickers.html
  master/print.html
  master/registers.html
  master/remapping.html
  master/searcher-c2a407aa.js
  master/searchindex-64d18d91.js
  master/searchindex-9ddb6ab9.js
  master/surround.html
  master/syntax-aware-motions.html
  master/textobjects.html
  master/themes.html
  master/title-page.html
  master/toc-887400e0.js
  master/toc.html
  master/usage.html
  master/workspace-trust.html
Labels: none

Restore original terminal background color
  Cargo.lock
  Cargo.toml
  helix-term/src/application.rs
  helix-tui/src/backend/termina.rs
Labels: A-helix-term

refactor: Use IndexMap in KeyTrieNode (#15528)
  helix-term/Cargo.toml
  helix-term/src/keymap.rs
  helix-term/src/keymap/macros.rs
Labels: A-helix-term, A-keymap

Restore original terminal background color (#15527)
  Cargo.lock
  Cargo.toml
  helix-term/src/application.rs
  helix-tui/src/backend/termina.rs
Labels: A-helix-term

goto_file: try multiple relative paths to find existing files
  helix-term/src/commands.rs
Labels: A-helix-term

Guard DAP configurationDone by capability
  helix-dap/src/client.rs
  helix-view/src/handlers/dap.rs
Labels: A-debug-adapter

chore: apply code review suggestions
  helix-view/src/handlers/dap.rs
Labels: none

feat: auto-document-highlight on by default
  book/src/editor.md
  helix-view/src/editor.rs
Labels: none

feat(view): render soft-wrap indicators in the gutter
  helix-core/src/doc_formatter.rs
  helix-core/src/doc_formatter/test.rs
  helix-view/src/annotations/diagnostics.rs
  helix-view/src/document.rs
  helix-view/src/gutter.rs
Labels: A-core
