Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

feat(languages): add syntax highliting for gnuplot
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/gnuplot/highlights.scm
Labels: A-tree-sitter

Pin tree-sitter-c3 revision
  languages.toml
Labels: none

Add C3 language (#15206)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/c3/highlights.scm
  runtime/queries/c3/injections.scm
Labels: A-tree-sitter

deploy: 476ae24cc40b5a81522cbf37efe848860b44f434
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

feat(helix-tui): use compact string to dramatically increase performance
  Cargo.lock
  Cargo.toml
  helix-tui/Cargo.toml
  helix-tui/src/buffer.rs
Labels: none

helix-vcs 2024
  helix-vcs/Cargo.toml
Labels: A-vcs

helix-stdx 2024
  helix-stdx/Cargo.toml
Labels: none

xtask 2024
  xtask/Cargo.toml
Labels: none

helix-lsp-types 2024
  helix-lsp-types/Cargo.toml
Labels: none

helix-dap-types 2024
  helix-dap-types/Cargo.toml
Labels: none

helix-parsec 2024
  helix-parsec/Cargo.toml
Labels: none

feat(edition): cargo fix --edition
  helix-term/src/application.rs
  helix-term/src/commands.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/commands/typed.rs
  helix-term/src/handlers/completion/path.rs
  helix-term/src/handlers/completion/request.rs
  helix-term/src/handlers/completion/word.rs
  helix-term/src/job.rs
  helix-term/src/keymap.rs
  helix-term/src/ui/completion.rs
  helix-term/src/ui/editor.rs
  helix-term/src/ui/picker/handlers.rs
Labels: A-helix-term, A-keymap

helix-tui 2024
  helix-tui/Cargo.toml
Labels: none

helix-view 2024
  helix-view/Cargo.toml
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: none

helix-loader 2024
  helix-loader/Cargo.toml
Labels: none

helix-event 2024
  helix-event/Cargo.toml
  helix-event/src/hook.rs
  helix-event/src/lib.rs
Labels: none

helix-core 2024
  helix-core/Cargo.toml
  helix-core/src/movement.rs
  helix-core/src/syntax.rs
  helix-core/src/text_annotations.rs
  helix-core/tests/indent.rs
Labels: A-core

helix-lsp 2021
  helix-lsp/Cargo.toml
Labels: A-language-server

helix-term 2024
  helix-term/Cargo.toml
  helix-term/src/application.rs
Labels: A-helix-term

helix-dap 2021
  helix-dap/Cargo.toml
Labels: A-debug-adapter

Cargo.toml 2024
  Cargo.toml
  helix-core/Cargo.toml
  helix-dap-types/Cargo.toml
  helix-event/Cargo.toml
  helix-loader/Cargo.toml
  helix-lsp-types/Cargo.toml
  helix-parsec/Cargo.toml
  helix-stdx/Cargo.toml
  helix-term/Cargo.toml
  helix-tui/Cargo.toml
  helix-vcs/Cargo.toml
  helix-view/Cargo.toml
  xtask/Cargo.toml
Labels: A-core, A-helix-term, A-vcs

docs(book:themes): `special` is used in pickers
  book/src/themes.md
Labels: none

cargo resolver 3
  Cargo.toml
Labels: none

Add support for changing every ui elements color based on mode
  helix-term/src/commands.rs
  helix-term/src/commands/dap.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/ui/completion.rs
  helix-term/src/ui/document.rs
  helix-term/src/ui/editor.rs
  helix-term/src/ui/info.rs
  helix-term/src/ui/lsp/hover.rs
  helix-term/src/ui/lsp/signature_help.rs
  helix-term/src/ui/markdown.rs
  helix-term/src/ui/menu.rs
  helix-term/src/ui/mod.rs
  helix-term/src/ui/picker.rs
  helix-term/src/ui/popup.rs
  helix-term/src/ui/prompt.rs
  helix-term/src/ui/select.rs
  helix-term/src/ui/statusline.rs
  helix-term/src/ui/text_decorations/diagnostics.rs
  helix-view/src/gutter.rs
  helix-view/src/theme.rs
Labels: A-helix-term

feat(lsp): implement documentLink
  book/src/keymap.md
  helix-core/src/syntax/config.rs
  helix-lsp/src/client.rs
  helix-term/src/commands.rs
  helix-term/src/handlers.rs
  helix-term/src/handlers/document_links.rs
  helix-view/src/document.rs
  helix-view/src/handlers.rs
  helix-view/src/handlers/lsp.rs
Labels: A-core, A-helix-term, A-language-server

refactor(dap): drop request debug bound
  helix-dap/src/client.rs
Labels: A-debug-adapter

fix(dap): guard breakpoint events
  helix-view/src/handlers/dap.rs
Labels: none

feat(dap): improve stack frame picker
  helix-term/src/commands/dap.rs
Labels: A-helix-term

fix(dap): surface failed responses
  helix-dap/src/client.rs
Labels: A-debug-adapter

feat(dap): send breakpoint metadata
  helix-view/src/handlers/dap.rs
Labels: none

fix(dap): report configurationDone errors
  helix-view/src/handlers/dap.rs
Labels: none

fix(dap): validate breakpoint change events
  helix-view/src/handlers/dap.rs
Labels: none

feat(lsp): add call hierarchy picker
  book/src/generated/static-cmd.md
  helix-core/src/syntax/config.rs
  helix-lsp/src/client.rs
  helix-term/src/commands.rs
  helix-term/src/commands/lsp.rs
Labels: A-core, A-helix-term, A-language-server

feat(dap): surface breakpoint messages
  helix-term/src/commands/dap.rs
  helix-view/src/handlers/dap.rs
Labels: A-helix-term

fix(themes): modus_* themes colors
  runtime/themes/modus_operandi.toml
  runtime/themes/modus_vivendi.toml
Labels: A-theme

feat(file-manager): add editable directory buffer
  Cargo.lock
  helix-term/Cargo.toml
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-term/src/file_manager.rs
  helix-term/src/keymap.rs
  helix-term/src/keymap/default.rs
  helix-term/src/lib.rs
  helix-term/src/ui/editor.rs
  helix-view/src/directory_buffer.rs
  helix-view/src/editor.rs
  helix-view/src/lib.rs
Labels: A-helix-term, A-keymap

chore: regenerate static commands
  book/src/generated/static-cmd.md
  helix-view/src/editor.rs
Labels: none

style: format editor config
  helix-view/src/editor.rs
Labels: none

fix(file-manager): address clippy warnings
  helix-term/src/file_manager.rs
Labels: A-helix-term

fix(file-manager): satisfy clippy sort
  helix-term/src/file_manager.rs
Labels: A-helix-term
