Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

dependabot: Ignore etcetera
  .github/dependabot.yml
Labels: none

docgen
  book/src/generated/typable-cmd.md
Labels: none

Add Andromeda theme (#14661)
  runtime/themes/andromeda.toml
Labels: A-theme

Add TTOX Soft Theme (#14574)
  runtime/themes/ttox_soft.toml
Labels: A-theme

Separate `helix-input` and `helix-graphics` from `helix-view`.
  Cargo.lock
  Cargo.toml
  helix-graphics/Cargo.toml
  helix-graphics/src/graphics.rs
  helix-graphics/src/lib.rs
  helix-graphics/src/theme.rs
  helix-input/Cargo.toml
  helix-input/src/clipboard.rs
  helix-input/src/input.rs
  helix-input/src/keyboard.rs
  helix-input/src/lib.rs
  helix-view/Cargo.toml
  helix-view/src/lib.rs
Labels: none

from the-mikedavis/workspace-trust: add select component
  helix-term/src/ui/menu.rs
  helix-term/src/ui/mod.rs
  helix-term/src/ui/select.rs
Labels: A-helix-term

Fix incorrect WinAPI call
  helix-stdx/src/faccess.rs
Labels: none

make trust dialog use the select component
  helix-term/src/handlers/trust.rs
Labels: A-helix-term

clippy
  helix-view/src/input.rs
Labels: none

fix: dont use sancode on macros replaying
  helix-term/src/ui/editor.rs
Labels: A-helix-term

evdev to fetch keyboard events
  helix-term/Cargo.toml
  helix-term/build.rs
  helix-term/src/commands.rs
  helix-term/src/ui/editor.rs
  helix-view/Cargo.toml
  helix-view/build.rs
  helix-view/src/editor.rs
  helix-view/src/lib.rs
  helix-view/src/scancode.rs
Labels: A-helix-term

map keyboard scancode to KeyCode
  Cargo.lock
  helix-term/Cargo.toml
  helix-term/src/commands.rs
  helix-term/src/ui/editor.rs
  helix-view/Cargo.toml
  helix-view/src/editor.rs
  helix-view/src/input.rs
  helix-view/src/lib.rs
  helix-view/src/scancode.rs
Labels: A-helix-term

fix: listen events from ungrabbed keyboard evdev devices
  helix-view/Cargo.toml
  helix-view/src/scancode.rs
Labels: none

fix rebase
  helix-view/src/input.rs
Labels: none

fix: shifted char for scancode 53
  helix-view/src/scancode.rs
Labels: none

cargo fmt
  helix-view/build.rs
Labels: none

feat: hidapi to listen keyboard events
  helix-term/Cargo.toml
  helix-term/build.rs
  helix-view/Cargo.toml
  helix-view/build.rs
  helix-view/src/scancode.rs
Labels: A-helix-term

style: format
  helix-term/build.rs
  helix-view/build.rs
Labels: A-helix-term

fix lints
  helix-term/build.rs
  helix-view/build.rs
Labels: A-helix-term

fix: long pressed keys on hidapi
  helix-view/src/scancode.rs
Labels: none

fix: rename var
  helix-view/src/scancode.rs
Labels: none

Update Cargo.lock
  Cargo.lock
Labels: none

stop on error
  helix-view/src/scancode.rs
Labels: none

Update Cargo.lock
  Cargo.lock
Labels: none

Add `yank-path` and `yank-path-relative` commands.
  book/src/generated/typable-cmd.md
  helix-term/src/commands/typed.rs
Labels: A-helix-term

Fix typo in languages.toml
  languages.toml
Labels: none

add colors to select component
  helix-term/src/handlers/trust.rs
  helix-term/src/ui/select.rs
Labels: A-helix-term

Fix typo in languages.toml (#14690)
  languages.toml
Labels: none

fix(tutor): add full stops for consistency
  runtime/tutor
Labels: none

fix(tutor): add full stops for consistency (#14693)
  runtime/tutor
Labels: none

Changed background colours in adwaita-dark theme to updated colours from GNOME 48
  runtime/themes/adwaita-dark.toml
Labels: A-theme

languages(html): add '<' to auto-pairs
  languages.toml
Labels: none

add goto-col function:
  helix-term/src/commands/engine/steel/mod.rs
Labels: A-helix-term

query keybindings api
  helix-term/src/commands/engine/steel/components.rs
  helix-term/src/commands/engine/steel/keymaps.scm
  helix-term/src/commands/engine/steel/mod.rs
  helix-view/src/extension.rs
Labels: A-helix-term

feat: determine auto-pairs from injection
  helix-core/src/syntax.rs
  helix-term/src/commands.rs
  helix-view/src/document.rs
Labels: A-core, A-helix-term

add goto-line
  helix-term/src/commands/engine/steel/mod.rs
Labels: A-helix-term

add optional param to extend
  helix-term/src/commands/engine/steel/mod.rs
Labels: A-helix-term

create mode from string
  helix-term/src/commands/engine/steel/mod.rs
Labels: A-helix-term

Added haxe language support
  languages.toml
  runtime/queries/haxe/folds.scm
  runtime/queries/haxe/highlights.scm
  runtime/queries/haxe/injections.scm
  runtime/queries/haxe/locals.scm
  runtime/queries/haxe/tags.scm
Labels: A-tree-sitter

Added Literate Haskell tree-sitter grammar and queries
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/haskell-literate/highlights.scm
  runtime/queries/haskell-literate/injections.scm
Labels: A-tree-sitter
