Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

Update onelight theme
  book/src/themes.md
  runtime/themes/onelight.toml
Labels: A-theme

docs: catppuccin themes should not be directly edited here
  runtime/themes/catppuccin_mocha.toml
Labels: A-theme

docs: improve wording
  runtime/themes/catppuccin_mocha.toml
Labels: A-theme

doc: generate `lang-support.md` for `teal`
  book/src/generated/lang-support.md
Labels: none

doc: generate `lang-support.md` for `teal` (#12402)
  book/src/generated/lang-support.md
Labels: none

deploy: 353176082e05696b292ccf65955333bd18deef97
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

Add cursorline color to iceberg theme
  runtime/themes/iceberg-dark.toml
Labels: A-theme

update steel
  Cargo.lock
Labels: none

Save an undo checkpoint before paste in insert mode (#8121)
  helix-term/src/commands.rs
Labels: A-helix-term

Add `:config-reload` to configuration docs (#11086)
  book/src/configuration.md
Labels: none

Set tags color in monokai theme (#11917)
  runtime/themes/monokai.toml
Labels: A-theme

Update Unison grammar and queries (#12039)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/unison/highlights.scm
  runtime/queries/unison/indents.scm
  runtime/queries/unison/textobjects.scm
Labels: A-tree-sitter

chore: update perl + pod parsers (#11848)
  languages.toml
  runtime/queries/perl/highlights.scm
Labels: A-tree-sitter

feat(highlights): add `INVARIANT` to error tag (#12094)
  runtime/queries/comment/highlights.scm
Labels: A-tree-sitter

queries/nix: add injections for nim writers (#11837)
  runtime/queries/nix/injections.scm
Labels: A-tree-sitter

fix(languages): treat tsconfig.json as jsonc (#12031)
  languages.toml
Labels: none

Add support for textproto language. (#11874)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/textproto/highlights.scm
  runtime/queries/textproto/indents.scm
  runtime/queries/textproto/textobjects.scm
Labels: A-tree-sitter

docs: Document what directory file_picker opens from (#10816)
  book/src/keymap.md
Labels: none

Docs Key-Remapping: Move Commands to top as introduction (#11953)
  book/src/remapping.md
Labels: none

fix: added .DS_Store to gitignore
  .gitignore
Labels: none

update to newest rescript treesitter library and queries (#11165)
  languages.toml
  runtime/queries/rescript/highlights.scm
  runtime/queries/rescript/injections.scm
  runtime/queries/rescript/locals.scm
  runtime/queries/rescript/textobjects.scm
Labels: A-tree-sitter

Pluralize 'parenthesis' in the tutorial (#12015)
  runtime/tutor
Labels: none

Add clipboard provider configuration (#10839)
  book/src/editor.md
  helix-term/src/commands/typed.rs
  helix-term/src/health.rs
  helix-view/src/clipboard.rs
  helix-view/src/editor.rs
  helix-view/src/register.rs
Labels: A-helix-term

helix-term: Use workspace thiserror dep
  helix-term/Cargo.toml
Labels: A-helix-term

docs: Remove invalid '--path helix-term' from build instructions
  book/src/building-from-source.md
Labels: none

feat(languages): add .livemd Markdown extension (#12034)
  languages.toml
Labels: none

docs: Improve display of inline-diagnostics config sample
  book/src/editor.md
Labels: none

Add new "Eiffel" theme (#11679)
  runtime/themes/eiffel.toml
Labels: A-theme

Make Spacebones theme picker selection more legible (#12064)
  runtime/themes/spacebones_light.toml
Labels: A-theme

Theme: Seoul256 dark & light (#11466)
  runtime/themes/seoul256-dark-hard.toml
  runtime/themes/seoul256-dark-soft.toml
  runtime/themes/seoul256-dark.toml
  runtime/themes/seoul256-light-hard.toml
  runtime/themes/seoul256-light-soft.toml
  runtime/themes/seoul256-light.toml
Labels: A-theme

Bump tree-sitter-nasm (#11795)
  languages.toml
Labels: none

Add correct source file for TypableCommandList (#11839)
  book/src/remapping.md
Labels: none

Add Carbonfox theme (#11558)
  runtime/themes/carbonfox.toml
  runtime/themes/licenses/carbonfox.license
Labels: A-theme

docs(keymap): add select_all_children (#11972)
  book/src/keymap.md
Labels: none

Update modus themes to 4.6.0 (#11949)
  runtime/themes/modus_operandi.toml
  runtime/themes/modus_operandi_deuteranopia.toml
  runtime/themes/modus_operandi_tinted.toml
  runtime/themes/modus_operandi_tritanopia.toml
  runtime/themes/modus_vivendi.toml
  runtime/themes/modus_vivendi_deuteranopia.toml
  runtime/themes/modus_vivendi_tinted.toml
  runtime/themes/modus_vivendi_tritanopia.toml
Labels: A-theme

Add package.json and (and tsconfig.json) for TS/JS language config roots (#10652)
  languages.toml
Labels: none

Theme: add adwaita-light theme (#10869)
  runtime/themes/adwaita-light.toml
Labels: A-theme

Bump tree-sitter llvm grammars (#11851)
  languages.toml
  runtime/queries/llvm-mir/highlights.scm
  runtime/queries/llvm/highlights.scm
  runtime/queries/tablegen/highlights.scm
Labels: A-tree-sitter

Document how to use modifier keys in macro remaps (#11930)
  book/src/remapping.md
Labels: none

Add yo themes (#11703)
  runtime/themes/yo.toml
  runtime/themes/yo_berry.toml
  runtime/themes/yo_light.toml
Labels: A-theme
