Repository helix-editor/helix, changes with the labels that .github/labeler.yml gives for each.
All labels: A-core, A-debug-adapter, A-helix-term, A-keymap, A-language-server, A-theme, A-tree-sitter, A-vcs

.github/labeler.yml:

A-core:
  - changed-files:
    - any-glob-to-any-file: [ helix-core/** ]

A-debug-adapter:
  - changed-files:
    - any-glob-to-any-file: [ helix-dap/** ]

A-helix-term:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/** ]

A-keymap:
  - changed-files:
    - any-glob-to-any-file: [ helix-term/src/keymap/**, helix-term/src/keymap.rs ]

A-language-server:
  - changed-files:
    - any-glob-to-any-file: [ helix-lsp/** ]

A-theme:
  - changed-files:
    - any-glob-to-any-file: [ runtime/themes/** ]

A-tree-sitter:
  - changed-files:
    - any-glob-to-any-file: [ runtime/queries/** ]

A-vcs:
  - changed-files:
    - any-glob-to-any-file: [ helix-vcs/** ]

Remove redundant highlights.
  runtime/queries/fennel/highlights.scm
Labels: A-tree-sitter

chore(jjdescription): bump rev to latest (#13329)
  languages.toml
  runtime/queries/jjdescription/highlights.scm
Labels: A-tree-sitter

Version bump Fennel tree-sitter grammar.
  languages.toml
Labels: none

remove the multilingual field from book.toml (#13328)
  book/book.toml
Labels: none

Basic injection queries for Quint (#13322)
  runtime/queries/quint/injections.scm
Labels: A-tree-sitter

add Quarto to default languages, #9389
  languages.toml
Labels: none

add quarto queries that inherit markdown
  runtime/queries/quarto/highlights.scm
  runtime/queries/quarto/indents.scm
  runtime/queries/quarto/injections.scm
Labels: A-tree-sitter

add Quarto to supported languages doc
  book/src/generated/lang-support.md
Labels: none

update serika themes
  runtime/themes/serika-dark.toml
  runtime/themes/serika-light.toml
Labels: A-theme

add primary cursor theming
  runtime/themes/serika-dark.toml
  runtime/themes/serika-light.toml
Labels: A-theme

fix broken value in `serika-light`
  runtime/themes/serika-light.toml
Labels: A-theme

feat: vcs: support Jujutsu as a diff-provider
  helix-term/Cargo.toml
  helix-vcs/Cargo.toml
  helix-vcs/src/jj.rs
  helix-vcs/src/lib.rs
  helix-vcs/src/status.rs
Labels: A-helix-term, A-vcs

feat: Diff source caching and autodetection
  Cargo.lock
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-vcs/Cargo.toml
  helix-vcs/src/git.rs
  helix-vcs/src/git/test.rs
  helix-vcs/src/lib.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-helix-term, A-vcs

add parent directory to bufferline
  helix-term/src/ui/editor.rs
  helix-view/src/editor.rs
Labels: A-helix-term

refactor: cast to u16 in a single place
  helix-term/src/ui/editor.rs
Labels: A-helix-term

feat: `:counter` command
  book/src/generated/typable-cmd.md
  helix-term/src/commands/typed.rs
Labels: A-helix-term

add smart bufferline directories
  helix-term/src/ui/editor.rs
  helix-view/src/editor.rs
Labels: A-helix-term

remove single directory option
  helix-term/src/ui/editor.rs
  helix-view/src/editor.rs
Labels: A-helix-term

feat: add capture group selection
  helix-core/src/selection.rs
Labels: A-core

Basic language support for Fennel. Might even work. (#13260)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/fennel/highlights.scm
Labels: A-tree-sitter

deploy: bce166290a25af4d921171028748ccca9b27dc3a
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

add: ui.text.focus to gruvbox configs (#13315)
  runtime/themes/gruvbox.toml
Labels: A-theme

tui: Refactor Config type handling in backends
  helix-term/src/application.rs
  helix-tui/src/backend/crossterm.rs
  helix-tui/src/backend/mod.rs
  helix-tui/src/backend/test.rs
  helix-tui/src/terminal.rs
Labels: A-helix-term

update serika themes (#13341)
  runtime/themes/serika-dark.toml
  runtime/themes/serika-light.toml
Labels: A-theme

feat(themes): add gruvbox-material (#13311)
  runtime/themes/gruvbox-material.toml
Labels: A-theme

add bufferline-directories=always back
  helix-term/src/ui/editor.rs
  helix-view/src/editor.rs
Labels: A-helix-term

Update other-software.md
  book/src/other-software.md
Labels: none

feat: add option for horizontal/vertical scrolloff
  book/src/editor.md
  helix-term/src/commands.rs
  helix-view/src/editor.rs
  helix-view/src/view.rs
Labels: A-helix-term

Update other-software.md (#13360)
  book/src/other-software.md
Labels: none

deploy: 795040910bd30c2bce12d5dd347cea4ae2576c69
  master/other-software.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

feat: add basic Quarto support (#13339)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/quarto/highlights.scm
  runtime/queries/quarto/indents.scm
  runtime/queries/quarto/injections.scm
Labels: A-tree-sitter

deploy: 37b5d8ba99d7d4867d25154daf214b7b9f1add9a
  master/lang-support.html
  master/print.html
  master/searchindex.js
  master/searchindex.json
Labels: none

Pull diagnostics
  helix-core/src/syntax.rs
  helix-lsp/src/client.rs
  helix-lsp/src/lib.rs
  helix-term/src/application.rs
  helix-term/src/handlers.rs
  helix-term/src/handlers/diagnostics.rs
  helix-view/src/document.rs
  helix-view/src/handlers.rs
  helix-view/src/handlers/lsp.rs
Labels: A-core, A-helix-term, A-language-server

Disable pull diagnostics for rust-analyzers
  languages.toml
Labels: none

chore: fix merge conflicts
  Cargo.lock
  helix-vcs/src/git/blame.rs
Labels: A-vcs

Replace Crossterm with Termina
  Cargo.lock
  Cargo.toml
  helix-term/Cargo.toml
  helix-term/src/application.rs
  helix-term/src/health.rs
  helix-term/src/main.rs
  helix-term/src/ui/editor.rs
  helix-term/tests/test/helpers.rs
  helix-tui/Cargo.toml
  helix-tui/src/backend/crossterm.rs
  helix-tui/src/backend/mod.rs
  helix-tui/src/backend/termina.rs
  helix-tui/src/backend/test.rs
  helix-tui/src/lib.rs
  helix-view/Cargo.toml
  helix-view/src/base64.rs
  helix-view/src/clipboard.rs
  helix-view/src/graphics.rs
  helix-view/src/input.rs
  helix-view/src/keyboard.rs
  helix-view/src/lib.rs
Labels: A-helix-term

Remove `Backend::get_cursor`
  helix-tui/src/backend/mod.rs
  helix-tui/src/backend/termina.rs
  helix-tui/src/backend/test.rs
  helix-tui/src/terminal.rs
Labels: none

Work around underline color bug
  helix-tui/src/backend/termina.rs
Labels: none

bump steel to fix windows
  Cargo.lock
Labels: none

feat: added ashen theme
  runtime/themes/ashen.toml
  runtime/themes/licenses/ashen.license
Labels: A-theme
