Repository helix-editor/helix, pull requests merged in 2022-10, with the labels that each got.

#3980 themes: Add onedarker
  runtime/themes/onedarker.toml
Labels: A-theme, S-waiting-on-review

#4040 Add support for webassembly text format
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/wast/highlights.scm
  runtime/queries/wat/highlights.scm
Labels: S-waiting-on-review

#4047 Ensure cursor in view after format
  helix-term/src/commands.rs
Labels: C-bug, A-helix-term, S-waiting-on-review

#4041 diff full-doc LSP edits
  helix-lsp/src/lib.rs
Labels: A-language-server, S-waiting-on-review

#4062 Add pseudo_pending for t/T/f/F
  helix-term/src/commands.rs
Labels: A-helix-term, S-waiting-on-review

#4078 Update treesitter markdown
  languages.toml
  runtime/queries/markdown/injections.scm
Labels: C-bug, S-waiting-on-review

#2982 Add goto line preview
  helix-term/src/commands/typed.rs
  helix-view/src/editor.rs
Labels: A-helix-term, S-waiting-on-review

#3049 Show "Invalid regex" message on enter (Validate)
  helix-term/src/ui/mod.rs
Labels: A-helix-term, S-waiting-on-review

#3067 Inherit theme
  Cargo.lock
  helix-view/Cargo.toml
  helix-view/src/theme.rs
Labels: A-helix-term, S-waiting-on-review

#3176 Cycled to end/beginning + no more matches msgs
  helix-term/src/commands.rs
  helix-term/src/ui/mod.rs
Labels: A-helix-term, S-waiting-on-review

#3311 Add configureable statusline mode names
  book/src/configuration.md
  helix-term/src/ui/statusline.rs
  helix-view/src/editor.rs
Labels: A-helix-term, S-waiting-on-review

#3312 Add dark high contrast theme refer to vscode
  runtime/themes/dark_high_contrast.toml
Labels: A-theme, S-waiting-on-review

#3960 feat(statusline): add option to show total line numbers in file
  book/src/configuration.md
  helix-term/src/ui/statusline.rs
  helix-view/src/editor.rs
Labels: A-helix-term, S-waiting-on-review

#3972 [lsp-restart]: call the force_shutdown method for the old_client
  helix-lsp/src/lib.rs
Labels: C-bug, A-language-server, S-waiting-on-review

#4030 Fix signature help panic when too large
  helix-term/src/ui/lsp.rs
Labels: C-bug, A-helix-term, S-waiting-on-review

#4071 Add command names to command palette
  helix-term/src/commands.rs
Labels: A-helix-term, S-waiting-on-review

#3549 Select inserted space after join
  book/src/keymap.md
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
Labels: A-helix-term, S-waiting-on-review

#3553 Find workspace from document path
  helix-lsp/src/client.rs
  helix-lsp/src/lib.rs
  helix-term/src/commands/typed.rs
  helix-view/src/editor.rs
Labels: A-helix-term, S-waiting-on-review

#3691 remove `split-debuginfo` setting
  Cargo.toml
Labels: S-waiting-on-review

#3753 Rename I/A "Insert at start/end of line"
  book/src/keymap.md
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
Labels: A-documentation, S-waiting-on-review

#3819 Add option to skip the first indent guide
  book/src/configuration.md
  helix-term/src/ui/editor.rs
  helix-view/src/editor.rs
Labels: A-helix-term, S-waiting-on-review

#3872 Change focus to modified docs on quit
  helix-term/src/commands/typed.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-helix-term, S-waiting-on-review

#3915 Keep arrow and special keys in insert
  book/src/keymap.md
  helix-term/src/keymap/default.rs
  runtime/tutor
Labels: A-keymap, S-waiting-on-review

#3952 respond to SIGUSR1 by reloading config
  book/src/configuration.md
  helix-term/src/application.rs
Labels: A-helix-term, S-waiting-on-review

#4077 Automatically track pseudo-pending text
  helix-term/src/commands.rs
  helix-term/src/ui/editor.rs
  helix-view/src/editor.rs
Labels: A-helix-term, S-waiting-on-review

#4088 doc: add example to disable arrow keys in insert mode
  book/src/keymap.md
Labels: A-documentation, S-waiting-on-review

#4101 Fix bugs in search wraparound message
  helix-term/src/commands.rs
Labels: C-bug, A-helix-term, S-waiting-on-review

#4136 Fix incorrect scrolloff default in documentation
  book/src/configuration.md
Labels: A-helix-term, S-waiting-on-review

#4084 Add cursorcolumn
  book/src/configuration.md
  book/src/themes.md
  helix-term/src/ui/editor.rs
  helix-view/src/editor.rs
  helix-view/src/theme.rs
Labels: A-gui, S-waiting-on-review

#4160 tutor: 5.5 add missing words
  runtime/tutor
Labels: S-waiting-on-review

#4140 Use different cursor color for primary cursor for ayu_mirage
  runtime/themes/ayu_mirage.toml
Labels: A-theme, S-waiting-on-review

#4118 Improve C# syntax highlighting
  languages.toml
  runtime/queries/c-sharp/highlights.scm
Labels: S-waiting-on-review

#4135 Fix goto/view center mismatch
  helix-view/src/lib.rs
Labels: A-helix-term, S-waiting-on-review

#4163 Add some vertical characters to the editor.indent-guides documentation
  book/src/configuration.md
Labels: A-documentation, S-waiting-on-review

#4176 Change twig tree-sitter grammar
  languages.toml
  runtime/queries/twig/highlights.scm
Labels: S-waiting-on-review

#3172 Propagate idle timeout event to components
  helix-term/src/application.rs
  helix-term/src/ui/editor.rs
  helix-view/src/input.rs
Labels: A-helix-term, S-waiting-on-review

#4113 Overlay all diagnostics with highest severity on top
  helix-term/src/ui/editor.rs
Labels: A-helix-term, S-waiting-on-review

#4146 Improve performance for files with lots of injections
  Cargo.lock
  helix-core/Cargo.toml
  helix-core/src/syntax.rs
Labels: A-core, S-waiting-on-review

#4109 Add colours "color-modes" to ayu_light theme
  runtime/themes/ayu_light.toml
Labels: A-theme, S-waiting-on-review

#3998 Update everforest theme
  runtime/themes/everforest_dark.toml
  runtime/themes/everforest_light.toml
Labels: A-theme, S-waiting-on-review

#4147 Fix append cursor location when selection anchor is at end of document
  helix-term/src/commands.rs
  helix-term/tests/test/movement.rs
Labels: C-bug, A-helix-term, S-waiting-on-author

#3552 Update tree-sitter-lua and add textobjects for Lua
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/lua/folds.scm
  runtime/queries/lua/highlights.scm
  runtime/queries/lua/indents.scm
  runtime/queries/lua/injections.scm
  runtime/queries/lua/textobjects.scm
Labels: S-waiting-on-review

#4227 Apply transactions to the jumplist for undo/redo
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-view/src/document.rs
Labels: C-bug, A-helix-term, S-waiting-on-review

#4079 Fix C++ syntax highlighting, and improve C & WGSL highlighting
  languages.toml
  runtime/queries/c/highlights.scm
  runtime/queries/cpp/highlights.scm
  runtime/queries/wgsl/highlights.scm
Labels: S-waiting-on-review

#4209 Created heisenberg theme for helix editor
  runtime/themes/heisenberg.toml
Labels: A-theme, S-waiting-on-review

#4278 c/c++ highlights: *& are @type or @operator based on context
  runtime/queries/c/highlights.scm
  runtime/queries/cpp/highlights.scm
Labels: S-waiting-on-review

#4282 c/c++ highlighting: various tweaks
  runtime/queries/c/highlights.scm
  runtime/queries/cpp/highlights.scm
Labels: S-waiting-on-review

#4281 Fixup Zig Indent Queries
  runtime/queries/zig/indents.scm
Labels: S-waiting-on-review

#4264 themes: Update bogster theme
  runtime/themes/bogster.toml
Labels: A-helix-term, S-waiting-on-review

#4265 themes: Add `bogster_light` theme
  runtime/themes/bogster_light.toml
Labels: A-theme, S-waiting-on-review

#4213 feat(csharp,debug): add C# debugger support
  helix-dap/src/types.rs
  helix-view/src/handlers/dap.rs
  languages.toml
Labels: S-waiting-on-review

#4319 Fix debug assertion for diagnostic sort order
  helix-term/src/ui/editor.rs
Labels: A-helix-term, S-waiting-on-review

#4315 Log failures to load tree-sitter parsers as error
  helix-core/src/syntax.rs
Labels: A-helix-term, S-waiting-on-review

#4221 Fix for rose_pine themes
  runtime/themes/rose_pine.toml
  runtime/themes/rose_pine_dawn.toml
  runtime/themes/rose_pine_moon.toml
Labels: A-theme, S-waiting-on-review

#4300 Add a first version of kanagawa theme
  runtime/themes/kanagawa.toml
Labels: A-theme, S-waiting-on-review

#4328 Fix deleting word from end of buffer
  helix-term/src/commands.rs
Labels: A-helix-term, S-waiting-on-review

#4061 Support different kinds of underline rendering (updated)
  Cargo.lock
  book/src/themes.md
  helix-tui/Cargo.toml
  helix-tui/src/backend/crossterm.rs
  helix-tui/src/buffer.rs
  helix-tui/src/text.rs
  helix-view/src/graphics.rs
  helix-view/src/gutter.rs
  helix-view/src/theme.rs
  runtime/themes/dark_plus.toml
  runtime/themes/onedark.toml
Labels: A-theme, A-gui, S-waiting-on-review

#4295 Pretty print `tree-sitter-subtree` expression
  helix-core/src/syntax.rs
  helix-term/src/commands/typed.rs
Labels: A-helix-term, S-waiting-on-review

#2455 Allow using path suffixes to associate language file-types
  book/src/languages.md
  helix-core/src/syntax.rs
  languages.toml
Labels: A-helix-term, S-waiting-on-review

#4024 Fix multi byte auto pairs
  helix-core/src/auto_pairs.rs
  helix-core/src/test.rs
  helix-term/tests/test/auto_pairs.rs
  helix-view/src/clipboard.rs
Labels: C-bug, A-core, S-waiting-on-review

#4098 Fix shellwords delimiter handling
  helix-core/src/shellwords.rs
Labels: A-core, S-waiting-on-review

#3178 Autosave all when the terminal loses focus
  book/src/configuration.md
  helix-term/src/application.rs
  helix-term/src/commands/typed.rs
  helix-term/src/ui/editor.rs
  helix-view/src/editor.rs
Labels: A-helix-term, S-waiting-on-review

#4367 Added 2 new themes
  runtime/themes/hex_steel.toml
  runtime/themes/hex_toxic.toml
Labels: A-theme, S-waiting-on-review

#4317 Theme: Papercolor: Fixed cursorline background
  runtime/themes/papercolor-dark.toml
Labels: A-theme, S-waiting-on-review

#4414 Change syntax for suffix file-types configurations
  book/src/languages.md
  helix-core/src/syntax.rs
  languages.toml
Labels: S-waiting-on-review

#4406 lsp: Resolve completion items missing documentation on idle
  helix-term/src/ui/completion.rs
  helix-term/src/ui/editor.rs
  helix-term/src/ui/menu.rs
Labels: A-helix-term, S-waiting-on-review

#4415 feat(themes): add mode-specific styles to the tokyonight themes
  runtime/themes/tokyonight.toml
  runtime/themes/tokyonight_storm.toml
Labels: A-theme, S-waiting-on-review

#4353 Update scala treesitter grammar
  languages.toml
Labels: A-tree-sitter, S-waiting-on-author

#4324 Render diagnostics in the file picker preview
  helix-term/src/ui/picker.rs
Labels: A-helix-term, S-waiting-on-review

#4156 fix: terminal freezing on `shell_insert_output`
  helix-term/src/commands.rs
Labels: A-helix-term, S-waiting-on-review

#4450 fix: repeating repeat operator
  helix-term/src/ui/editor.rs
Labels: C-bug, A-helix-term, S-waiting-on-review

#4426 Add `:update` that will write the changes if the file has been modified.
  book/src/generated/typable-cmd.md
  helix-term/src/commands/typed.rs
Labels: A-helix-term, S-waiting-on-review

#3740 commands: Make no arg ':theme' show name
  book/src/generated/typable-cmd.md
  helix-term/src/commands/typed.rs
  helix-view/src/theme.rs
Labels: A-helix-term, S-waiting-on-review

#4318 Allow the editor area to be bigger than u16 (width and height remain u16)
  helix-tui/src/buffer.rs
  helix-tui/tests/terminal.rs
  helix-view/src/graphics.rs
Labels: A-helix-term, S-waiting-on-review

#4370 Trim quotes and braces from paths in goto_file_impl
  helix-term/src/commands.rs
  helix-term/tests/test/commands.rs
Labels: C-enhancement, A-helix-term

#4456 fix: Never create automatic doc popups outside of Insert mode
  helix-term/src/commands/lsp.rs
Labels: C-bug, A-helix-term, S-waiting-on-review

#3180 Make shell_impl concurrent
  helix-term/src/commands.rs
Labels: A-helix-term, S-waiting-on-review

#4525 Support WIT grammar
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/wit/highlights.scm
  runtime/queries/wit/indents.scm
Labels: S-waiting-on-review
