Repository helix-editor/helix, pull requests merged in 2022-12, with the labels that each got.

#3890 (Git) diff gutter implementation
  Cargo.lock
  Cargo.toml
  book/src/configuration.md
  helix-core/src/lib.rs
  helix-term/Cargo.toml
  helix-term/src/application.rs
  helix-term/src/commands/typed.rs
  helix-term/src/ui/editor.rs
  helix-vcs/Cargo.toml
  helix-vcs/src/diff.rs
  helix-vcs/src/diff/line_cache.rs
  helix-vcs/src/diff/worker.rs
  helix-vcs/src/diff/worker/test.rs
  helix-vcs/src/git.rs
  helix-vcs/src/git/test.rs
  helix-vcs/src/lib.rs
  helix-view/Cargo.toml
  helix-view/src/document.rs
  helix-view/src/editor.rs
  helix-view/src/gutter.rs
  helix-view/src/view.rs
Labels: A-helix-term, S-waiting-on-review

#4965 reload_all: Ensure view is synced with doc history before reload
  helix-term/src/commands/typed.rs
Labels: C-bug, A-helix-term, S-waiting-on-review

#4935 feat(lsp): add support for lsp Diagnostic{}.data
  helix-core/src/diagnostic.rs
  helix-lsp/src/lib.rs
  helix-term/src/application.rs
Labels: A-language-server, S-waiting-on-review

#4961 Add Ctrl-i alias for Windows
  helix-term/src/keymap/default.rs
Labels: A-helix-term, S-waiting-on-review

#4973 Add logo with text included
  README.md
  logo_dark.svg
  logo_light.svg
Labels: S-waiting-on-review

#4977 Update zenburn theme for git gutters
  runtime/themes/zenburn.toml
Labels: A-theme, S-waiting-on-review

#4979 Update Doom Acario for git gutters
  runtime/themes/doom_acario_dark.toml
Labels: A-theme, S-waiting-on-review

#4981 Fix transaction composition order in History::changes_since
  helix-core/src/history.rs
  helix-term/tests/test/splits.rs
Labels: C-bug, A-helix-term, S-waiting-on-review

#4996 Autumn theme: adjust some gray colors
  runtime/themes/autumn.toml
  runtime/themes/autumn_night.toml
Labels: A-theme, S-waiting-on-review

#4982 Use logo for contrib icon
  contrib/helix.png
Labels: A-packaging

#5012 Reduce log message about diff timeout from warn to info
  helix-vcs/src/diff/worker.rs
Labels: S-waiting-on-review, A-vcs

#4999 Update Acme and Nord Light for git gutters
  runtime/themes/acme.toml
  runtime/themes/nord_light.toml
Labels: A-theme, S-waiting-on-review

#3782 Change default TS object bindings
  book/src/keymap.md
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
Labels: A-keymap, S-waiting-on-review, R-breaking-change

#4496 Apply completion edits to all cursors
  helix-lsp/src/lib.rs
  helix-term/src/ui/completion.rs
Labels: C-enhancement, A-helix-term, S-waiting-on-review

#3743 fix: align view after jumplist_picker
  helix-term/src/commands.rs
  helix-view/src/view.rs
Labels: C-bug, A-helix-term, S-waiting-on-review

#4997 Fleetish theme renamed to fleet dark and adjusted to match official theme.
  runtime/themes/fleet_dark.toml
Labels: A-theme, S-waiting-on-review, R-breaking-change

#4822 Add changelog notes for 22.12
  CHANGELOG.md
  VERSION
Labels: A-documentation, S-waiting-on-review

#5066 use curl underlines for gruvbox_dark_hard
  runtime/themes/gruvbox_dark_hard.toml
Labels: A-theme, S-waiting-on-review

#4902 Only write newlines in menu selection popup if the lsp returns detail
  helix-term/src/ui/completion.rs
Labels: A-helix-term, S-waiting-on-review

#5042 Fix LSP completions ignoring auto-completion option
  helix-term/src/commands.rs
Labels: S-waiting-on-review

#4004 allow specifying environment for language servers in language.toml
  book/src/languages.md
  helix-core/src/syntax.rs
  helix-lsp/src/client.rs
  helix-lsp/src/lib.rs
Labels: A-helix-term, S-waiting-on-review

#5019 Update `diagnostic.error` background for acme theme
  runtime/themes/acme.toml
Labels: A-theme, S-waiting-on-review

#5064 Add support for the BibTeX file format
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/bibtex/highlights.scm
  runtime/queries/bibtex/locals.scm
  runtime/queries/bibtex/tags.scm
Labels: S-waiting-on-review, A-language-support

#5085 Treat patches as diff files
  languages.toml
Labels: S-waiting-on-review, A-language-support

#5061 Add Haskell text objects
  book/src/generated/lang-support.md
  runtime/queries/haskell/textobjects.scm
Labels: S-waiting-on-review, A-language-support

#5097 properly handle detachted git worktrees
  helix-core/src/lib.rs
  helix-loader/src/grammar.rs
  helix-loader/src/lib.rs
  helix-term/src/ui/mod.rs
Labels: A-core, S-waiting-on-review, A-vcs

#5072 Reset mode when changing buffers
  helix-term/src/commands.rs
  helix-view/src/editor.rs
Labels: C-bug, A-helix-term, S-waiting-on-review

#5105 update(theme): adjust base16_transparent and dark_high_contrast
  book/src/themes.md
  runtime/themes/base16_transparent.toml
  runtime/themes/dark_high_contrast.toml
Labels: A-theme, S-waiting-on-review

#5091 Fix commonlisp filetypes typo and auto-pairs
  languages.toml
Labels: S-waiting-on-review, A-language-support

#5101 chore(book): link repository
  book/book.toml
Labels: A-documentation, S-waiting-on-review

#4931 Add `:pipe-to` typable command that ignores shell output
  book/src/generated/typable-cmd.md
  helix-term/src/commands/typed.rs
Labels: A-helix-term, S-waiting-on-review

#5147 Add Mermaid.js for markdown support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/mermaid/highlights.scm
Labels: S-waiting-on-review, A-language-support

#5149 Add Bash indents
  book/src/generated/lang-support.md
  runtime/queries/bash/indents.scm
Labels: S-waiting-on-review, A-language-support

#5073 Improve error message handling for theme loading failures
  helix-term/src/commands/typed.rs
  helix-view/src/theme.rs
Labels: C-enhancement, A-helix-term, S-waiting-on-review

#4713 Select diagnostic range in goto_*_diag commands
  helix-term/src/commands.rs
Labels: A-helix-term, S-waiting-on-review

#4354 add redraw command
  book/src/generated/typable-cmd.md
  helix-term/src/commands/typed.rs
  helix-term/src/compositor.rs
Labels: A-helix-term, S-waiting-on-review

#5169 Better sorting in picker in case of ties
  helix-term/src/ui/mod.rs
  helix-term/src/ui/picker.rs
Labels: A-helix-term, S-waiting-on-review

#4993 Crystal language support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/crystal/highlights.scm
Labels: S-waiting-on-review, A-language-support

#5192 Add support for MATLAB/Octave files
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/matlab/highlights.scm
Labels: S-waiting-on-review, A-language-support

#5265 Fix HTML injection within markdown
  runtime/queries/markdown/injections.scm
Labels: C-bug, S-waiting-on-review, A-language-support

#5161 tutor: Add a content cycling section
  runtime/tutor
Labels: A-documentation, S-waiting-on-review

#2707 Add file picker dialogue when opening a directory with :o
  helix-term/src/commands/typed.rs
Labels: A-helix-term, S-waiting-on-review

#5047 Add command to merge consecutive ranges in selection
  book/src/keymap.md
  helix-core/src/selection.rs
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
Labels: A-helix-term, S-waiting-on-review

#5189 Avoid trailing `s` in message when only 1 file is opened
  helix-term/src/application.rs
Labels: A-helix-term, S-waiting-on-author

#5247 Add eb word selection trick to the tutor
  runtime/tutor
Labels: A-documentation, S-waiting-on-review

#5211 tutor: add chapter for commenting lines
  runtime/tutor
Labels: A-documentation, S-waiting-on-review

#5268 Allow custom preprocessors for 'vue' injections
  runtime/queries/vue/injections.scm
Labels: S-waiting-on-review, A-language-support

#5273 Fix kanagawa theme lint and added git gutter colors
  runtime/themes/kanagawa.toml
Labels: A-theme, S-waiting-on-review

#5330 Fix erroneous indent between closers of auto-pairs
  helix-core/src/auto_pairs.rs
  helix-term/src/commands.rs
Labels: A-helix-term, S-waiting-on-review

#5334 Update `emacs` theme diff colors
  runtime/themes/emacs.toml
Labels: A-theme, S-waiting-on-review

#5239 Reload language config with `:config-reload`
  helix-term/src/application.rs
Labels: A-helix-term, S-waiting-on-review

#5329 Expand `~` when parsing file paths in `:open`
  helix-term/src/commands/typed.rs
Labels: A-helix-term, S-waiting-on-review

#5304 Add tutor example for WORDS
  runtime/tutor
Labels: A-documentation, C-enhancement, S-waiting-on-review

#5218 Fix theme inheritance for default themes
  helix-view/src/theme.rs
Labels: A-helix-term, S-waiting-on-review

#5318 Add a status line element that shows just the basename of the file
  book/src/configuration.md
  helix-term/src/ui/statusline.rs
  helix-view/src/editor.rs
Labels: A-gui, S-waiting-on-review

#5288 fix(commands): extend_line to proper line when count and current line selected
  helix-term/src/commands.rs
  helix-term/tests/test/commands.rs
Labels: C-bug, A-helix-term, S-waiting-on-review
