Repository helix-editor/helix, pull requests merged in 2022-09, with the labels that each got.

#3794 Canonicalize executable path
  helix-loader/src/lib.rs
Labels: A-helix-term, S-waiting-on-review

#3844 improve fleetish theme
  runtime/themes/fleetish.toml
Labels: A-theme, S-waiting-on-review

#3843 Improve flatwhite theme
  runtime/themes/flatwhite.toml
Labels: A-theme, S-waiting-on-review

#3853 fix: Improving JSX and TSX indents
  languages.toml
  runtime/queries/jsx/indents.scm
  runtime/queries/tsx/indents.scm
Labels: S-waiting-on-review

#3858 Fix typos
  CHANGELOG.md
  README.md
  book/src/commands.md
  book/src/from-vim.md
  book/src/guides/adding_languages.md
  book/src/keymap.md
  book/src/usage.md
  helix-core/src/movement.rs
Labels: A-documentation

#3499 Add Markdown LSP via Marksman
  book/src/generated/lang-support.md
  languages.toml
Labels: S-waiting-on-review

#3771 add `bass` language + highlighting
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/bass/highlights.scm
Labels: S-waiting-on-review

#3896 raise msrv to 1.59
  .github/workflows/msrv-rust-toolchain.toml
Labels: A-packaging, S-waiting-on-review

#3895 Re-sort diagnostics after transaction transform
  helix-view/src/document.rs
Labels: A-helix-term, S-waiting-on-review

#3807 Add command line parameter to specify log file
  contrib/completion/hx.bash
  contrib/completion/hx.elv
  contrib/completion/hx.fish
  contrib/completion/hx.zsh
  helix-term/src/args.rs
  helix-term/src/main.rs
Labels: A-helix-term, S-waiting-on-review

#3898 Track source and tags in diagnostics
  helix-core/src/diagnostic.rs
  helix-lsp/src/lib.rs
  helix-term/src/application.rs
Labels: A-language-server, S-waiting-on-review

#3644 Fix preview bug
  helix-term/src/commands/typed.rs
  helix-term/src/ui/prompt.rs
Labels: C-bug, A-helix-term, S-waiting-on-review

#3435 add :lsp-restart command
  book/src/generated/typable-cmd.md
  helix-lsp/src/lib.rs
  helix-term/src/commands/typed.rs
Labels: A-language-server, A-helix-term, S-waiting-on-review

#3927 Fix highlighting on single-character Rust consts
  runtime/queries/rust/highlights.scm
Labels: S-waiting-on-review

#3931 Improve keymap errors from command typos
  helix-term/src/keymap.rs
Labels: A-helix-term, S-waiting-on-review

#3913 Bump MSRV to 1.61 and document MSRV policy
  .github/workflows/msrv-rust-toolchain.toml
  Cargo.lock
  docs/CONTRIBUTING.md
  helix-term/Cargo.toml
  helix-term/src/ui/picker.rs
Labels: S-waiting-on-review

#3929 Split helix_core::find_root and helix_loader::find_local_config_dirs
  helix-core/src/lib.rs
  helix-loader/src/lib.rs
  helix-lsp/src/client.rs
  helix-term/src/commands.rs
Labels: C-bug, A-core, S-waiting-on-review

#3917 Add mix.exs and mix.lock as Elixir root markers
  languages.toml
Labels: S-waiting-on-review

#3888 docs: Punctuation on tutor
  runtime/tutor
Labels: A-documentation, S-waiting-on-review

#3881 Add bufferline colors to 15 themes
  runtime/themes/acme.toml
  runtime/themes/ayu_dark.toml
  runtime/themes/ayu_light.toml
  runtime/themes/ayu_mirage.toml
  runtime/themes/base16_default_dark.toml
  runtime/themes/base16_default_light.toml
  runtime/themes/bogster.toml
  runtime/themes/catppuccin_frappe.toml
  runtime/themes/catppuccin_latte.toml
  runtime/themes/catppuccin_macchiato.toml
  runtime/themes/catppuccin_mocha.toml
  runtime/themes/darcula.toml
  runtime/themes/dark_plus.toml
  runtime/themes/doom_acario_dark.toml
  runtime/themes/emacs.toml
Labels: A-theme, S-waiting-on-review

#3976 Remove `do_block` from Ruby indents
  runtime/queries/ruby/indents.scm
Labels: C-bug, S-waiting-on-review

#3973 fix: Improve JSX and TSX tag highlighting
  runtime/queries/jsx/highlights.scm
  runtime/queries/tsx/highlights.scm
Labels: S-waiting-on-review

#3948 Add gruvbox dark
  runtime/themes/gruvbox_dark_hard.toml
Labels: A-theme, S-waiting-on-author

#4007 Fix tutor typo `favourite` to `favorite`
  runtime/tutor
Labels: A-documentation, S-waiting-on-author

#4027 Tutor 5.2.: Missing <ESC> before removing the second cursor
  runtime/tutor
Labels: A-documentation, C-enhancement

#4031 Add comment injection for R
  runtime/queries/r/injections.scm
Labels: A-tree-sitter, S-waiting-on-review

#3996 WGSL syntax highlighting fix
  languages.toml
  runtime/queries/wgsl/highlights.scm
Labels: C-bug, S-waiting-on-review
