Repository helix-editor/helix, pull requests merged in 2022-11, with the labels that each got.

#4536 add highlights for env and ini file formats
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/env/highlights.scm
  runtime/queries/ini/highlights.scm
Labels: S-waiting-on-review

#4316 Correctly handle escaping in completion
  helix-core/src/shellwords.rs
  helix-term/src/commands/typed.rs
  helix-term/src/ui/prompt.rs
Labels: A-helix-term, S-waiting-on-review

#4558 Fix `delete_char_backward` for paired characters
  helix-term/src/commands.rs
Labels: C-bug, A-core, S-waiting-on-review

#4554 Exit select mode on replace commands
  helix-term/src/commands.rs
Labels: A-helix-term, S-waiting-on-review, R-breaking-change

#3220 Use OSC 52 as a fallback for setting the system clipboard
  helix-view/src/base64.rs
  helix-view/src/clipboard.rs
  helix-view/src/editor.rs
  helix-view/src/env.rs
  helix-view/src/lib.rs
Labels: A-helix-term, S-waiting-on-review

#4570 Fix panic from two windows editing the same document
  helix-term/src/ui/editor.rs
  helix-view/src/editor.rs
Labels: C-bug, A-helix-term, S-waiting-on-review

#4458 Select text inserted by shell or paste
  helix-term/src/commands.rs
Labels: A-helix-term, S-waiting-on-review, R-breaking-change

#4497 Fix panic on paste from blackhole register
  helix-term/src/commands.rs
Labels: C-bug, A-helix-term, S-waiting-on-review

#4588 Update Julia grammar, queries
  languages.toml
  runtime/queries/julia/highlights.scm
  runtime/queries/julia/locals.scm
Labels: S-waiting-on-review

#4608 Fix range offsets in multi-selection paste
  helix-term/src/commands.rs
  helix-term/tests/test/commands.rs
Labels: C-bug, A-helix-term, S-waiting-on-review

#4614 Run clippy on workspace in CI
  .github/workflows/build.yml
  helix-core/src/test.rs
  xtask/src/querycheck.rs
Labels: S-waiting-on-review

#4601 Improve Ruby TextObjects
  runtime/queries/ruby/textobjects.scm
Labels: S-waiting-on-review

#3469 Dynamically resize line number gutter width
  book/src/configuration.md
  helix-term/src/commands.rs
  helix-term/src/ui/editor.rs
  helix-view/src/editor.rs
  helix-view/src/gutter.rs
  helix-view/src/lib.rs
  helix-view/src/tree.rs
  helix-view/src/view.rs
Labels: A-helix-term, S-waiting-on-review

#4667 Fix panic from indenting on tree with errors
  helix-core/src/indent.rs
Labels: C-bug, A-core, S-waiting-on-review

#3140 Add LSP workspace command picker
  book/src/generated/typable-cmd.md
  helix-lsp/src/client.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/commands/typed.rs
  helix-term/src/ui/mod.rs
Labels: A-language-server, S-waiting-on-review

#4662 Update ayu themes
  runtime/themes/ayu_dark.toml
  runtime/themes/ayu_light.toml
  runtime/themes/ayu_mirage.toml
Labels: A-theme, S-waiting-on-review

#4697 feat: add sc to filetypes for Scala
  languages.toml
Labels: S-waiting-on-review, A-language-support

#4678 theme dark_plus color-modes insert and select
  runtime/themes/dark_plus.toml
Labels: A-theme, S-waiting-on-review

#4679 Enable elixir-ls for heex language
  book/src/generated/lang-support.md
  languages.toml
Labels: S-waiting-on-review, A-language-support

#4707 improve performance of tree sitter query captures (for text object motions in particular)
  helix-core/src/syntax.rs
Labels: A-tree-sitter, S-waiting-on-review

#4703 Update typescript grammar and queries
  languages.toml
  runtime/queries/typescript/highlights.scm
Labels: S-waiting-on-review, A-language-support

#4701 update scala roots
  languages.toml
Labels: S-waiting-on-review, A-language-support

#4418 feat(commands) increment by range
  helix-term/src/commands.rs
Labels: C-enhancement, A-helix-term, S-waiting-on-review

#4654 add `extend_prev_word_end` command
  helix-term/src/commands.rs
Labels: A-helix-term, S-waiting-on-review

#4682 Statusline indicator to show number of selected chars
  book/src/configuration.md
  helix-term/src/ui/statusline.rs
  helix-view/src/editor.rs
Labels: A-gui, S-waiting-on-review

#4619 Fix range offsets for multiple shell insertions
  helix-term/src/commands.rs
  helix-term/tests/test/commands.rs
Labels: C-bug, A-helix-term, S-waiting-on-review

#4403 Add support for Bicep files
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/bicep/highlights.scm
Labels: S-waiting-on-review

#4569 Add global error/warning count statusline element
  book/src/configuration.md
  helix-term/src/ui/statusline.rs
  helix-view/src/editor.rs
Labels: A-gui, S-waiting-on-review

#4449 Popup scrollbar
  helix-term/src/commands/lsp.rs
  helix-term/src/ui/completion.rs
  helix-term/src/ui/menu.rs
  helix-term/src/ui/popup.rs
Labels: A-gui, S-waiting-on-review

#4322 Add command to add word boundaries to search
  helix-term/src/commands.rs
Labels: A-helix-term, S-waiting-on-review

#4738 Fix deprecation warnings for chrono 0.4.23
  helix-core/src/increment/date_time.rs
Labels: A-dependencies, S-waiting-on-review

#4698 sort fuzzy matches with equal score by length in picker
  helix-term/src/ui/picker.rs
Labels: A-helix-term, S-waiting-on-review

#4712 Use key-sequence format for command palette keybinds
  helix-term/src/commands.rs
Labels: A-helix-term, S-waiting-on-review

#4607 Factor out common code for focusing the next view
  helix-view/src/editor.rs
  helix-view/src/tree.rs
Labels: S-waiting-on-review

#4632 Capture word parts while calculating shellwords
  helix-core/src/shellwords.rs
  helix-term/src/commands/typed.rs
Labels: C-bug, A-core, S-waiting-on-review

#4606 Use TreeCursor to pretty-print :tree-sitter-subtree
  helix-core/src/syntax.rs
Labels: C-bug, A-core, S-waiting-on-review

#3839 update `x_offset` calculation in `Buffer::set_string_truncated`
  helix-tui/src/buffer.rs
Labels: C-bug, A-helix-term, S-waiting-on-review

#4578 Remove prefix filtering from autocomplete menu
  helix-term/src/commands.rs
Labels: A-helix-term, S-waiting-on-review

#4752 Select surrounding characters when using match/surround (m) mode
  helix-term/src/commands.rs
Labels: A-helix-term, S-waiting-on-review

#4766 When buffer closes, focus on parent buffer
  helix-view/src/tree.rs
Labels: A-helix-term, S-waiting-on-author

#4770 Theme: Mellow
  runtime/themes/mellow.toml
Labels: A-theme, S-waiting-on-review

#4781 lsp: Resolve completion item asynchronously on idle-timeout
  helix-lsp/src/client.rs
  helix-term/src/ui/completion.rs
  helix-term/src/ui/menu.rs
Labels: C-bug, A-language-server, S-waiting-on-review

#4797 Handle language server termination
  helix-lsp/src/lib.rs
  helix-lsp/src/transport.rs
  helix-term/src/application.rs
Labels: C-enhancement, A-language-server, S-waiting-on-review

#4817 Make `r<tab>` and `f<tab>` work
  helix-term/src/commands.rs
Labels: A-helix-term, S-waiting-on-review

#4663 Add `:reload-all` command
  book/src/generated/typable-cmd.md
  helix-term/src/commands/typed.rs
Labels: A-helix-term, S-waiting-on-review

#3454 Add preview for scratch buffers in buffer picker
  helix-term/src/commands.rs
  helix-term/src/commands/dap.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/ui/mod.rs
  helix-term/src/ui/picker.rs
Labels: A-helix-term, S-waiting-on-review

#4824 Select new pasted text in normal mode only
  helix-term/src/commands.rs
Labels: A-helix-term, S-waiting-on-review

#4830 Bump tree-sitter pattern matching limit to 256
  helix-core/src/syntax.rs
Labels: C-bug, A-tree-sitter, S-waiting-on-review

#4750 Limit the number of items in the jumplist
  helix-term/src/commands.rs
  helix-view/src/view.rs
Labels: C-enhancement, A-helix-term, S-waiting-on-review

#3465 remove duplicated shell calls
  helix-term/src/commands.rs
Labels: A-helix-term, S-waiting-on-review

#3554 lsp: Check server provider capabilities
  helix-lsp/src/client.rs
  helix-term/src/commands.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/ui/completion.rs
Labels: A-language-server, S-waiting-on-review

#4716 significantly improve treesitter performance while editing large files
  Cargo.lock
  helix-core/Cargo.toml
  helix-core/src/syntax.rs
Labels: A-tree-sitter, S-waiting-on-review

#4733 Apply transactions to all views
  helix-core/src/history.rs
  helix-term/src/ui/editor.rs
  helix-term/tests/test/splits.rs
  helix-view/src/lib.rs
  helix-view/src/macros.rs
  helix-view/src/view.rs
Labels: C-bug, A-helix-term, S-waiting-on-author

#4842 Add QML language support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/qml/highlights.scm
  runtime/queries/qml/indents.scm
  runtime/queries/qml/injections.scm
Labels: S-waiting-on-review, A-language-support

#4832 tutor: Add missing quotes
  runtime/tutor
Labels: A-documentation, S-waiting-on-review

#4852 Drain pending requests on language server termination
  helix-lsp/src/transport.rs
Labels: C-bug, A-language-server, S-waiting-on-review

#4854 Clear line on `<ret>` when line is all whitespace
  helix-term/src/commands.rs
Labels: C-enhancement, A-helix-term, S-waiting-on-review

#4769 add theme nightfox
  runtime/themes/nightfox.toml
Labels: A-theme, S-waiting-on-review

#4813 feat(themes): improve fleetish
  runtime/themes/fleetish.toml
Labels: A-theme, S-waiting-on-review

#4888 Remove selections for closed views on all documents
  helix-view/src/editor.rs
Labels: C-bug, A-helix-term, S-waiting-on-review

#4906 Fix Go variable indentation
  runtime/queries/go/indents.scm
Labels: S-waiting-on-review, A-language-support

#4882 Update CSS syntax highlighting
  languages.toml
  runtime/queries/css/highlights.scm
Labels: A-language-server, S-waiting-on-review

#4917 Bump ropey to 1.5.1-alpha
  Cargo.lock
  helix-core/Cargo.toml
Labels: A-dependencies

#4457 Significantly improve performance of `:reload`
  Cargo.lock
  helix-core/Cargo.toml
  helix-core/src/diff.rs
  helix-core/src/transaction.rs
Labels: A-dependencies, A-core, S-waiting-on-review

#4928 delete outdated reference to cessen/ropey#25
  helix-core/src/diff.rs
Labels: A-documentation, S-waiting-on-review

#4887 Handle disambiguated keycodes
  helix-view/src/input.rs
  helix-view/src/keyboard.rs
Labels: C-bug, A-helix-term, S-waiting-on-review

#4937 Add shift-backspace keybind alias for backspace
  book/src/keymap.md
  helix-term/src/keymap/default.rs
  helix-term/src/ui/prompt.rs
Labels: A-keymap, S-waiting-on-review

#4764 Fix ayu theme cursor issue
  runtime/themes/ayu_dark.toml
  runtime/themes/ayu_light.toml
  runtime/themes/ayu_mirage.toml
Labels: A-theme, S-waiting-on-review

#4915 Fix file-types declaration for racket
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/racket/highlights.scm
  runtime/queries/racket/injections.scm
Labels: C-bug, S-waiting-on-review, A-language-support
