Repository helix-editor/helix, pull requests merged in 2022-05, with the labels that each got.

#2497 feat(helix-term): deletion of lines affecting popup scrolling
  helix-term/src/ui/popup.rs
Labels: S-waiting-on-review

#2494 Include macro attributes to impls, structs, enums, functions etc. texobjects
  helix-core/src/syntax.rs
  runtime/queries/rust/textobjects.scm
Labels: S-waiting-on-review

#2461 Implement view transpose
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
  helix-view/src/editor.rs
  helix-view/src/tree.rs
Labels: S-waiting-on-review

#2458 support insert register in prompt
  book/src/keymap.md
  helix-term/src/ui/prompt.rs
Labels: S-waiting-on-review

#2437 Separate colors for different diagnostics types
  book/src/themes.md
  helix-term/src/ui/editor.rs
  theme.toml
Labels: S-waiting-on-review

#2514 address rust 1.61.0 clippy lints
  helix-term/src/commands.rs
  helix-term/src/ui/picker.rs
Labels: S-waiting-on-review

#2506 Fix panic when reloading a shrunk file
  helix-term/src/commands/typed.rs
Labels: S-waiting-on-review

#2523 Add theme key for picker separator
  book/src/themes.md
  helix-term/src/ui/picker.rs
  theme.toml
Labels: S-waiting-on-review

#2450 Add shrink equivalent of extend_to_line_bounds
  book/src/keymap.md
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
Labels: S-waiting-on-author

#2562 Changing Macro color to avoid color confusion
  runtime/themes/catpuccin.toml
Labels: S-needs-discussion

#2472 feat(lang): Update Nix grammar & improve queries
  languages.toml
  runtime/queries/nix/highlights.scm
  runtime/queries/nix/indents.scm
Labels: S-waiting-on-author
