Repository helix-editor/helix, pull requests merged in 2023-06, with the labels that each got.

#7227 fix UB in diff gutter
  helix-vcs/src/diff/line_cache.rs
Labels: C-bug, E-easy, S-waiting-on-review, A-vcs

#7197 Fix textobject keybindings in usage docs
  book/src/usage.md
Labels: C-bug, A-documentation, E-easy

#7231 Update install.md instructions regarding symlinks
  book/src/install.md
Labels: A-documentation, C-enhancement, E-easy, S-waiting-on-review

#7213 Add blueprint language
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/blueprint/highlights.scm
Labels: S-waiting-on-review, A-language-support

#4288 feat(core): add plaintext matching fallback to tree-sitter matching
  helix-core/src/match_brackets.rs
  helix-term/src/commands.rs
Labels: A-core, S-waiting-on-review

#7212 Recognize 'make' file-type as Makefile
  languages.toml
Labels: A-language-support

#7256 Add support for Forth
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/forth/highlights.scm
Labels: A-language-support

#7229 Autumn theme: style "soft-wrap indicator" + maintenance
  runtime/themes/autumn.toml
  runtime/themes/autumn_night.toml
Labels: A-theme

#7178 Add check for a non-zero value for tab width
  helix-core/src/syntax.rs
Labels: C-bug, A-helix-term, S-waiting-on-review

#7140 Add support for language t32
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/t32/highlights.scm
  runtime/queries/t32/injections.scm
Labels: A-language-support

#7139 theme: added gruvbox dark soft variant
  runtime/themes/gruvbox_dark_soft.toml
Labels: A-theme

#7286 Bail if no language servers support workspace symbols
  helix-term/src/commands/lsp.rs
Labels: E-easy, A-language-server, S-waiting-on-review

#7281 Fix style overwriting in table rows with multiple cells
  helix-tui/src/widgets/table.rs
Labels: C-bug, E-easy, A-helix-term, S-waiting-on-review

#5837 Auto indent on `insert_at_line_start`
  helix-term/src/commands.rs
  helix-term/tests/test/commands.rs
Labels: C-enhancement, E-easy, A-helix-term, S-waiting-on-review

#7222 Add register statusline element
  book/src/configuration.md
  helix-term/src/ui/statusline.rs
  helix-view/src/editor.rs
Labels: C-enhancement, A-helix-term

#7189 Add config option for instant completion entry preview.
  book/src/configuration.md
  helix-term/src/ui/completion.rs
  helix-view/src/editor.rs
Labels: A-helix-term

#7300 Support core mode for delve debugger
  languages.toml
Labels: S-waiting-on-review, A-debug-adapter

#7320 Check for 'git' before fetching/building grammars
  Cargo.lock
  helix-loader/Cargo.toml
  helix-loader/src/grammar.rs
Labels: C-enhancement, E-easy, A-tree-sitter, S-waiting-on-review

#6624 Clarify the runtime directory location in installation docs
  book/src/install.md
Labels: A-documentation, S-waiting-on-review

#7186 Add merionette theme
  runtime/themes/merionette.toml
Labels: A-theme

#7333 Explain how to enter Select mode in keymap
  book/src/keymap.md
Labels: A-documentation, C-enhancement, E-easy, S-waiting-on-review

#7290 Webc language support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/webc/highlights.scm
  runtime/queries/webc/injections.scm
Labels: A-language-support

#5621 Add config for default line ending
  book/src/configuration.md
  helix-core/src/lib.rs
  helix-core/src/line_ending.rs
  helix-term/tests/test/auto_pairs.rs
  helix-term/tests/test/helpers.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-helix-term, S-waiting-on-review

#7195 Add yank_joined command
  book/src/generated/typable-cmd.md
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
Labels: A-helix-term, S-waiting-on-review

#7334 Add forth-lsp and update tree-sitter-forth
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/forth/highlights.scm
Labels: A-language-support

#5119 Allow ANSI colors in themes
  helix-view/src/theme.rs
Labels: A-theme, S-waiting-on-review

#7264 Merge FilePicker into Picker
  helix-term/src/commands.rs
  helix-term/src/commands/dap.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/ui/mod.rs
  helix-term/src/ui/picker.rs
Labels: S-waiting-on-review

#7382 Fix Component implementations for Picker
  helix-term/src/ui/picker.rs
Labels: C-bug, E-easy, S-waiting-on-review

#7387 highlight(sql): Update tree-sitter-sql to `98a7fc9`
  languages.toml
  runtime/queries/sql/highlights.scm
Labels: S-waiting-on-review, A-language-support

#7242 match pairs which don't form a standalone TS node
  helix-core/src/match_brackets.rs
  helix-term/src/commands.rs
  helix-term/src/ui/editor.rs
Labels: C-enhancement, A-tree-sitter, E-medium, A-core, S-waiting-on-review

#7250 Theme: port of Zed's OneDark and OneLight themes
  runtime/themes/zed_onedark.toml
  runtime/themes/zed_onelight.toml
Labels: A-theme, S-waiting-on-review

#7388 Switch MATLAB tree-sitter parser
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/matlab/context.scm
  runtime/queries/matlab/folds.scm
  runtime/queries/matlab/highlights.scm
  runtime/queries/matlab/indents.scm
  runtime/queries/matlab/injections.scm
  runtime/queries/matlab/locals.scm
  runtime/queries/matlab/textobjects.scm
Labels: S-waiting-on-review, A-language-support

#7429 Allow any indent size from 1 to 16
  helix-core/src/indent.rs
Labels: C-enhancement, S-waiting-on-review

#7431 Mark buffers created from stdin as modified
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: C-bug, S-waiting-on-review

#7471 correctly map unsorted positions
  helix-core/src/transaction.rs
  helix-view/src/document.rs
Labels: C-bug, A-core, S-waiting-on-review

#7467 LSP: Discard publishDiagnostic from uninitialized servers
  helix-term/src/application.rs
Labels: C-enhancement, E-easy, A-language-server, S-waiting-on-review

#7469 LSP: Use negotiated position encoding for workspace edits
  helix-term/src/application.rs
Labels: C-bug, E-easy, A-language-server, S-waiting-on-review

#7449 LSP: Forcefully shutdown uninitialized servers
  helix-lsp/src/transport.rs
Labels: C-enhancement, A-language-server, S-waiting-on-review

#7492 Add .cppm file type to cpp language configuration
  languages.toml
Labels: E-easy, S-waiting-on-review, A-language-support
