Repository helix-editor/helix, pull requests merged in 2023-10, with the labels that each got.

#8388 Add VSCode file associations
  languages.toml
Labels: S-waiting-on-review, A-language-support

#8433 Add validation to the CSS and JSON language servers
  languages.toml
Labels: S-waiting-on-review, A-language-support

#8421 LSP: Fix codeAction/resolve server capability check
  helix-lsp/src/client.rs
Labels: C-bug, E-easy, A-language-server, S-waiting-on-review

#8441 book: Fix broken link
  book/src/guides/injection.md
Labels: C-bug, A-documentation, S-waiting-on-review

#8223 enable starting hx with a working directory
  helix-term/src/application.rs
  helix-term/src/args.rs
  helix-term/src/main.rs
Labels: E-easy, S-waiting-on-review

#8473 add json5 language
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/json5/highlights.scm
Labels: S-waiting-on-review, A-language-support

#7973 Add ansible-language-server for yaml
  book/src/generated/lang-support.md
  languages.toml
Labels: S-waiting-on-review, A-language-support

#8464 bump tree-sitter-sql
  languages.toml
  runtime/queries/sql/highlights.scm
Labels: S-waiting-on-review, A-language-support

#8521 Add +N CLI argument to jump to first file's line number
  helix-term/src/args.rs
  helix-term/src/main.rs
Labels: C-enhancement, S-waiting-on-review

#8475 Make parse_macro work for "-" outside "<..>"
  helix-view/src/input.rs
Labels: A-helix-term, S-waiting-on-review

#8527 Update tree-sitter-purescript
  languages.toml
  runtime/queries/purescript/highlights.scm
Labels: S-waiting-on-review, A-language-support

#8528 Add 'while_statement' to bash indents
  runtime/queries/bash/indents.scm
Labels: S-waiting-on-review, A-language-support

#7315 Add support for showing all LSPs in --health
  helix-term/src/health.rs
Labels: A-helix-term, S-waiting-on-review

#8551 fix(lsp): ensure we only highlight diagnostics for lsp with the feature enabled
  helix-term/src/ui/editor.rs
Labels: E-easy, A-language-server, S-waiting-on-review

#8558 Bump tree-sitter-haskell and update queries
  languages.toml
  runtime/queries/haskell/highlights.scm
Labels: S-waiting-on-review, A-language-support

#8549 Add nord night theme
  runtime/themes/nord-night.toml
Labels: A-theme, S-waiting-on-review

#8520 Fix issue with opening a relative directory with `hx <dir>` introduced in #8498
  helix-term/src/application.rs
  helix-term/src/args.rs
  helix-term/src/main.rs
  helix-term/tests/test/helpers.rs
Labels: C-bug, S-waiting-on-review

#8099 Add helix-specific ignore files
  helix-term/src/commands.rs
  helix-term/src/ui/mod.rs
Labels: E-easy, S-waiting-on-review, A-command

#8540 languages: add templ
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/templ/highlights.scm
  runtime/queries/templ/injections.scm
Labels: S-waiting-on-review, A-language-support

#8569 don't break on hyphen with :reflow
  helix-core/src/wrap.rs
Labels: S-waiting-on-author, A-command

#8587 Theme cyan light diff colors
  runtime/themes/cyan_light.toml
Labels: A-theme, S-waiting-on-review

#8610 Add optional runtime fallback directory
  book/src/install.md
  helix-loader/src/lib.rs
Labels: A-packaging

#8086 Add changelog notes for 23.10
  CHANGELOG.md
  VERSION
  contrib/Helix.appdata.xml
Labels: A-documentation

#8621 CI: Publish stable book before master
  .github/workflows/gh-pages.yml
Labels: C-bug, A-documentation, E-easy, S-waiting-on-review

#7474 Add typst language and lsp
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/typst/highlights.scm
  runtime/queries/typst/injections.scm
Labels: S-waiting-on-review, A-language-support

#8536 Add LPF tree sitter
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/lpf/highlights.scm
Labels: S-waiting-on-review, A-language-support

#8591 Use terminfo to reset terminal cursor style
  helix-tui/src/backend/crossterm.rs
Labels: C-enhancement, A-helix-term, S-waiting-on-review

#8624 switch to tree-sitter-ron
  languages.toml
  runtime/queries/ron/highlights.scm
  runtime/queries/ron/indents.scm
  runtime/queries/ron/injections.scm
Labels: S-waiting-on-review, A-language-support

#8598 Theme: Add gruber-darker theme
  runtime/themes/gruber-darker.toml
Labels: A-theme, S-waiting-on-review

#8623 Say "unindent" instead of "outdent" in tutor
  runtime/tutor
Labels: A-documentation, S-waiting-on-review

#8564 feat(highlights): add more comment highlights
  runtime/queries/comment/highlights.scm
Labels: C-enhancement, S-waiting-on-review, A-language-support

#8659 Fix precedence order of `@align` captures in indent computation
  helix-core/src/indent.rs
Labels: S-waiting-on-review, A-indent

#8656 languages: add golangci-lint-langserver
  book/src/generated/lang-support.md
  languages.toml
Labels: S-waiting-on-review, A-language-support

#8661 Update idle-timeout in docs
  book/src/configuration.md
Labels: A-documentation, S-waiting-on-review

#8663 Add MacPorts as installation option for MacOS
  book/src/install.md
Labels: A-documentation, S-waiting-on-review

#8684 Add missing license files for themes
  runtime/themes/licenses/everforest.LICENSE
  runtime/themes/licenses/serika-syntax.LICENSE
  runtime/themes/licenses/sonokai.LICENSE
Labels: S-waiting-on-review
