Repository helix-editor/helix, pull requests merged in 2023-01, with the labels that each got.

#5368 flake: Fix devshell for darwin hosts
  flake.nix
Labels: C-bug, A-packaging, S-waiting-on-review

#5370 Mention the icon in README.md
  README.md
Labels: C-bug, A-documentation, S-waiting-on-review

#5415 Fix typos
  book/src/keymap.md
Labels: A-documentation, S-waiting-on-review

#5353 Add GitHub themes
  runtime/themes/github_dark.toml
  runtime/themes/github_dark_colorblind.toml
  runtime/themes/github_dark_dimmed.toml
  runtime/themes/github_dark_high_contrast.toml
  runtime/themes/github_dark_tritanopia.toml
  runtime/themes/github_light.toml
  runtime/themes/github_light_colorblind.toml
  runtime/themes/github_light_high_contrast.toml
  runtime/themes/github_light_tritanopia.toml
Labels: A-theme, S-waiting-on-review

#5332 Improve indent queries for python
  runtime/queries/python/indents.scm
Labels: S-waiting-on-review, A-language-support

#5363 book: Clarify install commands for msys2 in Windows
  book/src/install.md
Labels: A-documentation, C-enhancement, S-waiting-on-review

#5175 Fix autocompletion for paths with period
  helix-term/src/ui/mod.rs
Labels: C-bug, A-helix-term, S-waiting-on-review

#5349 Fix Broken Attribute Highlights
  book/src/themes.md
  runtime/queries/rust/highlights.scm
Labels: S-waiting-on-review, A-language-support

#5333 Specify primary selection colour for Gruvbox themes
  runtime/themes/gruvbox.toml
  runtime/themes/gruvbox_dark_hard.toml
  runtime/themes/gruvbox_light.toml
Labels: A-theme, S-waiting-on-review

#5471 jsonrpc: Skip serializing params if params are None
  helix-lsp/src/jsonrpc.rs
Labels: C-bug, A-language-server, S-waiting-on-review

#5366 Fix name of channel endpoints in DAP client
  helix-dap/src/client.rs
Labels: S-waiting-on-review, A-debug-adapter

#5416 Add language support for ponylang
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/ponylang/highlights.scm
  runtime/queries/ponylang/indents.scm
  runtime/queries/ponylang/locals.scm
  runtime/queries/ponylang/textobjects.scm
Labels: S-waiting-on-review, A-language-support

#5457 Update tree-sitter-cpp, support injections in tagged rawstrings
  languages.toml
  runtime/queries/cpp/injections.scm
Labels: C-enhancement, S-waiting-on-review, A-language-support

#5404 Update catppuccin themes
  runtime/themes/catppuccin_frappe.toml
  runtime/themes/catppuccin_latte.toml
  runtime/themes/catppuccin_macchiato.toml
  runtime/themes/catppuccin_mocha.toml
Labels: A-theme, S-waiting-on-review

#5419 Change built-in themes to use curly underlines
  runtime/themes/ayu_dark.toml
  runtime/themes/ayu_light.toml
  runtime/themes/ayu_mirage.toml
  runtime/themes/bogster.toml
  runtime/themes/bogster_light.toml
  runtime/themes/boo_berry.toml
  runtime/themes/darcula.toml
  runtime/themes/doom_acario_dark.toml
  runtime/themes/emacs.toml
  runtime/themes/everforest_dark.toml
  runtime/themes/everforest_light.toml
  runtime/themes/flatwhite.toml
  runtime/themes/fleet_dark.toml
  runtime/themes/gruvbox.toml
  runtime/themes/gruvbox_dark_hard.toml
  runtime/themes/gruvbox_light.toml
  runtime/themes/heisenberg.toml
  runtime/themes/hex_lavender.toml
  runtime/themes/hex_steel.toml
  runtime/themes/ingrid.toml
  runtime/themes/kanagawa.toml
  runtime/themes/meliora.toml
  runtime/themes/mellow.toml
  runtime/themes/monokai.toml
  runtime/themes/monokai_pro.toml
  runtime/themes/monokai_pro_machine.toml
  runtime/themes/monokai_pro_octagon.toml
  runtime/themes/monokai_pro_ristretto.toml
  runtime/themes/monokai_pro_spectrum.toml
  runtime/themes/night_owl.toml
  runtime/themes/nightfox.toml
  runtime/themes/noctis.toml
  runtime/themes/noctis_bordo.toml
  runtime/themes/nord.toml
  runtime/themes/nord_light.toml
  runtime/themes/onedarker.toml
  runtime/themes/onelight.toml
  runtime/themes/papercolor-dark.toml
  runtime/themes/papercolor-light.toml
  runtime/themes/penumbra+.toml
  runtime/themes/pop-dark.toml
  runtime/themes/rasmus.toml
  runtime/themes/rose_pine.toml
  runtime/themes/rose_pine_dawn.toml
  runtime/themes/rose_pine_moon.toml
  runtime/themes/serika-dark.toml
  runtime/themes/serika-light.toml
  runtime/themes/solarized_dark.toml
  runtime/themes/solarized_light.toml
  runtime/themes/sonokai.toml
  runtime/themes/spacebones_light.toml
  runtime/themes/tokyonight.toml
  runtime/themes/varua.toml
Labels: A-theme, S-waiting-on-review

#5489 Rosé Pine theme: use official variants
  runtime/themes/rose_pine.toml
  runtime/themes/rose_pine_dawn.toml
  runtime/themes/rose_pine_moon.toml
Labels: A-theme, S-waiting-on-review

#5426 Fix for lost clipboard contents (#5424)
  Cargo.lock
  helix-view/Cargo.toml
  helix-view/src/clipboard.rs
Labels: C-bug, A-helix-term, S-waiting-on-review

#4435 Add ability to load files in the background without closing the picker
  helix-term/src/ui/picker.rs
Labels: A-keymap, S-waiting-on-review

#5294 Commit to history after executing a command from the palette
  helix-term/src/commands.rs
Labels: A-helix-term, S-waiting-on-review

#5356 Add command to rotate view backward
  helix-term/src/commands.rs
  helix-view/src/editor.rs
Labels: C-enhancement, A-helix-term, S-waiting-on-review

#5130 Primary cursor colors by mode
  book/src/themes.md
  helix-term/src/ui/editor.rs
Labels: A-theme, S-waiting-on-review

#5572 doc: add build instructions for musl-libc
  book/src/install.md
Labels: A-documentation, S-waiting-on-review

#5579 Fix panic for noop selecting join
  helix-term/src/commands.rs
Labels: C-bug, E-easy, S-waiting-on-review

#5576 highlight(scala): update to fix potential crash
  languages.toml
  runtime/queries/scala/highlights.scm
Labels: S-waiting-on-author, A-language-support

#5602 fix(theme): Replace non-palette color "magenta" with palette color "red" in `monokai_pro_spectrum`
  runtime/themes/monokai_pro_spectrum.toml
Labels: A-theme, S-waiting-on-review

#5601 book: Link MSYS2 proper command page
  book/src/install.md
Labels: A-documentation, S-waiting-on-review

#3971 themes: Extend snazzy
  runtime/themes/snazzy.toml
Labels: A-theme, S-waiting-on-review

#5598 Remove apply_transaction helper
  helix-term/src/commands.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/commands/typed.rs
  helix-term/src/ui/completion.rs
  helix-term/src/ui/editor.rs
  helix-term/tests/test/helpers.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
  helix-view/src/lib.rs
  helix-view/src/view.rs
Labels: S-waiting-on-review

#5578 theme: monkai_aqua variant
  runtime/themes/monokai_aqua.toml
Labels: A-theme, S-waiting-on-review

#5609 tutor: Change "Type" to "Press" for specials keys and modifiers
  runtime/tutor
Labels: A-documentation, S-waiting-on-review

#5406 book: Use per-theme syntax-highlighting CSS variables
  book/theme/css/variables.css
  book/theme/highlight.css
Labels: A-documentation, S-waiting-on-review

#4724 Add configuration for min width of line-numbers gutter
  book/src/configuration.md
  helix-view/src/editor.rs
  helix-view/src/gutter.rs
  helix-view/src/tree.rs
  helix-view/src/view.rs
Labels: A-helix-term

#5619 Add `markup.strikethrough` theme keys
  runtime/themes/autumn.toml
  runtime/themes/base16_default_dark.toml
  runtime/themes/base16_default_light.toml
  runtime/themes/base16_terminal.toml
  runtime/themes/base16_transparent.toml
  runtime/themes/bogster.toml
  runtime/themes/bogster_light.toml
  runtime/themes/boo_berry.toml
  runtime/themes/catppuccin_mocha.toml
  runtime/themes/darcula.toml
  runtime/themes/dark_high_contrast.toml
  runtime/themes/dark_plus.toml
  runtime/themes/doom_acario_dark.toml
  runtime/themes/dracula.toml
  runtime/themes/dracula_at_night.toml
  runtime/themes/emacs.toml
  runtime/themes/everforest_dark.toml
  runtime/themes/everforest_light.toml
  runtime/themes/flatwhite.toml
  runtime/themes/fleet_dark.toml
  runtime/themes/github_dark.toml
  runtime/themes/github_light.toml
  runtime/themes/gruvbox.toml
  runtime/themes/gruvbox_dark_hard.toml
  runtime/themes/gruvbox_light.toml
  runtime/themes/hex_steel.toml
  runtime/themes/ingrid.toml
  runtime/themes/kanagawa.toml
  runtime/themes/meliora.toml
  runtime/themes/mellow.toml
  runtime/themes/monokai.toml
  runtime/themes/monokai_pro.toml
  runtime/themes/monokai_pro_machine.toml
  runtime/themes/monokai_pro_octagon.toml
  runtime/themes/monokai_pro_ristretto.toml
  runtime/themes/monokai_pro_spectrum.toml
  runtime/themes/night_owl.toml
  runtime/themes/nightfox.toml
  runtime/themes/noctis.toml
  runtime/themes/noctis_bordo.toml
  runtime/themes/nord.toml
  runtime/themes/onedark.toml
  runtime/themes/onedarker.toml
  runtime/themes/onelight.toml
  runtime/themes/papercolor-dark.toml
  runtime/themes/papercolor-light.toml
  runtime/themes/penumbra+.toml
  runtime/themes/pop-dark.toml
  runtime/themes/rasmus.toml
  runtime/themes/rose_pine.toml
  runtime/themes/serika-dark.toml
  runtime/themes/serika-light.toml
  runtime/themes/snazzy.toml
  runtime/themes/solarized_dark.toml
  runtime/themes/solarized_light.toml
  runtime/themes/sonokai.toml
  runtime/themes/spacebones_light.toml
  runtime/themes/tokyonight.toml
  theme.toml
Labels: A-theme, S-waiting-on-review

#5634 Use markdown language for hub pull-request files
  languages.toml
Labels: S-waiting-on-review, A-language-support

#5639 Fix selecting a changed file in global search
  helix-term/src/commands.rs
Labels: C-bug, E-easy, S-waiting-on-review

#5649 Support sagemath language
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/sage/highlights.scm
  runtime/queries/sage/injections.scm
  runtime/queries/sage/textobjects.scm
Labels: S-waiting-on-review, A-language-support

#5659 Switch from toml::from_slice to toml::from_str
  helix-loader/src/config.rs
  helix-loader/src/lib.rs
  helix-view/src/theme.rs
  xtask/src/helpers.rs
  xtask/src/themelint.rs
Labels: E-easy, A-dependencies, S-waiting-on-review

#5440 Sonokai theme: style secondary selections differently
  runtime/themes/sonokai.toml
Labels: A-theme, S-waiting-on-review

#5643 Add Appstream metadata file
  contrib/Helix.appdata.xml
  docs/releases.md
Labels: A-packaging, S-waiting-on-review

#5185 keymap: Test backslash escaping in commands
  helix-term/src/commands.rs
  helix-term/src/keymap.rs
Labels: C-bug, A-keymap, S-waiting-on-review

#5677 Change default language server for 'v' from 'vls' to 'v ls'
  book/src/generated/lang-support.md
  languages.toml
Labels: S-waiting-on-review, A-language-support

#5679 add explicit formatter for cue
  languages.toml
Labels: S-waiting-on-review, A-language-support

#5629 queries/nix: add injections for builtins and writers
  runtime/queries/nix/injections.scm
Labels: S-waiting-on-review, A-language-support

#5687 Add `Justfile` to the file types for make
  languages.toml
Labels: S-waiting-on-review, A-language-support

#5696 Parse gutter-types as Strings
  helix-view/src/editor.rs
Labels: C-bug, S-waiting-on-review

#5697 Fix clippy 1.67 warnings
  helix-loader/src/config.rs
  helix-loader/src/grammar.rs
  helix-term/src/ui/menu.rs
  helix-term/src/ui/picker.rs
  helix-tui/src/buffer.rs
  helix-view/src/theme.rs
Labels: E-easy, S-waiting-on-review

#5681 Update tutor logo
  runtime/tutor
Labels: A-documentation, S-waiting-on-review

#5683 Update tree-sitter-sql and improve highlight queries
  languages.toml
  runtime/queries/sql/highlights.scm
Labels: E-easy, S-waiting-on-review, A-language-support

#5729 Use filename completer on run-shell-command
  helix-term/src/commands/typed.rs
Labels: E-easy, A-helix-term, S-waiting-on-review

#5726 build(deps): bump toml from 0.6.0 to 0.7.0
  Cargo.lock
  helix-core/Cargo.toml
  helix-loader/Cargo.toml
  helix-term/Cargo.toml
  helix-view/Cargo.toml
  xtask/Cargo.toml
Labels: A-dependencies, S-waiting-on-review

#5720 Modify env language to extend bash
  languages.toml
  runtime/queries/env/highlights.scm
Labels: E-easy, S-waiting-on-review, A-language-support

#5646 Support goto-declaration LSP command
  helix-lsp/src/client.rs
  helix-term/src/commands.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/keymap/default.rs
Labels: C-enhancement, A-language-server, S-waiting-on-review

#5420 rework positioning/rendering and enable softwrap/virtual text
  book/src/configuration.md
  book/src/languages.md
  helix-core/src/doc_formatter.rs
  helix-core/src/doc_formatter/test.rs
  helix-core/src/graphemes.rs
  helix-core/src/lib.rs
  helix-core/src/movement.rs
  helix-core/src/position.rs
  helix-core/src/selection.rs
  helix-core/src/text_annotations.rs
  helix-term/src/application.rs
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
  helix-term/src/ui/completion.rs
  helix-term/src/ui/document.rs
  helix-term/src/ui/editor.rs
  helix-term/src/ui/lsp.rs
  helix-term/src/ui/mod.rs
  helix-term/src/ui/picker.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
  helix-view/src/gutter.rs
  helix-view/src/lib.rs
  helix-view/src/theme.rs
  helix-view/src/view.rs
Labels: C-enhancement, E-hard, A-core, S-waiting-on-review, E-testing-wanted

#5755 theme(onedark): Add ui.highlight scope
  runtime/themes/onedark.toml
Labels: A-theme, S-waiting-on-review
