Repository helix-editor/helix, pull requests merged in 2023-02, with the labels that each got.

#5638 Add ayu_evolve theme
  runtime/themes/ayu_evolve.toml
Labels: A-theme, S-waiting-on-review

#5196 Fix initial highlight layer sort order
  helix-core/src/syntax.rs
Labels: C-bug, A-tree-sitter, S-waiting-on-review

#4571 Surround with line-endings on `ms<ret>`
  helix-term/src/commands.rs
Labels: C-enhancement, A-helix-term, S-waiting-on-review

#5738 Fix utf8 length handling for shellwords
  helix-core/src/shellwords.rs
Labels: C-bug, A-core, S-waiting-on-review

#5658 Hide duplicate symlinks from the picker
  book/src/configuration.md
  helix-term/src/commands.rs
  helix-term/src/lib.rs
  helix-term/src/ui/mod.rs
  helix-view/src/editor.rs
Labels: C-enhancement, E-easy, A-helix-term, S-waiting-on-review

#5786 fix position translation at EOF with softwrap
  helix-term/src/ui/document.rs
Labels: C-bug, E-easy, A-helix-term, S-waiting-on-review

#5777 Tabulate buffer picker contents
  helix-term/src/commands.rs
Labels: C-enhancement, S-waiting-on-review

#5070 Resolve conflicts between insert mode and completion menu bindings
  helix-term/src/ui/menu.rs
Labels: A-keymap, S-waiting-on-review

#4666 add picker: current view dir
  helix-term/src/commands.rs
Labels: A-helix-term, S-waiting-on-review

#5790 Ensure history is completed and cursor is in view after pasting
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
Labels: C-bug, E-easy, S-waiting-on-review

#5719 Add Jellybeans theme
  runtime/themes/jellybeans.toml
Labels: A-theme, S-waiting-on-review

#5772 feat: Update `tree-sitter-sql` and migrate `highlights.scm` to match grammar
  languages.toml
  runtime/queries/sql/highlights.scm
Labels: S-waiting-on-review, A-language-support

#5793 Add MSBuild language based on XML grammar
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/msbuild/highlights.scm
  runtime/queries/msbuild/indents.scm
  runtime/queries/msbuild/injections.scm
Labels: S-waiting-on-author, A-language-support

#4000 Add :character-info command
  book/src/generated/typable-cmd.md
  helix-term/src/commands/typed.rs
  helix-term/tests/test/commands.rs
Labels: A-helix-term, S-waiting-on-review

#5823 Add `ui.virtual.wrap` to theme docs
  book/src/themes.md
Labels: A-documentation, E-easy, S-waiting-on-review

#5822 docs: Fix PowerShell runtime linking command
  README.md
  book/src/install.md
Labels: A-documentation, S-waiting-on-author

#5605 Make `fleet-dark` accurate to the official theme
  runtime/themes/fleet_dark.toml
Labels: A-theme, S-waiting-on-review

#5778 Add Darcula Solid theme
  runtime/themes/darcula-solid.toml
Labels: A-theme, S-waiting-on-review

#5206 Select change range for goto_first/last_change commands
  helix-term/src/commands.rs
Labels: C-bug, A-helix-term, S-waiting-on-review

#5851 Short-circuit the word and treesitter object movement commands
  helix-core/src/movement.rs
Labels: C-bug, E-easy, A-core, S-waiting-on-review

#5863 xml: add mobileconfig & plist file types
  languages.toml
Labels: S-waiting-on-review, A-language-support

#5797 feat: add pem language
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/pem/highlights.scm
Labels: S-waiting-on-review, A-language-support

#5713 Fix Go select indenting
  runtime/queries/go/indents.scm
Labels: S-waiting-on-review, A-language-support

#5805 Check for external file modifications when writing
  helix-term/tests/test/commands.rs
  helix-term/tests/test/helpers.rs
  helix-term/tests/test/write.rs
  helix-view/src/document.rs
Labels: C-enhancement, E-easy, S-waiting-on-review

#5873 Add `Containerfile` file-type for dockerfile language
  languages.toml
Labels: S-waiting-on-review, A-language-support

#5872 update bug report template
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: A-documentation, C-enhancement, E-easy, S-waiting-on-review

#5570 bump msrv to 1.63
  .github/workflows/build.yml
  .github/workflows/msrv-rust-toolchain.toml
  helix-term/src/commands.rs
  helix-term/src/compositor.rs
  helix-term/src/job.rs
  helix-term/src/ui/editor.rs
  helix-term/src/ui/menu.rs
  helix-term/src/ui/picker.rs
  helix-term/src/ui/prompt.rs
  rust-toolchain.toml
Labels: E-easy, A-packaging, S-waiting-on-review

#5711 properly handle LSP position encoding
  helix-core/src/line_ending.rs
  helix-core/src/transaction.rs
  helix-lsp/src/client.rs
  helix-lsp/src/lib.rs
Labels: C-bug, A-language-server, E-medium, S-waiting-on-review

#5888 Fix the infinite loop when copying the cursor to the top of the file
  helix-term/src/commands.rs
  helix-term/tests/test/commands.rs
Labels: C-bug, E-easy

#5892 Fix new clippy lints
  helix-core/src/comment.rs
  helix-core/src/increment/integer.rs
  helix-core/src/indent.rs
  helix-core/src/syntax.rs
  helix-lsp/src/client.rs
  helix-term/src/commands.rs
  helix-term/src/lib.rs
  helix-term/src/ui/document.rs
  helix-term/src/ui/editor.rs
  helix-term/src/ui/fuzzy_match.rs
  helix-vcs/src/git/test.rs
  helix-view/src/base64.rs
  helix-view/src/clipboard.rs
  helix-view/src/document.rs
  helix-view/src/gutter.rs
  helix-view/src/input.rs
  helix-view/src/view.rs
  xtask/src/themelint.rs
Labels: E-easy, S-waiting-on-review

#4959 Add tree-sitter-passwd
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/passwd/highlights.scm
Labels: S-waiting-on-review, A-language-support

#4950 Added tree-sitter-hosts
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/hosts/highlights.scm
Labels: S-waiting-on-review, A-language-support

#4731 Split modification indicator from file statusline elements
  helix-term/src/ui/statusline.rs
  helix-view/src/editor.rs
Labels: A-gui, S-waiting-on-review, R-breaking-change

#5898 Add exit code to command failed msg
  helix-term/src/commands.rs
Labels: A-helix-term, S-waiting-on-review

#3344 Make `m` textobject look for pairs enclosing selections
  helix-core/src/surround.rs
  helix-core/src/textobject.rs
  helix-term/src/commands.rs
  helix-term/tests/test/movement.rs
Labels: A-helix-term, S-waiting-on-review

#5894 Negotiate LSP Position Encoding
  Cargo.lock
  helix-lsp/Cargo.toml
  helix-lsp/src/client.rs
  helix-lsp/src/lib.rs
  helix-term/src/commands/lsp.rs
Labels: E-easy, A-language-server, S-waiting-on-review

#5842 Refactor completion doc popup and fix positioning
  helix-term/src/ui/completion.rs
Labels: A-helix-term, S-waiting-on-author

#5929 Remove Outdated Tutor Note About Increment and Decrement Behavior
  runtime/tutor
Labels: A-documentation, C-enhancement, E-easy, S-waiting-on-review

#5933 Prevent a panic when uncommenting a line with only a comment token
  helix-core/src/comment.rs
Labels: C-bug, E-easy, A-core, S-waiting-on-review

#4085 Add :toggle-option command
  book/src/generated/typable-cmd.md
  helix-term/src/commands/typed.rs
Labels: A-helix-term, S-waiting-on-review

#5932 feat(ui): deprecated completions
  helix-lsp/src/client.rs
  helix-term/src/ui/completion.rs
Labels: C-enhancement, E-easy, A-helix-term, S-waiting-on-review

#5969 docs: clarify `join_selections_space`
  book/src/keymap.md
Labels: A-documentation

#5987 Fix crash in goto_window_center at EOF
  helix-term/src/commands.rs
Labels: C-bug, E-easy, S-waiting-on-review

#6009 Remove text bg from monokai
  runtime/themes/monokai.toml
Labels: E-easy, A-theme, S-waiting-on-review

#6003 Add `.env.dist` to `source.env` language scope
  languages.toml
Labels: S-waiting-on-review, A-language-support

#6006 Use Popup::ignore_escape_key helper for completion
  helix-term/src/ui/completion.rs
Labels: C-enhancement, S-waiting-on-review

#6010 LSP: Add request ID to request timeout message
  helix-lsp/src/client.rs
  helix-lsp/src/jsonrpc.rs
  helix-lsp/src/lib.rs
Labels: C-enhancement, E-easy, A-language-server, S-waiting-on-review

#6008 ignore case while filtering completions
  helix-term/src/ui/menu.rs
Labels: C-enhancement, E-easy, A-helix-term, S-waiting-on-review

#6000 Ignore invalid file URIs from LSP
  helix-term/src/application.rs
Labels: C-bug, A-language-server, S-waiting-on-review

#5992 feat(theme) pop-dark adjustments and clean up
  runtime/themes/pop-dark.toml
Labels: A-theme, S-waiting-on-review

#5918 Unify usage of indent_style
  helix-core/src/indent.rs
  helix-core/tests/indent.rs
  helix-term/src/commands.rs
  helix-view/src/document.rs
Labels: C-bug, E-medium, A-core, S-waiting-on-review

#5895 Show current language when no argument is provided
  book/src/generated/typable-cmd.md
  helix-term/src/commands/typed.rs
  helix-term/src/ui/statusline.rs
  helix-view/src/document.rs
Labels: A-helix-term, S-waiting-on-review

#6018 DAP: Add request ID to request timeout message
  helix-dap/src/client.rs
  helix-dap/src/lib.rs
Labels: C-enhancement, E-easy, S-waiting-on-review

#5994 flake: pass helix' wrapper through
  flake.nix
Labels: A-packaging, S-waiting-on-review

#6030 Update tree-sitter-git-rebase
  runtime/queries/git-rebase/highlights.scm
  runtime/queries/git-rebase/injections.scm
Labels: S-waiting-on-review, S-waiting-on-pr, A-language-support

#6047 Add support for the uxntal language
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/uxntal/highlights.scm
Labels: E-easy, S-waiting-on-review, A-language-support

#5967 Expand contributing docs
  docs/CONTRIBUTING.md
Labels: A-documentation, S-waiting-on-review

#5532 feat(dap): send Disconnect if Terminated event received
  helix-dap/src/client.rs
  helix-dap/src/lib.rs
  helix-dap/src/types.rs
  helix-term/src/commands/dap.rs
  helix-view/src/handlers/dap.rs
Labels: S-waiting-on-review, A-debug-adapter

#5628 fix(dap): validate key and index exist when requesting vars
  helix-term/src/commands/dap.rs
Labels: C-bug, S-waiting-on-review, A-debug-adapter

#6064 Added yuck language support (for eww)
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/yuck/highlights.scm
  runtime/queries/yuck/injections.scm
Labels: S-waiting-on-review, A-language-support

#5996 Add GNU gettext PO grammar
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/po/highlights.scm
  runtime/queries/po/textobjects.scm
Labels: S-waiting-on-review, A-language-support

#6041 feat(sql): MariaDB/MySQL syntax, Apache Hive syntax, unified builtin functions, floats, negative integers
  languages.toml
  runtime/queries/sql/highlights.scm
Labels: S-waiting-on-review, A-language-support

#6100 Improve markdown highlights and add latex injection
  languages.toml
  runtime/queries/markdown.inline/injections.scm
  runtime/queries/markdown/highlights.scm
Labels: C-enhancement, E-easy, S-waiting-on-review, A-language-support

#6023 Add language support for sway
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/sway/highlights.scm
  runtime/queries/sway/indents.scm
  runtime/queries/sway/injections.scm
  runtime/queries/sway/locals.scm
  runtime/queries/sway/textobjects.scm
Labels: S-waiting-on-review, A-language-support

#6068 feat: add nasm language
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/nasm/highlights.scm
  runtime/queries/nasm/injections.scm
  runtime/queries/nasm/textobjects.scm
Labels: S-waiting-on-review, A-language-support

#6084 Add elm treesitter textobjects
  book/src/generated/lang-support.md
  runtime/queries/elm/textobjects.scm
Labels: S-waiting-on-review, A-language-support

#6107 Fix diagnostic underline colors in catppuccin themes
  runtime/themes/catppuccin_mocha.toml
Labels: A-theme, S-waiting-on-review

#6085 Kanagawa: fix bufferline, theme wrap-indicators, cursor, menu, and syntax changes
  runtime/themes/kanagawa.toml
Labels: A-theme, S-waiting-on-review

#6086 theme: Add Everblush
  runtime/themes/everblush.toml
Labels: A-theme, S-waiting-on-review

#6042 theme: Add Adwaita Dark
  runtime/themes/adwaita-dark.toml
Labels: A-theme, S-waiting-on-review
