Repository helix-editor/helix, pull requests merged in 2023-03, with the labels that each got.

#6139 Ignore key-release keyboard events
  helix-term/src/application.rs
Labels: C-bug, S-waiting-on-review, E-testing-wanted

#6136 Fix indentation lines (#6134)
  helix-term/src/ui/document.rs
Labels: C-bug, E-easy, S-waiting-on-review

#6163 CI: Update cachix/install-nix-action to v20
  .github/workflows/cachix.yml
Labels: C-bug, github_actions, S-waiting-on-review

#6142 Fix scrolloff at view bottom
  helix-view/src/view.rs
Labels: C-bug, E-easy, S-waiting-on-review

#6126 feat(prql): add prql support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/prql/highlights.scm
  runtime/queries/prql/injections.scm
Labels: S-waiting-on-review, A-language-support

#6036 Document the file-modification-indicator statusline element
  book/src/configuration.md
Labels: A-documentation, E-easy, S-waiting-on-author

#6162 Theme: Papercolor: Add ui.highlight
  runtime/themes/papercolor-dark.toml
  runtime/themes/papercolor-light.toml
Labels: A-theme, S-waiting-on-review

#6180 Add support for reStructuredText
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/rst/highlights.scm
Labels: S-waiting-on-review, A-language-support

#6109 Fix lacking space panic
  helix-term/src/ui/markdown.rs
  helix-view/src/graphics.rs
Labels: C-bug, E-easy, A-helix-term, S-waiting-on-author

#6186 Update queries for godot4
  languages.toml
  runtime/queries/gdscript/highlights.scm
  runtime/queries/gdscript/indents.scm
  runtime/queries/godot-resource/injections.scm
Labels: S-waiting-on-review, A-language-support

#5651 feat(dap): implement Restart request
  helix-dap/src/client.rs
  helix-dap/src/types.rs
  helix-term/src/commands.rs
  helix-term/src/commands/dap.rs
  helix-term/src/keymap/default.rs
Labels: C-enhancement, S-waiting-on-review, A-debug-adapter

#5862 docs: describe tab-width and unit subkeys
  book/src/languages.md
Labels: A-documentation, S-waiting-on-review

#5534 Rewrite and refactor all documentation
  README.md
  book/src/SUMMARY.md
  book/src/commands.md
  book/src/configuration.md
  book/src/guides/README.md
  book/src/guides/adding_languages.md
  book/src/guides/indent.md
  book/src/guides/textobject.md
  book/src/install.md
  book/src/keymap.md
  book/src/lang-support.md
  book/src/languages.md
  book/src/remapping.md
  book/src/themes.md
  book/src/usage.md
Labels: A-documentation, E-medium, S-waiting-on-review

#6192 Update onelight theme
  runtime/themes/onelight.toml
Labels: A-theme, S-waiting-on-author

#6218 Pin tree-sitter at git master
  Cargo.lock
  Cargo.toml
Labels: A-tree-sitter, S-waiting-on-review

#5736 Add command for resetting diff hunks
  book/src/generated/typable-cmd.md
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-vcs/src/diff.rs
  helix-vcs/src/diff/line_cache.rs
  helix-vcs/src/diff/worker.rs
  helix-vcs/src/diff/worker/test.rs
  helix-view/src/gutter.rs
Labels: C-enhancement, E-medium, S-waiting-on-review, A-vcs

#6058 LSP: Send replies for malformed and unhandled RPC requests
  helix-term/src/application.rs
Labels: C-bug, A-language-server, S-waiting-on-review

#5986 Jump to symbol ranges in LSP goto commands
  helix-term/src/commands/lsp.rs
Labels: C-enhancement, E-easy, A-helix-term, S-waiting-on-review

#6004 DynamicPicker: Recalculate column widths for new options
  helix-term/src/ui/picker.rs
Labels: C-bug, A-helix-term, S-waiting-on-review

#5751 Do not add intermediate lines to jumplist with :<linenum> command.
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-view/src/editor.rs
Labels: C-bug, E-medium, S-waiting-on-review

#5893 Softwrapping improvements
  book/src/configuration.md
  book/src/languages.md
  helix-core/src/syntax.rs
  helix-core/src/wrap.rs
  helix-term/src/commands/typed.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
  languages.toml
Labels: E-easy, A-helix-term, S-waiting-on-review, R-breaking-change

#5411 Generalised to multiple runtime directories with priorities
  book/src/install.md
  helix-loader/src/grammar.rs
  helix-loader/src/lib.rs
  helix-term/src/application.rs
  helix-term/src/commands/typed.rs
  helix-term/src/health.rs
  helix-term/src/ui/mod.rs
  helix-view/src/theme.rs
Labels: A-helix-term, S-waiting-on-review

#5682 Add a version-control statusline element
  Cargo.lock
  book/src/configuration.md
  helix-term/src/ui/statusline.rs
  helix-vcs/Cargo.toml
  helix-vcs/src/git.rs
  helix-vcs/src/lib.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: C-enhancement, E-easy, A-helix-term, S-waiting-on-review, A-vcs

#6250 queries/php: add injections for regex and sql injection
  runtime/queries/php/injections.scm
Labels: S-waiting-on-review, A-language-support

#6256 Also highlight unchecked variants of the sqlx query methods
  runtime/queries/rust/injections.scm
Labels: S-waiting-on-review, A-language-support

#5934 Feat: LSP Type Hints
  book/src/configuration.md
  book/src/themes.md
  helix-core/src/diagnostic.rs
  helix-core/src/doc_formatter/test.rs
  helix-core/src/text_annotations.rs
  helix-lsp/src/client.rs
  helix-term/src/commands.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/ui/editor.rs
  helix-term/src/ui/picker.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
  helix-view/src/tree.rs
  helix-view/src/view.rs
  languages.toml
Labels: C-enhancement, A-language-server, E-medium, S-waiting-on-review

#6263 indent snippets to line indent instead of completion start
  helix-lsp/src/lib.rs
  helix-term/src/ui/completion.rs
Labels: E-easy, A-language-server, S-waiting-on-review

#6266 fleet_dark: theme inlay hints
  runtime/themes/fleet_dark.toml
Labels: A-theme, S-waiting-on-review

#6278 Fix indentation level calculation for lines mixing tabs and spaces
  helix-core/src/indent.rs
Labels: C-bug, E-easy, A-core, S-waiting-on-review

#6258 LSP: No-op client/registerCapability requests
  helix-lsp/src/lib.rs
  helix-term/src/application.rs
Labels: C-enhancement, E-easy, A-language-server, S-waiting-on-review

#3546 helix-term: send the STOP signal to all processes in the process group
  Cargo.lock
  helix-term/Cargo.toml
  helix-term/src/application.rs
Labels: C-bug, A-helix-term

#6257 Check language server symbol renaming support before prompting
  helix-lsp/src/client.rs
  helix-term/src/commands/lsp.rs
Labels: C-enhancement, A-language-server, S-waiting-on-review

#6295 theme: Use inheritance for gruvbox themes
  runtime/themes/gruvbox_dark_hard.toml
  runtime/themes/gruvbox_light.toml
Labels: E-easy, A-theme, S-waiting-on-review

#6253 Add undercurl config option
  book/src/configuration.md
  helix-term/src/application.rs
  helix-tui/src/backend/crossterm.rs
  helix-tui/src/lib.rs
  helix-view/src/editor.rs
Labels: E-easy, A-helix-term, S-waiting-on-review

#5966 Only complete appropriate arguments for typed commands.
  helix-term/src/commands/typed.rs
Labels: C-enhancement, E-easy, S-waiting-on-review

#6279 Improve tree-sitter queries for vlang
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/v/highlights.scm
  runtime/queries/v/indents.scm
  runtime/queries/v/injections.scm
  runtime/queries/v/textobjects.scm
Labels: C-enhancement, S-waiting-on-review, A-language-support

#6312 Prevent whitespace from rendering inside inlay hints
  helix-term/src/ui/document.rs
Labels: E-easy, A-helix-term, S-waiting-on-author

#6342 theme: update adwaita-dark for bufferline
  runtime/themes/adwaita-dark.toml
Labels: A-theme, S-waiting-on-review

#6325 Add language support for Cap’n Proto format
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/capnp/folds.scm
  runtime/queries/capnp/highlights.scm
  runtime/queries/capnp/indents.scm
  runtime/queries/capnp/injections.scm
  runtime/queries/capnp/locals.scm
Labels: S-waiting-on-author, A-language-support

#6333 Fix highlighting in picker with multiple columns
  helix-term/src/ui/picker.rs
  helix-tui/src/text.rs
Labels: C-bug, S-waiting-on-author

#6368 Add instructions for installing via AppImage
  book/src/install.md
Labels: A-documentation, S-waiting-on-author

#6371 Robust snippet parsing
  helix-lsp/src/snippet.rs
Labels: C-bug, A-language-server, E-medium, S-waiting-on-review

#5826 Add vhdl language support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/vhdl/highlights.scm
Labels: S-waiting-on-review, A-language-support

#6441 log failures in the git integration
  Cargo.lock
  helix-vcs/Cargo.toml
  helix-vcs/src/git.rs
  helix-vcs/src/git/test.rs
  helix-vcs/src/lib.rs
Labels: E-easy, S-waiting-on-review

#6123 Initial Nim language support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/nim/highlights.scm
  runtime/queries/nim/indents.scm
  runtime/queries/nim/textobjects.scm
Labels: S-waiting-on-author, A-language-support

#6439 Update tree-sitter-git-commit, add comment textobject
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/git-commit/textobjects.scm
Labels: E-easy, S-waiting-on-review, A-language-support

#6438 tui: Handle keyboard enhancement check failure
  helix-tui/src/backend/crossterm.rs
Labels: C-bug, E-easy, S-waiting-on-review

#5957 feat(debug): highlight current line
  book/src/themes.md
  helix-dap/src/client.rs
  helix-term/src/ui/editor.rs
  helix-view/src/editor.rs
  helix-view/src/gutter.rs
  runtime/themes/acme.toml
  runtime/themes/autumn.toml
  runtime/themes/ayu_dark.toml
  runtime/themes/ayu_light.toml
  runtime/themes/ayu_mirage.toml
  runtime/themes/dracula.toml
  runtime/themes/dracula_at_night.toml
  runtime/themes/onedark.toml
  runtime/themes/onedarker.toml
  theme.toml
Labels: S-waiting-on-review, A-debug-adapter

#6290 Canonicalize paths before stripping current dir as prefix
  Cargo.lock
  helix-core/Cargo.toml
  helix-core/src/path.rs
  helix-term/tests/integration.rs
  helix-term/tests/test/commands/write.rs
  helix-term/tests/test/splits.rs
Labels: C-bug, A-core, S-waiting-on-author

#6493 Update tree-sitter-git-commit
  languages.toml
Labels: C-bug, E-easy, A-language-support

#6488 Prepare for 23.3 release
  Cargo.lock
  book/src/configuration.md
  helix-lsp/src/client.rs
  helix-lsp/src/lib.rs
  helix-term/src/application.rs
  helix-term/src/commands.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/commands/typed.rs
  helix-term/src/ui/completion.rs
  helix-term/src/ui/editor.rs
  helix-term/src/ui/menu.rs
  helix-term/src/ui/picker.rs
  helix-term/src/ui/popup.rs
  helix-tui/src/buffer.rs
  helix-tui/src/widgets/table.rs
  helix-vcs/Cargo.toml
  helix-view/src/editor.rs
Labels: C-bug, E-easy, S-waiting-on-review

#6455 Add changelog notes for the 23.03 release
  CHANGELOG.md
  VERSION
  contrib/Helix.appdata.xml
Labels: A-documentation, S-waiting-on-author
