Repository helix-editor/helix, pull requests merged in 2023-05, with the labels that each got.

#6921 fix didChange notification offset encoding
  helix-lsp/src/client.rs
Labels: C-bug, E-easy, A-language-server, S-waiting-on-review

#6970 languages: add build.gradle.kts to java and scala roots
  languages.toml
Labels: A-language-support

#6974 Fix keymap select / extend mode anchor link
  book/src/keymap.md
Labels: A-documentation, E-easy, S-waiting-on-review

#6986 Treat .sty and .cls files as latex
  languages.toml
Labels: A-language-support

#6947 Implement wbc and wbc! commands
  book/src/generated/typable-cmd.md
  helix-term/src/commands/typed.rs
Labels: E-easy, A-helix-term, S-waiting-on-review

#7034 Replace DAP vars popup, instead of adding new
  helix-term/src/commands.rs
  helix-term/src/commands/dap.rs
Labels: C-bug, E-easy, A-helix-term, S-waiting-on-review

#7061 Update nightfox theme
  runtime/themes/nightfox.toml
Labels: A-theme

#7028 Fix TS freezing the editor
  helix-core/src/syntax.rs
  helix-core/tests/indent.rs
  helix-term/src/ui/markdown.rs
  helix-term/src/ui/picker.rs
  helix-view/src/document.rs
Labels: A-tree-sitter, A-helix-term, E-medium, S-waiting-on-review

#6779 Fix completion on paths containing spaces
  helix-term/src/commands/typed.rs
Labels: C-bug, E-medium, S-waiting-on-review

#2507 Add support for multiple language servers per language
  book/src/generated/typable-cmd.md
  book/src/guides/adding_languages.md
  book/src/languages.md
  helix-core/src/diagnostic.rs
  helix-core/src/syntax.rs
  helix-lsp/src/client.rs
  helix-lsp/src/lib.rs
  helix-lsp/src/transport.rs
  helix-term/src/application.rs
  helix-term/src/commands.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/commands/typed.rs
  helix-term/src/health.rs
  helix-term/src/ui/completion.rs
  helix-term/src/ui/editor.rs
  helix-term/src/ui/mod.rs
  helix-term/src/ui/statusline.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
  helix-view/src/gutter.rs
  languages.toml
  xtask/src/docgen.rs
Labels: A-language-server, A-helix-term, S-waiting-on-review

#7072 fix off-by-one git-commit rulers
  languages.toml
Labels: S-waiting-on-review

#7053 Add command to merge non-consecutive ranges
  book/src/keymap.md
  helix-core/src/selection.rs
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
Labels: A-helix-term, S-waiting-on-review

#7082 fix(docs): Remove `config` from language configuration docs
  book/src/languages.md
Labels: A-documentation, E-easy, S-waiting-on-review

#7083 Recognise XAML files as XML
  languages.toml
Labels: A-language-support

#7059 Update languages.toml for Nickel
  languages.toml
  runtime/queries/nickel/highlights.scm
  runtime/queries/nickel/indents.scm
  runtime/queries/nickel/injections.scm
Labels: S-waiting-on-review, A-language-support

#7112 Treat 'Vagrantfile' files as Ruby code
  languages.toml
Labels: A-language-support

#7088 Recognize hidden justfiles
  languages.toml
Labels: S-waiting-on-review, A-language-support

#7114 Fix typo in syntax.rs
  helix-core/src/syntax.rs
Labels: A-core

#7125 spacebones: Improve contrast between type variable and its members
  runtime/themes/spacebones_light.toml
Labels: A-theme, S-waiting-on-review

#7064 book: Install helix declaratively from nixpkgs on NixOS
  book/src/install.md
Labels: A-documentation

#7147 chore: update scala tree-sitter grammar
  languages.toml
  runtime/queries/scala/locals.scm
Labels: S-waiting-on-review, A-language-support
