Repository helix-editor/helix, pull requests merged in 2023-08, with the labels that each got.

#7796 languages: add protobuf language servers
  book/src/generated/lang-support.md
  languages.toml
Labels: S-waiting-on-review, A-language-support

#7811 Update t32 language queries to version 2.2.1
  languages.toml
  runtime/queries/t32/highlights.scm
Labels: S-waiting-on-review, A-language-support

#7819 Improve wren support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/wren/highlights.scm
  runtime/queries/wren/indents.scm
  runtime/queries/wren/injections.scm
  runtime/queries/wren/locals.scm
  runtime/queries/wren/textobjects.scm
Labels: S-waiting-on-review, A-language-support

#7834 Add new moon theme to default themes
  runtime/themes/new_moon.toml
Labels: A-theme, S-waiting-on-review

#7844 feat(indent): add basic java indentation queries
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/java/indents.scm
Labels: E-easy, S-waiting-on-review, A-language-support, A-indent

#7832 CI: Remove the aarch64 appimage build steps from release
  .github/workflows/release.yml
Labels: C-bug, E-easy, A-packaging, S-waiting-on-review

#7831 Update tree-sitter-git-commit
  languages.toml
Labels: C-bug, E-easy, S-waiting-on-review, A-language-support

#7764 Add tree-sitter textobjects queries for bash
  book/src/generated/lang-support.md
  runtime/queries/bash/textobjects.scm
Labels: C-enhancement, S-waiting-on-review, A-language-support

#7837 Center the picker preview selection using visual lines
  helix-term/src/ui/picker.rs
Labels: C-bug, E-easy, A-helix-term, S-waiting-on-review

#7691 Align view for background buffer opened with `alt-ret`
  helix-term/src/commands.rs
  helix-term/src/commands/lsp.rs
  helix-term/tests/integration.rs
  helix-term/tests/test/picker.rs
  helix-view/src/editor.rs
Labels: C-bug, E-easy, S-waiting-on-review

#7839 use AND operator when searching
  book/book.toml
Labels: A-documentation, E-easy, S-waiting-on-review

#7875 Detect non-existent files as non-readonly
  helix-view/src/document.rs
Labels: C-bug, E-easy, S-waiting-on-review

#7724 Add Unison support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/unison/highlights.scm
  runtime/queries/unison/injections.scm
Labels: S-waiting-on-review, A-language-support

#7873 Update tree-sitter grammar for nu
  languages.toml
  runtime/queries/nu/folds.scm
  runtime/queries/nu/highlights.scm
  runtime/queries/nu/injections.scm
  runtime/queries/nu/locals.scm
Labels: S-waiting-on-review, A-language-support

#7849 Add new Yellowed theme to default themes
  runtime/themes/yellowed.toml
Labels: A-theme, S-waiting-on-review

#7835 feat: add todo.txt tree-sitter
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/todotxt/highlights.scm
Labels: S-waiting-on-review, A-language-support

#7897 Added some LSP servers and updated python's roots
  languages.toml
Labels: S-waiting-on-review, A-language-support

#7893 Update slint grammar
  languages.toml
  runtime/queries/slint/highlights.scm
  runtime/queries/slint/indents.scm
  runtime/queries/slint/injections.scm
  runtime/queries/slint/locals.scm
Labels: S-waiting-on-review, A-language-support

#5244 Make editor remember the latest search register
  helix-term/src/commands.rs
  helix-view/src/register.rs
Labels: A-helix-term, S-waiting-on-review

#7931 Always reset cursor correctly on exit.
  helix-tui/src/terminal.rs
Labels: C-bug, S-waiting-on-review

#7930 Update languages.toml for `zshrc` et al
  languages.toml
Labels: S-waiting-on-review, A-language-support

#7909 feat: open file picker on directories using goto_file (gf)
  helix-term/src/commands.rs
Labels: E-easy, S-waiting-on-review, A-command

#7928 feat: add strace tree sitter
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/strace/highlights.scm
Labels: S-waiting-on-review, A-language-support

#7922 Add .star as starlark file extension
  languages.toml
Labels: S-waiting-on-review, A-language-support

#7939 Autumn theme: Improve readability of comments
  runtime/themes/autumn.toml
  runtime/themes/autumn_night.toml
Labels: A-theme, S-waiting-on-review

#7884 Document Alt-Enter for the picker
  book/src/keymap.md
Labels: A-documentation, S-waiting-on-review

#7983 Update Monokai bufferline theming to be distinguish active buffers
  runtime/themes/monokai.toml
Labels: A-theme, S-waiting-on-review

#7970 Update tree-sitter-robot
  languages.toml
  runtime/queries/robot/highlights.scm
Labels: S-waiting-on-review, A-language-support

#7998 Update tree-sitter to latest master
  Cargo.lock
  Cargo.toml
  helix-core/src/syntax.rs
Labels: A-dependencies, rust

#8024 update fsharp tree-sitter
  languages.toml
  runtime/queries/fsharp/locals.scm
Labels: S-waiting-on-review, A-language-support

#8032 Update pyright config to avoid time-outs
  languages.toml
Labels: S-waiting-on-review, A-language-support

#8023 create separate timer for redraw requests
  helix-term/src/application.rs
  helix-view/src/editor.rs
Labels: C-bug, E-easy, S-waiting-on-review

#7974 Highlight Dart 3 `sealed` and `base` keywords
  runtime/queries/dart/highlights.scm
Labels: S-waiting-on-review, A-language-support

#8070 languages: add gemini
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/gemini/highlights.scm
Labels: S-waiting-on-review, A-language-support

#8040 highlight(matlab): bumps grammar after some improvements
  languages.toml
Labels: E-easy, S-waiting-on-review, A-language-support

#8085 Update tree-sitter-gleam, enable auto-format
  languages.toml
Labels: C-enhancement, E-easy, S-waiting-on-review, A-language-support

#8102 Sync latest catppuccin theme changes
  runtime/themes/catppuccin_frappe.toml
  runtime/themes/catppuccin_latte.toml
  runtime/themes/catppuccin_macchiato.toml
  runtime/themes/catppuccin_mocha.toml
Labels: A-theme, S-waiting-on-review

#7979 Copy desktop and icon files to Nix output
  flake.nix
Labels: A-packaging, S-waiting-on-review

#7814 transition to nucleo for fuzzy matching
  Cargo.lock
  Cargo.toml
  helix-core/Cargo.toml
  helix-core/src/fuzzy.rs
  helix-core/src/lib.rs
  helix-event/Cargo.toml
  helix-event/src/lib.rs
  helix-event/src/redraw.rs
  helix-term/Cargo.toml
  helix-term/src/application.rs
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-term/src/ui/fuzzy_match.rs
  helix-term/src/ui/fuzzy_match/test.rs
  helix-term/src/ui/menu.rs
  helix-term/src/ui/mod.rs
  helix-term/src/ui/picker.rs
  helix-term/tests/integration.rs
  helix-term/tests/test/picker.rs
  helix-vcs/Cargo.toml
  helix-vcs/src/diff.rs
  helix-vcs/src/diff/worker.rs
  helix-vcs/src/diff/worker/test.rs
  helix-view/Cargo.toml
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: C-enhancement, E-medium, S-waiting-on-review, S-needs-testing, E-testing-wanted, C-perf

#8120 crossterm: Handle 'hidden' modifier
  helix-tui/src/backend/crossterm.rs
Labels: C-enhancement, E-easy, A-theme, S-waiting-on-review

#8118 Clear completion when switching windows via click
  helix-term/src/ui/editor.rs
Labels: C-bug, S-waiting-on-review

#8133 Build flake packages with stable Rust
  flake.nix
Labels: C-enhancement, E-easy, A-packaging, S-waiting-on-review
