Repository helix-editor/helix, pull requests merged in 2023-04, with the labels that each got.

#6498 changelog: Add remaining notes for 23.03
  CHANGELOG.md
Labels: A-documentation

#6546 build(nix): update flake dependencies, remove deprecated code from flake
  flake.lock
  flake.nix
Labels: A-packaging

#6504 Fix aarch64 macos release builds
  .github/workflows/release.yml
Labels: C-bug, A-packaging, S-waiting-on-review

#6517 normalize LSP workspaces
  helix-lsp/src/client.rs
  helix-lsp/src/lib.rs
Labels: C-bug, E-easy, A-language-server, S-waiting-on-review

#6512 robustly handle invalid LSP ranges
  helix-lsp/src/lib.rs
  helix-term/src/ui/completion.rs
Labels: C-bug, E-easy, A-language-server, S-waiting-on-review

#6608 Update tree-sitter to v0.20.10
  Cargo.lock
  Cargo.toml
Labels: A-dependencies

#6602 Add Windows install instructions using Winget
  book/src/install.md
Labels: A-documentation

#6685 Fix `file-picker.follow-symlinks` config option name in docs
  book/src/configuration.md
Labels: A-documentation

#6692 Update tree-sitter-git-commit
  languages.toml
  runtime/queries/git-commit/highlights.scm
Labels: C-enhancement, S-waiting-on-review, A-language-support

#5866 Adjust everforest to resemble original more closely
  runtime/themes/everforest_dark.toml
  runtime/themes/everforest_light.toml
Labels: A-theme, S-waiting-on-review

#6742 ensure :toggle soft-wrap.enable works by default
  helix-view/src/editor.rs
Labels: C-bug, E-easy, S-waiting-on-review

#6751 Fix python constant identifier highlight
  runtime/queries/python/highlights.scm
Labels: C-enhancement, E-easy, S-waiting-on-review, A-language-support

#6757 Replace 'Visual' (mode) with 'Select' in tutor
  runtime/tutor
Labels: A-documentation

#6743 emit cargo metadata duiring build scripts to avoid outdated buildscript outputs
  helix-loader/build.rs
  helix-loader/src/grammar.rs
Labels: C-bug, E-easy, S-waiting-on-review

#6763 Fix go locals query for var_spec identifiers
  runtime/queries/go/locals.scm
Labels: A-language-support

#6776 ferra: fix ruler overriding foreground style
  runtime/themes/ferra.toml
Labels: A-theme

#6773 Add `inlay-hint` colours to Kanagawa
  runtime/themes/kanagawa.toml
Labels: A-theme

#6774 make :toggle-option print the new value
  helix-term/src/commands/typed.rs
Labels: C-enhancement, E-easy, S-waiting-on-review

#6786 Fix unwrap bug in DAP
  helix-dap/src/client.rs
  helix-dap/src/transport.rs
  helix-view/src/handlers/dap.rs
Labels: C-bug, E-easy, S-waiting-on-review

#6792 always build grammars with c++14 and c11
  Cargo.lock
  helix-loader/Cargo.toml
  helix-loader/src/grammar.rs
Labels: C-bug, E-easy, A-packaging

#6785 update tree-sitter-markdown
  languages.toml
Labels: A-language-support

#6809 Improve and update the installation documentation
  book/src/install.md
Labels: A-documentation

#6795 produce error when grammar build fails
  helix-loader/src/grammar.rs
Labels: C-enhancement, E-easy, A-packaging, S-waiting-on-review

#6808 Run cargo update
  Cargo.lock
Labels: E-easy, A-packaging, S-waiting-on-review

#6834 fix windows build
  helix-loader/src/grammar.rs
Labels: E-easy, A-packaging, S-waiting-on-review

#6794 flip symbol range in LSP goto commands
  helix-term/src/commands/lsp.rs
Labels: C-enhancement, E-easy, A-language-server, S-waiting-on-review

#6622 Ayu dark improvements
  runtime/themes/ayu_dark.toml
  runtime/themes/ayu_light.toml
  runtime/themes/ayu_mirage.toml
Labels: C-enhancement, E-easy, A-theme, S-waiting-on-review

#6675 tui: Allow toggling mouse capture at runtime
  helix-term/src/application.rs
  helix-tui/src/backend/crossterm.rs
  helix-tui/src/backend/mod.rs
  helix-tui/src/backend/test.rs
  helix-tui/src/terminal.rs
Labels: C-enhancement, A-helix-term, S-waiting-on-review

#6842 Change soft-wrap.wrap_at_text_width to kebab case in documentation.
  book/src/configuration.md
  book/src/languages.md
Labels: A-documentation, E-easy, S-waiting-on-review

#6845 fix windows builds
  helix-loader/src/grammar.rs
Labels: E-easy, A-packaging

#6817 Avoid extra indentation on Go switches
  runtime/queries/go/indents.scm
Labels: A-language-support

#6860 Set PerlNavigator as the language server for Perl
  book/src/generated/lang-support.md
  languages.toml
Labels: A-language-support

#6883 fix panic in inlay hint computation when view anchor is out of bounds
  helix-term/src/commands/lsp.rs
Labels: C-bug, E-easy, A-language-server, S-waiting-on-review

#6793 Highlight sqlx's `query_scalar{,_unchecked}` macros as SQL
  runtime/queries/rust/injections.scm
Labels: A-language-support

#6890 upgrade gitoxide to v0.44 and change repository discovery to worktree-only (#6867)
  Cargo.lock
  helix-vcs/Cargo.toml
  helix-vcs/src/git.rs
Labels: C-enhancement, E-easy, S-waiting-on-review, A-vcs

#5695 feat(commands): add clear_registers command
  book/src/generated/typable-cmd.md
  helix-core/src/register.rs
  helix-term/src/commands/typed.rs
Labels: A-helix-term, S-waiting-on-review

#3970 inject language based on file extension & shebang
  book/src/SUMMARY.md
  book/src/guides/injection.md
  helix-core/src/syntax.rs
  helix-term/src/ui/markdown.rs
  languages.toml
  runtime/queries/markdown/injections.scm
  runtime/queries/nix/highlights.scm
  runtime/queries/nix/injections.scm
Labels: C-enhancement, A-tree-sitter, E-medium, S-waiting-on-review

#2980 Sort the buffer picker by most recent access
  helix-term/src/commands.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-helix-term, S-waiting-on-review

#6915 downgrade gix log level to info
  helix-vcs/src/lib.rs
Labels: E-easy, S-waiting-on-review, A-vcs

#6918 Update docs for `move_visual_line_*`
  book/src/keymap.md
Labels: A-documentation

#6919 tutor: Trim trailing white space
  runtime/tutor
Labels: A-documentation

#6497 UTF Conserve BOM bytes and properly support UTF16
  helix-term/src/commands.rs
  helix-term/tests/test/commands/write.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: C-enhancement, E-medium, S-waiting-on-review
