Repository helix-editor/helix, pull requests merged in 2023-07, with the labels that each got.

#7538 use redraw handle for debouncing LSP messages
  helix-term/src/application.rs
  helix-view/src/editor.rs
Labels: C-bug, E-easy, A-language-server, A-helix-term, S-waiting-on-review

#7573 Fix `:log-open` when `--log` is specified
  helix-loader/src/lib.rs
  helix-term/src/main.rs
Labels: C-bug, E-easy, S-waiting-on-review, A-command

#7577 Implement the wa! command
  book/src/generated/typable-cmd.md
  helix-term/src/commands/typed.rs
Labels: C-enhancement, E-easy, S-waiting-on-review, A-command

#7490 Update the Nord theme to follow the Nord style guide
  runtime/themes/nord.toml
Labels: A-theme, S-waiting-on-review

#7261 Add language support for persistent library syntax
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/haskell-persistent/folds.scm
  runtime/queries/haskell-persistent/highlights.scm
  runtime/queries/haskell-persistent/locals.scm
  runtime/queries/haskell/injections.scm
Labels: A-language-support

#7524 docs: Update mdBook theme and improve maintainability
  .ignore
  book/book.toml
  book/custom.css
  book/theme/book.js
  book/theme/css/chrome.css
  book/theme/css/general.css
  book/theme/css/print.css
  book/theme/css/variables.css
  book/theme/highlight.css
  book/theme/highlight.js
  book/theme/index.hbs
Labels: A-documentation, S-waiting-on-review

#7576 Update dart commit in languages.toml
  languages.toml
Labels: S-waiting-on-review, A-language-support

#5652 search buffer contents during global search
  helix-core/src/lib.rs
  helix-core/src/rope_reader.rs
  helix-term/src/commands.rs
Labels: C-bug, E-medium, S-waiting-on-review, A-command

#7185 Fix crash when cwd is deleted
  Cargo.lock
  helix-core/src/path.rs
  helix-loader/Cargo.toml
  helix-loader/src/lib.rs
  helix-lsp/src/lib.rs
  helix-term/src/application.rs
  helix-term/src/commands.rs
  helix-term/src/commands/dap.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/commands/typed.rs
  helix-term/src/ui/mod.rs
Labels: C-bug, A-helix-term, S-waiting-on-review

#7316 Auto indent change if selection is linewise
  helix-term/src/commands.rs
Labels: S-waiting-on-review, A-command

#5468 Fix piping to Helix on macOS
  Cargo.lock
  helix-term/Cargo.toml
  helix-term/src/application.rs
Labels: A-helix-term, S-waiting-on-review

#7570 runtime/themes: Add "naysayer" theme
  runtime/themes/naysayer.toml
Labels: A-theme, S-waiting-on-author

#7588 enhanced `surround_replace` to provide visual feedback
  helix-term/src/commands.rs
Labels: E-easy, S-waiting-on-review, A-command

#6874 Update Typescript, TSX and Svelte grammar, to latest tag
  languages.toml
  runtime/queries/_typescript/highlights.scm
  runtime/queries/svelte/injections.scm
Labels: S-waiting-on-review, A-language-support

#7629 feat: add Brewfile to Ruby file-types
  languages.toml
Labels: S-waiting-on-review, A-language-support

#7619 Add fsharp language support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/fsharp/highlights.scm
Labels: S-waiting-on-author, A-language-support

#7621 Fix crash for overlapping injections
  helix-core/src/syntax.rs
Labels: C-bug, A-tree-sitter, E-medium, A-core, S-waiting-on-review

#7646 Clear statusline while prompt is visible
  helix-term/src/ui/prompt.rs
Labels: C-enhancement, E-easy, A-helix-term, S-waiting-on-review

#7644 switch to https://github.com/tree-sitter-perl/tree-sitter-perl
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/perl/fold.scm
  runtime/queries/perl/highlights.scm
  runtime/queries/perl/indents.scm
  runtime/queries/perl/injections.scm
  runtime/queries/perl/textobjects.scm
Labels: S-waiting-on-review, A-language-support

#7151 Add Kaolin Dark, Light and Valley Dark themes
  runtime/themes/kaolin-dark.toml
  runtime/themes/kaolin-light.toml
  runtime/themes/kaolin-valley-dark.toml
Labels: A-theme

#7677 feat: resolve code action
  helix-lsp/src/client.rs
  helix-term/src/commands/lsp.rs
Labels: E-easy, A-language-server, S-waiting-on-review

#7665 Add initial support for LSP DidChangeWatchedFiles
  Cargo.lock
  helix-lsp/Cargo.toml
  helix-lsp/src/client.rs
  helix-lsp/src/file_event.rs
  helix-lsp/src/lib.rs
  helix-term/src/application.rs
  helix-term/src/commands/typed.rs
  helix-view/src/editor.rs
Labels: A-language-server, E-medium, S-waiting-on-review

#7717 Fix selection highlighting in remaining gruvbox derived themes
  runtime/themes/gruvbox_dark_hard.toml
  runtime/themes/gruvbox_light.toml
Labels: A-theme, S-waiting-on-review

#7736 Update soft-wrap indicator in gruvbox.toml and themes derived from it
  runtime/themes/gruvbox.toml
Labels: E-easy, A-theme, S-waiting-on-review

#7732 fix(comment): fix incorrect predicate
  runtime/queries/comment/highlights.scm
Labels: C-bug, E-easy, S-waiting-on-review, A-language-support

#7747 Save an undo checkpoint before accepting completion
  helix-term/src/ui/completion.rs
Labels: C-enhancement, E-easy, S-waiting-on-review, S-needs-discussion

#7737 pin TS to unreleased git revision to fix freezes
  Cargo.lock
  Cargo.toml
  helix-core/Cargo.toml
  helix-loader/Cargo.toml
Labels: C-bug, E-easy, A-dependencies, A-tree-sitter, S-waiting-on-review

#7763 Refactor Nix flake to use crane
  flake.lock
  flake.nix
Labels: C-bug, A-packaging, S-waiting-on-review

#7765 Add Wren support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/wren/highlights.scm
  runtime/queries/wren/textobjects.scm
Labels: S-waiting-on-review, A-language-support

#7771 feat: update prql parser
  languages.toml
  runtime/queries/prql/highlights.scm
Labels: S-waiting-on-review, A-language-support

#7781 Register .gltf file type for JSON
  languages.toml
Labels: C-enhancement, E-easy, S-waiting-on-review, A-language-support

#7785 add new theme based on the default vim dark theme
  runtime/themes/vim_dark_high_contrast.toml
Labels: A-theme, S-waiting-on-review

#7760 replace new lsp for vlang
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/v/highlights.scm
  runtime/queries/v/indents.scm
  runtime/queries/v/textobjects.scm
Labels: S-waiting-on-review, A-language-support
