Repository helix-editor/helix, pull requests merged in 2023-12, with the labels that each got.

#8960 docs: Fix reference to git `core.excludesfile` option
  book/src/configuration.md
Labels: C-bug, A-documentation, S-waiting-on-review

#8943 nix: update flake inputs
  flake.lock
  flake.nix
Labels: A-dependencies, S-waiting-on-review

#8988 Add .envrc.local and .envrc.private to env file-types
  languages.toml
Labels: S-waiting-on-review, A-language-support

#8946 fix: update rose_pine to be identical to main repo
  runtime/themes/rose_pine.toml
Labels: A-theme, S-waiting-on-review

#8738 Add more accurate to official theme type highlighting to Darcula themes
  runtime/themes/darcula.toml
Labels: A-theme, S-waiting-on-review

#9003 Update gleam grammar and queries
  languages.toml
  runtime/queries/gleam/highlights.scm
Labels: S-waiting-on-review, A-language-support

#8989 Join empty lines with only one space in `join_selections`
  helix-term/src/commands.rs
  helix-term/tests/test/commands.rs
Labels: C-bug, S-waiting-on-author, A-command

#9013 Fix version of Nix package
  flake.nix
Labels: C-bug, A-packaging, S-waiting-on-review

#9021 chore: Update tree-sitter-d
  languages.toml
Labels: S-waiting-on-review, A-language-support

#9069 Update keymap.md: improve grammar
  book/src/keymap.md
Labels: A-documentation, S-waiting-on-review

#9081 Add initial support for janet-lang
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/janet/highlights.scm
Labels: S-waiting-on-review, A-language-support

#9012 Change R markdown language id to fix language server filetype detection
  languages.toml
Labels: S-waiting-on-review, A-language-support

#9002 Fix cursor dissapearing when over indent lines in Darcula themes
  runtime/themes/darcula.toml
Labels: A-theme, S-waiting-on-review

#8751 Add tutor for match mode
  runtime/tutor
Labels: A-documentation, S-waiting-on-review

#8630 fix: typo in multiple files
  runtime/queries/_typescript/highlights.scm
  runtime/queries/yuck/highlights.scm
Labels: S-waiting-on-review

#9087 fix `:indent-style` crash
  book/src/generated/typable-cmd.md
  helix-core/src/indent.rs
  helix-term/src/commands/typed.rs
Labels: C-bug, S-waiting-on-review, A-command

#8285 Add support for Agda
  book/src/generated/lang-support.md
  book/src/guides/adding_languages.md
  languages.toml
  runtime/queries/agda/highlights.scm
Labels: S-waiting-on-review, A-language-support

#9102 book: Describe usage of `.ignore` and helix-specific ignore files in `[editor.file-picker]` section
  book/src/configuration.md
Labels: A-documentation, S-waiting-on-review

#9101 when text document sync capability is only kind send didSave without text
  helix-lsp/src/client.rs
Labels: E-easy, A-language-server, S-waiting-on-review

#8894 feat(themes): add modus vivendi theme(s)
  runtime/themes/licenses/modus_vivendi.LICENSE
  runtime/themes/licenses/modus_vivendi_deuteranopia.LICENSE
  runtime/themes/licenses/modus_vivendi_tinted.LICENSE
  runtime/themes/licenses/modus_vivendi_tritanopia.LICENSE
  runtime/themes/modus_vivendi.toml
  runtime/themes/modus_vivendi_deuteranopia.toml
  runtime/themes/modus_vivendi_tinted.toml
  runtime/themes/modus_vivendi_tritanopia.toml
Labels: A-theme, S-waiting-on-review

#9111 Add haskell-language-server as lsp for cabal files
  book/src/generated/lang-support.md
  languages.toml
Labels: S-waiting-on-review, A-language-support

#9113 Add Avro schema file support
  languages.toml
Labels: S-waiting-on-review, A-language-support

#9008 theme: add horizon-dark
  runtime/themes/horizon-dark.toml
Labels: A-theme, S-waiting-on-review

#4313 Support drawing popup frame
  book/src/configuration.md
  helix-term/src/commands/dap.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/commands/typed.rs
  helix-term/src/ui/completion.rs
  helix-term/src/ui/lsp.rs
  helix-term/src/ui/menu.rs
  helix-term/src/ui/popup.rs
  helix-view/src/editor.rs
Labels: A-helix-term, S-waiting-on-review

#9119 Update README.md to add link to Kakoune and Neovim
  README.md
Labels: A-documentation, S-waiting-on-review

#9089 add smali language support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/smali/folds.scm
  runtime/queries/smali/highlights.scm
  runtime/queries/smali/indents.scm
  runtime/queries/smali/injections.scm
  runtime/queries/smali/locals.scm
Labels: S-waiting-on-review, A-language-support

#9120 Update upload/download-artifact actions to v4
  .github/workflows/release.yml
Labels: A-dependencies, github_actions

#9130 Add .glif to XML file-types
  languages.toml
Labels: S-waiting-on-review, A-language-support

#9188 build(deps): bump gix from 0.56.0 to 0.57.0
  Cargo.lock
  helix-vcs/Cargo.toml
Labels: A-dependencies, rust
