Repository helix-editor/helix, pull requests merged in 2023-09, with the labels that each got.

#8127 avoid excessive memory consumption in picker
  helix-term/src/compositor.rs
  helix-term/src/ui/mod.rs
  helix-term/src/ui/picker.rs
Labels: E-easy, A-helix-term, S-waiting-on-review

#8111 Fix find commands for buffers with non-LF line-endings
  helix-term/src/commands.rs
  helix-term/tests/test/movement.rs
Labels: C-bug, E-easy, S-waiting-on-review, A-command

#8109 Maintain the current cursor's position and view in the vsplit/hsplit commands too
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
Labels: C-bug, E-easy, S-waiting-on-review, A-command

#8161 Update tree-sitter-blueprint
  languages.toml
  runtime/queries/blueprint/highlights.scm
Labels: S-waiting-on-review, A-language-support

#8165 Nord Theme: Fix missing ui text focus, use undercurls for diagnostics
  runtime/themes/nord.toml
Labels: A-theme, S-waiting-on-review

#8148 Do not show (running) when opening picker
  Cargo.lock
  helix-term/src/ui/mod.rs
Labels: E-easy, S-waiting-on-review, A-command

#8192 Don't use word splitting during fuzzy matching
  helix-core/src/fuzzy.rs
  helix-term/src/ui/menu.rs
Labels: C-bug, E-easy, A-core, S-waiting-on-review

#8194 Fix Clone definition for Injector
  helix-term/src/ui/picker.rs
Labels: C-bug, E-easy, S-waiting-on-review

#6949 add redraw command
  book/src/generated/typable-cmd.md
  helix-term/src/application.rs
  helix-term/src/commands/typed.rs
  helix-term/src/compositor.rs
Labels: E-easy, A-helix-term, S-waiting-on-review

#8166 docs: fix link to document formatting requests
  book/src/languages.md
Labels: A-documentation, S-waiting-on-review

#8206 fix syntax highlights in dynamic picker
  helix-term/src/ui/picker.rs
Labels: C-bug, E-easy, A-helix-term, S-waiting-on-review

#8222 Update EdgedDB (ESDL) grammar
  languages.toml
Labels: S-waiting-on-review, A-language-support

#8170 Add tree-sitter-highlight-name command
  book/src/generated/typable-cmd.md
  helix-term/src/commands/typed.rs
  helix-view/src/theme.rs
Labels: S-waiting-on-review, A-command

#7947 re-add indent and textobject queries for perl
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/perl/indents.scm
  runtime/queries/perl/textobjects.scm
Labels: C-enhancement, S-waiting-on-review, A-language-support

#8211 feat(themes): material theme collection
  runtime/themes/material_darker.toml
  runtime/themes/material_deep_ocean.toml
  runtime/themes/material_oceanic.toml
  runtime/themes/material_palenight.toml
Labels: A-theme, S-waiting-on-review

#8217 Add additional YAML injections
  runtime/queries/yaml/injections.scm
Labels: S-waiting-on-review, A-language-support

#8157 Add `insert-final-newline` config option
  book/src/configuration.md
  helix-term/src/commands/typed.rs
  helix-term/tests/test/commands/write.rs
  helix-term/tests/test/helpers.rs
  helix-term/tests/test/splits.rs
  helix-view/src/editor.rs
Labels: C-enhancement, E-easy, S-waiting-on-review

#8260 Disable auto-pairing ` in OCaml
  languages.toml
Labels: E-easy, S-waiting-on-review, A-language-support

#8276 Theme: Papercolor: Cleanup, linting and using inheritance
  runtime/themes/papercolor-dark.toml
  runtime/themes/papercolor-light.toml
Labels: A-theme, S-waiting-on-review

#8278 [theme] Fix zenburn theme inlay hint color
  runtime/themes/zenburn.toml
Labels: A-theme, S-waiting-on-review

#8265 Fix picker preview
  helix-term/src/ui/picker.rs
Labels: C-bug, E-easy, A-helix-term, S-waiting-on-review

#8293 [theme] add cyan_light theme
  runtime/themes/cyan_light.toml
Labels: A-theme, S-waiting-on-review

#8291 Support GNU assembler syntax
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/gas/highlights.scm
  runtime/queries/gas/injections.scm
  runtime/queries/gas/textobjects.scm
Labels: S-waiting-on-review, A-language-support

#5815 queries/nix: add injection rule for python test scripts, fix rules
  runtime/queries/nix/injections.scm
Labels: S-waiting-on-review, A-language-support

#8308 Add `.editorconfig` highlighting as INI
  languages.toml
Labels: S-waiting-on-review, A-language-support

#8309 Add `.babelrc` highlighting
  languages.toml
Labels: S-waiting-on-review, A-language-support

#8306 Use Maskhjarnas tree-sitter-purescript
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/purescript/highlights.scm
  runtime/queries/purescript/injections.scm
  runtime/queries/purescript/locals.scm
  runtime/queries/purescript/textobjects.scm
Labels: S-waiting-on-review, A-language-support

#8315 Update Unison highlights
  runtime/queries/unison/highlights.scm
Labels: S-waiting-on-review, A-language-support

#8338 Add Unicode support to PureScript's highlight queries
  runtime/queries/purescript/highlights.scm
Labels: S-waiting-on-review, A-language-support

#8343 Allow specifying a different style for diff indicator in vcs gutter
  book/src/themes.md
  helix-view/src/gutter.rs
Labels: E-easy, A-theme, S-waiting-on-review

#8342 Add `.webmanifest` as supported JSON files
  languages.toml
Labels: S-waiting-on-review, A-language-support

#8370 add polkit rules files to javascript detection
  languages.toml
Labels: S-waiting-on-review, A-language-support

#8397 markdown: Recognize `<code>` tags with attributes as code
  helix-term/src/ui/markdown.rs
Labels: C-bug, E-easy, S-waiting-on-review

#8399 update go highlight queries
  runtime/queries/go/highlights.scm
Labels: S-waiting-on-review, A-language-support

#8374 Filter out language servers which fail to spawn
  helix-lsp/src/lib.rs
  helix-view/src/editor.rs
Labels: C-bug, A-language-server, S-waiting-on-review

#8410 Add shebangs for Makefiles
  languages.toml
Labels: S-waiting-on-review, A-language-support

#8409 Fix missing HTML tag colorization in onedark theme
  runtime/themes/onedark.toml
Labels: A-theme, S-waiting-on-review

#8412 refine darcula and darcula-solid themes
  runtime/themes/darcula-solid.toml
  runtime/themes/darcula.toml
Labels: A-theme, S-waiting-on-review

#8414 [Nord theme]: Fix typo, improve JSX/TSX highlighting, improve overall highlighting
  runtime/themes/nord.toml
Labels: A-theme, S-waiting-on-review

#8423 fix multicursor snippet placeholder directions
  helix-lsp/src/lib.rs
Labels: C-bug, E-easy, A-language-server, S-waiting-on-review
