Repository helix-editor/helix, pull requests merged in 2023-11, with the labels that each got.

#8703 Swap system and primary clipboard registers
  helix-view/src/register.rs
Labels: E-easy, S-waiting-on-review

#8705 Adjusted ui.virtual.inlay-hint color for everblush theme
  runtime/themes/everblush.toml
Labels: A-theme, S-waiting-on-review

#8660 rust: add highlight scope for type parameters
  book/src/themes.md
  runtime/queries/rust/highlights.scm
  runtime/queries/rust/locals.scm
Labels: A-theme, S-waiting-on-review, A-language-support

#8652 fix: replace kdl tree-sitter to fix highlighting
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/kdl/highlights.scm
  runtime/queries/kdl/indents.scm
  runtime/queries/kdl/textobjects.scm
Labels: S-waiting-on-review, A-language-support

#8708 swap yank command registers
  book/src/usage.md
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
Labels: A-documentation, S-waiting-on-review, A-command

#8721 Update markdown grammar to v0.1.6
  languages.toml
Labels: S-waiting-on-review, A-language-support

#8712 Update PureScript grammar
  languages.toml
  runtime/queries/purescript/highlights.scm
Labels: S-waiting-on-review, A-language-support

#8718 highlights: add type.parameter scope to several more languages
  runtime/queries/_typescript/highlights.scm
  runtime/queries/_typescript/locals.scm
  runtime/queries/go/highlights.scm
  runtime/queries/go/locals.scm
  runtime/queries/haskell/highlights.scm
  runtime/queries/kotlin/highlights.scm
  runtime/queries/kotlin/locals.scm
  runtime/queries/ocaml/highlights.scm
Labels: S-waiting-on-review, A-language-support

#8584 Add command to move files with LSP support
  book/src/generated/typable-cmd.md
  helix-lsp/src/client.rs
  helix-term/src/commands/typed.rs
Labels: A-helix-term, S-waiting-on-review

#8720 Add indent queries for scheme
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/common-lisp/indents.scm
  runtime/queries/racket/indents.scm
  runtime/queries/scheme/indents.scm
Labels: S-waiting-on-review, A-indent

#8749 grammars.nix: allow the user to apply overlays
  grammars.nix
Labels: A-packaging, S-waiting-on-review

#8794 Highlight meson_options.txt as a meson file
  languages.toml
Labels: S-waiting-on-review, A-language-support

#8759 theme: Add Theme poimandres
  runtime/themes/poimandres.toml
  runtime/themes/poimandres_storm.toml
Labels: A-theme, S-waiting-on-review

#8787 theme: add starlight
  runtime/themes/starlight.toml
Labels: A-theme, S-waiting-on-review

#8762 Change Fedora installation to the new official Helix package
  book/src/install.md
Labels: A-documentation, A-packaging

#8827 Theme: Papercolor: Add inlay-hint style
  runtime/themes/papercolor-light.toml
Labels: A-theme, S-waiting-on-review

#8837 Book: fix formatting of some default values
  book/src/configuration.md
Labels: A-documentation, S-waiting-on-review

#8691 Update some grammars to a commit where the license file is included
  languages.toml
  runtime/queries/purescript/highlights.scm
  runtime/queries/sql/highlights.scm
Labels: S-waiting-on-review, A-language-support

#8689 feat: make more commands exit select mode
  helix-term/src/commands.rs
Labels: S-waiting-on-review, A-command

#6969 GN language support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/gn/highlights.scm
  runtime/queries/gn/injections.scm
  runtime/queries/gn/locals.scm
Labels: S-waiting-on-review, A-language-support

#5820 feat(commands): open urls with goto_file command
  Cargo.lock
  helix-term/Cargo.toml
  helix-term/src/commands.rs
  helix-view/Cargo.toml
Labels: C-enhancement, E-medium, S-waiting-on-review

#8750 Fix precedence of ui.virtual.whitespace
  helix-term/src/ui/document.rs
  helix-term/src/ui/editor.rs
  helix-term/src/ui/picker.rs
Labels: E-easy, A-helix-term, S-waiting-on-review

#8880 Document the bufferline scopes
  book/src/themes.md
Labels: A-documentation, S-waiting-on-review

#8878 feat(languages.toml): nushell lsp
  book/src/generated/lang-support.md
  languages.toml
Labels: S-waiting-on-review, A-language-support

#8860 DBML Language support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/dbml/highlights.scm
Labels: S-waiting-on-review, A-language-support

#8728 Add modus operandi themes
  runtime/themes/modus_operandi.toml
  runtime/themes/modus_operandi_deuteranopia.toml
  runtime/themes/modus_operandi_tinted.toml
  runtime/themes/modus_operandi_tritanopia.toml
Labels: A-theme, S-waiting-on-review

#8917 resolve the ambiguity to determine version of Cargo feature resolver.
  Cargo.toml
  helix-core/Cargo.toml
  helix-dap/Cargo.toml
  helix-event/Cargo.toml
  helix-loader/Cargo.toml
  helix-lsp/Cargo.toml
  helix-parsec/Cargo.toml
  helix-term/Cargo.toml
  helix-tui/Cargo.toml
  helix-vcs/Cargo.toml
  helix-view/Cargo.toml
Labels: S-waiting-on-review

#6858 Use crossterm cursor when terminal loses focus
  helix-term/src/ui/editor.rs
Labels: S-waiting-on-review

#8935 Add musicxml to xml extensions
  languages.toml
Labels: S-waiting-on-review, A-language-support

#8921 direnv: Watch the rust-toolchain file
  .envrc
Labels: E-easy, S-waiting-on-review
