Repository helix-editor/helix, pull requests merged in 2024-10, with the labels that each got.

#11732 fix git repo detection on symlinks
  helix-vcs/src/git.rs
  helix-vcs/src/git/test.rs
Labels: A-vcs

#11486 Replace uses of `lsp::Location` with a custom Location type
  helix-core/src/uri.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/ui/picker.rs
  helix-view/src/handlers/lsp.rs
Labels: A-language-server, A-command

#11829 Add support for dune project language
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/dune/highlights.scm
Labels: A-language-support

#11838 Remove auto-pair for single quote in SML.
  languages.toml
Labels: A-language-support

#11877 Update repology URL after change from helix to helix-editor
  book/src/package-managers.md
Labels: A-documentation

#11891 Add glsl_analyzer as default language server for GLSL
  book/src/generated/lang-support.md
  languages.toml
Labels: A-language-support

#11896 docs(themes): place `ui.highlight.frameline` and `ui.highlight` together
  book/src/themes.md
Labels: A-documentation

#11857 Bump `jjdescription` grammar revision
  languages.toml
Labels: A-language-support

#11858 Adding snakemake to language
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/snakemake/LICENSE
  runtime/queries/snakemake/folds.scm
  runtime/queries/snakemake/highlights.scm
  runtime/queries/snakemake/indents.scm
  runtime/queries/snakemake/injections.scm
  runtime/queries/snakemake/locals.scm
Labels: A-language-support

#11846 Update Nix flake
  flake.lock
  flake.nix
Labels: A-packaging

#11830 feat: Add support for cylc configuration files
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/cylc/highlights.scm
  runtime/queries/cylc/indents.scm
  runtime/queries/cylc/injections.scm
  runtime/queries/cylc/textobjects.scm
Labels: A-language-support
