Repository helix-editor/helix, pull requests merged in 2024-08, with the labels that each got.

#11370 Add statusline errors when nothing is selected with `s`, `K`, `A-K`
  helix-term/src/commands.rs
Labels: A-command

#11427 Update Gleam tree sitter to support label shorthand syntax
  languages.toml
Labels: A-language-support

#8147 Add commands for movement by subwords
  helix-core/src/movement.rs
  helix-term/src/commands.rs
Labels: S-waiting-on-review, A-command

#11416 Added `mesonlsp` as the default LSP for Meson
  book/src/generated/lang-support.md
  languages.toml
Labels: A-language-support

#11415 Dark_Plus: Add picker highlights, update underlined modifier, and change a few settings
  runtime/themes/dark_plus.toml
Labels: A-theme

#11406 fix(picker): no longer `trim` search pattern
  helix-term/src/ui/picker/query.rs
Labels: A-helix-term

#11400 Update HTML highlights
  runtime/queries/html/highlights.scm
Labels: A-language-support

#11393 Add jq language support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/jq/highlights.scm
  runtime/queries/jq/injections.scm
  runtime/queries/jq/locals.scm
  runtime/queries/jq/textobjects.scm
Labels: A-language-support

#11388 add comment textobjects for verilog
  runtime/queries/verilog/textobjects.scm
Labels: A-language-support

#11380 just: Use updated grammar with recent language changes and correct highlighting
  languages.toml
  runtime/queries/just/folds.scm
  runtime/queries/just/highlights.scm
  runtime/queries/just/indents.scm
  runtime/queries/just/injections.scm
  runtime/queries/just/locals.scm
  runtime/queries/just/textobjects.scm
Labels: A-language-support

#11367 add thrift hightlight
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/thrift/folds.scm
  runtime/queries/thrift/highlights.scm
  runtime/queries/thrift/injections.scm
  runtime/queries/thrift/locals.scm
Labels: A-language-support

#11092 Use `try_lock` in `diff_handle` for Diff gutter
  helix-vcs/src/diff.rs
  helix-vcs/src/diff/worker.rs
  helix-vcs/src/diff/worker/test.rs
Labels: A-vcs

#11061 Update fsharp tree sitter repo reference
  languages.toml
  runtime/queries/fsharp/highlights.scm
  runtime/queries/fsharp/injections.scm
  runtime/queries/fsharp/locals.scm
Labels: A-language-support

#11026 Provide more details on runtime directory
  book/src/install.md
Labels: A-documentation

#10994 Document completion menu bindings
  book/src/keymap.md
Labels: A-documentation

#10767 Update languages.toml - add nixd
  book/src/generated/lang-support.md
  languages.toml
Labels: A-language-support

#10674 feat: add iceberg light/dark themes
  runtime/themes/iceberg-dark.toml
  runtime/themes/iceberg-light.toml
Labels: A-theme

#10563 Deduplicate command names in generated LSP support doc
  book/src/generated/lang-support.md
  xtask/src/docgen.rs
Labels: A-documentation, S-waiting-on-review

#5930 keep (cursor) position when exactly replacing text
  helix-core/src/selection.rs
  helix-core/src/transaction.rs
Labels: C-bug, E-easy, A-core, S-waiting-on-review

#11083 Add gherkin syntax highlighting
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/gherkin/highlights.scm
Labels: A-language-support

#11161 refactor(commands): `trim_end` of `sh` output
  helix-term/src/commands/typed.rs
Labels: A-command

#11459 Update everforest themes
  runtime/themes/everforest_dark.toml
  runtime/themes/everforest_light.toml
Labels: A-theme

#8535 Highlight types and enum members in the rust prelude
  runtime/queries/rust/highlights.scm
Labels: S-waiting-on-review, A-language-support

#11478 Clarify lesson 10.1 wording
  runtime/tutor
Labels: A-documentation

#11513 Add/improve textobject queries
  book/src/generated/lang-support.md
  runtime/queries/docker-compose/textobjects.scm
  runtime/queries/dockerfile/textobjects.scm
  runtime/queries/env/textobjects.scm
  runtime/queries/git-config/textobjects.scm
  runtime/queries/hcl/textobjects.scm
  runtime/queries/hocon/textobjects.scm
  runtime/queries/nix/textobjects.scm
  runtime/queries/prisma/textobjects.scm
  runtime/queries/sql/textobjects.scm
  runtime/queries/yaml/textobjects.scm
Labels: A-language-support

#11518 copy shell completion to nix output
  flake.nix
Labels: A-packaging

#11529 fix: ensure view is initiated for `jump_*` commands
  helix-term/src/commands.rs
Labels: A-command

#11477 Update gruvbox themes
  runtime/themes/gruvbox.toml
Labels: A-theme

#11540 Add cshtml to html file-types
  languages.toml
Labels: A-language-support
