Repository helix-editor/helix, pull requests merged in 2024-11, with the labels that each got.

#11606 just: update tree-sitter-grammar to support 1.36.0
  languages.toml
Labels: A-language-support

#11911 chore: add "ui.virtual.jump-label" to serika-dark theme
  runtime/themes/serika-dark.toml
Labels: A-theme

#11874 Add support for textproto language.
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/textproto/highlights.scm
  runtime/queries/textproto/indents.scm
  runtime/queries/textproto/textobjects.scm
Labels: A-language-support

#12015 Pluralize 'parenthesis' in the tutorial
  runtime/tutor
Labels: A-documentation

#11972 docs(keymap): add select_all_children
  book/src/keymap.md
Labels: A-documentation

#11839 Add correct source file for TypableCommandList
  book/src/remapping.md
Labels: A-documentation

#10816 docs: Document what directory file_picker opens from
  book/src/keymap.md
Labels: A-documentation

#8121 Save an undo checkpoint before paste in insert mode
  helix-term/src/commands.rs
Labels: C-enhancement, E-easy, S-waiting-on-review

#10652 Add package.json and (and tsconfig.json) for TS/JS language config roots
  languages.toml
Labels: S-waiting-on-review, A-language-support

#12094 feat(highlights): add `INVARIANT` to error tag
  runtime/queries/comment/highlights.scm
Labels: A-language-support

#10839 Add clipboard provider configuration
  book/src/editor.md
  helix-term/src/commands/typed.rs
  helix-term/src/health.rs
  helix-view/src/clipboard.rs
  helix-view/src/editor.rs
  helix-view/src/register.rs
Labels: A-helix-term, S-waiting-on-review

#10869 Theme: add adwaita-light theme
  runtime/themes/adwaita-light.toml
Labels: A-theme

#11165 update to newest rescript treesitter library and queries
  languages.toml
  runtime/queries/rescript/highlights.scm
  runtime/queries/rescript/injections.scm
  runtime/queries/rescript/locals.scm
  runtime/queries/rescript/textobjects.scm
Labels: A-language-support

#11466 Theme: Seoul256 dark & light
  runtime/themes/seoul256-dark-hard.toml
  runtime/themes/seoul256-dark-soft.toml
  runtime/themes/seoul256-dark.toml
  runtime/themes/seoul256-light-hard.toml
  runtime/themes/seoul256-light-soft.toml
  runtime/themes/seoul256-light.toml
Labels: A-theme

#11795 Bump tree-sitter-nasm
  languages.toml
Labels: A-language-support

#11851 Bump tree-sitter llvm grammars
  languages.toml
  runtime/queries/llvm-mir/highlights.scm
  runtime/queries/llvm/highlights.scm
  runtime/queries/tablegen/highlights.scm
Labels: A-language-support

#11848 chore: update perl + pod parsers
  languages.toml
  runtime/queries/perl/highlights.scm
Labels: A-language-support

#11837 queries/nix: add injections for nim writers
  runtime/queries/nix/injections.scm
Labels: A-language-support

#11703 Add yo themes
  runtime/themes/yo.toml
  runtime/themes/yo_berry.toml
  runtime/themes/yo_light.toml
Labels: A-theme

#11679 Add new "Eiffel" theme
  runtime/themes/eiffel.toml
Labels: A-theme

#11558 Add Carbonfox theme
  runtime/themes/carbonfox.toml
  runtime/themes/licenses/carbonfox.license
Labels: A-theme

#12034 feat(languages): add .livemd Markdown extension
  languages.toml
Labels: A-language-support

#12039 Update Unison grammar and queries
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/unison/highlights.scm
  runtime/queries/unison/indents.scm
  runtime/queries/unison/textobjects.scm
Labels: A-language-support

#12032 Treat .clangd and .clang-format as YAML
  languages.toml
Labels: A-language-support

#12031 fix(languages): treat tsconfig.json as jsonc
  languages.toml
Labels: A-language-support

#11917 Set tags color in monokai theme
  runtime/themes/monokai.toml
Labels: A-theme

#12064 Make Spacebones theme picker selection more legible
  runtime/themes/spacebones_light.toml
Labels: A-theme

#11947 languages: Add `ssh_config.d/*.conf` as a glob for sshclientconfig
  languages.toml
Labels: A-language-support

#11930 Document how to use modifier keys in macro remaps
  book/src/remapping.md
Labels: A-documentation

#11949 Update modus themes to 4.6.0
  runtime/themes/modus_operandi.toml
  runtime/themes/modus_operandi_deuteranopia.toml
  runtime/themes/modus_operandi_tinted.toml
  runtime/themes/modus_operandi_tritanopia.toml
  runtime/themes/modus_vivendi.toml
  runtime/themes/modus_vivendi_deuteranopia.toml
  runtime/themes/modus_vivendi_tinted.toml
  runtime/themes/modus_vivendi_tritanopia.toml
Labels: A-theme

#11953 Docs Key-Remapping: Move Commands to top as introduction
  book/src/remapping.md
Labels: A-documentation

#11448 Add spade support
  book/src/generated/lang-support.md
  languages.toml
  pr.md
  runtime/queries/spade/highlights.scm
  runtime/queries/spade/indents.scm
Labels: A-language-support

#12049 Update Zig's comment tokens
  languages.toml
Labels: A-language-support

#11958 Use bold statusline for mode indicator in onedarker theme
  runtime/themes/onedarker.toml
Labels: A-theme

#11056 hyprlang: add hyprls language server
  book/src/generated/lang-support.md
  languages.toml
Labels: A-language-support

#10849 Update current hex themes, add a new hex theme
  runtime/themes/hex_lavender.toml
  runtime/themes/hex_poison.toml
  runtime/themes/hex_steel.toml
  runtime/themes/hex_toxic.toml
Labels: A-theme

#11936 Update Snakemake language config
  languages.toml
Labels: A-language-support

#11430 Add default-yank-register option
  book/src/editor.md
  helix-term/src/commands.rs
  helix-view/src/editor.rs
Labels: A-helix-term

#11898 Add language support for Quint
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/quint/highlights.scm
Labels: A-language-support

#12021 Add support for Amber-lang
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/amber/highlights.scm
Labels: A-language-support

#2608 Add support for path completion
  Cargo.lock
  book/src/editor.md
  book/src/languages.md
  helix-core/src/completion.rs
  helix-core/src/lib.rs
  helix-core/src/syntax.rs
  helix-event/src/cancel.rs
  helix-event/src/lib.rs
  helix-stdx/Cargo.toml
  helix-stdx/src/env.rs
  helix-stdx/src/path.rs
  helix-term/src/commands.rs
  helix-term/src/handlers/completion.rs
  helix-term/src/handlers/completion/item.rs
  helix-term/src/handlers/completion/path.rs
  helix-term/src/handlers/completion/resolve.rs
  helix-term/src/handlers/signature_help.rs
  helix-term/src/ui/completion.rs
  helix-term/src/ui/editor.rs
  helix-term/src/ui/menu.rs
  helix-term/src/ui/mod.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-helix-term, S-waiting-on-review

#12126 Search selection with word boundary detection
  book/src/keymap.md
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
Labels: A-command
