Repository helix-editor/helix, pull requests merged in 2024-07, with the labels that each got.

#11067 chore: update cairo tree sitter + queries
  languages.toml
  runtime/queries/cairo/highlights.scm
  runtime/queries/cairo/indents.scm
Labels: A-language-support

#11065 Bump time from broken version (0.3.23)
  Cargo.lock
Labels: A-dependencies

#11064 Tell language servers that Helix can request formatting
  helix-lsp/src/client.rs
Labels: A-language-server

#11071 Gruvbox light theme. Fix cursorline readability after #10773.
  runtime/themes/gruvbox_light.toml
Labels: A-theme

#10176 Allow multiple language server with lsp-workspace-command
  helix-term/src/commands/typed.rs
  helix-term/src/ui/mod.rs
Labels: A-language-server, S-waiting-on-review, A-command

#11105 Fix language server ID type in lsp_workspace_command
  helix-term/src/commands/typed.rs
Labels: C-bug, E-easy

#11101 Minor improvements to comments in selection.rs
  helix-core/src/selection.rs
Labels: A-documentation

#11099 Add cursorcolumn and cursorline to base16_transparent theme
  runtime/themes/base16_transparent.toml
Labels: A-theme

#11090 Add changes for undo in insert mode
  helix-view/src/document.rs
Labels: A-command

#11046 Update fleet_dark.toml
  runtime/themes/fleet_dark.toml
Labels: A-theme

#10964 Expand tilde for selected paths in `goto_file`
  helix-term/src/commands.rs
Labels: C-bug, A-command

#10853 feat: improve hx fish completion
  contrib/completion/hx.fish
Labels: A-packaging

#11121 Add basedpyright langserver
  languages.toml
Labels: A-language-support

#11120 Update ZSH completions
  contrib/completion/hx.zsh
Labels: A-packaging

#11117 Add one space back to the main text in the tutor after chapter 11.1
  runtime/tutor
Labels: A-documentation

#11131 Add {pdm,uv}.lock, git/ignore, npmrc to languages
  languages.toml
Labels: A-language-support

#11115 Documentation: Convert the links in the `.desktop` file to absolute paths to avoid potential problems
  book/src/building-from-source.md
Labels: A-documentation

#10952 refactor(commands): trim end of `pipe`-like output
  helix-term/src/commands.rs
  helix-term/tests/test/commands.rs
Labels: A-command

#11135 Include .yml files in Helm chart templates
  languages.toml
Labels: A-language-support

#11130 Update Hare grammar
  languages.toml
  runtime/queries/hare/highlights.scm
  runtime/queries/hare/locals.scm
Labels: A-language-support

#11112 Add regex injections into bash
  runtime/queries/bash/injections.scm
Labels: A-language-support

#11097 Update tree-sitter-todotxt
  languages.toml
Labels: A-language-support

#11062 Commit undo checkpoints before each `:write`
  helix-term/src/commands/typed.rs
Labels: C-bug, A-command

#10172 Theme: Kanagawa Dragon
  runtime/themes/kanagawa-dragon.toml
  runtime/themes/zed_onedark.toml
  runtime/themes/zed_onelight.toml
Labels: A-theme, S-waiting-on-review

#11159 Exclude EOL repos from the Repology badge
  README.md
Labels: A-documentation

#10731 Add changelog notes for 24.07
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  contrib/Helix.appdata.xml
Labels: A-documentation

#11138 Update highlights.scm and injections.scm for blade.php files
  runtime/queries/blade/highlights.scm
  runtime/queries/blade/injections.scm
Labels: A-language-support

#9647 `Picker`s "v2"
  Cargo.lock
  Cargo.toml
  book/src/themes.md
  helix-core/Cargo.toml
  helix-core/src/fuzzy.rs
  helix-core/src/lib.rs
  helix-core/src/uri.rs
  helix-event/src/lib.rs
  helix-event/src/redraw.rs
  helix-term/Cargo.toml
  helix-term/src/application.rs
  helix-term/src/commands.rs
  helix-term/src/commands/dap.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/commands/typed.rs
  helix-term/src/ui/menu.rs
  helix-term/src/ui/mod.rs
  helix-term/src/ui/picker.rs
  helix-term/src/ui/picker/handlers.rs
  helix-term/src/ui/picker/query.rs
  helix-term/src/ui/prompt.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
  helix-view/src/handlers/lsp.rs
Labels: C-enhancement, A-helix-term, E-hard, S-waiting-on-review

#6417 Inline Diagnostics
  book/src/editor.md
  helix-core/src/diagnostic.rs
  helix-core/src/doc_formatter.rs
  helix-core/src/doc_formatter/test.rs
  helix-core/src/graphemes.rs
  helix-core/src/lib.rs
  helix-core/src/movement.rs
  helix-core/src/position.rs
  helix-core/src/text_annotations.rs
  helix-event/src/debounce.rs
  helix-term/src/application.rs
  helix-term/src/commands.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/events.rs
  helix-term/src/handlers.rs
  helix-term/src/handlers/diagnostics.rs
  helix-term/src/ui/completion.rs
  helix-term/src/ui/document.rs
  helix-term/src/ui/editor.rs
  helix-term/src/ui/mod.rs
  helix-term/src/ui/picker.rs
  helix-term/src/ui/text_decorations.rs
  helix-term/src/ui/text_decorations/diagnostics.rs
  helix-view/src/annotations.rs
  helix-view/src/annotations/diagnostics.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
  helix-view/src/events.rs
  helix-view/src/handlers.rs
  helix-view/src/handlers/diagnostics.rs
  helix-view/src/lib.rs
  helix-view/src/view.rs
Labels: A-helix-term, E-hard, A-core, S-waiting-on-review

#11186 add `:edit` and `:e` as aliases for `:open`
  helix-term/src/commands/typed.rs
Labels: A-command

#11192 Fixed headings (# / ##) in /book to match other docs
  book/src/guides/adding_languages.md
  book/src/guides/indent.md
  book/src/guides/injection.md
  book/src/guides/textobject.md
  book/src/lang-support.md
  book/src/languages.md
  book/src/remapping.md
  book/src/themes.md
Labels: A-documentation

#11183 fix(commands): change `pipe`-like output trimming
  helix-term/src/commands.rs
Labels: A-command

#11195 Fix `select_all_children` command keybind
  CHANGELOG.md
Labels: A-documentation

#11201 Fix a typo in the tutor
  runtime/tutor
Labels: A-documentation

#11187 Bring `kanagawa` colours better in line with neovim version
  runtime/themes/kanagawa.toml
Labels: A-theme

#11209 global_search: Save search when accepting an option
  helix-term/src/ui/picker.rs
  helix-term/src/ui/prompt.rs
Labels: A-command

#11211 Picker: Skip dynamic query debounce for pastes
  helix-term/src/ui/picker.rs
  helix-term/src/ui/picker/handlers.rs
Labels: A-helix-term

#11256 Add `:mv` as an alias for `:move`
  book/src/generated/typable-cmd.md
  helix-term/src/commands/typed.rs
Labels: A-command

#11277 fix: usage of `node12 which is deprecated`
  .github/workflows/build.yml
Labels: github_actions

#11270 Revert `kanagawa` diff colour change from #11187
  runtime/themes/kanagawa.toml
Labels: A-theme

#11273 Add tutor entry about 2-character label jump
  runtime/tutor
Labels: A-documentation

#11298 Fix typos in 2-character label jump Tutor entry
  runtime/tutor
Labels: A-documentation

#11286 feat(language): just module extension
  languages.toml
Labels: A-language-support

#11266 fix(lsp): `find_completion_range` off-by-one
  helix-lsp/src/lib.rs
Labels: A-language-server, S-waiting-on-author, E-has-instructions

#11218 Document use of filter columns in pickers
  book/src/SUMMARY.md
  book/src/keymap.md
  book/src/pickers.md
Labels: A-documentation

#11271 Add support for `jjdescription` files
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/jjdescription/highlights.scm
Labels: A-language-support

#11122 languages: add mdx to markdown filetypes
  languages.toml
Labels: A-language-support

#11322 Fix example query in pickers.md
  book/src/pickers.md
Labels: A-documentation

#11304 Reorganize `Document::apply_impl`
  helix-view/src/document.rs
Labels: C-bug, S-waiting-on-review

#11142 Use fs' mtime to avoid saving problem on out-of-synced network fs
  helix-term/src/application.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: S-waiting-on-review

#11340 Fix writing hardlinks
  Cargo.lock
  helix-stdx/src/faccess.rs
  helix-term/Cargo.toml
  helix-term/tests/test/commands/write.rs
  helix-view/src/document.rs
Labels: C-bug, A-helix-term, S-waiting-on-review

#11347 lock unicode width
  helix-core/Cargo.toml
Labels: E-easy, A-dependencies, S-waiting-on-review

#11321 Tombstone LSP clients stopped with `:lsp-stop`
  helix-lsp/src/lib.rs
Labels: A-language-server

#11306 feat(languages): update `just` grammar and queries
  helix-core/src/syntax.rs
  languages.toml
  runtime/queries/just/folds.scm
  runtime/queries/just/highlights.scm
  runtime/queries/just/indents.scm
  runtime/queries/just/injections.scm
  runtime/queries/just/locals.scm
  runtime/queries/just/textobjects.scm
Labels: A-language-support

#11063 new theme named ao
  runtime/themes/ao.toml
Labels: A-theme

#11356 Documented ulimit fix for error during integration tests
  docs/CONTRIBUTING.md
Labels: A-documentation

#11357 stable sort lsp edits
  helix-lsp/src/lib.rs
  helix-term/src/commands/lsp.rs
Labels: C-bug, E-easy, A-language-server

#11365 Fix finding injection layer in tree cursor with nested layers
  helix-core/src/syntax/tree_cursor.rs
Labels: C-bug, E-easy, A-tree-sitter, S-waiting-on-review

#11236 update shebangs language configuration for Tcl
  languages.toml
Labels: A-language-support

#11235 Updated Godot support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/gdscript/highlights.scm
  runtime/queries/gdscript/indents.scm
  runtime/queries/gdscript/textobjects.scm
  runtime/queries/godot-resource/injections.scm
  runtime/queries/godot-resource/textobjects.scm
Labels: A-language-support

#11355 Vendor `lsp-types`
  Cargo.lock
  Cargo.toml
  docs/architecture.md
  helix-lsp-types/Cargo.lock
  helix-lsp-types/Cargo.toml
  helix-lsp-types/LICENSE
  helix-lsp-types/README.md
  helix-lsp-types/src/call_hierarchy.rs
  helix-lsp-types/src/code_action.rs
  helix-lsp-types/src/code_lens.rs
  helix-lsp-types/src/color.rs
  helix-lsp-types/src/completion.rs
  helix-lsp-types/src/document_diagnostic.rs
  helix-lsp-types/src/document_highlight.rs
  helix-lsp-types/src/document_link.rs
  helix-lsp-types/src/document_symbols.rs
  helix-lsp-types/src/error_codes.rs
  helix-lsp-types/src/file_operations.rs
  helix-lsp-types/src/folding_range.rs
  helix-lsp-types/src/formatting.rs
  helix-lsp-types/src/hover.rs
  helix-lsp-types/src/inlay_hint.rs
  helix-lsp-types/src/inline_completion.rs
  helix-lsp-types/src/inline_value.rs
  helix-lsp-types/src/lib.rs
  helix-lsp-types/src/linked_editing.rs
  helix-lsp-types/src/lsif.rs
  helix-lsp-types/src/moniker.rs
  helix-lsp-types/src/notification.rs
  helix-lsp-types/src/progress.rs
  helix-lsp-types/src/references.rs
  helix-lsp-types/src/rename.rs
  helix-lsp-types/src/request.rs
  helix-lsp-types/src/selection_range.rs
  helix-lsp-types/src/semantic_tokens.rs
  helix-lsp-types/src/signature_help.rs
  helix-lsp-types/src/trace.rs
  helix-lsp-types/src/type_hierarchy.rs
  helix-lsp-types/src/window.rs
  helix-lsp-types/src/workspace_diagnostic.rs
  helix-lsp-types/src/workspace_folders.rs
  helix-lsp-types/src/workspace_symbols.rs
  helix-lsp/Cargo.toml
  helix-lsp/src/client.rs
  helix-lsp/src/lib.rs
  helix-lsp/src/transport.rs
Labels: A-dependencies

#11387 fix :move panic when starting a new language server
  helix-view/src/editor.rs
Labels: A-command

#11239 refactor(commands): output `stderr` in `:sh` popup
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
Labels: A-command
