Repository helix-editor/helix, pull requests merged in 2024-06, with the labels that each got.

#10741 fix: correctly reset inlay hints when stopping or restarting LSPs for a document
  helix-term/src/commands/typed.rs
  helix-view/src/editor.rs
Labels: C-bug, E-easy, A-language-server

#10779 update tree-sitter-earthfile to 0.5.3
  languages.toml
Labels: A-language-support

#10797 Flush pending writes before suspend
  helix-term/src/commands.rs
Labels: C-bug, E-easy, S-waiting-on-review, A-command

#10873 LSP: Resolve completion items when any info is missing
  helix-term/src/handlers/completion/resolve.rs
Labels: C-bug, E-easy, A-language-server, S-waiting-on-review

#10860 "it's" -> "its", in `crossterm.rs`
  helix-tui/src/backend/crossterm.rs
Labels: A-documentation

#10785 Add `py`, `hs`, `rs` and `typ` injection regexes
  languages.toml
Labels: C-enhancement, A-language-support

#10644 add elisp support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/elisp/highlights.scm
  runtime/queries/elisp/tags.scm
Labels: S-waiting-on-review, A-language-support

#10786 Remove special handling of line ending characters in selection replacement
  helix-term/src/commands.rs
  helix-term/tests/test/commands.rs
Labels: S-waiting-on-author, A-command

#10899 Auto Save All Buffers After A Delay
  book/src/editor.md
  helix-term/src/handlers.rs
  helix-term/src/handlers/auto_save.rs
  helix-term/src/ui/editor.rs
  helix-view/src/editor.rs
  helix-view/src/handlers.rs
Labels: C-enhancement, E-medium, S-waiting-on-review

#10910 Improve readability of virtual text with 'noctis' theme
  runtime/themes/noctis.toml
Labels: A-theme

#10919 feat(cairo): update tree-sitter grammar and queries
  languages.toml
  runtime/queries/cairo/highlights.scm
  runtime/queries/cairo/indents.scm
  runtime/queries/cairo/injections.scm
  runtime/queries/cairo/locals.scm
  runtime/queries/cairo/textobjects.scm
Labels: A-language-support

#10932 Optional history for rename_symbol
  helix-term/src/commands/lsp.rs
Labels: A-command

#10963 Downgrade unicode-width to 0.1.12
  Cargo.lock
Labels: C-bug, A-dependencies

#10954 Sync latest Catppuccin themes changes
  runtime/themes/catppuccin_frappe.toml
  runtime/themes/catppuccin_latte.toml
  runtime/themes/catppuccin_macchiato.toml
  runtime/themes/catppuccin_mocha.toml
Labels: A-theme

#10943 DAP: Deserialize number IDs
  helix-dap/src/types.rs
Labels: A-debug-adapter

#10945 Make prompt use cursor set for Insert mode
  helix-term/src/ui/prompt.rs
Labels: A-helix-term

#10946 improve jump colors for github_dark themes
  runtime/themes/github_dark.toml
Labels: A-theme

#10971 Add curly single and double quotes to BRACKETS
  helix-core/src/match_brackets.rs
Labels: A-core

#10953 Fix multiple broken links in the documentation
  book/src/keymap.md
  book/src/syntax-aware-motions.md
  book/src/textobjects.md
Labels: A-documentation

#10733 Prevent improper files (like /dev/random) from being used as file arguments
  Cargo.lock
  Cargo.toml
  helix-dap/Cargo.toml
  helix-lsp/Cargo.toml
  helix-term/src/application.rs
  helix-term/src/commands.rs
  helix-term/src/ui/mod.rs
  helix-view/Cargo.toml
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-helix-term, S-waiting-on-review

#10973 Update tree-sitter-rust
  languages.toml
Labels: A-language-support

#10989 Replace unicode-general-category with icu-properties
  Cargo.lock
  helix-core/Cargo.toml
  helix-core/src/chars.rs
  helix-core/src/lib.rs
Labels: A-dependencies

#11006 Revert "Replace unicode-general-category with icu-properties"
  Cargo.lock
  helix-core/Cargo.toml
  helix-core/src/chars.rs
  helix-core/src/lib.rs
Labels: A-dependencies

#10978 tree-sitter: Update parent links on reused injection layers
  helix-core/src/syntax.rs
Labels: C-bug, A-tree-sitter

#10858 base16_default: add styles to newer unthemed features
  base16_theme.toml
Labels: A-theme

#10955 Add block comment tokens for typst
  languages.toml
Labels: A-language-support

#11004 Add "jsonl" as filetype for JSON lang
  languages.toml
Labels: A-language-support

#10969 Add ruler at 101 and text-width at 100 to lean in languages.toml
  languages.toml
Labels: A-language-support

#10381 Add new color theme 'iroaseta'
  runtime/themes/iroaseta.toml
Labels: A-theme

#10845 VHDL highlights.scm improvement
  runtime/queries/vhdl/highlights.scm
Labels: A-language-support
