Repository helix-editor/helix, pull requests merged in 2024-02, with the labels that each got.

#9487 Set ui.virtual.ruler background for GitHub themes
  runtime/themes/github_dark.toml
  runtime/themes/github_light.toml
Labels: A-theme, S-waiting-on-review

#9503 Use gix pipeline filter instead of manual crlf implementation
  Cargo.lock
  helix-vcs/Cargo.toml
  helix-vcs/src/git.rs
Labels: S-waiting-on-review, A-vcs

#9510 feat(queries): regex injection for golang
  runtime/queries/go/injections.scm
Labels: S-waiting-on-review, A-language-support

#9502 Update grammars for Nushell to rev 358c4f50
  languages.toml
  runtime/queries/nu/highlights.scm
Labels: S-waiting-on-review, A-language-support

#9512 feat: Add `Tact` language support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/tact/highlights.scm
  runtime/queries/tact/indents.scm
  runtime/queries/tact/injections.scm
  runtime/queries/tact/locals.scm
  runtime/queries/tact/textobjects.scm
Labels: S-waiting-on-review, A-language-support

#9475 Improve tree-sitter queries for Scala
  runtime/queries/scala/highlights.scm
  runtime/queries/scala/textobjects.scm
Labels: S-waiting-on-review, A-language-support

#9505 Update Unison tree-sitter grammar for type changes and add indent queries
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/unison/highlights.scm
  runtime/queries/unison/indents.scm
Labels: S-waiting-on-review, A-language-support

#9477 Adding two themes using only colors from 16-color terminal themes
  runtime/themes/term16_dark.toml
  runtime/themes/term16_light.toml
Labels: A-theme, S-waiting-on-review

#9525 feat(languages): golang comments and numeric types
  runtime/queries/go/highlights.scm
Labels: S-waiting-on-review, A-language-support

#9524 fix division by zero when prompt completion area is too small
  helix-term/src/ui/prompt.rs
Labels: C-bug, A-helix-term, S-waiting-on-review

#9549 Fix cursorline Zed OneDark
  runtime/themes/zed_onedark.toml
  runtime/themes/zed_onelight.toml
Labels: A-theme, S-waiting-on-review

#9508 Fix scroll track
  helix-term/src/ui/menu.rs
  helix-term/src/ui/popup.rs
Labels: C-bug, S-waiting-on-review

#9515 feat(languages): pkl
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/pkl/highlights.scm
  runtime/queries/pkl/indents.scm
  runtime/queries/pkl/injections.scm
Labels: S-waiting-on-review, A-language-support

#9574 expand upon the arch linux install instructions
  book/src/install.md
Labels: A-documentation, S-waiting-on-review

#8006 Add glob file type support
  Cargo.lock
  book/src/languages.md
  helix-core/Cargo.toml
  helix-core/src/config.rs
  helix-core/src/syntax.rs
  helix-core/tests/indent.rs
  helix-term/src/application.rs
  helix-term/src/health.rs
  helix-term/src/main.rs
  helix-term/tests/test/commands/write.rs
  helix-term/tests/test/helpers.rs
  languages.toml
Labels: E-medium, S-waiting-on-review, R-breaking-change, A-language-support

#9577 follow neovim's truecolor detection
  Cargo.lock
  helix-term/Cargo.toml
  helix-term/src/lib.rs
Labels: E-easy, A-helix-term, S-waiting-on-review

#9586 Updated Swift grammar, adding 'any' and 'await' keywords.
  languages.toml
  runtime/queries/swift/highlights.scm
Labels: S-waiting-on-review, A-language-support

#9296 languages: add CEL, SpiceDB schema language
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/cel/highlights.scm
  runtime/queries/spicedb/highlights.scm
  runtime/queries/spicedb/injections.scm
  runtime/queries/spicedb/tags.scm
Labels: S-waiting-on-review, A-language-support

#9376 sonokai: Add color modes support and change contrast between ruler and bg
  runtime/themes/sonokai.toml
Labels: A-theme, S-waiting-on-review

#9190 Add Hoon
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/hoon/highlights.scm
Labels: S-waiting-on-review, A-language-support

#9588 Dracula whitespace color changes
  runtime/themes/dracula.toml
Labels: A-theme, S-waiting-on-review

#9581 feat(languages): add formatter for just, fish
  languages.toml
Labels: S-waiting-on-review, A-language-support

#9582 Add "zon" file type to zig language section
  languages.toml
Labels: S-waiting-on-review, A-language-support

#9587 docs: Document what the `diff` gutter symbol does
  book/src/configuration.md
Labels: A-documentation, S-waiting-on-review

#9537 Add support for Odin's formatter
  languages.toml
Labels: S-waiting-on-review, A-language-support

#9415 fix lsp config reload
  Cargo.lock
  helix-core/src/syntax.rs
  helix-core/tests/indent.rs
  helix-lsp/Cargo.toml
  helix-lsp/src/lib.rs
  helix-term/src/application.rs
  helix-term/src/ui/lsp.rs
  helix-term/src/ui/markdown.rs
  helix-term/src/ui/mod.rs
  helix-term/src/ui/picker.rs
  helix-term/src/ui/prompt.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: C-bug, A-helix-term, S-waiting-on-review

#9625 Add changes to history when paste-replacing
  helix-term/src/commands.rs
Labels: C-bug, A-command

#8471 Allow numbers as second input event
  helix-term/src/keymap.rs
  helix-term/src/ui/editor.rs
Labels: A-helix-term, S-waiting-on-review

#9627 Bump tree-sitter-erlang, add `*.app.src` file-type
  languages.toml
  runtime/queries/erlang/highlights.scm
Labels: S-waiting-on-review, A-language-support

#9632 Remove unwrap on line option, preventing DAP crash
  helix-view/src/handlers/dap.rs
Labels: S-waiting-on-review, A-debug-adapter

#5379 Fix Sonokai theme to better match original
  runtime/themes/sonokai.toml
Labels: A-theme, S-waiting-on-review

#9637 Add Rust fields as argument textobject
  runtime/queries/rust/textobjects.scm
Labels: S-waiting-on-review, A-language-support

#9644 Improve textobjects for parameter/argument for Dart
  runtime/queries/dart/textobjects.scm
Labels: S-waiting-on-review, A-language-support

#9653 Add tmux.conf glob as a bash file type
  languages.toml
Labels: S-waiting-on-review, A-language-support

#8015 Scroll cursor and page together (neovim-like scrolling)
  book/src/keymap.md
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
  helix-term/src/ui/editor.rs
Labels: E-easy, S-waiting-on-review, A-command

#9651 themes: add monokai soda
  runtime/themes/monokai_soda.toml
Labels: A-theme, S-waiting-on-review

#9661 Add docker-compose language
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/docker-compose/highlights.scm
  runtime/queries/docker-compose/indents.scm
  runtime/queries/docker-compose/injections.scm
Labels: S-waiting-on-review, A-language-support

#9659 Add textobject queries for Nix
  book/src/generated/lang-support.md
  runtime/queries/nix/textobjects.scm
Labels: S-waiting-on-review, A-language-support

#9658 Add textobject queries for HCL
  book/src/generated/lang-support.md
  runtime/queries/hcl/textobjects.scm
Labels: S-waiting-on-review, A-language-support

#5436 Make mouse click extend selection in select mode
  helix-term/src/ui/editor.rs
  helix-view/src/editor.rs
Labels: A-helix-term, S-waiting-on-review

#9350 Add Groovy grammar
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/groovy/highlights.scm
  runtime/queries/groovy/injections.scm
Labels: S-waiting-on-review, A-language-support

#9688 Cyan Light theme : Add License and Author
  runtime/themes/cyan_light.toml
  runtime/themes/licenses/cyan_light.LICENSE
Labels: A-theme, S-waiting-on-review

#9668 Use a hook for resolving completion items
  helix-lsp/src/client.rs
  helix-term/src/ui/completion.rs
  helix-term/src/ui/editor.rs
Labels: A-language-server, S-waiting-on-review

#9708 Completely fix bash autocomplete handling of filenames with spaces
  contrib/completion/hx.bash
Labels: S-waiting-on-review

#9634 Bump tree-sitter-sql
  languages.toml
  runtime/queries/sql/highlights.scm
Labels: S-waiting-on-review, A-language-support

#9709 Optimization of tilde expansion
  helix-loader/src/lib.rs
  helix-stdx/src/path.rs
  helix-term/src/commands/typed.rs
  helix-term/src/ui/mod.rs
Labels: A-core, S-waiting-on-review

#9718 Don't run scheduled builds on forks
  .github/workflows/build.yml
Labels: github_actions, S-waiting-on-review

#9724 Fix colors of tokyonight diagnostic undercurls
  runtime/themes/tokyonight.toml
Labels: A-theme, S-waiting-on-review

#9698 slint: Update SHA of tree-sitter parser
  languages.toml
Labels: S-waiting-on-review, A-language-support

#9713 add language fidl
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/fidl/folds.scm
  runtime/queries/fidl/highlights.scm
  runtime/queries/fidl/injections.scm
Labels: S-waiting-on-review, A-language-support

#4718 Toggle block comments
  book/src/keymap.md
  book/src/languages.md
  helix-core/src/comment.rs
  helix-core/src/indent.rs
  helix-core/src/lib.rs
  helix-core/src/syntax.rs
  helix-core/tests/indent.rs
  helix-stdx/src/rope.rs
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
  languages.toml
Labels: A-core, S-waiting-on-review, A-command

#9739 Avoid cloning the whole paragraph content just for rendering
  helix-term/src/ui/editor.rs
  helix-term/src/ui/info.rs
  helix-term/src/ui/lsp.rs
  helix-term/src/ui/markdown.rs
  helix-term/src/ui/text.rs
  helix-tui/src/widgets/paragraph.rs
  helix-tui/tests/terminal.rs
  helix-tui/tests/widgets_paragraph.rs
Labels: S-waiting-on-review

#9741 Add support for pde files
  languages.toml
Labels: S-waiting-on-review, A-language-support

#9727 update languages.toml: tree-sitter-lua grammar
  languages.toml
  runtime/queries/lua/highlights.scm
Labels: S-waiting-on-review, A-language-support

#9756 fix split_on_newline
  helix-core/src/selection.rs
Labels: C-bug, E-easy, S-waiting-on-review, A-command

#9722 Switch Nim tree-sitter queries to alaviss/tree-sitter-nim
  languages.toml
  runtime/queries/nim/highlights.scm
  runtime/queries/nim/indents.scm
  runtime/queries/nim/textobjects.scm
Labels: S-waiting-on-review, A-language-support
