Repository helix-editor/helix, pull requests merged in 2024-05, with the labels that each got.

#10654 Add completion/signature bindings to keymap.md
  book/src/keymap.md
Labels: A-documentation

#10647 Add `is not` and `not in` to python syntax
  runtime/queries/python/highlights.scm
Labels: S-waiting-on-review, A-language-support

#10677 Update wiki link to language server configs in adding languages guide
  book/src/guides/adding_languages.md
Labels: A-documentation, E-easy, S-waiting-on-review

#10693 docs[install/pre-build binaries]: add runtime setup
  book/src/install.md
Labels: A-documentation

#10619 Improve the structure of the mdBook documentation
  book/src/SUMMARY.md
  book/src/building-from-source.md
  book/src/configuration.md
  book/src/editor.md
  book/src/install.md
  book/src/keymap.md
  book/src/package-managers.md
  book/src/registers.md
  book/src/surround.md
  book/src/syntax-aware-motions.md
  book/src/textobjects.md
  book/src/usage.md
Labels: A-documentation

#9940 feat: add support for gjs and gts
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/_gjs/highlights.scm
  runtime/queries/_gjs/injections.scm
  runtime/queries/gjs/highlights.scm
  runtime/queries/gjs/indents.scm
  runtime/queries/gjs/injections.scm
  runtime/queries/gjs/locals.scm
  runtime/queries/gjs/tags.scm
  runtime/queries/gjs/textobjects.scm
  runtime/queries/gts/highlights.scm
  runtime/queries/gts/indents.scm
  runtime/queries/gts/injections.scm
  runtime/queries/gts/locals.scm
  runtime/queries/gts/tags.scm
  runtime/queries/gts/textobjects.scm
Labels: S-waiting-on-review, A-language-support

#10673 Expose all flake outputs through flake-compat
  default.nix
Labels: E-easy, A-packaging, S-waiting-on-review

#10713 lang(starlark): Add WORKSPACE glob.
  languages.toml
Labels: S-waiting-on-review, A-language-support

#10613 improve match bracket matching
  helix-core/src/match_brackets.rs
  helix-term/tests/test/commands/movement.rs
Labels: C-bug, E-easy, A-core, S-waiting-on-review

#10705 Added missing colors to dark_high_contrast theme for XML/HTML highlighting
  runtime/themes/dark_high_contrast.toml
Labels: A-theme, S-waiting-on-review

#10718 docs: update nixos link to official wiki
  book/src/package-managers.md
Labels: A-documentation, E-easy, S-waiting-on-review

#10749 tree-sitter: Update slint grammar
  languages.toml
Labels: S-waiting-on-review, A-language-support

#10743 Add support for Mojo
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/mojo/highlights.scm
  runtime/queries/mojo/indents.scm
  runtime/queries/mojo/injections.scm
  runtime/queries/mojo/locals.scm
  runtime/queries/mojo/textobjects.scm
Labels: S-waiting-on-review, A-language-support

#10178 Reset all changes overlapped by selections in `:reset-diff-change`
  helix-core/src/selection.rs
  helix-term/src/commands/typed.rs
  helix-vcs/src/diff.rs
Labels: C-enhancement, S-waiting-on-review, A-vcs, A-command

#10728 correctly handle opening helix inside symlinked directory
  helix-stdx/src/env.rs
Labels: E-easy, S-waiting-on-review

#10790 Handle relative symlinks on write
  helix-term/tests/test/commands/write.rs
  helix-view/src/document.rs
Labels: C-bug, A-helix-term
