Repository helix-editor/helix, pull requests merged in 2024-03, with the labels that each got.

#9762 Document embracing smart-tab navigation.
  book/src/configuration.md
Labels: A-documentation, S-waiting-on-review

#9758 feat: Add markdown-oxide language server
  book/src/generated/lang-support.md
  languages.toml
Labels: S-waiting-on-review, A-language-support

#9778 Fix bug 9703 by commenting out the wrong command
  languages.toml
Labels: S-waiting-on-review, A-language-support

#9780 Support LSP diagnostic tags
  book/src/themes.md
  helix-lsp/src/client.rs
  helix-term/src/ui/editor.rs
  theme.toml
Labels: E-easy, A-language-server, S-waiting-on-review

#9779 languages.toml: add elvish shebang
  languages.toml
Labels: S-waiting-on-review, A-language-support

#9777 Fix precedence of svelte typescript injection
  runtime/queries/svelte/injections.scm
Labels: E-easy, S-waiting-on-review, A-language-support

#9783 Fix panic when using join_selections_space
  helix-term/src/commands.rs
  helix-term/tests/test/commands.rs
Labels: C-bug, S-waiting-on-review, A-command

#9796 Fix panic when using surround_replace/delete
  helix-core/src/surround.rs
  helix-term/tests/test/movement.rs
Labels: C-bug, S-waiting-on-review, A-command

#9772 feat(languages): add support for `*.Dockerfile` `file-types` naming convention
  languages.toml
Labels: S-waiting-on-review, A-language-support

#9816 flake.lock: Bump flake inputs to prevent a warning message
  flake.lock
Labels: A-dependencies, S-waiting-on-review

#9815 Fix panic in surround_replace/delete nested multi-cursor
  helix-term/src/commands.rs
  helix-term/tests/test/movement.rs
Labels: C-bug, S-waiting-on-review, A-command

#9827 Add PowerShell highlighting
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/powershell/highlights.scm
  runtime/queries/powershell/injections.scm
Labels: S-waiting-on-review, A-language-support

#9800 fix: close #9771 fix comments with `(` and `)`
  languages.toml
  runtime/queries/comment/highlights.scm
  runtime/queries/ocaml/highlights.scm
Labels: S-waiting-on-review, A-language-support

#9835 add linker script language
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/ld/highlights.scm
  runtime/queries/ld/indents.scm
  runtime/queries/ld/injections.scm
Labels: S-waiting-on-review, A-language-support

#9828 helix-term: allow to backspace out-of the command prompt
  helix-term/src/ui/prompt.rs
Labels: S-waiting-on-review, A-command

#9806 Add textobjects for Java native funcs and constructors
  runtime/queries/java/textobjects.scm
Labels: S-waiting-on-review, A-language-support

#9859 fix(themes-catppuccin): make inlay hints more legible
  runtime/themes/catppuccin_mocha.toml
Labels: A-theme, S-waiting-on-review

#9640 Add a yank diagnostic command
  book/src/generated/typable-cmd.md
  helix-term/src/commands/typed.rs
Labels: E-easy, S-waiting-on-review, A-command

#9891 Update regex-cursor
  Cargo.lock
  helix-stdx/Cargo.toml
Labels: E-easy, A-dependencies, S-waiting-on-review

#9887 Handle starting and continuing the count separately
  helix-term/src/ui/editor.rs
Labels: C-bug, E-easy, S-waiting-on-review

#9080 Keybind for Extend/shrink selection up and down
  helix-term/src/commands.rs
Labels: S-waiting-on-review, A-command

#9910 fix typo "braket" in jsx highlights
  runtime/queries/_jsx/highlights.scm
Labels: E-easy, S-waiting-on-review, A-language-support

#9849 Reverse Nix highlights queries
  runtime/queries/nix/highlights.scm
Labels: S-waiting-on-author, A-language-support

#9899 Add support for hyprland config
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/hyprlang/highlights.scm
  runtime/queries/hyprlang/indents.scm
  runtime/queries/hyprlang/injections.scm
Labels: S-waiting-on-review, A-language-support

#9906 Add Support for JSONC
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/jsonc/highlights.scm
  runtime/queries/jsonc/indents.scm
Labels: S-waiting-on-review, A-language-support

#4535 feat: add 'file-absolute-path' to statusline
  book/src/configuration.md
  helix-term/src/ui/statusline.rs
  helix-view/src/editor.rs
Labels: A-gui, S-waiting-on-review

#5773 Fix URL in doc chapter about Textobject queries
  book/src/guides/textobject.md
Labels: A-documentation, S-waiting-on-review

#9912 Update to modus-themes 4.4.0
  runtime/themes/modus_operandi.toml
  runtime/themes/modus_operandi_deuteranopia.toml
  runtime/themes/modus_operandi_tinted.toml
  runtime/themes/modus_operandi_tritanopia.toml
  runtime/themes/modus_vivendi.toml
  runtime/themes/modus_vivendi_deuteranopia.toml
  runtime/themes/modus_vivendi_tinted.toml
  runtime/themes/modus_vivendi_tritanopia.toml
Labels: A-theme, S-waiting-on-review

#9677 Extend groovy support
  languages.toml
  runtime/queries/groovy/folds.scm
  runtime/queries/groovy/highlights.scm
  runtime/queries/groovy/injections.scm
  runtime/queries/groovy/locals.scm
Labels: S-waiting-on-review, A-language-support

#9775 Updated grammar for hurl 4
  languages.toml
  runtime/queries/hurl/highlights.scm
Labels: S-waiting-on-review, A-language-support

#9789 Fix selected text background in toykonight
  runtime/themes/tokyonight.toml
Labels: A-theme, S-waiting-on-review

#9513 Add blade support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/blade/folds.scm
  runtime/queries/blade/highlights.scm
  runtime/queries/blade/injections.scm
  runtime/queries/php-only/highlights.scm
  runtime/queries/php-only/injections.scm
  runtime/queries/php-only/tags.scm
Labels: S-waiting-on-review, A-language-support

#8541 Add textobject queries for vala
  book/src/generated/lang-support.md
  runtime/queries/vala/textobjects.scm
Labels: S-waiting-on-review, A-language-support

#9329 Add initial support for SuperCollider
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/supercollider/folds.scm
  runtime/queries/supercollider/highlights.scm
Labels: S-waiting-on-review, A-language-support

#8727 languages: add koka
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/koka/highlights.scm
  runtime/queries/koka/indents.scm
  runtime/queries/koka/injections.scm
  runtime/queries/koka/locals.scm
Labels: S-waiting-on-review, A-language-support

#9916 Add yaml LSP for docker compose
  book/src/generated/lang-support.md
  languages.toml
Labels: S-waiting-on-review, A-language-support

#9897 Respect undercurl config even with no terminfo
  helix-tui/src/backend/crossterm.rs
Labels: A-helix-term, S-waiting-on-review

#9909 Enhance support for PKGBUILDS
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/pkgbuild/highlights.scm
  runtime/queries/pkgbuild/indents.scm
  runtime/queries/pkgbuild/injections.scm
  runtime/queries/pkgbuild/textobjects.scm
Labels: S-waiting-on-review, A-language-support

#9900 Add support for helm charts
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/helm/highlights.scm
  runtime/queries/helm/injections.scm
Labels: S-waiting-on-review, A-language-support

#9936 add register completion for typed commands
  helix-term/src/commands/typed.rs
  helix-term/src/ui/mod.rs
Labels: S-waiting-on-review, A-command

#9902 Add support for ember.js templates
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/glimmer/highlights.scm
Labels: S-waiting-on-review, A-language-support

#9122 Refactor statusline elements to build `Spans`
  helix-term/src/ui/statusline.rs
Labels: C-enhancement, A-helix-term

#9949 Add new theme keys for LSP diagnostic tags for dark_plus
  runtime/themes/dark_plus.toml
Labels: A-theme, S-waiting-on-review

#9950 Evenly space statusline areas when there isn't space to align middle
  helix-term/src/ui/statusline.rs
Labels: C-bug, S-waiting-on-review

#9939 Update rasmus.toml
  runtime/themes/rasmus.toml
Labels: A-theme, S-waiting-on-review

#9417 Create a tutor entry for using splits
  runtime/tutor
Labels: A-documentation, C-enhancement, S-waiting-on-review

#9960 define bufferline colors for gruvbox
  runtime/themes/gruvbox.toml
Labels: A-theme, S-waiting-on-review

#9981 Add jump label color to rose_pine themes
  runtime/themes/rose_pine.toml
Labels: A-theme, S-waiting-on-review

#9983 Use "rosewater" for the jump label color in catppuccin themes
  runtime/themes/catppuccin_mocha.toml
Labels: A-theme, S-waiting-on-review

#9991 feat: Add `Ohm` language support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/ohm/highlights.scm
  runtime/queries/ohm/indents.scm
  runtime/queries/ohm/injections.scm
  runtime/queries/ohm/textobjects.scm
Labels: S-waiting-on-review, A-language-support

#9604 Add narrow no-break space support
  book/src/configuration.md
  helix-term/src/ui/document.rs
  helix-tui/src/widgets/reflow.rs
  helix-view/src/editor.rs
Labels: A-helix-term, S-waiting-on-review

#9986 doc: small formatting corrections
  book/src/configuration.md
Labels: A-documentation, S-waiting-on-review

#10005 Revert allowing backspace to close empty prompts
  helix-term/src/ui/prompt.rs
Labels: S-waiting-on-review

#10008 feat: add jump styles for Nord and Nord Light
  runtime/themes/nord.toml
  runtime/themes/nord_light.toml
Labels: A-theme, S-waiting-on-review

#10012 feat(themes): add `jump-label` for gruvbox themes
  runtime/themes/gruvbox.toml
Labels: A-theme, S-waiting-on-review

#10011 Fix rustc warnings about unused 'pub use's
  helix-term/src/handlers.rs
  helix-term/src/lib.rs
Labels: E-easy, S-waiting-on-review

#10014 fix: don't highlight colons (:) in comments
  runtime/queries/comment/highlights.scm
Labels: S-waiting-on-review, A-language-support

#10030 Add jump-label to Kanagawa theme + format
  runtime/themes/kanagawa.toml
Labels: A-theme, S-waiting-on-review

#10036 Add injections for GraphQL and ERB in Ruby
  runtime/queries/ruby/injections.scm
Labels: S-waiting-on-review, A-language-support

#10043 fix: cursor line on material themes
  runtime/themes/material_darker.toml
  runtime/themes/material_deep_ocean.toml
  runtime/themes/material_oceanic.toml
  runtime/themes/material_palenight.toml
Labels: A-theme, S-waiting-on-review

#9967 Add JetBrains default dark theme
  runtime/themes/jetbrains_dark.toml
Labels: A-theme, S-waiting-on-review

#9968 Add main.odin to Odin roots
  languages.toml
Labels: A-language-support

#9946 Add changelog notes for 24.03
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  contrib/Helix.appdata.xml
Labels: A-documentation, S-waiting-on-review

#10051 Make Helix.appdata.xml spec-compliant
  contrib/Helix.appdata.xml
Labels: A-packaging, S-waiting-on-review

#10060 Fix typo in the changelog
  CHANGELOG.md
Labels: A-documentation, S-waiting-on-review

#10010 add initial support for bitbake language
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/bitbake/highlights.scm
  runtime/queries/bitbake/injections.scm
Labels: S-waiting-on-review, A-language-support

#10061 feat(themes): add `jump-label` for oneLight theme
  runtime/themes/onelight.toml
Labels: A-theme, S-waiting-on-review

#10062 Adds query injection for comments in Gleam
  runtime/queries/gleam/injections.scm
Labels: S-waiting-on-review, A-language-support

#10002 add flexoki theme
  runtime/themes/flexoki_dark.toml
  runtime/themes/flexoki_light.toml
Labels: A-theme, S-waiting-on-review

#5645 Changed file picker
  Cargo.lock
  book/src/themes.md
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
  helix-vcs/Cargo.toml
  helix-vcs/src/git.rs
  helix-vcs/src/git/test.rs
  helix-vcs/src/lib.rs
  helix-vcs/src/status.rs
Labels: C-enhancement, E-medium, S-waiting-on-review, A-vcs

#9236 Use a temporary file for writes
  Cargo.lock
  helix-stdx/Cargo.toml
  helix-stdx/src/faccess.rs
  helix-stdx/src/lib.rs
  helix-term/tests/test/commands/write.rs
  helix-term/tests/test/helpers.rs
  helix-term/tests/test/splits.rs
  helix-view/Cargo.toml
  helix-view/src/document.rs
Labels: C-enhancement, A-helix-term, S-waiting-on-review
