Repository helix-editor/helix, pull requests merged in 2024-09, with the labels that each got.

#11617 Change primary selection cursor color for naysayer
  runtime/themes/naysayer.toml
Labels: A-theme

#11683 fix: Lean language server consuming excessive memory
  languages.toml
Labels: A-language-support

#11649 Stylize horizon-dark picker v2 columns
  runtime/themes/horizon-dark.toml
Labels: A-theme

#11620 Update picker headers styling in Darcula themes
  runtime/themes/darcula.toml
Labels: A-theme

#11630 chore: add ruff and jedi lsp servers
  book/src/generated/lang-support.md
  languages.toml
Labels: A-language-support

#5535 Handle window/showMessage and display it bellow status line
  helix-term/src/application.rs
  helix-view/src/editor.rs
Labels: E-easy, A-language-server, S-waiting-on-review, R-breaking-change

#11731 fix(themes): fix diagnostics in snazzy
  runtime/themes/snazzy.toml
Labels: A-theme

#11706 small fix syntax highlighting in vue.js files
  runtime/queries/vue/highlights.scm
Labels: A-language-support

#11676 add circom tree-sitter, syntax-highlighting, and lsp support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/circom/highlights.scm
  runtime/queries/circom/locals.scm
Labels: A-language-support

#11665 Update README.md
  README.md
Labels: A-documentation

#11742 Join single-line comments with J.
  helix-term/src/commands.rs
  helix-term/tests/test/commands.rs
Labels: A-command

#11737 Fix panic when drawing at the edge of the screen.
  helix-term/src/ui/document.rs
  helix-term/src/ui/text_decorations.rs
  helix-term/src/ui/text_decorations/diagnostics.rs
Labels: A-helix-term

#11749 Update HCL grammar
  languages.toml
Labels: A-language-support

#11757 chore: Update slint tree-sitter grammar to version 1.8
  languages.toml
Labels: A-language-support

#11759 Remove "true" from odinfmt line
  languages.toml
Labels: A-language-support

#11786 Add .rbs files to ruby language configuration
  languages.toml
Labels: A-language-support

#11771 Bump tree-sitter-nickel to the latest version
  languages.toml
  runtime/queries/nickel/highlights.scm
Labels: A-language-support

#11765 Fix typo in tutor ch 13.5
  runtime/tutor
Labels: A-documentation

#11793 languages.toml: recognize `ldtk` files
  languages.toml
Labels: A-language-support

#11792 fix: fish builtin functions are highlighted as such
  runtime/queries/fish/highlights.scm
Labels: A-language-support

#11663 Improve tree-sitter-subtree
  book/src/generated/typable-cmd.md
  helix-core/src/syntax.rs
  helix-term/src/commands/typed.rs
Labels: A-tree-sitter, A-command

#11662 [Documentation] Add undocumented keybindings to book
  book/src/keymap.md
Labels: A-documentation

#11609 feat(languages): add `superhtml` as lsp for `html`
  book/src/generated/lang-support.md
  languages.toml
Labels: A-language-support

#11636 Add vale language server
  languages.toml
Labels: A-language-support

#11547 chore: add "ui.virtual.jump-label" to gruber-darker theme
  runtime/themes/gruber-darker.toml
Labels: A-theme

#11485 Add key concepts to `usage.md`
  book/src/usage.md
Labels: A-documentation

#11353 Small bogster theme improvements
  runtime/themes/bogster.toml
Labels: A-theme

#11499 Add Erlang Language Platform (ELP) support to Erlang
  book/src/generated/lang-support.md
  languages.toml
Labels: A-language-support
