Repository helix-editor/helix, pull requests merged in 2024-04, with the labels that each got.

#10076 Add jump-label styling for base16 themes
  base16_theme.toml
  runtime/themes/base16_default_dark.toml
  runtime/themes/base16_default_light.toml
  runtime/themes/base16_terminal.toml
  runtime/themes/base16_transparent.toml
Labels: A-theme, S-waiting-on-review

#10094 Dim primary selection in kanagawa
  runtime/themes/kanagawa.toml
Labels: A-theme, S-waiting-on-review

#10090 Add Buildkite command/commands support to yaml injections
  runtime/queries/yaml/injections.scm
Labels: S-waiting-on-review, A-language-support

#10091 refactor(languages)!: `lldb-vscode` -> `lldb-dap`
  languages.toml
Labels: S-waiting-on-review, A-language-support

#10104 Theme: PaperColor: Tune jump-label
  runtime/themes/papercolor-light.toml
Labels: A-theme, S-waiting-on-review

#10004 Bug fix: Reconfigure tree properly after closing view.
  helix-view/src/tree.rs
Labels: C-bug, S-waiting-on-review

#10108 Add fsharp block comment tokens to languages.toml
  languages.toml
Labels: S-waiting-on-review, A-language-support

#10111 add earthfile language configuration
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/earthfile/highlights.scm
  runtime/queries/earthfile/indents.scm
  runtime/queries/earthfile/injections.scm
  runtime/queries/earthfile/textobjects.scm
Labels: S-waiting-on-review, A-language-support

#10114 languages: update templ
  languages.toml
  runtime/queries/templ/highlights.scm
Labels: S-waiting-on-review, A-language-support

#10072 feat(languages): Tiltfile as starlark language
  languages.toml
Labels: S-waiting-on-review, A-language-support

#10134 Autumn theme: add jump label
  runtime/themes/autumn.toml
Labels: A-theme, S-waiting-on-review

#10133 Ayu themes jump label support
  runtime/themes/ayu_dark.toml
  runtime/themes/ayu_evolve.toml
  runtime/themes/ayu_light.toml
  runtime/themes/ayu_mirage.toml
Labels: A-theme, S-waiting-on-review

#9837 Add tcl highlighting
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/tcl/folds.scm
  runtime/queries/tcl/highlights.scm
  runtime/queries/tcl/indents.scm
Labels: S-waiting-on-review, A-language-support

#10156 Add a serializer for the jump alphabet config option
  helix-view/src/editor.rs
Labels: C-bug, S-waiting-on-review

#10148 Use an enum to represent yank decision during deletion of a selection
  helix-term/src/commands.rs
Labels: S-waiting-on-review, A-command

#10160 Remove duplicate keyword highlight for Python 'and'
  runtime/queries/python/highlights.scm
Labels: A-language-support

#10165 Add new keyword as per PEP 695
  runtime/queries/python/highlights.scm
Labels: S-waiting-on-review, A-language-support

#10084 Merge unnecessary/deprecated diagnostic highlights separately
  helix-term/src/ui/editor.rs
Labels: A-theme, S-waiting-on-review

#10119 Add koka language server and update grammar
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/koka/highlights.scm
  runtime/queries/koka/indents.scm
Labels: S-waiting-on-review, A-language-support

#10120 recognize more files and shebangs
  languages.toml
Labels: S-waiting-on-review, A-language-support

#9649 Fix crash on LSP text edits with invalid ranges
  helix-lsp/src/lib.rs
Labels: C-bug, A-language-server, S-waiting-on-review

#10168 Handle partial failure when sending textDocument/didSave
  helix-view/src/document.rs
Labels: C-bug, A-language-server, S-waiting-on-review

#9065 Improve `goto_file_impl`
  helix-term/src/commands.rs
  helix-term/tests/test/commands.rs
Labels: C-enhancement, S-waiting-on-review, A-command

#10166 Add angular language server
  languages.toml
Labels: S-waiting-on-review, A-language-support

#10029 feat: Add ADL language support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/adl/highlights.scm
  runtime/queries/adl/indents.scm
  runtime/queries/adl/textobjects.scm
Labels: S-waiting-on-review, A-language-support

#10279 fix off by one error for completion-replace option
  helix-lsp/src/lib.rs
Labels: C-bug, E-easy, A-language-server, S-waiting-on-review

#10067 fix mouse right click selection
  helix-term/src/ui/editor.rs
Labels: C-bug, S-waiting-on-review

#10181 Fix scrolling to the end within a popup
  helix-term/src/ui/popup.rs
Labels: C-bug, A-helix-term, S-waiting-on-review

#10260 feat(themes): add ruler for `adwaita-dark`
  runtime/themes/adwaita-dark.toml
Labels: A-theme, S-waiting-on-review

#10261 refactor(themes): removed `ui.highlight` effects from `solarized_dark`
  runtime/themes/solarized_dark.toml
Labels: A-theme, S-waiting-on-review

#9590 Respect lsp definition order for code actions
  book/src/languages.md
  helix-term/src/commands/lsp.rs
  helix-term/src/ui/completion.rs
Labels: A-language-server, S-waiting-on-review

#10318 feat(solidity): add textobject queries for solidity
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/solidity/highlights.scm
  runtime/queries/solidity/textobjects.scm
Labels: S-waiting-on-review, A-language-support

#10307 Brighten nord selection highlight
  runtime/themes/nord.toml
Labels: A-theme, S-waiting-on-review

#10317 fix char/byte index mixup in overlay rendering
  helix-term/src/ui/editor.rs
Labels: C-bug, E-easy, A-helix-term, S-waiting-on-review

#10323 Hightlight meson.options as meson file
  languages.toml
Labels: S-waiting-on-review, A-language-support

#10310 don't manually grapheme align ts highlights
  helix-core/src/graphemes.rs
  helix-stdx/src/rope.rs
  helix-term/src/ui/document.rs
  helix-term/src/ui/editor.rs
Labels: C-bug, E-easy, A-helix-term, S-waiting-on-review, C-perf

#10330 feat(lang): add LDIF support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/ldif/highlights.scm
Labels: S-waiting-on-review, A-language-support

#10344 fix(languages/helm): recognize _*.tpl as helm
  languages.toml
Labels: S-waiting-on-review, A-language-support

#10339 Read symlink when writing files
  helix-term/tests/test/commands/write.rs
  helix-term/tests/test/helpers.rs
  helix-view/src/document.rs
Labels: C-bug, A-helix-term, S-waiting-on-review

#10175 Add lldb-dap debugger support for Odin
  languages.toml
Labels: S-waiting-on-review, A-language-support

#10444 Add bufferline and cursorline colors to vim dark theme
  runtime/themes/vim_dark_high_contrast.toml
Labels: A-theme

#10365 chore: update tree-sitter-rust to v0.21.0
  helix-core/src/syntax.rs
  languages.toml
  runtime/queries/rust/highlights.scm
Labels: S-waiting-on-review, A-language-support

#10448 Add support for Xena OpenAutomation files
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/xtc/highlights.scm
Labels: A-language-support

#10463 Enabled traversing multiple buffers at once
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
Labels: A-helix-term, S-waiting-on-review

#10321 Support Typst 0.11
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/typst/highlights.scm
Labels: S-waiting-on-review, A-language-support

#10383 Add missing hyprlang support
  languages.toml
Labels: A-language-support

#9974 feat: cycle through function signatures/overloads
  helix-term/src/handlers/signature_help.rs
  helix-term/src/ui/lsp.rs
Labels: A-helix-term, S-waiting-on-review

#10484 languages/rust: add `rust-script` and `cargo` shebangs
  languages.toml
Labels: S-waiting-on-review, A-language-support

#10487 Fix: Svelte queries
  runtime/queries/svelte/highlights.scm
Labels: S-waiting-on-review, A-language-support

#10465 correctly describe behavior of C in tutor
  runtime/tutor
Labels: A-documentation, E-easy, S-waiting-on-review

#10496 Include "change" in textobject autoinfo
  helix-term/src/commands.rs
Labels: C-bug, A-documentation, E-easy, S-waiting-on-review, A-command

#10447 Implement read command
  book/src/generated/typable-cmd.md
  helix-term/src/commands/typed.rs
  helix-term/tests/test/commands.rs
Labels: S-waiting-on-review, A-command

#10500 Fix kanagawa theme when using cursorline
  runtime/themes/kanagawa.toml
Labels: A-theme, S-waiting-on-review

#10508 Update lang-support.md for new wiki page name
  book/src/lang-support.md
Labels: A-documentation, E-easy, S-waiting-on-review

#10394 theme: everblush - statusline colours
  runtime/themes/everblush.toml
Labels: A-theme

#10506 refactor(themes): `gruvbox` warnings to `yellow1`
  runtime/themes/gruvbox.toml
Labels: A-theme, S-waiting-on-review

#10505 Respect mode when starting a search
  helix-term/src/commands.rs
Labels: C-enhancement, E-easy, S-waiting-on-review, A-command

#10526 feat: update bash grammar to latest tree-sitter-bash rev
  languages.toml
  runtime/queries/bash/highlights.scm
Labels: S-waiting-on-review, A-language-support

#10527 Simplify first-in-line computation for indent queries
  helix-core/src/indent.rs
Labels: S-waiting-on-review, A-indent

#10538 feat(themes): jump-label for modus themes
  runtime/themes/modus_operandi.toml
  runtime/themes/modus_vivendi.toml
Labels: A-theme

#10543 Remove myself from `dark_plus` maintainer list
  runtime/themes/dark_plus.toml
Labels: A-theme

#10554 Fixed ECMAScript private member highlighting
  book/src/themes.md
  runtime/queries/ecma/highlights.scm
Labels: S-waiting-on-review, A-language-support

#10614 fix lsp restart
  helix-lsp/src/lib.rs
Labels: C-bug, E-easy, A-language-server, S-waiting-on-review

#10620 fix: avoid child area overflow on split
  helix-view/src/tree.rs
Labels: C-bug, E-easy, S-waiting-on-review, A-command

#10616 language: Add pest support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/pest/highlights.scm
  runtime/queries/pest/indents.scm
  runtime/queries/pest/injections.scm
  runtime/queries/pest/textobjects.scm
Labels: S-waiting-on-review, A-language-support

#10628 Add comment injection to typst queries
  runtime/queries/typst/injections.scm
Labels: S-waiting-on-review, A-language-support

#10594 add textobjects queries for hurl
  book/src/generated/lang-support.md
  runtime/queries/hurl/textobjects.scm
Labels: S-waiting-on-review, A-language-support
