Repository helix-editor/helix, pull requests merged in 2024-12, with the labels that each got.

#12183 Show an error when formatter is not available
  helix-term/src/commands/typed.rs
Labels: A-command

#12081 Add support for Teal language
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/teal/folds.scm
  runtime/queries/teal/highlights.scm
  runtime/queries/teal/locals.scm
Labels: A-language-support

#9361 add Vintage theme
  runtime/themes/vintage.toml
Labels: A-theme

#12042 feat: `:cd` with no args changes to home directory
  helix-term/src/commands/typed.rs
Labels: A-command

#12080 Change default comment token to # for unrecognized files
  helix-core/src/comment.rs
Labels: A-helix-term

#11950 Add static commands to documentation
  book/src/commands.md
  book/src/generated/static-cmd.md
  xtask/src/docgen.rs
  xtask/src/main.rs
Labels: A-documentation

#6592 Support bindings with the Super (Meta/Cmd/Win) modifier
  book/src/remapping.md
  helix-view/src/input.rs
  helix-view/src/keyboard.rs
Labels: C-enhancement, S-waiting-on-review

#12236 languages(v): use vlang/v-analyzer instead of v-analyzer/v-analyzer
  languages.toml
Labels: A-language-support

#12250 docs: remove mention that `-` requires special handling
  book/src/remapping.md
Labels: A-documentation

#9963 Trim trailing colons from paths to allow copy/pasting git grep -n output
  helix-term/src/args.rs
Labels: A-helix-term, S-waiting-on-review

#12230 dockerfile: bump tree-sitter grammar to gain support for heredocs
  languages.toml
  runtime/queries/dockerfile/highlights.scm
Labels: A-language-support

#12223 fix: Respect workspace-lsp-roots on doc opening
  helix-lsp/src/lib.rs
Labels: A-language-server

#12262 feat: autohelp for delete, replace and add surrounds
  helix-term/src/commands.rs
Labels: A-documentation, A-command

#12309 feat: Nginx support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/nginx/highlights.scm
  runtime/queries/nginx/injections.scm
Labels: A-language-support

#12305 Add diff injections for jjdescription tree-sitter
  languages.toml
  runtime/queries/jjdescription/injections.scm
Labels: A-language-support

#12148 Improve tsq/tree-sitter-query language support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/tsq/folds.scm
  runtime/queries/tsq/highlights.scm
  runtime/queries/tsq/injections.scm
Labels: A-language-support

#12225 Migrate to an improved proto grammar
  languages.toml
  runtime/queries/protobuf/highlights.scm
  runtime/queries/protobuf/indents.scm
  runtime/queries/protobuf/textobjects.scm
Labels: A-language-support
