Repository helix-editor/helix, pull requests merged in 2024-01, with the labels that each got.

#9134 Avoid crashing with 2 instances of the same LSP
  helix-lsp/src/lib.rs
Labels: C-bug, E-easy, A-language-server

#9214 Add .prettierrc as json file type
  languages.toml
Labels: S-waiting-on-review, A-language-support

#9148 Fix: misleading active tab color in monokai_pro*
  runtime/themes/monokai_pro.toml
  runtime/themes/monokai_pro_machine.toml
  runtime/themes/monokai_pro_octagon.toml
  runtime/themes/monokai_pro_ristretto.toml
  runtime/themes/monokai_pro_spectrum.toml
Labels: A-theme, S-waiting-on-review

#9203 Add HOCON language support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/hocon/highlights.scm
  runtime/queries/hocon/indents.scm
Labels: S-waiting-on-review, A-language-support

#9191 Add textobject queries for Scala
  book/src/generated/lang-support.md
  runtime/queries/scala/textobjects.scm
Labels: S-waiting-on-review, A-language-support

#9099 Update tokyonight themes
  runtime/themes/tokyonight.toml
  runtime/themes/tokyonight_day.toml
  runtime/themes/tokyonight_moon.toml
  runtime/themes/tokyonight_storm.toml
Labels: A-theme, S-waiting-on-review

#9184 Add textobject queries for protobuf grammar.
  book/src/generated/lang-support.md
  runtime/queries/protobuf/textobjects.scm
Labels: S-waiting-on-review, A-language-support

#9001 Update goto_file docs
  book/src/keymap.md
  helix-term/src/commands.rs
Labels: A-documentation, S-waiting-on-review

#8698 Info on how to skip grammar build when building from source
  book/src/install.md
Labels: A-documentation, S-waiting-on-review

#8544 feat: update wren tree-sitter grammar
  languages.toml
Labels: S-waiting-on-review, A-language-support

#8524 runtime/themes: adding "ttox" theme
  runtime/themes/ttox.toml
Labels: A-theme, S-waiting-on-review

#9280 don't automatically dismiss zero width diagnostics
  helix-view/src/document.rs
Labels: C-bug, E-easy, A-language-server, S-waiting-on-review

#9277 Check for rename support before showing LSP rename prompt
  helix-term/src/commands/lsp.rs
Labels: C-bug, E-easy, S-waiting-on-review, A-command

#9271 update history of a newly focused view
  helix-term/src/ui/editor.rs
Labels: C-bug, E-easy, A-helix-term, S-waiting-on-review

#9253 update comment grammar
  languages.toml
  runtime/queries/comment/highlights.scm
Labels: A-language-support

#9164 added voxed theme
  runtime/themes/voxed.toml
Labels: A-theme, S-waiting-on-review

#8873 Initialize diagnostics when opening a document
  helix-core/src/syntax.rs
  helix-term/src/application.rs
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-term/src/ui/editor.rs
  helix-term/src/ui/picker.rs
  helix-term/src/ui/statusline.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-language-server, S-waiting-on-review

#9213 Normalize `S-<lower-ascii>` keymaps to uppercase ascii
  helix-view/src/input.rs
Labels: C-enhancement, A-keymap, S-waiting-on-review

#7986 health - add formatter to display
  helix-term/src/health.rs
Labels: C-enhancement, S-waiting-on-review

#9173 make sure to sync views when applying edits to unfocused views
  helix-term/src/commands/lsp.rs
  helix-term/src/commands/typed.rs
  helix-view/src/editor.rs
Labels: C-bug, E-easy, S-waiting-on-review

#9294 Revert "build(deps): bump ahash from 0.8.6 to 0.8.7"
  Cargo.lock
  helix-core/Cargo.toml
Labels: E-easy, A-dependencies, S-waiting-on-review

#9316 Remove sourcehut tree-sitter grammars from default build
  languages.toml
Labels: S-waiting-on-review, A-language-support

#9333 Fallback to filename for +arg
  helix-term/src/args.rs
Labels: S-waiting-on-review

#9326 Make nix flake respect unused grammars
  grammars.nix
Labels: C-enhancement, A-packaging, S-waiting-on-review

#9330 Change path normalization strategy to not resolve symlinks
  Cargo.lock
  helix-core/Cargo.toml
  helix-core/src/path.rs
  helix-core/tests/path.rs
Labels: C-bug, A-core, S-waiting-on-review

#9335 fix crashes in match bracket code
  helix-core/src/match_brackets.rs
Labels: C-bug, E-easy, A-core, S-waiting-on-review

#9317 Bump tree-sitter to latest master
  Cargo.lock
  Cargo.toml
  book/src/guides/indent.md
  book/src/guides/injection.md
  helix-core/src/indent.rs
  helix-core/src/syntax.rs
  runtime/queries/tsq/highlights.scm
Labels: A-dependencies, S-waiting-on-review

#9309 Select subtree within injections in `:tree-sitter-subtree`
  helix-core/src/syntax.rs
  helix-term/src/commands/typed.rs
Labels: C-enhancement, A-tree-sitter, S-waiting-on-review

#9306 Fix export instructions in installation doc
  book/src/install.md
Labels: A-documentation, S-waiting-on-review

#9359 update tempfile dev-dependency to 3.9
  helix-core/Cargo.toml
Labels: A-dependencies, rust

#9362 Support PureScript's new spago.yaml configs
  languages.toml
Labels: S-waiting-on-review, A-language-support

#9332 Exit a language server if it sends a message with invalid json
  helix-lsp/src/transport.rs
  helix-term/src/application.rs
Labels: A-language-server, S-waiting-on-review

#9370 Fixed look of inlay hints in sonokai theme
  runtime/themes/sonokai.toml
Labels: A-theme, S-waiting-on-review

#9353 Handle failure when enabling bracketed paste
  helix-tui/src/backend/crossterm.rs
Labels: S-waiting-on-review

#9395 Fix typo in string representation of GotoReference
  helix-core/src/syntax.rs
Labels: C-bug, E-easy, A-language-server

#9393 bash, make, css: highlight and indent queries improvement
  book/src/generated/lang-support.md
  runtime/queries/bash/highlights.scm
  runtime/queries/css/indents.scm
  runtime/queries/make/indents.scm
Labels: S-waiting-on-review, A-language-support

#9348 Update Scala tree-sitter grammar
  languages.toml
  runtime/queries/scala/highlights.scm
  runtime/queries/scala/textobjects.scm
Labels: S-waiting-on-review, A-language-support

#9401 Highlight .bash_history as bash
  languages.toml
Labels: S-waiting-on-review, A-language-support

#9397 Add bufferline config for onedark & onedarker themes
  runtime/themes/onedark.toml
  runtime/themes/onedarker.toml
Labels: A-theme, S-waiting-on-review

#9411 Add text object queries for dart
  book/src/generated/lang-support.md
  runtime/queries/dart/textobjects.scm
Labels: S-waiting-on-review, A-language-support

#9403 Update Typst Tree-Sitter grammar
  languages.toml
  runtime/queries/typst/highlights.scm
  runtime/queries/typst/injections.scm
Labels: S-waiting-on-review, A-language-support

#9390 highlighting: Gate multiple captures behind `#is-not? local` predicates
  helix-core/src/syntax.rs
Labels: C-bug, E-easy, A-tree-sitter, S-waiting-on-review

#9382 Fix error message shown for goto references
  helix-term/src/commands/lsp.rs
Labels: S-waiting-on-review, A-command

#9279 Update some grammars to a commit where the license file is included
  languages.toml
  runtime/queries/pod/highlights.scm
  runtime/queries/unison/highlights.scm
  runtime/queries/vhs/highlights.scm
Labels: S-waiting-on-review, A-language-support

#9449 Make status line modes bold for theme "dracula".
  runtime/themes/dracula.toml
Labels: A-theme, S-waiting-on-review

#9435 Make status line modes bold for theme onedark
  runtime/themes/onedark.toml
Labels: A-theme, S-waiting-on-review

#9428 Include interpolated SQL strings in Scala injection queries
  runtime/queries/scala/injections.scm
Labels: S-waiting-on-review, A-language-support

#9375 Update cyan_light theme : adjust color darkness on ruler & inlay-hints
  runtime/themes/cyan_light.toml
Labels: A-theme, S-waiting-on-review

#9340 highlight(scala): highlight abstract methods in traits and classes
  runtime/queries/scala/highlights.scm
Labels: S-waiting-on-review, A-language-support

#9288 Add argument to textobject in gdscript
  runtime/queries/gdscript/textobjects.scm
Labels: S-waiting-on-review, A-language-support

#9266 feat: add hard/soft contrast for gruvbox light mode
  runtime/themes/gruvbox_light_hard.toml
  runtime/themes/gruvbox_light_soft.toml
Labels: A-theme, S-waiting-on-review

#9104 Add icon to Windows executable
  contrib/helix-256p.ico
  helix-term/build.rs
Labels: A-packaging, S-waiting-on-review

#9247 Use janet-simple grammar for Janet
  languages.toml
  runtime/queries/janet/highlights.scm
Labels: S-waiting-on-review, A-language-support

#8949 make path changes LSP spec conformant
  helix-lsp/src/client.rs
  helix-lsp/src/file_operations.rs
  helix-lsp/src/lib.rs
  helix-term/src/application.rs
  helix-term/src/commands/lsp.rs
  helix-term/src/commands/typed.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
  helix-view/src/handlers/lsp.rs
Labels: C-bug, A-language-server, E-medium, S-waiting-on-review

#9448 Use range positions to determine insert_newline motion
  helix-term/src/commands.rs
  helix-view/src/editor.rs
Labels: C-bug, S-waiting-on-review, A-command
