Repository helix-editor/helix, pull requests merged in 2025-05, with the labels that each got.

#13440 Add goto_column and extend_to_column commands
  book/src/generated/static-cmd.md
  book/src/keymap.md
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
Labels: A-command

#13458 feat: add a tree-sitter grammar and highlights for dunst's config
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/dunstrc/highlights.scm
Labels: A-language-support

#12185 Add nyxvamp themes
  runtime/themes/nyxvamp-obsidian.toml
  runtime/themes/nyxvamp-radiance.toml
  runtime/themes/nyxvamp-veil.toml
Labels: A-theme

#12326 Show the primary selection index on statusline
  book/src/editor.md
  helix-term/src/ui/statusline.rs
Labels: A-helix-term

#13647 feat: Add Clarity language support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/clarity/highlights.scm
Labels: A-language-support
