Repository helix-editor/helix, pull requests merged in 2025-03, with the labels that each got.

#12895 Kanagawa: fix palette and attempt at a markdown compromise
  runtime/themes/kanagawa.toml
Labels: A-theme

#12963 Add beans theme
  runtime/themes/beans.toml
Labels: A-theme

#12831 Clean up Nix Flake & make it easier to customize
  default.nix
  flake.lock
  flake.nix
  grammars.nix
Labels: A-packaging

#13024 Follow-up to #12831, fix the git hash
  default.nix
  flake.nix
Labels: A-packaging

#13028 feat: Add SourcePawn language support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/sourcepawn/highlights.scm
  runtime/queries/sourcepawn/injections.scm
  runtime/queries/sourcepawn/textobjects.scm
Labels: A-language-support

#13033 chore: Point OpenSCAD grammar to official repo
  languages.toml
  runtime/queries/openscad/highlights.scm
Labels: A-language-support

#13055 Fix Ruby highlights
  runtime/queries/ruby/highlights.scm
Labels: A-language-support

#13067 Adds Carbon theme for helix editor
  runtime/themes/carbon.toml
Labels: A-theme

#13136 add werk language and highlights
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/werk/highlights.scm
Labels: A-language-support

#13056 Support EditorConfig
  book/src/editor.md
  helix-core/src/editor_config.rs
  helix-core/src/lib.rs
  helix-term/src/commands/typed.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
Labels: A-core

#13144 Add focus_nova theme
  runtime/themes/focus_nova.toml
Labels: A-theme

#12308 Color swatches ( 🟩 green 🟥 #ffaaaa )
  book/src/editor.md
  helix-core/src/syntax.rs
  helix-lsp/src/client.rs
  helix-term/src/handlers.rs
  helix-term/src/handlers/document_colors.rs
  helix-view/src/document.rs
  helix-view/src/editor.rs
  helix-view/src/handlers.rs
  helix-view/src/handlers/lsp.rs
  helix-view/src/theme.rs
  helix-view/src/view.rs
Labels: A-language-server, A-helix-term

#12258 Book: Add a section with links to "Helix mode" in non-Helix software.
  book/src/SUMMARY.md
  book/src/ecosystem.md
  book/src/other-software.md
Labels: A-documentation

#13203 Add earl_grey theme
  runtime/themes/earl_grey.toml
Labels: A-theme
