Repository helix-editor/helix, pull requests merged in 2025-01, with the labels that each got.

#12347 Add changelog notes for 25.01
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  contrib/Helix.appdata.xml
Labels: A-documentation

#12470 language support: CodeQL
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/codeql/highlights.scm
  runtime/queries/codeql/textobjects.scm
Labels: A-language-support

#12464 pin to `ubuntu-22.04` for releases
  .github/workflows/release.yml
Labels: A-packaging

#12525 Add support for the Gren programming language
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/gren/highlights.scm
  runtime/queries/gren/locals.scm
  runtime/queries/gren/tags.scm
  runtime/queries/gren/textobjects.scm
Labels: A-language-support

#12457 chore(solidity): update to newest grammar and fix queries
  languages.toml
  runtime/queries/solidity/highlights.scm
  runtime/queries/solidity/locals.scm
  runtime/queries/solidity/textobjects.scm
Labels: A-language-support

#12453 Generate a .deb file
  .github/workflows/release.yml
  Cargo.toml
  book/src/building-from-source.md
  book/src/package-managers.md
  contrib/hx_launcher.sh
  helix-term/Cargo.toml
Labels: A-packaging

#12575 fix: surprising behaviour when changing line above a comment
  helix-term/src/commands.rs
  helix-term/tests/test/commands/insert.rs
Labels: A-command

#11507 Re-enable Hare by default
  languages.toml
Labels: A-language-support

#12560 Add changelog notes for 25.01.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  contrib/Helix.appdata.xml
Labels: A-documentation

#12561 Refactor the injection marker type
  helix-core/src/syntax.rs
Labels: A-tree-sitter

#12511 add ruby-lsp as candidate for the ruby lsp
  book/src/generated/lang-support.md
  languages.toml
Labels: A-language-support

#12581 add language server for wat
  book/src/generated/lang-support.md
  languages.toml
Labels: A-language-support

#12610 Add beancount-language-server
  book/src/generated/lang-support.md
  languages.toml
Labels: A-language-support

#12217 Restrict tagged template language injections for ecma
  runtime/queries/ecma/injections.scm
Labels: A-language-support

#12192 feat: passing multile of the same files in the arguments places a cursor at each position
  Cargo.lock
  helix-core/src/selection.rs
  helix-term/Cargo.toml
  helix-term/src/application.rs
  helix-term/src/args.rs
  helix-term/src/main.rs
  helix-term/tests/test/helpers.rs
Labels: A-helix-term, S-waiting-on-review

#12550 Add path completion for multiple cursors
  helix-term/src/handlers/completion.rs
  helix-term/src/handlers/completion/path.rs
Labels: C-enhancement, A-command

#11980 Update to more up-to-date zig tree-sitter repo
  languages.toml
  runtime/queries/zig/highlights.scm
  runtime/queries/zig/indents.scm
  runtime/queries/zig/injections.scm
  runtime/queries/zig/textobjects.scm
Labels: A-language-support

#12036 fix: better display of prompts on long inputs
  helix-term/src/ui/picker.rs
  helix-term/src/ui/prompt.rs
  helix-tui/src/buffer.rs
Labels: A-helix-term

#11285 Add file browser
  book/src/generated/static-cmd.md
  helix-term/src/commands.rs
  helix-term/src/keymap/default.rs
  helix-term/src/ui/mod.rs
  helix-term/src/ui/picker.rs
Labels: S-waiting-on-review, A-command

#12407 perf(syntax): short-circuit if name matches `language_id`
  helix-core/src/syntax.rs
Labels: A-tree-sitter, S-waiting-on-author, C-perf

#12578 feat: specify custom lang server(s) for `:lsp-stop` and `:lsp-restart`
  book/src/generated/typable-cmd.md
  helix-lsp/src/lib.rs
  helix-term/src/commands/typed.rs
  helix-term/src/ui/mod.rs
Labels: C-enhancement, A-command

#12585 feat: print helpful suggestion when using `:{,r}sort` incorrectly
  helix-term/src/commands/typed.rs
Labels: C-enhancement, A-command

#10122 Cycle through hover results from multiple language servers
  helix-term/src/commands/lsp.rs
  helix-term/src/handlers/completion.rs
  helix-term/src/handlers/signature_help.rs
  helix-term/src/ui/lsp.rs
  helix-term/src/ui/lsp/hover.rs
  helix-term/src/ui/lsp/signature_help.rs
Labels: A-language-server, A-helix-term, S-waiting-on-review
