Repository helix-editor/helix, pull requests merged in 2025-07, with the labels that each got.

#13062 feat: Add vimscript language support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/vim/folds.scm
  runtime/queries/vim/highlights.scm
  runtime/queries/vim/injections.scm
Labels: A-language-support

#13849 docs: Add jumplist documentation to the book
  book/src/SUMMARY.md
  book/src/jumplist.md
Labels: A-documentation

#12606 Use separate color for primary selection in `jetbrains_dark`
  runtime/themes/jetbrains_dark.toml
Labels: A-theme

#10998 Current working directory status
  book/src/editor.md
  helix-term/src/ui/statusline.rs
  helix-view/src/editor.rs
Labels: A-gui
