Repository helix-editor/helix, pull requests merged in 2025-02, with the labels that each got.

#12483 Use the first char in a grapheme for classification
  helix-core/src/doc_formatter/test.rs
  helix-core/src/graphemes.rs
Labels: A-core

#11089 update(theme): add virtual-inlay hint highlight to snazzy theme
  runtime/themes/snazzy.toml
Labels: A-theme

#12562 Add Djot support
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/djot/highlights.scm
  runtime/queries/djot/injections.scm
Labels: A-language-support

#12837 feat(sql): update tree-sitter files
  languages.toml
  runtime/queries/sql/highlights.scm
Labels: A-language-support

#12936 feat(lsp): add protobuf language servers
  book/src/generated/lang-support.md
  languages.toml
Labels: A-language-support

#12939 Update languages.toml to add astro-ls
  book/src/generated/lang-support.md
  languages.toml
Labels: A-language-support

#12943 Accept more scons as python language
  languages.toml
Labels: A-language-support

#12945 feat: language support for mail files
  book/src/generated/lang-support.md
  languages.toml
  runtime/queries/mail/highlights.scm
  runtime/queries/mail/textobjects.scm
Labels: A-language-support

#12958 languages.toml: add starpls as Starlark language server
  book/src/generated/lang-support.md
  languages.toml
Labels: A-language-support

#12497 Added missing CSS highlight Tree Sitter Scopes
  runtime/queries/css/highlights.scm
Labels: A-language-support

#12527 Rewrite command line parsing, add flags and expansions
  book/src/SUMMARY.md
  book/src/command-line.md
  book/src/generated/typable-cmd.md
  helix-core/src/command_line.rs
  helix-core/src/lib.rs
  helix-core/src/shellwords.rs
  helix-term/src/commands.rs
  helix-term/src/commands/typed.rs
  helix-term/src/keymap.rs
  helix-term/tests/integration.rs
  helix-term/tests/test/command_line.rs
  helix-term/tests/test/prompt.rs
  helix-view/src/expansion.rs
  helix-view/src/lib.rs
Labels: A-command
